<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>미팅그룹생성 페이지</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Italianno&family=Square+Peg&family=Tangerine:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">    

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7319aff03174c9825e5552818af66d19&libraries=services"></script>

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Hi Melody', sans-serif; */
        font-family: 'Noto Sans KR', sans-serif;
    }

    * .titleWord{
        font-family: 'Carattere', cursive;
        /* font-family: 'Italianno', cursive; */
        /* font-family: 'Square Peg', cursive; */
        /* font-family: 'Tangerine', cursive; */
    }

    .custom-button-color{
        background-color: blueviolet !important;
        color : white !important;
    }
    </style>
</head>

<script th:inline="javascript">
let meetingProfileDto = /*[[${session.meetingProfileDto}]]*/;
console.log('meetingProfileDto: ', meetingProfileDto);

function registerMeetingGroupProcess(){

    const userMeetingId = meetingProfileDto.profileid;
    console.log('userMeetingId: ', userMeetingId);

    const groupTitle = document.getElementById('groupTitle').value;
    const groupContent = document.getElementById('groupContent').value;
    const groupHeadCount = document.getElementById('groupHeadCount').value;
    const groupMeetingDate = document.getElementById('groupMeetingDate').value;
    const groupApplyCharge = document.getElementById('groupApplyCharge').value.replace(/[^\d]/g, '');
    
    const groupMeetingPlace = document.getElementById('groupMeetingPlace').value;    
    const groupMeetingPlaceArray = groupMeetingPlace.split(' ');
    const firstLocationCategory = groupMeetingPlaceArray[0];
    const secondLocationCategory = groupMeetingPlaceArray[1];
    
    const groupApplyDate = document.getElementById('groupApplyDate').value;        
    const groupApplyDateArray = groupApplyDate.split(' ~ ');    
    const groupApplyStart = groupApplyDateArray[0];
    const groupApplyEnd = groupApplyDateArray[1];
    
    const inputGroupImage = document.getElementById("inputGroupImage").files[0];
    
    const groupGenderOptionList = document.getElementsByName('groupGenderOption');
    const groupGenderOptionListArray = Array.from(groupGenderOptionList);
    let groupGenderOption;
    for(e of groupGenderOptionListArray){
        if(e.checked){
            groupGenderOption = e.value;
        }
    }
    
    console.log('profileId: ', userMeetingId);
    console.log('groupTitle: ', groupTitle);
    console.log('groupContent: ', groupContent);
    console.log('groupHeadCount: ', groupHeadCount);
    console.log('groupMeetingDate: ', groupMeetingDate);
    console.log('groupApplyCharge: ', groupApplyCharge);
    
    console.log('groupMeetingPlace: ', groupMeetingPlace);
    console.log('firstLocationCategory: ', firstLocationCategory);
    console.log('secondLocationCategory: ', secondLocationCategory);
    
    console.log('groupApplyStart: ', groupApplyStart);    
    console.log('groupApplyEnd: ', groupApplyEnd);
    console.log('groupGenderOption: ', groupGenderOption);
    console.log('inputGroupImage: ', inputGroupImage);
    
    
    const tagButtonList = document.getElementsByClassName("tagButton");
    const groupTag = Array.from(tagButtonList);
    const tagNameList = groupTag.map(button => button.innerText);

    let groupData = new FormData();
    groupData.append("profileId", userMeetingId);
    groupData.append("groupTitle", groupTitle);
    groupData.append("groupContent", groupContent);
    groupData.append("groupHeadCount", groupHeadCount);
    groupData.append("groupMeetingDate", groupMeetingDate);
    groupData.append("groupApplyStart", groupApplyStart);
    groupData.append("groupApplyEnd", groupApplyEnd);
    groupData.append("groupApplyCharge", groupApplyCharge);
    groupData.append("groupMeetingPlace", groupMeetingPlace);
    groupData.append("groupGenderOption", groupGenderOption);
    groupData.append("firstLocationCategoryName", firstLocationCategory);
    groupData.append("secondLocationCategoryName", secondLocationCategory);
    groupData.append("tagNameList", tagNameList);
    groupData.append("group_image", inputGroupImage);

    // const groupData = {
    //     profileId : userMeetingId,
    //     groupTitle : groupTitle,
    //     groupContent : groupContent,
    //     groupHeadCount : groupHeadCount,
    //     groupMeetingDate : groupMeetingDate,
    //     groupApplyStart : groupApplyStart,
    //     groupApplyEnd : groupApplyEnd,
    //     groupApplyCharge : groupApplyCharge,
    //     groupMeetingPlace : groupMeetingPlace,
    //     groupGenderOption : groupGenderOption,
    //     firstLocationCategoryName : firstLocationCategory,
    //     secondLocationCategoryName : secondLocationCategory,
    //     tagNameList : tagNameList       
    // }
    

    fetch('./api/registerGroupProcess', {
        method : 'post',        
        body : groupData 
    })
    .then(response => response.json())
    .then(response =>{
        const result = response.result;
        if(result === "success"){
            alert("모집글이 정상 등록되었습니다.");
            window.location.href = "./mainPage";
        }
        else{
            alert("오류 발생 ㅅㅂ");
        }
        
    });
    
}

function addCategoryTag(){    
    
    const tagButtonWrapper = document.getElementById("tagButtonWrapper");
    const errorMessageRow = document.getElementById('errorMessageRow');
    const inputCategoryName = document.getElementById("inputCategoryName");

    if(inputCategoryName.value === ""){
        alert("태그명을 입력해주세요!");
        return;
    }
    else{
        if(tagButtonWrapper.childElementCount >= 3){        
            errorMessageRow.classList.remove('d-none');
            inputCategoryName.value = '';
        }
        else{
            errorMessageRow.classList.add('d-none');
            
            inputCategoryNameValue = inputCategoryName.value;
            
            const tagButton = document.createElement('button');
            tagButton.innerText = '#' + inputCategoryNameValue;        

            tagButton.setAttribute('class', 'tagButton btn btn-sm rounded-pill custom-button-color mx-1');        
            tagButton.setAttribute("onclick", "this.remove()");        
            
            tagButtonWrapper.appendChild(tagButton);        
            inputCategoryName.value = '';
        }
    }

    
}    

let customOverlay;

function closeCustomOverlay(){
    const customOverlayWrapper = document.getElementById("customOverlayWrapper");
    customOverlay.setMap(null);    
}

function setMeetingLocation(){
    const selectLocation = document.getElementById("testLocation").innerText;
    console.log('selectLocation: ', selectLocation);
    const groupMeetingPlace = document.getElementById("groupMeetingPlace");
    groupMeetingPlace.value = selectLocation;    
}

function checkMyLocation(){    
    navigator.geolocation.getCurrentPosition(function(position) {
        const x = position.coords.latitude; // 위도
        const y = position.coords.longitude; // 경도
        console.log(`현재 위치의 x 좌표: ${x}, y 좌표: ${y}`);

        let kakaoMap = document.getElementById('kakaoMap'),
            mapOption={
                center: new kakao.maps.LatLng(x, y), // 지도의 중심좌표
                level : 2,  // 지도의 확대 레벨                    
            };
        
        /* 지도 생성 */
        let map = new kakao.maps.Map(kakaoMap, mapOption);
        map.relayout();
        map.setZoomable(false);
        
        
        /* 주소-좌표 변환 객체(지오코더) 생성 */
        let geocoder = new kakao.maps.services.Geocoder();

        const mapControl = new kakao.maps.MapTypeControl();
        const zoomControl = new kakao.maps.ZoomControl();

        map.addControl(mapControl, kakao.maps.ControlPosition.TOPRIGHT);
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        function searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
        }

        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

        // 지도에 마커를 생성하고 표시한다
        let marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(x, y), // 마커의 좌표
            map: map // 마커를 표시할 지도 객체
        });

        customOverlay = new kakao.maps.CustomOverlay({
            map : map,
            position : marker.getPosition(), 
            content : '',
            // xAnchor : -0.1,
            yAnchor: 1.1,
            clickable : true
        });

        const customOverlayWrapper = document.querySelector("#customOverlayWrapper").cloneNode(true);
        const testLocation = customOverlayWrapper.querySelector("#testLocation");            
        
        searchDetailAddrFromCoords(map.getCenter() , function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                let detailAddr = result[0].address.address_name;
                // detailAddr += !!result[0].road_address ? '<br>도로명주소 : ' + result[0].road_address.address_name : '';
                
                testLocation.innerText = detailAddr;
                
                console.log('detailAddr: ', detailAddr);

                customOverlay.setContent(customOverlayWrapper);

                customOverlay.setMap(map);
            }
        });

        // 지도 클릭 이벤트를 등록한다 (좌클릭 : click, 우클릭 : rightclick, 더블클릭 : dblclick)
        kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
            searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {                        
                    let detailAddr = result[0].address.address_name;
                    // let detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    
                    testLocation.innerHTML = '';
                    testLocation.innerText = detailAddr;
                    
                    console.log('지도에서 클릭한 위치의 좌표는 ' + mouseEvent.latLng.toString() + ' 입니다.');
                    console.log('지도에서 클릭한 위치의 주소는 ' + detailAddr + ' 입니다.');
                    
                    let latlng = mouseEvent.latLng;
                    
                    marker.setPosition(latlng);
                    customOverlay.setPosition(latlng);
                    customOverlay.setMap(map);
                }
            });
        });
    });        
}

function closeOverlay(){
    customOverlay.setMap(null);
}

function addCommas(numberValue){
    let applyChargeWithComma = numberValue.toString().split(".");
    return applyChargeWithComma[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (applyChargeWithComma[1] ? "." + applyChargeWithComma[1] : "");    
}

function checkInputNumber(target){
    const groupApplyCharge = document.getElementById('groupApplyCharge');
    let tempValue = groupApplyCharge.value.replace(/[^0-9,]/g,'');
    tempValue = tempValue.replace(/[,]/g,'');
    target.value = addCommas(tempValue);    
}



document.addEventListener('DOMContentLoaded', ()=>{
    flatpickr('.datepicker', {
        mode : 'range',
        dateFormat : 'Y-m-d',        
        minDate : 'today',
        maxDate : new Date().fp_incr(30),
        locale : 'ko'
    });
});

// flatpickr(datepicker,{
//     dateFormat: 'Y-m-d H:i', // 날짜 및 시간 형식 설정 (예: 2023-09-12 15:30)
// 		enableTime: true,        // 시간 선택 활성화
// 		time_24hr: true,         // 24시간 형식 사용
// 		minDate: 'today',        // 오늘 이전 날짜 선택 비활성화
// 		maxDate: 'today' + 7,   // 특정 날짜까지 선택 가능
// 		defaultDate: 'today',    // 초기 날짜 설정 (현재 날짜와 시간)
// 		disable: '', // 특정 날짜 비활성화
// 		locale: 'ko',            // 한국어로 지역화
// 		onOpen: function(selectedDates, dateStr, instance) {
// 			// 위젯이 열릴 때 실행할 코드
// 		},
// 		onClose: function(selectedDates, dateStr, instance) {
// 			// 위젯이 닫힐 때 실행할 코드
// 		},
// 		onChange: function(selectedDates, dateStr, instance) {
// 			// 날짜가 변경될 때 실행할 코드
// 		},
// 		disableMobile: false,      // 모바일 기기에서 위젯 비활성화
// 		altInput: true,           // 추가 입력란 활성화
// 		altFormat: 'F j, Y H:i', // 추가 입력란의 날짜 및 시간 형식
// });
</script>


<body class="pt-5 pb-5">
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/sakura.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto px-0">
                                <span class="fw-bold fs-2 align-middle titleWord">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-bell fs-5" style="color: #FF8827;"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col">

                <div id="main01" class="row">
                    <div class="col">
                        <div class="row">

                            <div class="col mx-1 my-1 border border-0 rounded">
                                
                                <div class="row fs-3">
                                    <div class="col-auto" onclick="window.location.href='./mainPage'">
                                        <span><i class="bi bi-chevron-left"></i></span>                                
                                    </div>
                                    <div class="col">
                                        <span class="fw-bold">새 미팅 그룹 생성</span>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>미팅 타이틀</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input id="groupTitle" type="text" class="form-control">
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>미팅 태그</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input id="inputCategoryName" type="text" class="form-control">
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-primary" onclick="addCategoryTag()">+ 추가</button>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div id="tagButtonWrapper" class="col">
                                            </div>
                                        </div>
                                        <div id="errorMessageRow" class="row d-none">
                                            <div class="col">
                                                <span class="text-danger fw-bold">태그는 최대 3개까지 등록가능합니다.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>미팅 대표이미지</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input id="inputGroupImage" type="file" class="form-control" accept="image/*">
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>참가자 필수 확인사항</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <textarea id="groupContent" class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>미팅 멤버 수</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">                                                
                                                <input id="groupHeadCount" type="number" class="form-control" step="1"  min="2" max="10" value="2">
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>미팅 멤버 성별</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input type="radio" value="M" class="btn-check" name="groupGenderOption" id="genderMale" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="genderMale">남자만</label>
                                                <input type="radio" value="F" class="btn-check" name="groupGenderOption" id="genderFemale" autocomplete="off">
                                                <label class="btn btn-outline-danger" for="genderFemale">여자만</label>
                                                <input type="radio" value="A" class="btn-check" name="groupGenderOption" id="genderAll" autocomplete="off" checked>
                                                <label class="btn btn-outline-success" for="genderAll">남녀모두</label>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>미팅 날짜 &amp; 시간</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input id="groupMeetingDate" type="datetime-local" class="form-control">
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>미팅 모집기한</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input id="groupApplyDate" type="text" class="datepicker form-control">
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>미팅 참가비</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <input id="groupApplyCharge" type="text" class="form-control" maxlength="6" onkeyup="checkInputNumber(this)">
                                            </div>
                                            <div class="col px-0">
                                                <span class="align-middle"> 원</span>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span>미팅 장소</span>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-sm btn-info" onclick="checkMyLocation()">지도보기</button>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col">                                                
                                                <input id="groupMeetingPlace" type="text" class="form-control" readonly>
                                            </div>
                                        </div> 
                                        <div class="row mt-2">
                                            <div class="col">
                                                <div id="kakaoMap" style="width: 100%; height: 350px;"></div>
                                            </div>
                                        </div>                                         
                                    </div>
                                </div>

                                <div class="row mb-5">
                                    <div class="col">
                                        <div class="row my-2">
                                            <div class="col d-grid">
                                                <button class="btn btn-danger" onclick="registerMeetingGroupProcess()">미팅 그룹 생성</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around">
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/find.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/makeGroup.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/chat.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/myPage.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>

    <div id="templete" class="d-none">

        <div id="customOverlayWrapper" class="container">
            <div class="row bg-white border border-2 border-black rounded-3">
                <div class="col">
                    <div class="row border-bottom border-1 border-black bg-primary-subtle justify-content-between">
                        <div class="col-auto">
                            <span class="fw-bold" style="font-size: 0.8em">주소</span>
                        </div>
                        <div class="col-auto">
                            <span><i class="bi bi-x fs-5 fw-bold" role="button" onclick="closeCustomOverlay()"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="testLocation" style="font-size: 0.8em"></span>
                        </div>
                    </div>
                    <div class="row mt-2 mb-2 justify-content-center">
                        <div class="col-auto">
                            <button class="btn btn-sm btn-primary fw-bold" onclick="setMeetingLocation()">여기로 설정!!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>       
</body>

</html>