<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>타이틀</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Italianno&family=Square+Peg&family=Tangerine:wght@700&display=swap" rel="stylesheet">

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        font-family: 'Noto Sans KR', sans-serif;        
    }

    * .titleWord{
        font-family: 'Carattere', cursive;
        /* font-family: 'Italianno', cursive; */
        /* font-family: 'Square Peg', cursive; */
        /* font-family: 'Tangerine', cursive; */
    }
    </style>
</head>
<script th:inline="javascript">
let tid = /*[[${session.tid}]]*/

function kakaoPaymentAcceptRequestProcess(){
    const curruntURL = new URL(window.location.href);
    console.log('curruntURL: ', curruntURL);

    const URLparams = curruntURL.searchParams;
    console.log('URLparams: ', URLparams);

    let pg_token = URLparams.get('pg_token');
    console.log('pg_token: ', pg_token);

    let userId = URLparams.get('userId');
    console.log('userId: ', userId);
    let orderId = URLparams.get('orderId');
    console.log('orderId: ', orderId);

    console.log("tid : ", tid);

    const kakaoPaymentApproveReqDto = {
        tid : tid,
        partner_order_id : orderId,
        partner_user_id : userId,
        pg_token : pg_token
    }

    fetch("./api/kakaoPaymentAcceptRequestProcess", {
        method : "POST",
        headers : {
            "Content-Type" : "application/json"
        },
        body : JSON.stringify(kakaoPaymentApproveReqDto)
    })
    .then(response => response.json())
    .then(response => {
        const responseData = response.data
        console.log('responseData: ', responseData);

        let groupId = responseData.item_name.substring(12);
        console.log('groupId: ', groupId);

        const userId = responseData.partner_user_id;
        console.log('userId: ', userId);

        changePaymentStatus(groupId, userId)


    });
}

function changePaymentStatus(groupId, userId){    
    
    console.log('groupId: ', groupId);    
    console.log('userId: ', userId);

    fetch("./api/changePaymentStatus?groupId=" + groupId + "&userId=" + userId)
    .then(response => response.json())
    .then(response => {
        const result = response.result;
        console.log('result: ', result);
    });
}

document.addEventListener("DOMContentLoaded", ()=>{
    kakaoPaymentAcceptRequestProcess();
})

</script>

<body class="pt-5 pb-5">
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/sakura.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto px-0">
                                <span class="fw-bold fs-2 align-middle titleWord">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-bell fs-5" style="color: #FF8827;"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                
                <div class="row text-center">
                    <div class="col">
                        <div class="row mt-5">
                            <div class="col">
                                <img class="img-fluid" src="/public/image/circle/success.png">
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col" style="font-size: 1.3em;">
                                결제를 성공하였습니다.
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col" style="font-size: 1.1em; color: rgb(96, 96, 96);">
                                결제가 정상적으로 완료되었습니다.
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col" style="font-size: 1.1em; color: rgb(96, 96, 96);">
                                결제내역을 확인해 주세요!
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col d-grid">
                                <button onclick="window.location.href='../meeting/mainPage'" class="btn" style="background-color: white; color: #fb7928; border: 0.01em solid #fb7928;">홈으로 돌아가기</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col d-grid"><!-- 여기는 마이페이지에 있는 내 일정내역 결제한거 확인하는 페이지로 이동시켜야함,-->
                                <button onclick="" class="btn" style="background-color: #fb7928; color: white;">일정내역 확인하러가기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around">
                            <div class="col text-center mx-2 mx-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/find.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-2 mx-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/makeGroup.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-2 mx-1" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-2 mx-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/chat.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-2 mx-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/myPage.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>