<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>미팅메인페이지</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">    
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; /*
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;
    }

    .custom-border-color{
        border-color: #FF8827 !important;
    }
    </style>
</head>
<script th:inline="javascript">

let sessionUserInfo = /*[[${session.sessionUserInfo}]]*/;
let meetingProfileExist;

function moveChatListPage(){
    if(meetingProfileExist === "Y"){
        window.location.href="./chatListPage";
    }
    else{
        let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
        if(result){
            window.location.href="./registerProfile";
        }
        else{
            return;
        }
    }
}

function moveRegisterProfilePage(){
    let userType = /*[[${session.userType}]]*/;
    
    if(userType === "user"){
        window.location.href="./registerProfile";
    }
    else{
        alert("로그인이 필요한 서비스입니다. 로그인 후 이용해 주시기 바랍니다.");
        window.location.href="../login/loginPage";
    }
}

function moveSearchPage(){
    if(meetingProfileExist === "Y"){
        window.location.href="./searchPage";
    }
    else{
        let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
        if(result){
            window.location.href="./registerProfile";
        }
        else{
            return;
        }
    }
}

function moveCreateNewGroupPage(){
    if(meetingProfileExist === "Y"){
        window.location.href="./createNewGroupPage";
    }
    else{
        let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
        if(result){
            window.location.href="./registerProfile";
        }
        else{
            return;
        }
    }
}

function checkMeetingProfile(){
    const sessionUserId = sessionUserInfo.user_id;
    
    fetch("./api/checkMeetingProfile?user_id=" + sessionUserId)
    .then(response => response.json())
    .then(response => {
        const resultValue = response.data;
        console.log('resultValue: ', resultValue);

        if(resultValue === 0){
            meetingProfileExist = "N";
        }
        else{
            meetingProfileExist = "Y";
        }
    });
}

document.addEventListener("DOMContentLoaded", ()=>{
    
    checkMeetingProfile()

});


</script>

<body class="pt-5 pb-5">
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto px-0">
                                <span class="fw-bold fs-2 align-middle">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <span class="fs-5 text-secondary"><i class="fi fi-rr-bell"></i></span>                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">

                <div id="main01" class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col px-0">
                                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="row my-1">
                                            <div class="col text-center">                                                
                                            </div>
                                        </div>  
                                        <div class="carousel-item active">
                                            <div class="row" style="background-size: cover; background-image: url(/public/image/meeting/carousel01.jpg); height: 17em;">
                                                <div class="col ms-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="fs-1 fw-bold text-white">서울 강남</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="fs-4 fw-bold text-white">광란의 파뤼파뤼</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row" style="background-size: cover; background-image: url(/public/image/meeting/carousel02.jpg); height: 17em;">
                                                <div class="col ms-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="fs-1 fw-bold text-white">서울 서초</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="fs-4 fw-bold text-white">불금 토하고마시고</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row" style="background-size: cover; background-image: url(/public/image/meeting/carousel03.jpg); height: 17em;">
                                                <div class="col ms-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="fs-1 fw-bold text-white">용인 수지</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="fs-4 fw-bold text-white">조용한 카페에서 폰겜ㄱㄱ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>

                <div id="main02" class="row" style="background-image: url(/public/image/meeting/heartsignal01.jpg); background-size: cover;">
                    <div class="col" style="height: 30em;">                       
                        <div class="row mt-2 justify-content-end">
                            <div class="col-auto">
                                <span class="fs-1 fw-bold" style="color: #6E6E6D;">하트시그널 감성</span>
                            </div>
                        </div>
                        <div class="row mt-2 justify-content-end">
                            <div class="col-auto">
                                <span class="fs-1 fw-bold" style="color: #6E6E6D;">그건 대체 뭘까</span>
                            </div>
                        </div> 
                        <div class="row mt-2 justify-content-end">
                            <div class="col-auto">
                                <span class="fs-1 fw-bold" style="color: #6E6E6D;">모르겠다 증말</span>
                            </div>
                        </div> 
                    </div>
                </div>

                <div id="main03" class="row">
                    <div class="col">

                    </div>
                </div>

                <div id="main04" class="row" th:if="${session.userType == 'guest' or session.meetingProfileExist == 'N'}">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="row mt-3">
                                    <div class="col">
                                        <span class="fs-1 fw-bold" style="color:#FF8827;">아직도</span>
                                    </div>                            
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <span class="fs-1 fw-bold" style="color:#FF8827">프로필이</span>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <span class="fs-1 fw-bold" style="color:#FF8827">없다구요...?</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row mt-5">
                                    <div class="col-10 text-center border-0 rounded btn" role="button" style="background-color: #FF8827;" onclick="moveRegisterProfilePage()">
                                        <span class="fs-3 fw-bold text-white">Make your profile!</span>
                                    </div>                                    
                                </div>
                            </div> 
                        </div>
                        <div class="row mt-4 mb-4">
                            <div class="col">
                                <span class="fs-5" style="color:#FF8827">프로필을 등록하고 친구를 만나봐요!</span>
                            </div>
                        </div>                  
                    </div>             
                </div>

                <div id="main05" class="row mt-4">
                    <div class="col">
                    </div>
                </div>
                
                <!--footer-->
                <div class="row fixed-bottom bg-white" style="height: 3.4em;">
                    <div class="col text-center align-self-center">
                        <div class="row">
                            <div class="col">
                                <div class="row justify-content-around mt-1">
                                    <div class="col text-center mx-1" onclick="moveSearchPage()">
                                        <div class="row">
                                            <div class="col">                                                
                                                <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-search-heart"></i></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span class="">Find</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col text-center mx-1" onclick="moveCreateNewGroupPage()">
                                        <div class="row">
                                            <div class="col">
                                                <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-following"></i></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span class="">Make</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col text-center mx-1" onclick="window.location.href='../commons/mainPage'">
                                        <div class="row">
                                            <div class="col">                                                
                                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col text-center mx-1" onclick="moveChatListPage()">
                                        <div class="row">
                                            <div class="col align-self-center">
                                                <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-comment-alt"></i></span>                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span class="">Chat</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col text-center mx-1" onclick="window.location.href='./myPage'">
                                        <div class="row">
                                            <div class="col">
                                                <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-circle-user"></i></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span class="">My</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>    
</html>
