<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>미팅메인페이지</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">    
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    
    <script src="/public/js/lockLikeMobile.js"></script>
    
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; /*
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;
    }

    .custom-border-color{
        border-color: #FF8827 !important;
    }

    .shadowBox{        
        border: 1px solid black;        
        box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.1);
    }

    /* 하단 footer 애니메이션을 위한 코드 */
    #secondLine, #thirdLine {
        transition: opacity 1s;
    }

    #signal, #bnb, #mission, #circle, #home{
        transition: all 0.5s;
        opacity: 0;
    }

    #signal.clicked, #bnb.clicked, #mission.clicked, #circle.clicked, #home.clicked {
        opacity: 1;
    }

    .footer .fi {
        background: linear-gradient(to bottom, #ff4a1d, #ff882c, #ffa939); /* 그라데이션 색상 설정 */
        -webkit-background-clip: text; /* 텍스트에만 배경 적용 (WebKit 브라우저를 위한 프리픽스) */
        background-clip: text; /* 텍스트에만 배경 적용 */
        color: transparent; /* 텍스트 색상을 투명하게 설정하여 텍스트가 보이지 않게 함 */
    }
    </style>
</head>
<script th:inline="javascript">

let sessionUserInfo = [[${session.sessionUserInfo}]]
let meetingProfileExist;

window.addEventListener("DOMContentLoaded", () => {
    let ufufClicked = false; // ufuf 버튼이 클릭되었는지 여부를 나타내는 플래그

    document.getElementById("ufuf").addEventListener("click", function() {
        const container = document.querySelector(".footer");

        if (!ufufClicked) { // ufuf 버튼이 한번도 클릭되지 않았을 때
            // 변경된 스타일 적용
            container.style.boxShadow = "rgba(0,0,0,0.75) 0 0 0 9999px";
            container.style.zIndex = "250";
            container.style.transition = "all 0.2s";

            document.getElementById("home").classList.remove("d-none");
            document.getElementById("secondLine").classList.remove("d-none");
            document.getElementById("thirdLine").classList.remove("d-none");

            setTimeout(() => {
                document.getElementById("home").classList.add("clicked");
            }, 250);

            setTimeout(() => {
                document.getElementById("secondLine").classList.add("clicked");
                setTimeout(() => {
                    document.getElementById("mission").classList.add("clicked");
                }, 100);
                setTimeout(() => {
                    document.getElementById("circle").classList.add("clicked");
                }, 200);

            }, 90);

            setTimeout(() => {

                document.getElementById("thirdLine").classList.add("clicked");

                setTimeout(() => {
                    document.getElementById("signal").classList.add("clicked");
                }, 50);
                setTimeout(() => {
                    document.getElementById("bnb").classList.add("clicked");
                }, 250);

            }, 90);
        } else { // ufuf 버튼이 이미 클릭되어 있을 때
            // 변경 취소
            container.style.boxShadow = "none";
            container.style.zIndex = "300";
            container.style.transition = "none";
            

            document.getElementById("home").classList.add("d-none");
            document.getElementById("secondLine").classList.add("d-none");
            document.getElementById("thirdLine").classList.add("d-none");
            document.getElementById("home").classList.remove("clicked");
            document.getElementById("secondLine").classList.remove("clicked");
            document.getElementById("thirdLine").classList.remove("clicked");
            document.getElementById("mission").classList.remove("clicked");
            document.getElementById("circle").classList.remove("clicked");
            document.getElementById("signal").classList.remove("clicked");
            document.getElementById("bnb").classList.remove("clicked");
        }
        ufufClicked = !ufufClicked; // ufufClicked 플래그 업데이트
    });
});

function moveToSearchPageAndOpenGroupModal(groupId){
    const confirmValue = confirm("해당 미팅 상세보기로 이동할까요?");
    if(confirmValue){
        if(!sessionUserInfo){
        alert("로그인이 필요한 서비스입니다. 로그인 후 이용해 주시기 바랍니다.");        
        window.location.href="../login/loginPage";
        }
        else{
            if(meetingProfileExist === "Y"){
                localStorage.setItem('groupId', groupId);
                window.location.href='./searchPage';
            }
            else{
                let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
                if(result){
                    window.location.href="./registerProfile";
                }
                else{
                    return;
                }
            }
        }
    }
}

function dateFormatter(dateValue, dateOption){    
    const array = new Date(dateValue[0], dateValue[1] - 1, dateValue[2]);
    const convertDate = Intl.DateTimeFormat('ko-KR', dateOption).format(array);
    return convertDate;
}

function getNewMeetingList(){
    return fetch('./api/getNewMeetingList')
    .then(response => response.json())
    .then(response => {
        return response.data;
    });
}

async function newMeetingListCSR(){
    const newMeetingList = await getNewMeetingList();
    console.log('newMeetingList: ', newMeetingList);
    
    const newMeetingWrapperRow = $("#newMeetingWrapperRow");
    newMeetingWrapperRow.html("");
    
    for(e of newMeetingList){
        const newMeetingListCol = $("#templete #newMeetingListCol").clone();
        newMeetingListCol.attr('onclick', `moveToSearchPageAndOpenGroupModal(${e.meetingGroupDto.groupId})`);

        const newMeetingImage = newMeetingListCol.find("#newMeetingImage");
        newMeetingImage.attr("src", `/uploadFiles/ufuf/meeting/groupImage/${e.meetingGroupDto.groupImage}`);

        const newMeetingLocation = newMeetingListCol.find("#newMeetingLocation");
        const locationArray = e.meetingGroupDto.groupMeetingPlace.split(" ");
        newMeetingLocation.text(`${locationArray[0]} ${locationArray[1]}`);

        const newMeetingTitle = newMeetingListCol.find("#newMeetingTitle");
        newMeetingTitle.text(e.meetingGroupDto.groupTitle);

        const newMeetingCurruntHeadCount = newMeetingListCol.find("#newMeetingCurruntHeadCount");
        newMeetingCurruntHeadCount.text(e.groupMemberDataList.length);

        const newMeetingMaxHeadCount = newMeetingListCol.find("#newMeetingMaxHeadCount");
        newMeetingMaxHeadCount.text(e.meetingGroupDto.groupHeadCount);

        const newMeetingDate = newMeetingListCol.find("#newMeetingDate");
        const meetingDateOption = {
            year : 'numeric',
            month : 'long',
            day : 'numeric',
            hour : 'numeric',
            minute : 'numeric',
            hour12 : false,
            //weekday : 'short'
        };
        const dateValue = dateFormatter(e.meetingGroupDto.groupMeetingDate, meetingDateOption);
        newMeetingDate.text(dateValue);

        const applyDateOption = {
            year : 'numeric',
            month : '2-digit',
            day : '2-digit',            
        };
        const newMeetingApplyStart = newMeetingListCol.find("#newMeetingApplyStart");
        const startDate = dateFormatter(e.meetingGroupDto.groupApplyStart, applyDateOption);
        newMeetingApplyStart.text(startDate);

        const newMeetingApplyEnd = newMeetingListCol.find("#newMeetingApplyEnd");
        const endDate = dateFormatter(e.meetingGroupDto.groupApplyEnd, applyDateOption);
        newMeetingApplyEnd.text(endDate);


        newMeetingWrapperRow.append(newMeetingListCol);
    }
}

async function hotMeetingListCSR(){
    const hotMeetingList = await getHotMeetingList();
    console.log('hotMeetingList: ', hotMeetingList);
    
    const hotMeetingWrapperRow = $("#hotMeetingWrapperRow");
    hotMeetingWrapperRow.html("");
    
    for(e of hotMeetingList){
        const hotMeetingListCol = $("#templete #hotMeetingListCol").clone();
        hotMeetingListCol.attr('onclick', `moveToSearchPageAndOpenGroupModal(${e.meetingGroupDto.groupId})`);

        const hotMeetingImage = hotMeetingListCol.find("#hotMeetingImage");
        hotMeetingImage.attr("src", `/uploadFiles/ufuf/meeting/groupImage/${e.meetingGroupDto.groupImage}`);

        const hotMeetingLocation = hotMeetingListCol.find("#hotMeetingLocation");
        const locationArray = e.meetingGroupDto.groupMeetingPlace.split(" ");
        hotMeetingLocation.text(`${locationArray[0]} ${locationArray[1]}`);

        const hotMeetingTitle = hotMeetingListCol.find("#hotMeetingTitle");
        hotMeetingTitle.text(e.meetingGroupDto.groupTitle);

        const hotMeetingCurruntHeadCount = hotMeetingListCol.find("#hotMeetingCurruntHeadCount");
        hotMeetingCurruntHeadCount.text(e.groupMemberDataList.length);

        const hotMeetingMaxHeadCount = hotMeetingListCol.find("#hotMeetingMaxHeadCount");
        hotMeetingMaxHeadCount.text(e.meetingGroupDto.groupHeadCount);

        const hotMeetingDate = hotMeetingListCol.find("#hotMeetingDate");
        const meetingDateOption = {
            year : 'numeric',
            month : 'long',
            day : 'numeric',
            hour : 'numeric',
            minute : 'numeric',
            hour12 : false,
            //weekday : 'short'
        };
        const dateValue = dateFormatter(e.meetingGroupDto.groupMeetingDate, meetingDateOption);
        hotMeetingDate.text(dateValue);

        const applyDateOption = {
            year : 'numeric',
            month : '2-digit',
            day : '2-digit',            
        };
        const hotMeetingApplyStart = hotMeetingListCol.find("#hotMeetingApplyStart");
        const startDate = dateFormatter(e.meetingGroupDto.groupApplyStart, applyDateOption);
        hotMeetingApplyStart.text(startDate);

        const hotMeetingApplyEnd = hotMeetingListCol.find("#hotMeetingApplyEnd");
        const endDate = dateFormatter(e.meetingGroupDto.groupApplyEnd, applyDateOption);
        hotMeetingApplyEnd.text(endDate);


        hotMeetingWrapperRow.append(hotMeetingListCol);
    }
}

function getHotMeetingList(){
    return fetch('./api/getHotMeetingList')
    .then(response => response.json())
    .then(response => {
        return response.data;
    });
}

function moveChatListPage(){
    if(!sessionUserInfo){
        alert("로그인이 필요한 서비스입니다. 로그인 후 이용해 주시기 바랍니다.");        
        window.location.href="../login/loginPage";
    }
    else{
        if(meetingProfileExist === "Y"){
            window.location.href="./chatListPage";
        }
        else{
            let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
            if(result){
                window.location.href="./registerProfile";
            }
            else{
                return;
            }
        }
    }
}

function moveRegisterProfilePage(){
    let userType = /*[[${session.userType}]]*/;
    
    if(userType === "user"){
        window.location.href="./registerProfile";
    }
    else{
        alert("로그인이 필요한 서비스입니다. 로그인 후 이용해 주시기 바랍니다.");
        window.location.href="../login/loginPage";
    }
}

function moveSearchPage(){
    if(!sessionUserInfo){
        alert("로그인이 필요한 서비스입니다. 로그인 후 이용해 주시기 바랍니다.");        
        window.location.href="../login/loginPage";
    }
    else{
        if(meetingProfileExist === "Y"){
            window.location.href="./searchPage";
        }
        else{
            let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
            if(result){
                window.location.href="./registerProfile";
            }
            else{
                return;
            }
        }
    }
}

function moveCreateNewGroupPage(){
    if(!sessionUserInfo){
        alert("로그인이 필요한 서비스입니다. 로그인 후 이용해 주시기 바랍니다.");        
        window.location.href="../login/loginPage";
    }
    else{
        if(meetingProfileExist === "Y"){
            window.location.href="./createNewGroupPage";
        }
        else{
            let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
            if(result){
                window.location.href="./registerProfile";
            }
            else{
                return;
            }
        }
    }
}

function checkMeetingProfile(){
    let userType = /*[[${session.userType}]]*/

    if(userType === "guest"){
        meetingProfileExist = "N";
    }
    else{
        const sessionUserId = sessionUserInfo.user_id;    
        fetch("./api/checkMeetingProfile?user_id=" + sessionUserId)
        .then(response => response.json())
        .then(response => {
            const resultValue = response.data;
            console.log('resultValue: ', resultValue);
            if(resultValue === 0){
                meetingProfileExist = "N";
            }
            else{
                meetingProfileExist = "Y";
            }
        });
    }    
}

document.addEventListener("DOMContentLoaded", ()=>{
    
    checkMeetingProfile();
    hotMeetingListCSR();
    newMeetingListCSR();

});

</script>
<body>
    <div class="container-fluid pt-5 pb-5" style="background-color:#f5ededea;">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto align-self-center px-0">
                                <span class="">Uni Signal</span>
                            </div>                          
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <span class="fs-5 text-secondary"><i class="fi fi-rr-bell"></i></span>                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-5">
            <div class="col">

                <div id="main01" class="row">
                    <div class="col">
                        <div class="row mt-3 mb-3">
                            <div class="col">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <img src="/public/image/commons/main_image_meeting.jpg" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>                               
                    </div>
                </div>               

                <div class="row bg-white">
                    <div class="col">
                        <div class="row mt-3">
                            <div class="col">
                                <span class="fs-3 fw-bold">오늘의 추천</span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <span class="text-danger fs-5"><i class="fi fi-sr-flame bi-align-middle"></i></span>
                                        <span class="fs-5 fw-bold">HOT</span>
                                        <span class="text-danger fs-5"><i class="fi fi-sr-flame bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="text-secondary" style="font-size: 0.9em;">사람들이 주목하고 있는 미팅이에요!</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col overflow-x-scroll">
                                        <div id="hotMeetingWrapperRow" class="row" style="width: 79em;">

                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <span class="text-warning fs-5"><i class="fi fi-sr-sparkles bi-align-middle"></i></span>
                                        <span class="fs-5 fw-bold">New</span>
                                        <span class="text-warning fs-5"><i class="fi fi-sr-sparkles bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="text-secondary" style="font-size: 0.9em;">가장 최근에 등록된 미팅들이에요!</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col overflow-x-scroll">
                                        <div id="newMeetingWrapperRow" class="row" style="width:79em">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="main04" class="row mt-3" th:if="${session.userType == 'guest' or session.meetingProfileExist == 'N'}">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="row mt-3">
                                    <div class="col">
                                        <span class="fs-1 fw-bold" style="color:#FF8827;">아직도</span>
                                    </div>                            
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <span class="fs-1 fw-bold" style="color:#FF8827">프로필이</span>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <span class="fs-1 fw-bold" style="color:#FF8827">없다구요...?</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row mt-5">
                                    <div class="col-10 text-center border-0 rounded btn" role="button" style="background-color: #FF8827;" onclick="moveRegisterProfilePage()">
                                        <span class="fs-3 fw-bold text-white">Make your profile!</span>
                                    </div>                                    
                                </div>
                            </div> 
                        </div>
                        <div class="row mt-4 mb-4">
                            <div class="col">
                                <span class="fs-5" style="color:#FF8827">프로필을 등록하고 친구를 만나봐요!</span>
                            </div>
                        </div>                  
                    </div>             
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img src="/public/image/commons/ufuf_commercial_2.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2"></div>
        
        <!--footer-->
        <div class="row fixed-bottom bg-white footer" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around mt-1 text-secondary">
                            <div class="col text-center mx-1" onclick="moveSearchPage()">
                                <div class="row">
                                    <div class="col">                                                
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-search-heart bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="moveCreateNewGroupPage()">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-following bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div id="ufuf" class="col text-center mx-1">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1" onclick="moveChatListPage()">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-comment-alt bi-align-middle"></i></span>                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em; color: #FF8827;"><i class="fi fi-rr-circle-user bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>            
        </div>
    </div>

    <!--/* footer요소 */-->
<div class="footer">
    <div id="home" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 8em; width: 100%; margin: auto; z-index: 9999;">
        <div class="col text-center px-0 ">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../commons/mainPage'">
                        <i class="fi fi-rr-house-chimney align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    홈
                </div>
            </div>
        </div>
    </div>
    
    <div id="secondLine" class="row d-flex justify-content-center d-none" style="margin: auto; position: fixed; bottom: 6.8em; width: 100%; z-index: 9999;">
        <div id="mission" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../mission/map'">
                        <i class="fi fi-rr-map-marker align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니미션
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 2.8em;" onclick="window.location.href='../commons/mainPage'"></div>
        <div id="circle" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../circle/circleMainPage'">
                        <i class="fi fi-rr-meeting align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니써클
                </div>
            </div>
        </div>
    </div>
    
    <div id="thirdLine" class="row d-flex justify-content-center d-none" style="margin: auto; position: fixed; bottom: 4.3em; width: 100%; z-index: 9999;">
        <div id="signal" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../meeting/mainPage'">
                        <i class="fi fi-rr-comment-heart align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니시그널
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 6.1rem;"></div>
        <div id="bnb" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../room/roomMainPage'">
                        <i class="fi fi-rr-bed-alt align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니비앤비
                </div>
            </div>
        </div>
    </div>
</div>
<!--/* 템플릿 */-->
<div id="templete" class="d-none">
    
    <div id="hotMeetingListCol" class="col-auto mx-1 mt-2 mb-4 align-self-center border border-0 rounded shadowBox">
        <div class="row">
            <div class="col-auto my-3 mx-1">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto">
                                <img id="hotMeetingImage" class="img-fluid border border-0 rounded" style="width: 13em; aspect-ratio: 1/1; ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-1">
                        <div class="row justify-content-between">
                            <div class="col-auto align-self-center">
                                <span id="hotMeetingLocation" class="text-secondary" style="font-size: 0.7em;"></span>
                            </div>
                            <div class="col-auto align-self-center" style="font-size: 0.7em;">
                                <span id="hotMeetingCurruntHeadCount"></span>
                                <span id="">/</span>
                                <span id="hotMeetingMaxHeadCount" class="fw-bold"></span>
                                <span><i class="fi fi-sr-user bi-ailgn-middle"></i></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto text-truncate">
                                <span id="hotMeetingTitle" class="fw-bold" style="font-size: 0.9em;"></span>
                            </div>            
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <span id="hotMeetingDate" class="fw-bold" style="font-size: 0.9em;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mx-2 border border-1"></div>
                        </div>                        
                        <div class="row mt-2">                    
                            <div class="col text-secondary" style="font-size: 0.6em;">                    
                                <span>모집기한 : </span>
                                <span id="hotMeetingApplyStart" class="" ></span>
                                <span>~</span>
                                <span id="hotMeetingApplyEnd" class="" ></span>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>            
        </div>        
    </div>

    <div id="newMeetingListCol" class="col-auto mx-1 mt-2 mb-4 align-self-center border border-0 rounded shadowBox">
        <div class="row">
            <div class="col-auto my-3 mx-1">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto">
                                <img id="newMeetingImage" class="img-fluid border border-0 rounded" style="width: 13em; aspect-ratio: 1/1;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-1">
                        <div class="row justify-content-between">
                            <div class="col-auto align-self-center">
                                <span id="newMeetingLocation" class="text-secondary" style="font-size: 0.7em;"></span>
                            </div>
                            <div class="col-auto align-self-center" style="font-size: 0.7em;">
                                <span id="newMeetingCurruntHeadCount"></span>
                                <span id="">/</span>
                                <span id="newMeetingMaxHeadCount" class="fw-bold"></span>
                                <span><i class="fi fi-sr-user bi-ailgn-middle"></i></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto text-truncate">
                                <span id="newMeetingTitle" class="fw-bold" style="font-size: 0.9em;"></span>
                            </div>            
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <span id="newMeetingDate" class="fw-bold" style="font-size: 0.9em;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mx-2 border border-1"></div>
                        </div>                        
                        <div class="row mt-2">                    
                            <div class="col text-secondary" style="font-size: 0.6em;">                    
                                <span>모집기한 : </span>
                                <span id="newMeetingApplyStart" class="" ></span>
                                <span>~</span>
                                <span id="newMeetingApplyEnd" class="" ></span>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>            
        </div>        
    </div>
    
</div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>    
</html>