<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="|${groupDetailInfo.meetingGroupDto.groupTitle} 상세페이지|"></title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Italianno&family=Square+Peg&family=Tangerine:wght@700&display=swap" rel="stylesheet">

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        font-family: 'Noto Sans KR', sans-serif;        
    }

    * .titleWord{
        font-family: 'Carattere', cursive;
        /* font-family: 'Italianno', cursive; */
        /* font-family: 'Square Peg', cursive; */
        /* font-family: 'Tangerine', cursive; */
    }

    .userImageBox{
        width: 4em;
        height: 4em; 
        border-radius: 70%;
        overflow: hidden;
    }

    .userImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    </style>
</head>
<script th:inline="javascript">
let groupDetailInfo = /*[[${groupDetailInfo}]]*/;
let sessionUserMeetingProfileDto = /*[[${session.meetingProfileDto}]]*/
console.log('sessionUserMeetingProfileDto: ', sessionUserMeetingProfileDto);
console.log('groupDetailInfo: ', groupDetailInfo);

function countMeetingGroupMember(){
    const groupId = groupDetailInfo.meetingGroupDto.groupId;
    fetch("./api/countMeetingGroupMember?groupId=" + groupId)
    .then(response => response.json())
    .then(response =>{        
        const countValue = response.data;

        const curruntApplyUserCount = document.getElementById("curruntApplyUserCount");
        curruntApplyUserCount.innerText = countValue;
    });
}

function getMeetingGroupMemberList(){
    const groupId = groupDetailInfo.meetingGroupDto.groupId;
    fetch("./api/getMeetingGroupMemberList?groupId=" + groupId)
    .then(response => response.json())
    .then(response =>{
        const groupMemberList = response.data;
        console.log('groupMemberList: ', groupMemberList);

        const groupMemberListWrapperRow = document.getElementById("groupMemberListWrapperRow");
        groupMemberListWrapperRow.innerHTML = "";

        for(e of groupMemberList){
            const groupMemberListCol = document.querySelector("#templete #groupMemberListCol").cloneNode(true);
            const groupMemberProfileImage = groupMemberListCol.querySelector("#groupMemberProfileImage");
            groupMemberProfileImage.setAttribute("src", `/public/image/meeting/profileImage/${e.profileImg}`);

            const groupMemberNickname = groupMemberListCol.querySelector("#groupMemberNickname");
            groupMemberNickname.innerText = e.profileNickname;

            if(groupDetailInfo.meetingGroupDto.profileId === e.profileId){
                const groupMemberProfileImageCol = groupMemberListCol.querySelector("#groupMemberProfileImageCol");
                const crownBadge = document.querySelector("#templete #crownBadge");
                groupMemberProfileImageCol.appendChild(crownBadge);
            }

            groupMemberListWrapperRow.appendChild(groupMemberListCol);
        }

    });
}

function addGroupMember(target){
    const groupId = groupDetailInfo.meetingGroupDto.groupId;
    console.log('groupId: ', groupId);
    const applyUserProfileId = target.getAttribute("profileid");
    console.log('applyUserProfileId: ', applyUserProfileId);
    const applyProfileListRow = target.closest('[id^="applyProfileListRow"]');
    const applyUserNickname = applyProfileListRow.querySelector("#applyProfileNickname").innerText;
    console.log('applyProfileNickname: ', applyUserNickname);

    const confirmValue = confirm("[" + applyUserNickname + "]" + " 님을 선발하시겠습니까?");
    if(confirmValue){
        fetch("./api/addGroupMember", {
            method : "POST",
            body : new URLSearchParams({
                groupId : groupId,
                profileId : applyUserProfileId
            }),
            header : {
                "Content-Type" : "application/x-www-form-urlencoded"
            }
            
        })
        .then(response => response.json())
        .then(response =>{
            alert("[" + applyUserNickname + "]" + " 님이 미팅멤버로 선발되었습니다.");
            makeGroupDetailPage();
            getMeetingGroupMemberList();
            countMeetingGroupMember();
        });
    }
    else{
        return;
    }
}

function makeGroupDetailPage(){
    const groupTitle = document.getElementById("groupTitle");
    groupTitle.innerText = groupDetailInfo.meetingGroupDto.groupTitle;

    const groupCreateUserImage = document.getElementById("groupCreateUserImage");
    groupCreateUserImage.setAttribute("src", `/public/image/meeting/profileImage/${groupDetailInfo.meetingProfileDto.profileImg}`);

    const groupCreateUserNickname = document.getElementById("groupCreateUserNickname");
    groupCreateUserNickname.innerText = groupDetailInfo.meetingProfileDto.profileNickname;

    const recruitMemberCount = document.getElementById("recruitMemberCount");
    recruitMemberCount.innerText = groupDetailInfo.meetingGroupDto.groupHeadCount;

    const applyProfileListWrapperCol = document.getElementById("applyProfileListWrapperCol");
    applyProfileListWrapperCol.innerHTML = "";
    
    const applyUserMapList = groupDetailInfo.applyUserMapList;    
    if(applyUserMapList.length === 0){
        const noApplyProfileCol = document.querySelector("#templete #noApplyProfileCol").cloneNode(true);
        const noApplyProfileInfoText = noApplyProfileCol.querySelector("#noApplyProfileInfoText");
        noApplyProfileInfoText.innerText = "현재 신청한 인원이 없습니다.";
        applyProfileListWrapperCol.appendChild(noApplyProfileCol);
    }
    else{
        for(e of applyUserMapList){
            const applyProfileListRow = document.querySelector("#templete #applyProfileListRow").cloneNode(true);
            const applyProfileImage = applyProfileListRow.querySelector("#applyProfileImage");
            applyProfileImage.setAttribute("src", `/public/image/meeting/profileImage/${e.applyUserProfileDto.profileImg}`);

            const applyProfileNickname = applyProfileListRow.querySelector("#applyProfileNickname");
            applyProfileNickname.innerText = e.applyUserProfileDto.profileNickname;

            const applyText = applyProfileListRow.querySelector("#applyText");
            applyText.innerText = e.applyDto.applyComment;

            const applyProfilePickButton = applyProfileListRow.querySelector("#applyProfilePickButton");
            applyProfilePickButton.setAttribute("onclick", "addGroupMember(this)");
            applyProfilePickButton.setAttribute("profileId", e.applyUserProfileDto.profileid);

            applyProfileListWrapperCol.appendChild(applyProfileListRow);
        }        
    }    
}

document.addEventListener("DOMContentLoaded", ()=>{

    makeGroupDetailPage();
    getMeetingGroupMemberList();
    countMeetingGroupMember();

});

</script>

<body class="pt-5 pb-5">
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 justify-content-between">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/sakura.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto px-0">
                                <span class="fw-bold fs-2 align-middle titleWord">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-bell fs-5" style="color: #FF8827;"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">

                <div class="row">
                    <div class="col border border-0 rounded">
                        <div class="row">
                            <div class="col text-center" style="background-color: #FF8827;">
                                <span id="groupTitle" class="fs-4 fw-bold text-white"></span>
                                <span class="fs-4 fw-bold text-white">미팅방</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <span class="fs-5 fw-bold">방장 : </span>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="userImageBox">
                                    <img id="groupCreateUserImage" class="userImage">
                                </div>                                
                            </div>
                            <div class="col-auto align-self-center">
                                <span id="groupCreateUserNickname" class="fs-5 fw-bold"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <span class="fs-5 fw-bold">참여 신청자 리스트</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="applyProfileListWrapperCol" class="col border border-black rounded mx-1 overflow-y-scroll" style="height: 20em; max-height: 20em;">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="row">
                                    <div class="col-auto">
                                        <span class="fs-5 fw-bold">참여 확정멤버 리스트</span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="fs-5 fw-bold">[</span>
                                        <span id="curruntApplyUserCount" class="fs-5 fw-bold"></span>
                                        <span class="fs-5 fw-bold">/</span>
                                        <span id="recruitMemberCount" class="fs-5 fw-bold"></span>
                                        <span class="fs-5 fw-bold">]</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col border border-black rounded mx-1 overflow-x-scroll" style="width: 200%; max-width: 100%;">
                                        <div id="groupMemberListWrapperRow" class="row mt-2 mb-2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col mx-1">
                        <div class="row justify-content-around">
                            <div class="col text-center mx-2" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/find.png" class="img-fluid" style="width: 2em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center" onclick="window.location.href='./createMeetingGroupPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/makeGroup.png" class="img-fluid" style="width: 2em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 3em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/chat.png" class="img-fluid" style="width: 2em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/myPage.png" class="img-fluid" style="width: 2em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>

<!--/* 템플릿 */-->
<div id="templete" class="d-none">

    <div id="applyProfileListRow" class="row mt-2 mb-2">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-auto">
                            <div class="row">
                                <div class="col">
                                    <div class="userImageBox">
                                        <img id="applyProfileImage" class="userImage">                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <span id="applyProfileNickname" style="font-size: 0.8em;"></span>
                                </div>
                            </div>                    
                        </div>
                        <div class="col align-self-center">
                            <div class="row">
                                <div class="col">
                                    <span class="fw-bold">Comment</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span id="applyText" class="fs-6"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <div class="row">
                        <div class="col px-1 mx-1 text-center btn btn-success" role="button">
                            <span class="align-middle" style="font-size: 0.8em;">프로필보기</span>    
                        </div>                        
                    </div>
                    <div class="row mt-2">
                        <div id="applyProfilePickButton" class="col px-1 mx-1 text-center btn btn-primary" role="button">
                            <span style="font-size: 0.8em;">선발하기</span>    
                        </div>
                    </div>
                </div>
                
            </div>                        
        </div>
    </div>

    <div id="noApplyProfileCol" class="col text-center align-self-center">
        <span id="noApplyProfileInfoText" class="fw-bold fs-3 text-danger"></span>
    </div>

    <div id="groupMemberListCol" class="col-auto">
        <div class="row">
            <div id="groupMemberProfileImageCol" class="col position-relative">
                <div class="userImageBox">
                    <img id="groupMemberProfileImage" class="userImage">
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <span id="groupMemberNickname" style="font-size: 0.8em;"></span>
            </div>
        </div>
    </div>

    <div id="crownBadge" class="badge position-absolute" style="top: -17%; left: 0%;">
        <img src="/public/image/meeting/crown.png" style="width: 2em; height: 2em;">
    </div>

</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>