<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>내가 참여중인 미팅그룹</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">    
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <script src="/public/js/lockLikeMobile.js"></script>

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;
    }

    .userImageBox{
        width: 4em;
        height: 4em; 
        border-radius: 70%;
        overflow: hidden;
    }

    .userImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .shadowBox{        
        border: 1px solid black;        
        box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.1);
    }

    .listBackground{
        border: 0;
        border-radius: 10%;
        background-color: cornsilk;
    }

    .custom-border-color{
        border-color: #FF8827 !important;
    }

    .custom-input:focus{
        border-color: #FF8827;
        box-shadow: 0 0 10px #FF8827;
    }

    .customModal, .modalDialogCentered {
        /* 트랜지션으로 표시 부드럽게 처리 */
        transition: opacity 0.4s, visibility 0.4s;
        opacity: 0;
        visibility: hidden;
    }

    .customModal {
        /* 아래 CSS 모달 dialog 활성화 시 백그라운드 검게 처리*/
        position: fixed;
        width: 100%;
        height: 100%;        
        background-color: rgba(0, 0, 0, 0.5);
        
        /* 아래 CSS 모달 화면 중앙에 위치*/
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }

    .modalDialogCentered {
        /* 아래 CSS 모달 컨텐츠 표시*/
        position: absolute;
        width: 80%;
        height: 34em;
        overflow-x: scroll;
        background-color: rgba(255,255,255);
        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }    

    .active {
        /* 액티브 토글로 출력-비출력 처리 */
        opacity: 1;
        visibility: visible;
        display: block;
    }
    </style>
</head>
<script th:inline="javascript">
let groupDetailInfo = /*[[${groupDetailInfo}]]*/
let sessionUserMeetingProfileDto = /*[[${session.meetingProfileDto}]]*/

console.log('groupDetailInfo: ', groupDetailInfo);
console.log('sessionUserMeetingProfileDto: ', sessionUserMeetingProfileDto);

async function checkExistVoteBestMember(){
    let sessionUserGroupId;
    for(e of groupDetailInfo.groupMemberDataList){
        if(e.groupMemberProfileDto.profileid === sessionUserMeetingProfileDto.profileid){
            sessionUserGroupId = e.groupMemberDto.groupMemberId;
        }
    }
    const response = await fetch(`api/checkExistVoteBestMember?groupMemberId=${sessionUserGroupId}`);
    const responseData = await response.json();        
    console.log('responseData: ', responseData);
    return responseData.data;    
}

function voteBestMember(targetElement){    
    const targetMemberCol = targetElement.closest("#voteBestMemberListCol");
    const targetNickname = targetMemberCol.querySelector("#voteBestMemberNickname").innerText;
    const confirmValue = confirm(`${targetNickname}님을 베스트멤버로 선정하시겠습니까?`);
    if(confirmValue){
        const groupMemberIdTo = targetMemberCol.getAttribute("groupMemberId");
        console.log('groupMemberIdTo: ', groupMemberIdTo);
        
        let sessionUserGroupId;
        for(e of groupDetailInfo.groupMemberDataList){
            if(e.groupMemberProfileDto.profileid === sessionUserMeetingProfileDto.profileid){
                sessionUserGroupId = e.groupMemberDto.groupMemberId;
            }
        }
        
        fetch(`api/voteBestMember?groupMemberIdFrom=${sessionUserGroupId}&groupMemberIdTo=${groupMemberIdTo}`)
        .then(response => response.json())
        .then(response => {
            const isSuccess = response.result;
            if(isSuccess === "success"){
                alert("투표해주셔서 감사합니다. 리뷰페이지로 이동할게요 :)");
                closeVoteBestMemberModal();
                window.location.href = `./groupReviewPage?groupId=${groupDetailInfo.meetingGroupDto.groupId}`;
            }
            else{
                alert("오류발생!");
                return;
            }
        });
    }
    else{
        return;
    }
}

function voteBestMemberModalCSR(){
    const memberList = groupDetailInfo.groupMemberDataList;

    const voteBestMemberListWrapperRow = document.getElementById("voteBestMemberListWrapperRow");
    voteBestMemberListWrapperRow.innerHTML = "";

    for(e of memberList){
        if(e.groupMemberProfileDto.profileid === sessionUserMeetingProfileDto.profileid){
            continue;
        }
        const voteBestMemberListCol = document.querySelector("#templete #voteBestMemberListCol").cloneNode(true);
        voteBestMemberListCol.setAttribute("groupMemberId", e.groupMemberDto.groupMemberId);
        
        const voteBestMemberProfileImage = voteBestMemberListCol.querySelector("#voteBestMemberProfileImage");
        voteBestMemberProfileImage.setAttribute("src", `/uploadFiles/ufuf/meeting/profileImage/${e.groupMemberProfileDto.profileImg}`);

        const voteBestMemberNickname = voteBestMemberListCol.querySelector("#voteBestMemberNickname");
        voteBestMemberNickname.innerText = e.groupMemberProfileDto.profileNickname;

        const voteBestMemberButton = voteBestMemberListCol.querySelector("#voteBestMemberButton");
        voteBestMemberButton.setAttribute("onclick", "voteBestMember(this)");

        voteBestMemberListWrapperRow.appendChild(voteBestMemberListCol);
    }

}

async function showVoteBestMemberModal(){
    
    const checkVoteBestMember = await checkExistVoteBestMember();
    console.log('checkVoteBestMember: ', checkVoteBestMember);
    
    if(checkVoteBestMember > 0){
        window.location.href = `./groupReviewPage?groupId=${groupDetailInfo.meetingGroupDto.groupId}`;
    }
    else{
        document.body.style.overflow = 'hidden';
        voteBestMemberModalCSR();
        const voteBestMemberModal = document.getElementById("voteBestMemberModal");
        voteBestMemberModal.classList.add('active');
        const voteBestMemberModalDialog = document.getElementById("voteBestMemberModalDialog");
        voteBestMemberModalDialog.classList.add('active');
    }
}

function closeVoteBestMemberModal(){
    document.body.style.overflow = 'auto';
    const voteBestMemberModal = document.getElementById("voteBestMemberModal");
    voteBestMemberModal.classList.remove('active');
    const voteBestMemberModalDialog = document.getElementById("voteBestMemberModalDialog");
    voteBestMemberModalDialog.classList.remove('active');
}

function moveGroupReviewPage(groupId){
    if(!groupId){
        alert("베스트 멤버가 없었다니 아쉽네요 ;ㅅ; 그럼 리뷰페이지로 이동할게요!");
        closeVoteBestMemberModal();
        window.location.href = `./groupReviewPage?groupId=${groupDetailInfo.meetingGroupDto.groupId}`;
    }
    else{
        const groupHeadCount = groupDetailInfo.meetingGroupDto.groupHeadCount;
        if(groupHeadCount >= 5){            
            showVoteBestMemberModal();
        }
        else{
            window.location.href = `./groupReviewPage?groupId=${groupId}`;
        }
    }
}

/* 카카오 결제요청 전 OrderInfoDto 생성 */
function registerOrderProcess(){
    const userNickname = sessionUserMeetingProfileDto.profileNickname;
    console.log('userNickname: ', userNickname);
    const groupTitle = groupDetailInfo.meetingGroupDto.groupTitle;
    console.log('groupTitle: ', groupTitle);
    const Amount = groupDetailInfo.meetingGroupDto.groupApplyCharge;
    console.log('Amount: ', Amount);

    const profileId = sessionUserMeetingProfileDto.profileid;
    console.log('profileId: ', profileId);

    const groupId = groupDetailInfo.meetingGroupDto.groupId;
    console.log('groupId: ', groupId);


    const confirmValue = confirm(`미팅그룹 : ${groupTitle}\n결제유저 : ${userNickname}\n결제금액 : ${Amount}\n\n위 내용대로 결제를 진행하시겠습니까?`);
    if(confirmValue){
        fetch("./api/registerOrderProcess?profileId=" + profileId + "&groupId=" + groupId)
        .then(response => response.json())
        .then(response => {
            const orderInfoDto = response.data;
            console.log('orderInfoDto: ', orderInfoDto);
            kakaoPayReady(orderInfoDto);
        });
    }
}

function kakaoPayReady(orderInfoDto){

    const groupApplyCharge = groupDetailInfo.meetingGroupDto.groupApplyCharge;
    
    const kakaoPaymentReqDto = {
        cid : "TC0ONETIME",
        partner_user_id : orderInfoDto.user_id,
        partner_order_id : orderInfoDto.order_id,
        item_code : orderInfoDto.item_id,
        item_name : "MeetingGroup" + groupDetailInfo.meetingGroupDto.groupId,
        quantity : 1,
        total_amount : groupApplyCharge,
        tax_free_amount : groupApplyCharge - (groupApplyCharge/1.1)
    }
    fetch("./api/kakaoPayReady", {
        method : "POST",
        headers : {
            "Content-Type" : "application/json"
        },
        body : JSON.stringify(kakaoPaymentReqDto)
    })
    .then(response => response.json())
    .then(response => {
        const result = response.data;
        console.log('result: ', result);
        
        const reusltConfirm = confirm("통신성공, 이동하시겠습니까?");
        if(reusltConfirm){
            window.location.href = result.next_redirect_pc_url;
        }else{
            return;
        }

    });
}

function makeDetailPage(){
    
    const groupData = groupDetailInfo;
    console.log('groupData: ', groupData);

    const groupTitle = document.getElementById("groupTitle");
    groupTitle.innerText = groupData.meetingGroupDto.groupTitle;

    if(groupData.meetingGroupDto.groupMeetingStatus === "Y"){
        const meetingDoneCol = document.getElementById("meetingDoneCol");
        meetingDoneCol.innerHTML = "";

        const meetingDoneBadge = document.querySelector("#templete #meetingDoneBadge").cloneNode(true);
        meetingDoneCol.appendChild(meetingDoneBadge);

        const reviewButtonRow = document.getElementById("reviewButtonRow");
        reviewButtonRow.classList.remove("d-none");
    }

    const groupLeaderImage = document.getElementById("groupLeaderImage");
    groupLeaderImage.setAttribute("src", `/public/image/meeting/profileImage/${groupData.meetingProfileDto.profileImg}`);

    const groupLeaderNickname = document.getElementById("groupLeaderNickname");
    groupLeaderNickname.innerText = groupData.meetingProfileDto.profileNickname;

    const groupContent = document.getElementById("groupContent");
    groupContent.innerText = groupData.meetingGroupDto.groupContent;

    const applyUserListCount = document.getElementById("applyUserListCount");
    applyUserListCount.innerText = groupData.groupApplyUserCountValue;

    const applyUserListWrapperCol = document.getElementById("applyUserListWrapperCol");
    applyUserListWrapperCol.innerHTML = "";

    for(e of groupData.applyUserMapList){
        const applyUserListRow = document.querySelector("#templete #applyUserListRow").cloneNode(true);
        const applyUserNickname = applyUserListRow.querySelector("#applyUserNickname");
        applyUserNickname.innerText = e.applyUserProfileDto.profileNickname;

        // const applyUserAge = applyUserListRow.querySelector("#applyUserAge");
        // applyUserAge.innerText = e.applyUserInfoDto.birth;

        const applyUserGender = applyUserListRow.querySelector("#applyUserGender");
        const userGender = e.applyUserInfoDto.gender;
        if(userGender === "M"){
            const maleIcon = document.createElement("i");
            maleIcon.setAttribute("class", "fi fi-rr-mars text-primary bi-align-middle");
            applyUserGender.appendChild(maleIcon);
        }
        else{
            const femaleIcon = document.createElement("i");
            femaleIcon.setAttribute("class", "fi fi-rr-venus text-danger bi-align-middle");            
            applyUserGender.appendChild(femaleIcon);
        }

        if(sessionUserMeetingProfileDto.profileid === e.applyUserProfileDto.profileid){
            applyUserListRow.classList.add("fw-bold");
            const meBadge = document.createElement("span");
            meBadge.setAttribute("class", "badge text-bg-warning px-1 ms-1");
            meBadge.innerText = "Me";
            applyUserNickname.appendChild(meBadge);
        }

        applyUserListWrapperCol.appendChild(applyUserListRow);
    }

    const GroupMemberListWrapperCol = document.getElementById("GroupMemberListWrapperCol");
    GroupMemberListWrapperCol.innerHTML = "";

    const curruntGroupMemberCount = document.getElementById("curruntGroupMemberCount");
    curruntGroupMemberCount.innerText = groupData.groupMemberCountValue;

    const maxGroupMemberCount = document.getElementById("maxGroupMemberCount");
    maxGroupMemberCount.innerText = groupData.meetingGroupDto.groupHeadCount;

    for(e of groupData.groupMemberDataList){
        const groupMemberListRow = document.querySelector("#templete #groupMemberListRow").cloneNode(true);
        const groupMemberNickname = groupMemberListRow.querySelector("#groupMemberNickname");
        groupMemberNickname.innerText = e.groupMemberProfileDto.profileNickname;

        const groupMemberGender = groupMemberListRow.querySelector("#groupMemberGender");
        const genderValue = e.groupMemberUserDto.gender;
        if(genderValue === "M"){
            const maleIcon = document.createElement("i");
            maleIcon.setAttribute("class", "fi fi-rr-mars text-primary bi-align-middle");
            groupMemberGender.appendChild(maleIcon);            
        }
        else{
            const femaleIcon = document.createElement("i");
            femaleIcon.setAttribute("class", "fi fi-rr-venus text-danger bi-align-middle");            
            groupMemberGender.appendChild(femaleIcon);            
        }

        if(sessionUserMeetingProfileDto.profileid === e.groupMemberProfileDto.profileid){
            groupMemberListRow.classList.add("fw-bold");
            const meBadge = document.createElement("span");
            meBadge.setAttribute("class", "badge text-bg-warning px-1 ms-1");
            meBadge.innerText = "Me";
            groupMemberNickname.appendChild(meBadge);

            if(groupData.meetingGroupDto.groupApplyStatus === "Y" && e.groupMemberDto.groupMemberPaymentStatus === "N"){
                const kakaoPayButton = groupMemberListRow.querySelector("#kakaoPayButton");
                kakaoPayButton.classList.remove('d-none');
            }
            else if(groupData.meetingGroupDto.groupApplyStatus === "Y" && e.groupMemberDto.groupMemberPaymentStatus === "Y"){
                const paidMember = groupMemberListRow.querySelector("#paidMember");
                paidMember.classList.remove("d-none");
            }
        }
        GroupMemberListWrapperCol.appendChild(groupMemberListRow);
    }

    

}

document.addEventListener("DOMContentLoaded", ()=>{
    makeDetailPage();
});

</script>

<body>
    <div class="container-fluid pt-5 pb-5" style="background-color: #f5ededea;">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto align-self-center px-0">
                                <span class="">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <span class="fs-5 text-secondary"><i class="fi fi-rr-bell bi-align-middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-5">
            <div class="col">

                <div class="row mt-3">
                    <div class="col">
                        <div class="row fs-3">
                            <div class="col-auto" onclick="window.history.back()">
                                <span class=" fs-3"><i class="fi fi-rr-angle-small-left bi-align-middle"></i></span>
                            </div>
                            <div class="col-auto ps-0">
                                <span class="fw-bold">내가 참여중인 미팅</span>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col mx-2 mb-4 border border-black rounded bg-white">
                        
                        <div class="row border-bottom border-black rounded-top justify-content-between" style="background-color: #FF8827;">
                            <div class="col-auto my-1">
                                <span id="groupTitle" class="fs-4 fw-bold text-white"></span>
                            </div>
                            <div id="meetingDoneCol" class="col-auto align-self-center">
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col">
                                <div class="row my-1">
                                    <div class="col-auto">
                                        <div class="userImageBox">
                                            <img id="groupLeaderImage" class="userImage">
                                        </div>
                                    </div>
                                    <div class="col-auto align-self-center px-0">
                                        <span id="groupLeaderNickname" class="fs-5 fw-bold"></span>
                                    </div>
                                    <div class="col align-self-center">
                                        <span>님이 방장이에요 :)</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 mt-3">
                            <div class="col mx-1">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <span><i class="fi fi-rr-comment-dots bi-align-middle"></i></span>
                                        <span class="fw-bold">주최자 Comment</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mx-1 shadowBox border border-black rounded">
                                        <div class="row my-2">
                                            <div class="col">
                                                <span id="groupContent" class=""></span>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>                            
                        </div>

                        <div class="row mb-3 mt-3">
                            <div class="col mx-1">
                                <div class="row">
                                    <div class="col-auto">
                                        <span class="fw-bold">참가신청</span>                                        
                                    </div>
                                    <div class="col-auto ps-0">
                                        <span><i class="fi fi-sr-user bi-ailgn-middle"></i></span>
                                        <span class="text-primary fw-bold" id="applyUserListCount"></span>                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mx-1 shadowBox border border-black rounded">
                                        <div class="row overflow-y-scroll my-2">
                                            <div id="applyUserListWrapperCol" class="col" style="height: 9em;">
                                        
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>

                        <div class="row mb-3 mt-3">
                            <div class="col mx-1">
                                <div class="row">
                                    <div class="col-auto">
                                        <span class="fw-bold">확정멤버</span>
                                    </div>
                                    <div class="col-auto ps-0">
                                        <span><i class="fi fi-sr-user bi-ailgn-middle"></i></span>
                                        <span id="curruntGroupMemberCount" class="text-danger fw-bold"></span>
                                        <span class="fw-bold">/</span>
                                        <span id="maxGroupMemberCount" class="fw-bold"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mx-1 shadowBox border border-black rounded">
                                        <div class="row overflow-y-scroll my-2">
                                            <div id="GroupMemberListWrapperCol" class="col" style="height: 9em;">

                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div id="reviewButtonRow" class="row mt-5 mb-5 d-none">
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-auto btn" role="button" style="background-color: #FF8827;" onclick="showVoteBestMemberModal()">
                                        <span class="fw-bold text-white">Review Page</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around mt-1 text-secondary">
                            <div class="col text-center mx-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-search-heart bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-following bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-comment-alt bi-align-middle"></i></span>                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em; color: #FF8827;"><i class="fi fi-sr-circle-user bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="color: #FF8827;">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>

<!--/* 템플릿 */-->
<div id="templete" class="d-none">

    <div id="voteBestMemberListCol" class="col-auto my-2 mx-2 border border-0 rounded shadowBox" style="background-color: #f5ededea;">
        <div class="row mt-2">            
            <div class="col-auto">
                <div class="row" style="justify-content: center;">
                    <div id="voteBestMemberProfileImageCol" class="col">
                        <div class="userImageBox">
                            <img id="voteBestMemberProfileImage" class="userImage">
                        </div>                
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <span id="voteBestMemberNickname" class="fw-bold" style="font-size: 0.8em;"></span>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row justify-content-center mb-2">
            <div id="voteBestMemberButton" class="col-auto text-center align-self-center btn py-0" style="background-color: #FF8827;">
                <span class="text-white">Pick!</span>
            </div>
        </div>
    </div>

    <div id="applyUserListRow" class="row my-2 py-1">
        <div class="col">
            <div class="row shadowBox mx-2 py-1 listBackground">
                <div class="col-6 align-self-center">
                    <span id="applyUserNickname"></span>
                </div>
                <!-- <div class="col">
                    <span id="applyUserAge"></span>
                </div> -->
                <div class="col-auto align-self-center">
                    <span id="applyUserGender"></span>
                </div>                
            </div>
        </div>
    </div>

    <div id="groupMemberListRow" class="row my-2 py-1">
        <div class="col">
            <div class="row shadowBox mx-2 py-1 listBackground">
                <div class="col-6 align-self-center">
                    <span id="groupMemberNickname"></span>
                </div>
                <!-- <div class="col">
                    <span id="applyUserAge"></span>
                </div> -->
                <div class="col-auto align-self-center">
                    <span id="groupMemberGender"></span>
                </div>
                <div id="kakaoPayButton" class="col d-none text-center btn py-0 align-self-center" onclick="registerOrderProcess()">                    
                    <img src="/public/image/commons/payment_icon_yellow_small.png" class="img-fluid" style="width: 4em; height: auto;">
                </div>
                <div id="paidMember" class="col d-none text-center">
                    <span class="fw-bold text-success">회비납부</span>
                    <span class="fw-bold text-success"><i class="fi fi-rr-check-circle bi-ailgn-middle"></i></span>
                </div>
            </div>
        </div>
    </div>

    <span id="meetingDoneBadge" class="badge fw-bold text-bg-success">미팅완료</span>

</div>

<!--/* 베스트멤버 선발 모달 */-->
<div id="voteBestMemberModal" class="customModal" tabindex="-1">
    <div id="voteBestMemberModalDialog" class="modal-dialog border border-0 rounded modalDialogCentered">
        <div class="modal-content container-fluid rounded-2">
            <div class="row modal-header justify-content-between border-bottom rounded-top-2" style="background-color: #FF8827;">
                <div class="col">
                    <div class="row my-2">
                        <div class="col text-center">
                            <span class="fw-bold fs-4 text-white"><i class="fi fi-sr-trophy-star bi-align-center"></i></span>
                            <span id="" class="modal-title fw-bold fs-4 text-white"> 베스트 멤버 Award </span>
                            <span class="fw-bold fs-4 text-white"><i class="fi fi-sr-trophy-star bi-align-center"></i></span>
                        </div>                    
                        <!-- <div class="col-auto">
                            <button type="button" onclick="closeVoteBestMemberModal()" class="btn btn-close"></button>                            
                        </div>                 -->
                    </div>                    
                </div>                
            </div>

            <div class="row modal-body mt-2 border-bottom">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center">
                                    <span style="font-size: 0.9em;">멤버가 <span class="fw-bold">5명</span> 이상인 미팅은</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <span class="text-warning"><i class="fi fi-sr-star bi-align-center"></i></span>
                                    <span class="fw-bold">베스트 멤버</span>
                                    <span class="text-warning"><i class="fi fi-sr-star bi-align-center"></i></span>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <span style="font-size: 0.9em;">투표를 할 수 있어요.</span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col text-center">
                                    <span style="font-size: 0.9em;">이번 미팅의 베스트 멤버를 선택해보세요!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-3">
                        <div class="col">
                            <div id="voteBestMemberListWrapperRow" class="row justify-content-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row modal-footer">
                <div class="col">
                    <div class="row">                        
                        <div class="col btn" role="button" onclick="moveGroupReviewPage()">
                            <div class="row mt-2 mb-2">                         
                                <div class="col text-center">
                                    <span class="text-danger">난 성격에 문제있어서</span>
                                </div>
                            </div>
                            <div class="row"                    >
                                <div class="col text-center">                                    
                                    <span class="text-danger">아무도 뽑고싶지 않아요</span>
                                    <span class="text-danger"><i class="fi fi-rr-face-expressionless bi-align-center"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>