<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>내가 참여중인 미팅</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <script src="/public/js/lockLikeMobile.js"></script>

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;
    }

    .shadowBox{        
        border: 1px solid black;        
        box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.1);
    }

    /* 하단 footer 애니메이션을 위한 코드 */
    #secondLine, #thirdLine {
        transition: opacity 1s;
    }

    #signal, #bnb, #mission, #circle, #home{
        transition: all 0.5s;
        opacity: 0;
    }

    #signal.clicked, #bnb.clicked, #mission.clicked, #circle.clicked, #home.clicked {
        opacity: 1;
    }

    .footer .fi {
        background: linear-gradient(to bottom, #ff4a1d, #ff882c, #ffa939); /* 그라데이션 색상 설정 */
        -webkit-background-clip: text; /* 텍스트에만 배경 적용 (WebKit 브라우저를 위한 프리픽스) */
        background-clip: text; /* 텍스트에만 배경 적용 */
        color: transparent; /* 텍스트 색상을 투명하게 설정하여 텍스트가 보이지 않게 함 */
    }
    </style>
</head>
<script th:inline="javascript">
let meetingProfileInfo = [[${session.meetingProfileInfo}]]
console.log('meetingProfileInfo: ', meetingProfileInfo, typeof meetingProfileInfo);

window.addEventListener("DOMContentLoaded", () => {
    let ufufClicked = false; // ufuf 버튼이 클릭되었는지 여부를 나타내는 플래그

    document.getElementById("ufuf").addEventListener("click", function() {
        const container = document.querySelector(".footer");

        if (!ufufClicked) { // ufuf 버튼이 한번도 클릭되지 않았을 때
            // 변경된 스타일 적용
            container.style.boxShadow = "rgba(0,0,0,0.75) 0 0 0 9999px";
            container.style.zIndex = "250";
            container.style.transition = "all 0.2s";

            document.getElementById("home").classList.remove("d-none");
            document.getElementById("secondLine").classList.remove("d-none");
            document.getElementById("thirdLine").classList.remove("d-none");

            setTimeout(() => {
                document.getElementById("home").classList.add("clicked");
            }, 250);

            setTimeout(() => {
                document.getElementById("secondLine").classList.add("clicked");
                setTimeout(() => {
                    document.getElementById("mission").classList.add("clicked");
                }, 100);
                setTimeout(() => {
                    document.getElementById("circle").classList.add("clicked");
                }, 200);

            }, 90);

            setTimeout(() => {

                document.getElementById("thirdLine").classList.add("clicked");

                setTimeout(() => {
                    document.getElementById("signal").classList.add("clicked");
                }, 50);
                setTimeout(() => {
                    document.getElementById("bnb").classList.add("clicked");
                }, 250);

            }, 90);
        } else { // ufuf 버튼이 이미 클릭되어 있을 때
            // 변경 취소
            container.style.boxShadow = "none";
            container.style.zIndex = "300";
            container.style.transition = "none";
            

            document.getElementById("home").classList.add("d-none");
            document.getElementById("secondLine").classList.add("d-none");
            document.getElementById("thirdLine").classList.add("d-none");
            document.getElementById("home").classList.remove("clicked");
            document.getElementById("secondLine").classList.remove("clicked");
            document.getElementById("thirdLine").classList.remove("clicked");
            document.getElementById("mission").classList.remove("clicked");
            document.getElementById("circle").classList.remove("clicked");
            document.getElementById("signal").classList.remove("clicked");
            document.getElementById("bnb").classList.remove("clicked");
        }
        ufufClicked = !ufufClicked; // ufufClicked 플래그 업데이트
    });
});

let memberedGroupCountValue = 0;
let notMemberedGroupCountValue = 0;

function dateConverter(dateTimedata, option){
    const array = new Date(...dateTimedata);
    const convertDate = Intl.DateTimeFormat('ko-KR', option).format(array);
    return convertDate;
}

// 현재 URL주소에 사용된 파라매터값 가져와서 사용하기 예제
function test(){
    const currentURL = new URL(window.location.href);
    console.log('currentURL: ', currentURL);

    // URLSearchParams 객체 생성
    const urlParams = currentURL.searchParams;
    console.log('urlParams: ', urlParams);

    // 특정 파라미터 값 가져오기
    let parameterValue = urlParams.get('profileId');
    console.log('parameterValue: ', parameterValue);

    const testbutton = document.getElementById("testbutton");
    testbutton.innerText = parameterValue;
}

function moveDetailPage(target){
    const groupId = target.getAttribute("groupId");
    console.log('groupId: ', groupId);

    window.location.href="./myApplyGroupDetailPage?groupId=" + groupId;
}

function getMyApplyGroupData(){
    const profileId = meetingProfileInfo.profileid;
    console.log('profileId: ', profileId);    
    
    // 함수의 리턴값으로 AJAX의 response.data를 리턴한 구조. 해당 함수를 
    return fetch("./api/getMyApplyGroupData?profileId=" + profileId)
    .then(response => response.json())
    .then(response => {
        const resultData = response.data;
        console.log('resultData: ', resultData);
        return resultData;
    });
}

function setApplyDataList(){    
    getMyApplyGroupData()        
    .then(response => {
        const userApplyDataList = response;
        console.log('userApplyDataList: ', userApplyDataList);

        const memberedGroupCount = document.getElementById("memberedGroupCount");
        memberedGroupCount.innerText = memberedGroupCountValue;

        const notMemberedGroupCount = document.getElementById("notMemberedGroupCount");
        notMemberedGroupCount.innerText = notMemberedGroupCountValue;

        const memberedGroupListWrapperCol = document.getElementById("memberedGroupListWrapperCol");
        memberedGroupListWrapperCol.innerHTML = "";

        const notMemberedGroupListWrapperCol = document.getElementById("notMemberedGroupListWrapperCol");
        notMemberedGroupListWrapperCol.innerHTML = "";

        for(e of userApplyDataList){
            if(e.applyUserDto.applyStatus === "Y"){
                memberedGroupCountValue++;
                console.log('memberedGroupCountValue: ', memberedGroupCountValue);
                memberedGroupCount.innerText = memberedGroupCountValue;
                
                const memberedGroupListRow = document.querySelector("#templete #memberedGroupListRow").cloneNode(true);
                memberedGroupListRow.setAttribute("groupId", e.applyGroupDto.groupId);

                const memberedGroupImage = memberedGroupListRow.querySelector("#memberedGroupImage");
                memberedGroupImage.setAttribute("src", `/uploadFiles/ufuf/meeting/groupImage/${e.applyGroupDto.groupImage}`);

                const memberedGroupTitle = memberedGroupListRow.querySelector("#memberedGroupTitle");
                memberedGroupTitle.innerText = e.applyGroupDto.groupTitle;

                const memberedGroupMeetingdate = memberedGroupListRow.querySelector("#memberedGroupMeetingdate");
                const dateValue = e.applyGroupDto.groupMeetingDate;
                const array = new Date(dateValue[0], dateValue[1] - 1, dateValue[2]);                
                const dateOption = {
                    year : 'numeric',
                    month : 'long',
                    day : 'numeric',
                    // hour : 'numeric',
                    // minute : '2-digit',
                    weekday : 'short'
                    }
                const convertDate = Intl.DateTimeFormat('ko-KR', dateOption).format(array);
                memberedGroupMeetingdate.innerText = convertDate;

                const memberedGroupMeetingPlace = memberedGroupListRow.querySelector("#memberedGroupMeetingPlace");
                memberedGroupMeetingPlace.innerText = e.applyGroupDto.groupMeetingPlace;
                
                const memberedGroupMeetingStatus = memberedGroupListRow.querySelector("#memberedGroupMeetingStatus");
                if(e.applyGroupDto.groupMeetingStatus === "Y"){
                    memberedGroupMeetingStatus.classList.add("text-bg-warning");
                    memberedGroupMeetingStatus.innerText = "미팅종료";
                }
                else{
                    const statusValue = e.applyGroupDto.groupApplyStatus;
                    if(statusValue === "Y"){
                        memberedGroupMeetingStatus.classList.add("text-bg-danger");
                        memberedGroupMeetingStatus.innerText = "모집종료";
                    }
                    else{
                        memberedGroupMeetingStatus.classList.add("text-bg-success");
                        memberedGroupMeetingStatus.innerText = "모집중";
                    }
                }
                memberedGroupListWrapperCol.appendChild(memberedGroupListRow);                                
            }
            else{
                notMemberedGroupCountValue++
                console.log('notMemberedGroupCountValue: ', notMemberedGroupCountValue);
                notMemberedGroupCount.innerText = notMemberedGroupCountValue;

                const notMemberedGroupListRow = document.querySelector("#templete #notMemberedGroupListRow").cloneNode(true);
                notMemberedGroupListRow.setAttribute("groupId", e.applyGroupDto.groupId);
            
                const notMemberedGroupImage = notMemberedGroupListRow.querySelector("#notMemberedGroupImage");
                notMemberedGroupImage.setAttribute("src", `/uploadFiles/ufuf/meeting/groupImage/${e.applyGroupDto.groupImage}`);

                const notMemberedGroupTitle = notMemberedGroupListRow.querySelector("#notMemberedGroupTitle");
                notMemberedGroupTitle.innerText = e.applyGroupDto.groupTitle;

                const notMemberedGroupMeetingDate = notMemberedGroupListRow.querySelector("#notMemberedGroupMeetingDate");
                const meetingDateValue = e.applyGroupDto.groupMeetingDate;
                notMemberedGroupMeetingDate.innerText = meetingDateValue[0]+"년 "+meetingDateValue[1]+"월 "+meetingDateValue[2]+"일 "+meetingDateValue[3]+"시";

                const notMemberedGroupMeetingPlace = notMemberedGroupListRow.querySelector("#notMemberedGroupMeetingPlace");
                notMemberedGroupMeetingPlace.innerText = e.applyGroupDto.groupMeetingPlace;

                const notMemberedGroupMeetingStatus = notMemberedGroupListRow.querySelector("#notMemberedGroupMeetingStatus");
                if(e.applyGroupDto.groupMeetingStatus === "Y"){
                    notMemberedGroupMeetingStatus.setAttribute("class", "fw-bold badge text-bg-warning");
                    notMemberedGroupMeetingStatus.innerText = "미팅종료";
                }
                else{
                    const applyStatusValue = e.applyGroupDto.groupApplyStatus;
                    if(applyStatusValue === "Y"){
                        notMemberedGroupMeetingStatus.setAttribute("class", "fw-bold badge text-bg-danger");
                        notMemberedGroupMeetingStatus.innerText = "모집종료";
                    }
                    else{
                        notMemberedGroupMeetingStatus.setAttribute("class", "fw-bold badge text-bg-success");                    
                        notMemberedGroupMeetingStatus.innerText = "모집중";
                    }
                }
                notMemberedGroupListWrapperCol.appendChild(notMemberedGroupListRow);
            }
        }
        if(memberedGroupCountValue === 0){
            const notExistMemberedGroupMessage = document.querySelector("#templete .notExistMemberedGroupMessage").cloneNode(true);
            memberedGroupListWrapperCol.appendChild(notExistMemberedGroupMessage);
        }
        
        if(notMemberedGroupCountValue === 0){
            const notExistApplyGroupMessage = document.querySelector("#templete .notExistApplyGroupMessage").cloneNode(true);
            notMemberedGroupListWrapperCol.appendChild(notExistApplyGroupMessage);
        }
    });
}

document.addEventListener("DOMContentLoaded", ()=>{    
    
    setApplyDataList();


});

</script>

<body>
    <div class="container-fluid pt-5 pb-5" style="background-color: #f5ededea;">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto align-self-center px-0">
                                <span class="">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <span class="fs-5 text-secondary"><i class="fi fi-rr-bell bi-align-middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">

                <div class="row mt-3">
                    <div class="col">
                        <div class="row fs-3">
                            <div class="col-auto" onclick="window.history.back()">
                                <span class=" fs-3"><i class="fi fi-rr-angle-small-left bi-align-middle"></i></span>
                            </div>
                            <div class="col ps-0">
                                <span class="fw-bold">내가 참여중인 미팅 목록</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">

                        <div class="row">
                            <div class="col mx-1">

                                <div class="row">
                                    <div class="col">
                                        <span class="fs-5 fw-bold">
                                            선발멤버인 미팅
                                            <span id="memberedGroupCount"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div id="memberedGroupListWrapperCol" class="col">
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="row mt-5 mb-4">
                            <div class="col mx-1">
                                <div class="row">
                                    <div class="col">
                                        <span class="fs-5 fw-bold">
                                            선발대기중 미팅
                                            <span id="notMemberedGroupCount"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div id="notMemberedGroupListWrapperCol" class="col">
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white footer" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around mt-1 text-secondary">
                            <div class="col text-center mx-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-search-heart bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-following bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div id="ufuf" class="col text-center mx-1">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-comment-alt bi-align-middle"></i></span>                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em; color: #FF8827;"><i class="fi fi-sr-circle-user bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="color: #FF8827;">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>            
        </div>
    </div>

<!--/* footer요소 */-->
<div class="footer">
    <div id="home" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 8em; width: 100%; margin: auto; z-index: 9999;">
        <div class="col text-center px-0 ">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../commons/mainPage'">
                        <i class="fi fi-rr-house-chimney align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    홈
                </div>
            </div>
        </div>
    </div>
    
    <div id="secondLine" class="row d-flex justify-content-center d-none" style="margin: auto; position: fixed; bottom: 6.8em; width: 100%; z-index: 9999;">
        <div id="mission" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../mission/map'">
                        <i class="fi fi-rr-map-marker align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니미션
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 2.8em;" onclick="window.location.href='../commons/mainPage'"></div>
        <div id="circle" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../circle/circleMainPage'">
                        <i class="fi fi-rr-meeting align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니써클
                </div>
            </div>
        </div>
    </div>
    
    <div id="thirdLine" class="row d-flex justify-content-center d-none" style="margin: auto; position: fixed; bottom: 4.3em; width: 100%; z-index: 9999;">
        <div id="signal" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../meeting/mainPage'">
                        <i class="fi fi-rr-comment-heart align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니시그널
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 6.1rem;"></div>
        <div id="bnb" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../room/roomMainPage'">
                        <i class="fi fi-rr-bed-alt align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니비앤비
                </div>
            </div>
        </div>
    </div>
</div>


<!--/* 템플릿 */-->
<div id="templete" class="d-none">

    <div id="memberedGroupListRow" class="row my-2 border border-2 border-secondery-subtle rounded shadowBox bg-white" onclick="moveDetailPage(this)">
        <div class="col my-1 mx-1">
            <div class="row my-1">
                <div class="col-auto ps-0 ms-1 align-self-center">
                    <img id="memberedGroupImage" style="width: 6em; aspect-ratio: 1/1; border-radius: 10%;">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-auto px-0 align-self-center">
                            <span id="memberedGroupMeetingStatus" class="fw-bold badge"></span>
                        </div>                        
                    </div>
                    <div class="row border-bottom pb-1 pe-0 mt-1">
                        <div class="col-auto align-self-center">
                            <div class="row">
                                <div class="col px-0 align-self-center text-truncate">
                                    <span id="memberedGroupTitle" class="fw-bold"></span>
                                </div>
                            </div>                                
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-auto ps-0 align-self-center">
                            <span class="text-secondary" style="font-size: 0.8em;"><i class="fi fi-rr-calendar-lines bi-align-middle"></i></span>
                            <span id="memberedGroupMeetingdate" class="text-secondary" style="font-size: 0.8em;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto ps-0">
                            <span class="text-secondary" style="font-size: 0.8em;"><i class="fi fi-rr-map-marker bi-align-middle"></i></span>
                            <span id="memberedGroupMeetingPlace" class="text-secondary" style="font-size: 0.8em;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="notMemberedGroupListRow" class="row my-2 border border-2 border-secondery-subtle rounded shadowBox bg-white" onclick="moveDetailPage(this)">
        <div class="col my-1 mx-1">
            <div class="row my-1">
                <div class="col-auto ps-0 ms-1 align-self-center">
                    <img id="notMemberedGroupImage" style="width: 6em; aspect-ratio:1/1; border-radius: 10%;" >
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-auto px-0 align-self-center">
                            <span id="notMemberedGroupMeetingStatus"></span>
                        </div>
                    </div>
                    <div class="row border-bottom pb-1 mt-1">
                        <div class="col-auto align-self-center">
                            <div class="row">
                                <div class="col px-0 align-self-center text-truncate">
                                    <span id="notMemberedGroupTitle" class="fw-bold"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto ps-0 align-self-center">
                            <span class="text-secondary" style="font-size: 0.8em;"><i class="fi fi-rr-calendar-lines bi-align-middle"></i></span>
                            <span id="notMemberedGroupMeetingDate" class="text-secondary" style="font-size: 0.8em;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto ps-0">
                            <span class="text-secondary" style="font-size: 0.8em;"><i class="fi fi-rr-map-marker bi-align-middle"></i></span>
                            <span id="notMemberedGroupMeetingPlace" class="text-secondary" style="font-size: 0.8em;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <div class="row notExistApplyGroupMessage my-2 mx-2 border border-2 border-secondery-subtle rounded shadowBox bg-white">
        <div class="col text-center">
            <div class="row mt-3">
                <div class="col text-center">
                    <span class="fw-bold text-secondary text-opacity-50" style="font-size: 6em;"><i class="fi fi-rr-comment-alt-dots bi-align-middle"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold text-secondary text-opacity-50">아직 참여중인 미팅그룹이 없어요.</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <span class=" fw-bold text-secondary text-opacity-50">'Find' 메뉴에서 찾아볼까요? (총총..</span>
                    <span class=" fw-bold text-secondary text-opacity-50"><i class="fi fi-rr-walking bi-align-middle"></i>)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row notExistMemberedGroupMessage my-2 mx-2 border border-2 border-secondery-subtle rounded shadowBox bg-white">
        <div class="col text-center">
            <div class="row mt-3">
                <div class="col text-center">
                    <span class="fw-bold text-secondary text-opacity-50" style="font-size: 6em;"><i class="fi fi-rr-comment-alt-dots bi-align-middle"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold text-secondary text-opacity-50">아직 선발된 미팅그룹이 없어요.</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <span class=" fw-bold text-secondary text-opacity-50">가입신청서에 조금 더 어필해볼까요?</span>
                    <span class=" fw-bold text-secondary text-opacity-50"><i class="fi fi-rr-wishlist-heart bi-align-middle"></i></span>
                </div>
            </div>
        </div>
    </div>



</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>