<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>내가 참여중인 미팅그룹</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">    
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;
    }

    .userImageBox{
        width: 4em;
        height: 4em; 
        border-radius: 70%;
        overflow: hidden;
    }

    .userImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .shadowBox{        
        border: 1px solid black;        
        box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.1);
    }

    .listBackground{
        border: 0;
        border-radius: 10%;
        background-color: cornsilk;
    }

    .custom-border-color{
        border-color: #FF8827 !important;
    }

    .custom-input:focus{
        border-color: #FF8827;
        box-shadow: 0 0 10px #FF8827;
    }
    </style>
</head>
<script th:inline="javascript">
let groupDetailInfo = /*[[${groupDetailInfo}]]*/
let sessionUserMeetingProfileDto = /*[[${session.meetingProfileDto}]]*/

console.log('groupDetailInfo: ', groupDetailInfo);
console.log('sessionUserMeetingProfileDto: ', sessionUserMeetingProfileDto);

function moveToReviewPage(){
    const groupId = groupDetailInfo.meetingGroupDto.groupId;
    window.location.href = "./groupReviewPage?groupId=" + groupId;
}

/* 카카오 결제요청 전 OrderInfoDto 생성 */
function registerOrderProcess(){
    const userNickname = sessionUserMeetingProfileDto.profileNickname;
    console.log('userNickname: ', userNickname);
    const groupTitle = groupDetailInfo.meetingGroupDto.groupTitle;
    console.log('groupTitle: ', groupTitle);
    const Amount = groupDetailInfo.meetingGroupDto.groupApplyCharge;
    console.log('Amount: ', Amount);

    const profileId = sessionUserMeetingProfileDto.profileid;
    console.log('profileId: ', profileId);

    const groupId = groupDetailInfo.meetingGroupDto.groupId;
    console.log('groupId: ', groupId);


    const confirmValue = confirm(`미팅그룹 : ${groupTitle}\n결제유저 : ${userNickname}\n결제금액 : ${Amount}\n\n위 내용대로 결제를 진행하시겠습니까?`);
    if(confirmValue){
        fetch("./api/registerOrderProcess?profileId=" + profileId + "&groupId=" + groupId)
        .then(response => response.json())
        .then(response => {
            const orderInfoDto = response.data;
            console.log('orderInfoDto: ', orderInfoDto);
            kakaoPayReady(orderInfoDto);
        });
    }
}

function kakaoPayReady(orderInfoDto){

    const groupApplyCharge = groupDetailInfo.meetingGroupDto.groupApplyCharge;
    
    const kakaoPaymentReqDto = {
        cid : "TC0ONETIME",
        partner_user_id : orderInfoDto.user_id,
        partner_order_id : orderInfoDto.order_id,
        item_code : orderInfoDto.item_id,
        item_name : "MeetingGroup" + groupDetailInfo.meetingGroupDto.groupId,
        quantity : 1,
        total_amount : groupApplyCharge,
        tax_free_amount : groupApplyCharge - (groupApplyCharge/1.1)
    }
    fetch("./api/kakaoPayReady", {
        method : "POST",
        headers : {
            "Content-Type" : "application/json"
        },
        body : JSON.stringify(kakaoPaymentReqDto)
    })
    .then(response => response.json())
    .then(response => {
        const result = response.data;
        console.log('result: ', result);
        
        const reusltConfirm = confirm("통신성공, 이동하시겠습니까?");
        if(reusltConfirm){
            window.location.href = result.next_redirect_pc_url;
        }else{
            return;
        }

    });
}

function makeDetailPage(){
    
    const groupData = groupDetailInfo;
    console.log('groupData: ', groupData);

    const groupTitle = document.getElementById("groupTitle");
    groupTitle.innerText = groupData.meetingGroupDto.groupTitle;

    if(groupData.meetingGroupDto.groupMeetingStatus === "Y"){
        const meetingDoneCol = document.getElementById("meetingDoneCol");
        meetingDoneCol.innerHTML = "";

        const meetingDoneBadge = document.querySelector("#templete #meetingDoneBadge").cloneNode(true);
        meetingDoneCol.appendChild(meetingDoneBadge);
    }

    const groupLeaderImage = document.getElementById("groupLeaderImage");
    groupLeaderImage.setAttribute("src", `/public/image/meeting/profileImage/${groupData.meetingProfileDto.profileImg}`);

    const groupLeaderNickname = document.getElementById("groupLeaderNickname");
    groupLeaderNickname.innerText = groupData.meetingProfileDto.profileNickname;

    const groupContent = document.getElementById("groupContent");
    groupContent.innerText = groupData.meetingGroupDto.groupContent;

    const applyUserListCount = document.getElementById("applyUserListCount");
    applyUserListCount.innerText = groupData.groupApplyUserCountValue;

    const applyUserListWrapperCol = document.getElementById("applyUserListWrapperCol");
    applyUserListWrapperCol.innerHTML = "";

    for(e of groupData.applyUserMapList){
        const applyUserListRow = document.querySelector("#templete #applyUserListRow").cloneNode(true);
        const applyUserNickname = applyUserListRow.querySelector("#applyUserNickname");
        applyUserNickname.innerText = e.applyUserProfileDto.profileNickname;

        // const applyUserAge = applyUserListRow.querySelector("#applyUserAge");
        // applyUserAge.innerText = e.applyUserInfoDto.birth;

        const applyUserGender = applyUserListRow.querySelector("#applyUserGender");
        const userGender = e.applyUserInfoDto.gender;
        if(userGender === "M"){
            const maleIcon = document.createElement("i");
            maleIcon.setAttribute("class", "bi bi-gender-male text-primary");
            applyUserGender.appendChild(maleIcon);
        }
        else{
            const femaleIcon = document.createElement("i");
            femaleIcon.setAttribute("class", "bi bi-gender-female text-danger");            
            applyUserGender.appendChild(femaleIcon);
        }

        if(sessionUserMeetingProfileDto.profileid === e.applyUserProfileDto.profileid){
            applyUserListRow.classList.add("fw-bold");
            const meBadge = document.createElement("span");
            meBadge.setAttribute("class", "badge text-bg-warning px-1 ms-1");
            meBadge.innerText = "Me";
            applyUserNickname.appendChild(meBadge);
        }

        applyUserListWrapperCol.appendChild(applyUserListRow);
    }

    const GroupMemberListWrapperCol = document.getElementById("GroupMemberListWrapperCol");
    GroupMemberListWrapperCol.innerHTML = "";

    const curruntGroupMemberCount = document.getElementById("curruntGroupMemberCount");
    curruntGroupMemberCount.innerText = groupData.groupMemberCountValue;

    const maxGroupMemberCount = document.getElementById("maxGroupMemberCount");
    maxGroupMemberCount.innerText = groupData.meetingGroupDto.groupHeadCount;

    for(e of groupData.groupMemberDataList){
        const groupMemberListRow = document.querySelector("#templete #groupMemberListRow").cloneNode(true);
        const groupMemberNickname = groupMemberListRow.querySelector("#groupMemberNickname");
        groupMemberNickname.innerText = e.groupMemberProfileDto.profileNickname;

        const groupMemberGender = groupMemberListRow.querySelector("#groupMemberGender");
        const genderValue = e.groupMemberUserDto.gender;
        if(genderValue === "M"){
            const maleIcon = document.createElement("i");
            maleIcon.setAttribute("class", "bi bi-gender-male text-primary");
            groupMemberGender.appendChild(maleIcon);            
        }
        else{
            const femaleIcon = document.createElement("i");
            femaleIcon.setAttribute("class", "bi bi-gender-female text-danger");            
            groupMemberGender.appendChild(femaleIcon);            
        }

        if(sessionUserMeetingProfileDto.profileid === e.groupMemberProfileDto.profileid){
            groupMemberListRow.classList.add("fw-bold");
            const meBadge = document.createElement("span");
            meBadge.setAttribute("class", "badge text-bg-warning px-1 ms-1");
            meBadge.innerText = "Me";
            groupMemberNickname.appendChild(meBadge);

            if(groupData.meetingGroupDto.groupApplyStatus === "Y" && e.groupMemberDto.groupMemberPaymentStatus === "N"){
                const kakaoPayButton = groupMemberListRow.querySelector("#kakaoPayButton");
                kakaoPayButton.classList.remove('d-none');
            }
            else if(groupData.meetingGroupDto.groupApplyStatus === "Y" && e.groupMemberDto.groupMemberPaymentStatus === "Y"){
                const paidMember = groupMemberListRow.querySelector("#paidMember");
                paidMember.classList.remove("d-none");
            }
        }
        GroupMemberListWrapperCol.appendChild(groupMemberListRow);
    }

    

}

document.addEventListener("DOMContentLoaded", ()=>{
    makeDetailPage();
});

</script>

<body class="pt-5 pb-5">
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto px-0">
                                <span class="fw-bold fs-2 align-middle">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <i class="bi bi-bell fs-5 text-secondary"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">

                <div class="row mt-3">
                    <div class="col">
                        <div class="row fs-3">
                            <div class="col-auto" onclick="window.history.back()">
                                <span><i class="bi bi-chevron-left"></i></span>                                
                            </div>
                            <div class="col-auto ps-0">
                                <span class="fw-bold">내가 참여중인 미팅</span>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col mx-2 border border-black rounded">
                        
                        <div class="row border-bottom border-black rounded-top justify-content-between" style="background-color: #FF8827;">
                            <div class="col-auto my-1">
                                <span id="groupTitle" class="fs-4 fw-bold text-white"></span>
                            </div>
                            <div id="meetingDoneCol" class="col-auto align-self-center">
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col">
                                <div class="row my-1">
                                    <div class="col-auto">
                                        <div class="userImageBox">
                                            <img id="groupLeaderImage" class="userImage">
                                        </div>
                                    </div>
                                    <div class="col-auto align-self-center px-0">
                                        <span id="groupLeaderNickname" class="fs-5 fw-bold"></span>
                                    </div>
                                    <div class="col align-self-center">
                                        <span>님이 방장이에요 :)</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 mt-3">
                            <div class="col mx-1">
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold fs-5">방장 Comment</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mx-1 shadowBox border border-black rounded">
                                        <div class="row my-1">
                                            <div class="col">
                                                <span id="groupContent" class=""></span>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>                            
                        </div>

                        <div class="row mb-3 mt-3">
                            <div class="col mx-1">
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold fs-5">참가신청List</span>
                                        <span class="fs-6">
                                            (<span id="applyUserListCount"></span>명)
                                        </span>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mx-1 shadowBox border border-black rounded">
                                        <div class="row overflow-y-scroll my-2">
                                            <div id="applyUserListWrapperCol" class="col" style="height: 9em;">
                                        
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>

                        <div class="row mb-3 mt-3">
                            <div class="col mx-1">
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold fs-5">확정멤버List</span>
                                        <span>
                                            (
                                            <span id="curruntGroupMemberCount" class="text-danger fw-bold"></span>
                                            /
                                            <span id="maxGroupMemberCount" class="fw-bold"></span>
                                            )
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mx-1 shadowBox border border-black rounded">
                                        <div class="row overflow-y-scroll my-2">
                                            <div id="GroupMemberListWrapperCol" class="col" style="height: 9em;">

                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="row mt-5 mb-5">
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-4 btn" role="button" style="background-color: #FF8827;" onclick="moveToReviewPage()">
                                        <span class="fw-bold text-white">리뷰 남기기</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around">
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/find.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/makeGroup.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/chat.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/myPage.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>

<!--/* 템플릿 */-->
<div id="templete" class="d-none">

    <div id="applyUserListRow" class="row my-2 py-1">
        <div class="col">
            <div class="row shadowBox mx-2 py-1 listBackground">
                <div class="col-6 align-self-center">
                    <span id="applyUserNickname"></span>
                </div>
                <!-- <div class="col">
                    <span id="applyUserAge"></span>
                </div> -->
                <div class="col-auto">
                    <span id="applyUserGender"></span>
                </div>                
            </div>
        </div>
    </div>

    <div id="groupMemberListRow" class="row my-2 py-1">
        <div class="col">
            <div class="row shadowBox mx-2 py-1 listBackground">
                <div class="col-6">
                    <span id="groupMemberNickname"></span>
                </div>
                <!-- <div class="col">
                    <span id="applyUserAge"></span>
                </div> -->
                <div class="col-auto">
                    <span id="groupMemberGender"></span>
                </div>
                <div id="kakaoPayButton" class="col d-none text-center btn py-0" onclick="registerOrderProcess()">
                    <span>회비 결제</span>
                    <img src="/public/image/commons/payment_icon_yellow_small.png" class="img-fluid " style="width: 40%; height: 90%;">
                </div>
                <div id="paidMember" class="col d-none text-center">
                    <span class="fw-bold text-success">회비납부함!</span>
                </div>
            </div>
        </div>
    </div>

    <span id="meetingDoneBadge" class="badge fw-bold text-bg-success">미팅완료</span>


</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>