<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>내가 참여중인 미팅</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Italianno&family=Square+Peg&family=Tangerine:wght@700&display=swap" rel="stylesheet">

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        font-family: 'Noto Sans KR', sans-serif;        
    }

    * .titleWord{
        font-family: 'Carattere', cursive;
        /* font-family: 'Italianno', cursive; */
        /* font-family: 'Square Peg', cursive; */
        /* font-family: 'Tangerine', cursive; */
    }
    </style>
</head>
<script th:inline="javascript">
let meetingProfileInfo = /*[[${session.meetingProfileInfo}]]*/;
console.log('meetingProfileInfo: ', meetingProfileInfo, typeof meetingProfileInfo);

let memberedGroupCountValue = 0;
let notMemberedGroupCountValue = 0;

// 현재 URL주소에 사용된 파라매터값 가져와서 사용하기 예제
function test(){
    const currentURL = new URL(window.location.href);
    console.log('currentURL: ', currentURL);

    // URLSearchParams 객체 생성
    const urlParams = currentURL.searchParams;
    console.log('urlParams: ', urlParams);

    // 특정 파라미터 값 가져오기
    let parameterValue = urlParams.get('profileId');
    console.log('parameterValue: ', parameterValue);

    const testbutton = document.getElementById("testbutton");
    testbutton.innerText = parameterValue;
}

function moveDetailPage(target){
    const groupId = target.getAttribute("groupId");
    console.log('groupId: ', groupId);

    window.location.href="./myApplyGroupDetailPage?groupId=" + groupId;
}

function getMyApplyGroupData(){
    const profileId = meetingProfileInfo.profileid;
    console.log('profileId: ', profileId);    
    
    return fetch("./api/getMyApplyGroupData?profileId=" + profileId)
    .then(response => response.json())
    .then(response => {
        const resultData = response.data;
        console.log('resultData: ', resultData);
        return resultData;
    });
}

function setApplyDataList(){    
    getMyApplyGroupData()        
    .then(response => {
        const userApplyDataList = response;
        console.log('userApplyDataList: ', userApplyDataList);

        const memberedGroupCount = document.getElementById("memberedGroupCount");
        memberedGroupCount.innerText = memberedGroupCountValue;

        const notMemberedGroupCount = document.getElementById("notMemberedGroupCount");
        notMemberedGroupCount.innerText = notMemberedGroupCountValue;

        const memberedGroupListWrapperCol = document.getElementById("memberedGroupListWrapperCol");
        memberedGroupListWrapperCol.innerHTML = "";

        const notMemberedGroupListWrapperCol = document.getElementById("notMemberedGroupListWrapperCol");
        notMemberedGroupListWrapperCol.innerHTML = "";

        for(e of userApplyDataList){
            if(e.applyUserDto.applyStatus === "Y"){
                memberedGroupCountValue++;
                console.log('memberedGroupCountValue: ', memberedGroupCountValue);
                memberedGroupCount.innerText = memberedGroupCountValue;
                
                const memberedGroupListRow = document.querySelector("#templete #memberedGroupListRow").cloneNode(true);
                memberedGroupListRow.setAttribute("groupId", e.applyGroupDto.groupId);

                const memberedGroupImage = memberedGroupListRow.querySelector("#memberedGroupImage");
                memberedGroupImage.setAttribute("src", `/public/image/meeting/groupImage/${e.applyGroupDto.groupImage}`);

                const memberedGroupTitle = memberedGroupListRow.querySelector("#memberedGroupTitle");
                memberedGroupTitle.innerText = e.applyGroupDto.groupTitle;

                memberedGroupListWrapperCol.appendChild(memberedGroupListRow);                                
            }
            else{
                notMemberedGroupCountValue++
                console.log('notMemberedGroupCountValue: ', notMemberedGroupCountValue);
                notMemberedGroupCount.innerText = notMemberedGroupCountValue;

                const notMemberedGroupListRow = document.querySelector("#templete #notMemberedGroupListRow").cloneNode(true);
                notMemberedGroupListRow.setAttribute("groupId", e.applyGroupDto.groupId);
            
                const notMemberedGroupImage = notMemberedGroupListRow.querySelector("#notMemberedGroupImage");
                notMemberedGroupImage.setAttribute("src", `/public/image/meeting/groupImage/${e.applyGroupDto.groupImage}`);

                const notMemberedGroupTitle = notMemberedGroupListRow.querySelector("#notMemberedGroupTitle");
                notMemberedGroupTitle.innerText = e.applyGroupDto.groupTitle;                
                
                notMemberedGroupListWrapperCol.appendChild(notMemberedGroupListRow);
            }
        }
        if(memberedGroupCountValue === 0){
            const notExistGroupMessage = document.querySelector("#templete .notExistGroupMessage").cloneNode(true);
            memberedGroupListWrapperCol.appendChild(notExistGroupMessage);
        }
        else if(notMemberedGroupCountValue === 0){
            const notExistGroupMessage = document.querySelector("#templete .notExistGroupMessage").cloneNode(true);
            notMemberedGroupListWrapperCol.appendChild(notExistGroupMessage);
        }
    });
}

document.addEventListener("DOMContentLoaded", ()=>{    
    
    setApplyDataList();


});

</script>

<body class="pt-5 pb-5">
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 justify-content-between">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/sakura.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto px-0">
                                <span class="fw-bold fs-2 align-middle titleWord">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-bell fs-5" style="color: #FF8827;"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">

                <div class="row mt-3">
                    <div class="col">
                        <div class="row fs-3">
                            <div class="col-auto" onclick="window.history.back()">
                                <span><i class="bi bi-chevron-left"></i></span>                                
                            </div>
                            <div class="col">
                                <span class="fw-bold">내가 참여중인 미팅 List</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <span class="fs-4">
                                    선발멤버인 미팅그룹
                                    <span id="memberedGroupCount"></span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mx-1 border border-black rounded">
                                <div class="row">
                                    <div id="memberedGroupListWrapperCol" class="col">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <span class="fs-4">
                                    선발대기중 미팅그룹
                                    <span id="notMemberedGroupCount"></span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mx-1 border border-black rounded">
                                <div class="row">
                                    <div id="notMemberedGroupListWrapperCol" class="col">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary" id="testbutton" onclick="test()">여기입니다</button>
                    </div>
                </div>

            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col mx-1">
                        <div class="row justify-content-around">
                            <div class="col text-center mx-2" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/find.png" class="img-fluid" style="width: 2em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/makeGroup.png" class="img-fluid" style="width: 2em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 3em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/chat.png" class="img-fluid" style="width: 2em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/myPage.png" class="img-fluid" style="width: 2em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>

<!--/* 템플릿 */-->
<div id="templete" class="d-none">

    <div id="memberedGroupListRow" class="row my-2" onclick="moveDetailPage(this)">
        <div class="col">
            <div class="row">
                <div class="col-auto">
                    <img id="memberedGroupImage" style="width: 5em; height: 5em;">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span id="memberedGroupTitle" class="fw-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="memberedGroupRegdate"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="notMemberedGroupListRow" class="row my-2" onclick="moveDetailPage(this)">
        <div class="col">
            <div class="row">
                <div class="col-auto">
                    <img id="notMemberedGroupImage" style="width: 5em; height: 5em;">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span id="notMemberedGroupTitle" class="fw-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="notMemberedGroupRegdate"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row notExistGroupMessage my-2">
        <div class="col text-center">
            <span class="fs-4 fw-bold text-secondary">해당하는 미팅그룹이 없어요 T^T</span>
        </div>
    </div>



</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>