<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>타이틀</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Italianno&family=Square+Peg&family=Tangerine:wght@700&display=swap" rel="stylesheet">

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        font-family: 'Noto Sans KR', sans-serif;        
    }

    * .titleWord{
        font-family: 'Carattere', cursive;
        /* font-family: 'Italianno', cursive; */
        /* font-family: 'Square Peg', cursive; */
        /* font-family: 'Tangerine', cursive; */
    }

    .menuMouseOver{
        transition: background-color 0.4s, color 0.4s;
        background-color : inherit !important;        
    }

    .menuMouseOver:hover{
        background-color: #FF8827 !important;        
    }
    </style>
</head>
<script th:inline="javascript">
let sessionUserInfo = /*[[${session.sessionUserInfo}]]*/;
let userType = /*[[${session.userType}]]*/;
let meetingProfileExist = /*[[${session.meetingProfileExist}]]*/;
let meetingProfileInfo = /*[[${session.meetingProfileInfo}]]*/;
let userSNSDto = /*[[${session.userSNSDto}]]*/;

console.log('sessionUserInfo: ', sessionUserInfo);
console.log('userType: ', userType);
console.log('meetingProfileExist: ', meetingProfileExist);
console.log('meetingProfileInfo: ', meetingProfileInfo);
console.log('userSNSDto: ', userSNSDto);

function changeMenuColor(target){
    console.log('changeMenuColor 실행됨');    
    target.classList.add("menuMouseOver");
}

function restoreMenuColor(target){
    console.log('restoreMenuColor 실행됨');
    target.classList.remove("menuMouseOver");
}

function userProfileCSR(){
    const userSNSUrl = document.getElementById("userSNSUrl");
    userSNSUrl.innerText = userSNSDto.snsURL;

    const userProfileImage = document.getElementById("userProfileImage");
    userProfileImage.setAttribute("src", `/uploadFiles/ufuf/meeting/profileImage/${meetingProfileInfo.profileImg}`);

    const userNickname = document.getElementById("userNickname")
    userNickname.innerText = meetingProfileInfo.profileNickname;

    const userGender = document.getElementById("userGender");
    if(sessionUserInfo.gender === "M"){
        userGender.innerText = "남";
    }
    else{
        userGender.innerText = "여";
    }

    const userUniversity = document.getElementById("userUniversity")
    userUniversity.innerText = sessionUserInfo.university;
    
    const userUniversityDepartment = document.getElementById("userUniversityDepartment")
    userUniversityDepartment.innerText = sessionUserInfo.department;

    const userProfileComment = document.getElementById("userProfileComment")
    userProfileComment.innerText = meetingProfileInfo.profileComment;
}


function moveMyApplyGroup(){
    if(meetingProfileExist === "Y"){
        window.location.href="./myApplyGroupPage?profileId=" + meetingProfileInfo.profileid;
    }
    else{
        const result = confirm("해당 서비스는 미팅 프로필을 만들어야 이용할 수 있어요. 프로필 생성 페이지로 이동할까요?");
        if(result){
            window.location.href = "./registerProfile";            
        }
        else{
            return;
        }
    }
}

function moveMyRecruitGroup(){
    if(meetingProfileExist === "Y"){
        window.location.href="./myRecruitGroupPage?profileId=" + meetingProfileInfo.profileid;
    }
    else{
        const result = confirm("해당 서비스는 미팅 프로필을 만들어야 이용할 수 있어요. 프로필 생성 페이지로 이동할까요?");
        if(result){
            window.location.href = "./registerProfile";            
        }
        else{
            return;
        }
    }
    
}

function checkUserType(){
    if(userType === "user"){
        const sessionUserName = document.getElementById("sessionUserName");
        sessionUserName.innerText = sessionUserInfo.name;        
        const loginUserRow = document.getElementById("loginUserRow");
        loginUserRow.classList.remove("d-none");
    }
    else{
        const sessionUserName = document.getElementById("sessionUserName");
        sessionUserName.innerText = "Guest";
        const guestUserRow = document.getElementById("guestUserRow");
        guestUserRow.classList.remove("d-none");
    }
}

document.addEventListener("DOMContentLoaded", ()=>{

    checkUserType();
    userProfileCSR();
});
</script>
<body class="pt-5 pb-5">
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/sakura.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto px-0">
                                <span class="fw-bold fs-2 align-middle titleWord">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-bell fs-5" style="color: #FF8827;"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="main01" class="row">
            <div class="col">                
                <div class="row">
                    <div class="col">
                        <div class="row mt-4">
                            <div class="col">
                                <div class="row mb-3">
                                    <div class="col">
                                        <span id="sessionUserName" class="fw-bold fs-3"></span>
                                        <span class="fs-5">님의 마이페이지</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="loginUserRow" class="row d-none">
            <div class="col">

                <div class="row">
                    <div class="col mx-1 border border-black rounded">
                        
                        <div class="row border-bottom border-black justify-content-between" style="background-color: #FF8827;">
                            <div class="col-auto align-self-center">
                                <div class="row">
                                    <div class="col">
                                        <span class="fs-5 fw-bold">My Meeting Profile</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="row">
                                    <div class="col-auto btn">
                                        <span class="fw-bold">
                                            <i class="bi bi-gear"></i>
                                            수정
                                        </span>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="profileInnerBody" class="row">
                            <div class="col">

                                <div class="row my-3 mx-1">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-auto ps-0 pe-1 align-self-center">
                                                <span class="fs-5 fw-bold">
                                                    <i class="bi bi-house-heart"></i>
                                                </span>
                                            </div>
                                            <div class="col-auto px-0 align-self-center">                                                
                                                <span class="fw-bold">ufuf.com/</span>
                                            </div>
                                            <div class="col-auto px-0 border-bottom border-2 align-self-center" style="border-color: #FF8827 !important;">
                                                <span id="userSNSUrl" class="fw-bold">유저SNS주소</span>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mx-1">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-6 me-1 border border-black rounded">
                                                <div class="row my-2">
                                                    <div class="col">
                                                        <img id="userProfileImage" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <span id="userNickname" class="fw-bold"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <span id="userGender"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <span id="userUniversity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <span id="userUniversityDepartment"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-3 mx-1">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col ps-0">
                                                <span class="fw-bold">Comment</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col border border-2 rounded" style="border-color: #FF8827 !important;">
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <p id="userProfileComment" style="height: 5em;"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>                

                <div class="row mt-3" ontouchstart="changeMenuColor(this)" ontouchend="restoreMenuColor(this)">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button class="btn fw-bold fs-3" onclick="moveMyRecruitGroup()">내가 모집한 미팅</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button class="btn fw-bold fs-3" onclick="moveMyApplyGroup()">내가 참여한 미팅</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button class="btn fw-bold fs-3">My Signal</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button class="btn fw-bold fs-3">결제 정보</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="guestUserRow" class="row d-none">
            <div class="col">

                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button class="btn fw-bold fs-3" onclick="window.location.href='../login/loginPage'">로그인</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around">
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/find.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/makeGroup.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1 mt-1">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/chat.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/myPage.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>