<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>마이페이지</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <script src="/public/js/lockLikeMobile.js"></script>

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;
    }

    .menuMouseOver{
        transition: background-color 0.4s, color 0.4s;
        background-color : inherit !important;        
    }

    .menuMouseOver:hover{
        background-color: #FF8827 !important;        
    }

    .customModal, .modalDialogCentered {
        /* 트랜지션으로 표시 부드럽게 처리 */
        transition: opacity 0.4s, visibility 0.4s;
        opacity: 0;
        visibility: hidden;
    }

    .customModal {
        /* 아래 CSS 모달 dialog 활성화 시 백그라운드 검게 처리*/
        position: fixed;
        width: 100%;
        height: 100%;        
        background-color: rgba(0, 0, 0, 0.5);
        
        /* 아래 CSS 모달 화면 중앙에 위치*/
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }

    .modalDialogCentered {
        /* 아래 CSS 모달 컨텐츠 표시*/
        position: absolute;
        width: 80%;
        height: auto;
        overflow-x: scroll;
        background-color: rgba(255,255,255);
        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }    

    .active {
        /* 액티브 토글로 출력-비출력 처리 */
        opacity: 1;
        visibility: visible;
        display: block;
    }

    .userImageBox{
        width: 3em;
        height: 3em; 
        border-radius: 70%;
        overflow: hidden;
    }

    .userImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .shadowBox{        
        border: 1px solid black;        
        box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.1);
    }
    </style>
</head>
<script th:inline="javascript">
let sessionUserInfo = /*[[${session.sessionUserInfo}]]*/;
let userType = /*[[${userType}]]*/;
let meetingProfileExist = /*[[${meetingProfileExist}]]*/;
let meetingProfileInfo = /*[[${meetingProfileInfo}]]*/;
let userSNSDto = /*[[${userSNSDto}]]*/;
let groupMemberDtoList = /*[[${groupMemberDtoList}]]*/;

console.log('sessionUserInfo: ', sessionUserInfo);
console.log('userType: ', userType);
console.log('meetingProfileExist: ', meetingProfileExist);
console.log('meetingProfileInfo: ', meetingProfileInfo);
console.log('userSNSDto: ', userSNSDto);
console.log('groupMemberDtoList: ', groupMemberDtoList);

function moveChatListPage(){
    if(!sessionUserInfo){
        alert("로그인이 필요한 서비스입니다. 로그인 후 이용해 주시기 바랍니다.");        
        window.location.href="../login/loginPage";
    }
    else{
        if(meetingProfileExist === "Y"){
            window.location.href="./chatListPage";
        }
        else{
            let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
            if(result){
                window.location.href="./registerProfile";
            }
            else{
                return;
            }
        }
    }
}

function moveSearchPage(){
    if(!sessionUserInfo){
        alert("로그인이 필요한 서비스입니다. 로그인 후 이용해 주시기 바랍니다.");        
        window.location.href="../login/loginPage";
    }
    else{
        if(meetingProfileExist === "Y"){
            window.location.href="./searchPage";
        }
        else{
            let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
            if(result){
                window.location.href="./registerProfile";
            }
            else{
                return;
            }
        }
    }
}

function moveCreateNewGroupPage(){
    if(!sessionUserInfo){
        alert("로그인이 필요한 서비스입니다. 로그인 후 이용해 주시기 바랍니다.");        
        window.location.href="../login/loginPage";
    }
    else{
        if(meetingProfileExist === "Y"){
            window.location.href="./createNewGroupPage";
        }
        else{
            let result = confirm("해당 서비스를 이용하시려면 미팅 프로필을 만드셔야 해요. 프로필 생성 페이지로 이동할까요?");
            if(result){
                window.location.href="./registerProfile";
            }
            else{
                return;
            }
        }
    }
}

function checkExistChatRoom(profileId, targetProfileId){
    
    return fetch("./api/checkExistChatRoom?profileId=" + profileId + "&targetProfileId=" + targetProfileId)
    .then(response => response.json())
    .then(response => {
        const checkValue = response.data;        
        return checkValue;
    });

}

function createChatRoom(target){
    const profileId = meetingProfileInfo.profileid;
    const targetProfileId = target.getAttribute("profileId");
    console.log('profileId: ', profileId);
    console.log('targetProfileId: ', targetProfileId);
    
    checkExistChatRoom(profileId, targetProfileId)
    .then(checkResult => {
        console.table('checkResult: ', checkResult);        
        if(Object.keys(checkResult).length > 0){
            const confirmValue = confirm("이미 채팅방이 존재합니다. 이동하시겠습니까?");
            if(confirmValue){                                
                window.location.href=`./chatRoomPage?chatRoomId=${checkResult.targetChatRoomDto.chatRoomId}`;
            }
            else{
                return;
            }                    
        }
        else{
            const userSignalBothWrapperRow = target.closest("#userSignalBothWrapperRow");
            const userSignalBothNickname = userSignalBothWrapperRow.querySelector("#userSignalBothNickname");
            const targetProfileNickname = userSignalBothNickname.innerText;
            console.log('targetProfileNickname: ', targetProfileNickname);

            fetch("./api/createChatRoom?profileId=" + profileId + "&targetProfileId=" + targetProfileId)
            .then(response => response.json())
            .then(response => {                
                const confirmValue = confirm(`${targetProfileNickname} 과의 채팅이 생성되었습니다. 이동하시겠습니까?`);
                if(confirmValue){
                    const chatRoomData = response.data;
                    console.log('chatRoomData: ', chatRoomData);
                    

                    let roomNo = 0;
                    for(e of chatRoomData){
                        
                        console.log('e: ', e);
                        
                        if(e.targetProfileDto.profileid === targetProfileId){
                            roomNo = e.chatRoomDto.chatRoomId;
                            console.log('roomNo: ', roomNo);
                        }
                    }
                    window.location.href=`./chatRoomPage?chatRoomId=${roomNo}`;
                }
                else{
                    return;
                }                
            });
        }
    });    
    return;
}

function mySignalBothModalCSR(){
    const userGroupMemberIdList = [];
    
    for(e of groupMemberDtoList){
        userGroupMemberIdList.push(e.meetingGroupMemberDto.groupMemberId);
    }    
    console.log('userGroupMemberIdList: ', userGroupMemberIdList);

    fetch("./api/getUserMySignalToList", {
        method : "POST",
        headers : {
            "Content-Type" : "application/json"
        },
        body : JSON.stringify(userGroupMemberIdList)
    })
    .then(response => response.json())
    .then(response => {
        const userBothLikeDataList = response.data;
        console.log('userBothLikeDataList: ', userBothLikeDataList);

        const userSignalBothListCol = document.getElementById("userSignalBothListCol");
        userSignalBothListCol.innerHTML = "";

        let userBothLikeCount = 0;

        for(list of userBothLikeDataList){
            if(list.length > 0){
                for(e of list){
                    if(e.meLikeGroupMemberProfileDto){
                        userBothLikeCount++;
                        const userSignalBothWrapperRow = document.querySelector("#templete #userSignalBothWrapperRow").cloneNode(true);

                        const userSignalBothImage = userSignalBothWrapperRow.querySelector("#userSignalBothImage");
                        userSignalBothImage.setAttribute("src", `/uploadFiles/ufuf/meeting/profileImage/${e.meLikeGroupMemberProfileDto.profileImg}`);

                        const userSignalBothNickname = userSignalBothWrapperRow.querySelector("#userSignalBothNickname");
                        userSignalBothNickname.innerText = e.meLikeGroupMemberProfileDto.profileNickname;

                        const createChatButton = userSignalBothWrapperRow.querySelector("#userSignalBothChatButton").closest("div");                        
                        createChatButton.setAttribute("profileId", e.meLikeGroupMemberProfileDto.profileid);
                        createChatButton.setAttribute("onclick", "createChatRoom(this)");

                        userSignalBothListCol.appendChild(userSignalBothWrapperRow);
                    }                    
                }                
            }            
        }
        if(userBothLikeCount === 0){
            const noSignalMessageRow = document.querySelector("#templete #noSignalMessageRow").cloneNode(true);
            const messageSpan1 = noSignalMessageRow.querySelector("#messageSpan1");
            messageSpan1.innerText = "아직 보낸 시그널이 없어요!"
            const messageSpan2 = noSignalMessageRow.querySelector("#messageSpan2");
            messageSpan2.innerText = "리뷰를 남기고 시그널을 보내보세요 :)"

            userSignalBothListCol.appendChild(noSignalMessageRow);
        }
    });
}

function showMySignalBothModal(){
    document.body.style.overflow = 'hidden';
    mySignalBothModalCSR();
    const mySignalBothModal = document.getElementById("mySignalBothModal");
    mySignalBothModal.classList.add('active');
    const mySignalBothModalDialog = document.getElementById("mySignalBothModalDialog");
    mySignalBothModalDialog.classList.add('active');
}

function closeMySignalBothModal(){
    document.body.style.overflow = 'auto';
    const mySignalBothModal = document.getElementById("mySignalBothModal");
    mySignalBothModal.classList.remove('active');
    const mySignalBothModalDialog = document.getElementById("mySignalBothModalDialog");
    mySignalBothModalDialog.classList.remove('active');
}

function mySignalToModalCSR(){
    
    const userGroupMemberIdList = [];
    
    for(e of groupMemberDtoList){
        userGroupMemberIdList.push(e.meetingGroupMemberDto.groupMemberId);
    }    
    console.log('userGroupMemberIdList: ', userGroupMemberIdList);

    fetch("./api/getUserMySignalToList", {
        method : "POST",
        headers : {
            "Content-Type" : "application/json"
        },
        body : JSON.stringify(userGroupMemberIdList)
    })
    .then(response => response.json())
    .then(response => {
        const userBothLikeDataList = response.data;
        console.log('userBothLikeDataList: ', userBothLikeDataList);
        
        const userSignalToListCol = document.getElementById("userSignalToListCol");
        userSignalToListCol.innerText = "";

        let userSignalToCount = 0;
        
        for(list of userBothLikeDataList){
            if(list.length > 0){
                for(e of list){
                    userSignalToCount++;
                    const userSignalToWrapperRow = document.querySelector("#templete #userSignalToWrapperRow").cloneNode(true);
    
                    const userSignalToImage = userSignalToWrapperRow.querySelector("#userSignalToImage");
                    userSignalToImage.setAttribute("src", `/uploadFiles/ufuf/meeting/profileImage/${e.targetProfileDto.profileImg}`);
    
                    const userSignalToNickname = userSignalToWrapperRow.querySelector("#userSignalToNickname");
                    userSignalToNickname.innerText = e.targetProfileDto.profileNickname;
    
                    const userSignalToRegdate = userSignalToWrapperRow.querySelector("#userSignalToRegdate");
                    const dateValue = e.targetProfileDto.regdate;
                    userSignalToRegdate.innerText = dateValue[0] + '년 ' + dateValue[1] + '월 ' + dateValue[2] + '일';
    
                    userSignalToListCol.appendChild(userSignalToWrapperRow);
                }
            }
        }
        if(userSignalToCount === 0){
            const noSignalMessageRow = document.querySelector("#templete #noSignalMessageRow").cloneNode(true);
            const messageSpan1 = noSignalMessageRow.querySelector("#messageSpan1");
            messageSpan1.innerText = "아직 보낸 시그널이 없어요!"
            const messageSpan2 = noSignalMessageRow.querySelector("#messageSpan2");
            messageSpan2.innerText = "리뷰를 남기고 시그널을 보내보세요 :)"

            userSignalToListCol.appendChild(noSignalMessageRow);
        }
    });
}

function showMySignalToModal(){ 
    document.body.style.overflow = 'hidden';
    mySignalToModalCSR();
    const mySignalToModal = document.getElementById("mySignalToModal");
    mySignalToModal.classList.add('active');
    const mySignalToModalDialog = document.getElementById("mySignalToModalDialog");
    mySignalToModalDialog.classList.add('active');
}

function closeMySignalToModal(){
    document.body.style.overflow = 'auto';
    const mySignalToModal = document.getElementById("mySignalToModal");
    mySignalToModal.classList.remove('active');
    const mySignalToModalDialog = document.getElementById("mySignalToModalDialog");
    mySignalToModalDialog.classList.remove('active');
}

function changeMenuColor(target){    
    target.classList.add("menuMouseOver");
}

function restoreMenuColor(target){    
    target.classList.remove("menuMouseOver");
}

function userProfileCSR(){
    if(userType === "user"){
        const sessionUserName = document.getElementById("sessionUserName");
        sessionUserName.innerText = sessionUserInfo.name;        
        const loginUserRow = document.getElementById("loginUserRow");
        loginUserRow.classList.remove("d-none");

        const userSNSUrl = document.getElementById("userSNSUrl");
        userSNSUrl.innerText = userSNSDto.snsURL;

        const userProfileImage = document.getElementById("userProfileImage");
        userProfileImage.setAttribute("src", `/uploadFiles/ufuf/meeting/profileImage/${meetingProfileInfo.profileImg}`);

        const userNickname = document.getElementById("userNickname")
        userNickname.innerText = meetingProfileInfo.profileNickname;

        const userGender = document.getElementById("userGender");
        if(sessionUserInfo.gender === "M"){
            const maleIcon = document.createElement("i");
            maleIcon.setAttribute("class", "fi fi-rr-mars text-primary bi-align-middle");
            userGender.appendChild(maleIcon);
        }
        else{
            const femaleIcon = document.createElement("i");
            femaleIcon.setAttribute("class", "fi fi-rr-venus text-danger bi-align-middle");
            userGender.appendChild(femaleIcon);        
        }

        const userUniversity = document.getElementById("userUniversity")
        userUniversity.innerText = sessionUserInfo.university;
        
        const userUniversityDepartment = document.getElementById("userUniversityDepartment")
        userUniversityDepartment.innerText = sessionUserInfo.department;

        const userProfileComment = document.getElementById("userProfileComment")
        userProfileComment.innerText = meetingProfileInfo.profileComment;

        let mySignalToCount = 0;
        const mySignalTo = document.getElementById("mySignalTo");
        mySignalTo.innerText = mySignalToCount

        let mySignalBothCount = 0;
        const mySignalBoth = document.getElementById("mySignalBoth");
        mySignalBoth.innerText = mySignalBothCount;

        let pickedBestMemberCount = 0;
        const pickedBestMember = document.getElementById("pickedBestMember");
        pickedBestMember.innerText = pickedBestMemberCount;

        for(e of groupMemberDtoList){
            for(bothLikeFromDto of e.userReviewDataMap.meetingBothLikeFromList){
                if(bothLikeFromDto.groupMemberIdFrom === e.meetingGroupMemberDto.groupMemberId){
                mySignalToCount++;
                mySignalTo.innerText = mySignalToCount;
                }
            }
            if(e.userReviewDataMap.meetingBothLikeToList.length > 0){
                for(bothLikeToDto of e.userReviewDataMap.meetingBothLikeToList){
                    for(bothLikeFromDto of e.userReviewDataMap.meetingBothLikeFromList){
                        if(bothLikeToDto.groupMemberIdFrom === bothLikeFromDto.groupMemberIdTo){
                            mySignalBothCount++;
                            mySignalBoth.innerText = mySignalBothCount;
                        }                    
                    }                
                }
            }
            const pickedBestMemberCountValue = e.userReviewDataMap.pickedBestMemberCount;
            console.log('pickedBestMemberCount: ', pickedBestMemberCount);
            pickedBestMemberCount += pickedBestMemberCountValue;
            pickedBestMember.innerText = pickedBestMemberCount;
        }
    }
    else{
        const sessionUserName = document.getElementById("sessionUserName");
        sessionUserName.innerText = "Guest";
        const guestUserRow = document.getElementById("guestUserRow");
        guestUserRow.classList.remove("d-none");
    }    
}


function moveMyApplyGroup(){
    if(meetingProfileExist === "Y"){
        window.location.href="./myApplyGroupPage?profileId=" + meetingProfileInfo.profileid;
    }
    else{
        const result = confirm("해당 서비스는 미팅 프로필을 만들어야 이용할 수 있어요. 프로필 생성 페이지로 이동할까요?");
        if(result){
            window.location.href = "./registerProfile";            
        }
        else{
            return;
        }
    }
}

function moveMyRecruitGroup(){
    if(meetingProfileExist === "Y"){
        window.location.href="./myRecruitGroupPage?profileId=" + meetingProfileInfo.profileid;
    }
    else{
        const result = confirm("해당 서비스는 미팅 프로필을 만들어야 이용할 수 있어요. 프로필 생성 페이지로 이동할까요?");
        if(result){
            window.location.href = "./registerProfile";            
        }
        else{
            return;
        }
    }
    
}



document.addEventListener("DOMContentLoaded", ()=>{

    userProfileCSR();
});
</script>
<body>
    <div class="container-fluid accordion pt-5 pb-5" style="background-color: #f5ededea;">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto align-self-center px-0">
                                <span class="">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <span class="fs-5 text-secondary"><i class="fi fi-rr-bell bi-align-middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="main01" class="row">
            <div class="col">                
                <div class="row">
                    <div class="col">
                        <div class="row mt-4">
                            <div class="col">
                                <div class="row mb-3">
                                    <div class="col">
                                        <span id="sessionUserName" class="fw-bold fs-3"></span>
                                        <span class="fs-5">님의 마이페이지</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="loginUserRow" class="row d-none">
            <div class="col">

                <div class="row">
                    <div class="col mx-1 border border-black rounded">
                        
                        <div class="row border-bottom border-black justify-content-between rounded-top" style="background-color: #FF8827;">
                            <div class="col-auto align-self-center">
                                <div class="row">
                                    <div class="col">
                                        <span class="fs-5 fw-bold text-white"><i class="fi fi-rr-comment-info bi-align-middle"></i></span>
                                        <span class="fs-5 fw-bold text-white">My Meeting Profile</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="row">
                                    <div class="col-auto btn">
                                        <span class="fw-bold text-white">
                                            <i class="fi fi-rr-pen-field bi-align-middle"></i>
                                            수정
                                        </span>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="profileInnerBody" class="row bg-white rounded-bottom">
                            <div class="col">

                                <div class="row my-3 mx-1">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-auto ps-0 pe-1 align-self-center">
                                                <span class="fs-5 fw-bold">
                                                    <i class="fi fi-rr-house-chimney-heart bi-align-middle"></i>
                                                </span>
                                            </div>
                                            <div class="col-auto px-0 align-self-center">                                                
                                                <span class="fw-bold">ufuf.com/</span>
                                            </div>
                                            <div class="col-auto px-0 align-self-center" >
                                                <span id="userSNSUrl" class="fw-bold border-bottom border-2" style="border-color: #FF8827 !important;">유저SNS주소</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mx-1">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-6 me-1 border border-black rounded">
                                                <div class="row my-2">
                                                    <div class="col">
                                                        <img id="userProfileImage" class="img-fluid" style="width: 18.75em; aspect-ratio:3/4;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <span><i class="fi fi-rr-id-badge bi-align-middle"></i></span>
                                                                <span id="userNickname" class="fw-bold"></span>
                                                                <span id="userGender"></span>
                                                            </div>
                                                        </div>                                                        
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <span><i class="fi fi-rr-graduation-cap bi-align-middle"></i></span>
                                                                <span id="userUniversity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <span><i class="fi fi-rr-books bi-align-middle"></i></span>
                                                                <span id="userUniversityDepartment"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-auto btn py-0" onclick="showMySignalToModal()">
                                                                <div class="row">
                                                                    <div class="col-auto">
                                                                        <span class="" style="font-size: 0.8em;"><i class="bi bi-activity" style="color: #FF8827;"></i></span>                                                                
                                                                        <span style="font-size: 0.8em;">내가 보낸 시그널</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-auto">                                                                        
                                                                        <span id="mySignalTo" class="fw-bold"></span>
                                                                        <span>명</span>
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-auto btn py-0" onclick="showMySignalBothModal()">
                                                                <div class="row">
                                                                    <div class="col-auto">
                                                                        <span class="" style="font-size: 0.8em;"><i class="fi fi-sr-comment-heart text-danger bi-align-middle"></i></span>                                                                
                                                                        <span style="font-size: 0.8em;">매치 시그널</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-auto">                                                                        
                                                                        <span id="mySignalBoth" class="fw-bold"></span>
                                                                        <span>명</span>
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-auto btn py-0">
                                                                <div class="row">
                                                                    <div class="col-auto">
                                                                        <span class="" style="font-size: 0.8em;"><i class="fi fi-sr-award bi-align-middle text-warning"></i></span>                                                                
                                                                        <span style="font-size: 0.8em;">Best Member Award</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-auto">                                                                        
                                                                        <span id="pickedBestMember" class="fw-bold"></span>
                                                                        <span>Pick</span>
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                        </div>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-3 mx-1">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col ps-0">
                                                <span class="fw-bold"><i class="fi fi-rr-comment-dots bi-align-middle"></i></span>
                                                <span class="fw-bold">Comment</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col border border-2 rounded">
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <p id="userProfileComment" style="height: 5em;"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>                

                <div class="row mt-3" ontouchstart="changeMenuColor(this)" ontouchend="restoreMenuColor(this)">
                    <div class="col">
                        <div class="row">
                            <div class="col btn text-start border border-0" onclick="moveMyRecruitGroup()">
                                <span class="fw-bold fs-3">내가 모집한 미팅</span>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" ontouchstart="changeMenuColor(this)" ontouchend="restoreMenuColor(this)">
                    <div class="col">
                        <div class="row">
                            <div class="col btn text-start border border-0">
                                <span class="fw-bold fs-3" onclick="moveMyApplyGroup()">내가 참여한 미팅</span>                                
                            </div>
                        </div>
                    </div>
                </div>                

                <div class="row mt-3" ontouchstart="changeMenuColor(this)" ontouchend="restoreMenuColor(this)">
                    <div class="col">
                        <div class="row">
                            <div class="col btn text-start border border-0">
                                <span class="fw-bold fs-3">결제 정보</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        
                    </div>
                </div>
                <div class="p-5">
                    
                </div>
            </div>
        </div>

        <div id="guestUserRow" class="row d-none">
            <div class="col">

                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button class="btn" onclick="window.location.href='../login/loginPage'">
                                    <span class="fw-bold fs-3"><i class="fi fi-rr-input-text bi-align-middle"></i></span>
                                    <span class="fw-bold fs-3">로그인</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="p-4"></div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around mt-1 text-secondary">
                            <div class="col text-center mx-1" onclick="moveSearchPage()">
                                <div class="row">
                                    <div class="col">                                                
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-search-heart bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="moveCreateNewGroupPage()">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-following bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1" onclick="moveChatListPage()">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-comment-alt bi-align-middle"></i></span>                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em; color: #FF8827;"><i class="fi fi-sr-circle-user bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="color: #FF8827;">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>

<!--/* 내가 보낸 시그널 리스트 모달 */-->
<div id="mySignalToModal" class="customModal" tabindex="-1">
    <div id="mySignalToModalDialog" class="modal-dialog border border-0 rounded modalDialogCentered">
        <div class="modal-content container-fluid rounded-2">
            <div class="row modal-header justify-content-between border-bottom rounded-top-2" style="background-color: #FF8827;">
                <div class="col">
                    <div class="row my-2">
                        <div class="col">
                            <span class="fw-bold fs-4"><i class="bi bi-activity" style="color: yellow;"></i></span>
                            <span id="" class="modal-title fw-bold fs-4 text-white">내가 보낸 시그널</span>
                        </div>                    
                        <div class="col-auto">
                            <button type="button" onclick="closeMySignalToModal()" class="btn btn-close"></button>                            
                        </div>                
                    </div>                    
                </div>                
            </div>

            <div class="row modal-body mt-2 border-bottom">
                <div class="col">
                    <div class="row">
                        <div id="userSignalToListCol" class="col">
                            
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="row modal-footer">                                
                <div class="col btn" role="button" onclick="closeMySignalToModal()">
                    <div class="row mt-2 mb-2">                         
                        <div class="col text-center">
                            <span>닫기</span>
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>
    </div>
</div>

<!--/* 매칭된 시그널 리스트 모달 */-->
<div id="mySignalBothModal" class="customModal" tabindex="-1">
    <div id="mySignalBothModalDialog" class="modal-dialog border border-0 rounded modalDialogCentered">
        <div class="modal-content container-fluid rounded-2">
            <div class="row modal-header justify-content-between border-bottom rounded-top-2" style="background-color: #FF8827;">
                <div class="col">
                    <div class="row my-2">
                        <div class="col">
                            <span class="fw-bold fs-4"><i class="fi fi-sr-comment-heart text-danger bi-align-middle"></i></span>
                            <span id="" class="modal-title fw-bold fs-4 text-white">매치된 시그널</span>
                        </div>                    
                        <div class="col-auto">
                            <button type="button" onclick="closeMySignalBothModal()" class="btn btn-close"></button>                            
                        </div>                
                    </div>                    
                </div>                
            </div>

            <div class="row modal-body mt-2 border-bottom">
                <div class="col">
                    <div class="row">
                        <div id="userSignalBothListCol" class="col">
                            
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="row modal-footer">                                
                <div class="col btn" role="button" onclick="closeMySignalBothModal()">
                    <div class="row mt-2 mb-2">                         
                        <div class="col text-center">
                            <span>닫기</span>
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>
    </div>
</div>

<!--/* 템플릿 */-->
<div id="templete" class="d-none">

    <div id="userSignalToWrapperRow" class="row my-2 mx-1 border rounded shadowBox">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-auto">
                            <div class="row mt-1">
                                <div class="col-auto">
                                    <div class="userImageBox">
                                        <img id="userSignalToImage" class="img-fluid userImage">
                                    </div>                                            
                                </div>
                            </div>
                        </div>
                        <div class="col-auto align-self-center">
                            <span id="userSignalToNickname" class="fs-6 fw-bold"></span>
                            <span class="">님께</span>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col align-self-center">
                            <div class="row">
                                <div class="col text-end pe-1">
                                    <span style="font-size: 0.8em;">
                                        <span id="userSignalToRegdate" class="fw-bold"></span>
                                        보냄
                                    </span>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <div id="userSignalBothWrapperRow" class="row my-2 mx-1 border rounded shadowBox">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row my-1">
                        <div class="col-auto">
                            <div class="row mt-1">
                                <div class="col-auto">
                                    <div class="userImageBox">
                                        <img id="userSignalBothImage" class="img-fluid userImage">
                                    </div>                                            
                                </div>
                            </div>
                        </div>
                        <div class="col-auto align-self-center">
                            <span id="userSignalBothNickname" class="fw-bold"></span>                            
                        </div>
                    </div>
                </div>
                <div class="col-auto me-1 align-self-center">
                    <div class="row">
                        <div class="col btn" style="background-color: #FF8827;">
                            <span id="userSignalBothChatButton" class="fw-bold text-white">Chat</span>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <div id="noSignalMessageRow" class="row border rounded shadowBox my-3 mx-2">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <span class="text-secondary" id="messageSpan1"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <span class="text-secondary" id="messageSpan2"></span>
                </div>
            </div>
        </div>
    </div>

</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>