<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>타이틀</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">    
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;        
    }    
    </style>
</head>

<body class="pt-5 pb-5">
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto align-self-center px-0">
                                <span class="">Uni Signal</span>
                            </div>                             
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <span class="fs-5 text-secondary"><i class="fi fi-rr-bell"></i></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">

            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around mt-1 text-secondary">
                            <div class="col text-center mx-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-search-heart"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-following"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-comment-alt"></i></span>                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-circle-user"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
        
        
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>