<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>타이틀</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">    
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <script src="/public/js/lockLikeMobile.js"></script>

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;        
    }    
    </style>
</head>

<body class="pt-5 pb-5" style="background-color: #f5ededea;">
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto align-self-center px-0">
                                <span class="">Uni Signal</span>
                            </div>                             
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <span class="fs-5 text-secondary"><i class="fi fi-rr-bell bi-align-middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">

                <!-- ufuf 주황색컬러 -->
                <div style="color: #FF8827;"></div>
                <div style="color: #eeeaea;"></div>

                <!-- 바디 커스텀 컬러 -->
                <div style="background-color: #f5ededea;"></div>

                <!-- 왼쪽화살표 아이콘 -->
                <span class=" fs-3"><i class="fi fi-rr-angle-small-left bi-align-middle"></i></span>
                
                <!-- Comment 아이콘 -->
                <i class="fi fi-rr-comment-dots bi-align-middle"></i>
                
                <!-- 탑에어리어 알람 종 아이콘 -->
                <span class="fs-5 text-secondary"><i class="fi fi-rr-bell bi-ailgn-middle"></i></span>

                <!-- 검색 아이콘 -->
                <i class="fi fi-rr-search bi-ailgn-middle"></i>

                <!-- 사람 아이콘(인원수 앞에) -->
                <i class="fi fi-rr-user bi-ailgn-middle"></i>

                <!-- 체크 아이콘 -->
                <i class="fi fi-rr-check-circle bi-ailgn-middle"></i>

                <!-- 금지 아이콘 -->
                <i class="fi fi-rr-do-not-enter bi-ailgn-middle"></i>

                <!-- 글작성 아이콘 -->
                <i class="fi fi-rr-edit bi-ailgn-middle"></i>

                <!-- 남자성별 아이콘 -->
                <i class="fi fi-rr-mars text-primary bi-align-middle"></i>

                <!-- 여자성별 아이콘 -->
                <i class="fi fi-rr-venus text-danger bi-align-middle"></i>

                <!-- 1등 아이콘 후보 : 꽃에 리본달린거 -->
                <i class="fi fi-rr-wreath bi-align-middle"></i>

                <!-- 1등 아이콘 후보 : 체크된 배지-->
                <i class="fi fi-rr-badget-check-alt bi-align-middle"></i>

                <!-- 1등 아이콘 후보 : 체크된 배지-->
                <i class="fi fi-rr-award bi-align-middle"></i>

                <!-- p32 -->
                <!-- 돋보기 안에 물음표 아이콘 -->
                
                
                <!-- p25 -->
                <!-- 서있는 사람 옆에 물음표 아이콘-->
                <i class="fi fi-rr-person-circle-question"></i>

                <!-- 서있는 사람 옆에 엑스 아이콘-->
                <i class="fi fi-rr-person-circle-xmark"></i>

                <!-- p22 -->
                <!-- 육각형 안에 엑스 아이콘 -->
                <i class="fi fi-rr-times-hexagon"></i>

                <!-- p18 ~ p19 -->

                
            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white footer" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around mt-1 text-secondary">
                            <div class="col text-center mx-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-search-heart bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-following bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div id="ufuf" class="col text-center mx-1">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-comment-alt bi-align-middle"></i></span>                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em; color: #FF8827;"><i class="fi fi-sr-circle-user bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="color: #FF8827;">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>            
        </div>        
        
    </div>
    
<!--/* footer요소 */-->
<div class="footer">
    <div id="home" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 8em; width: 100%; margin: auto; z-index: 9999;">
        <div class="col text-center px-0 ">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../commons/mainPage'">
                        <i class="fi fi-rr-house-chimney align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    홈
                </div>
            </div>
        </div>
    </div>
    
    <div id="secondLine" class="row d-flex justify-content-center d-none" style="margin: auto; position: fixed; bottom: 6.8em; width: 100%; z-index: 9999;">
        <div id="mission" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../mission/map'">
                        <i class="fi fi-rr-map-marker align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니미션
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 2.8em;" onclick="window.location.href='../commons/mainPage'"></div>
        <div id="circle" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../circle/circleMainPage'">
                        <i class="fi fi-rr-meeting align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니써클
                </div>
            </div>
        </div>
    </div>
    
    <div id="thirdLine" class="row d-flex justify-content-center d-none" style="margin: auto; position: fixed; bottom: 4.3em; width: 100%; z-index: 9999;">
        <div id="signal" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../meeting/mainPage'">
                        <i class="fi fi-rr-comment-heart align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니시그널
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 6.1rem;"></div>
        <div id="bnb" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../room/roomMainPage'">
                        <i class="fi fi-rr-bed-alt align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니비앤비
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>