<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>프로필 등록</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Italianno&family=Square+Peg&family=Tangerine:wght@700&display=swap" rel="stylesheet">    

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        font-family: 'Noto Sans KR', sans-serif;
    }

    * .titleWord{
        font-family: 'Carattere', cursive;
        /* font-family: 'Italianno', cursive; */
        /* font-family: 'Square Peg', cursive; */
        /* font-family: 'Tangerine', cursive; */
    }

    .custom-border-color{
        border-color: #FF8827 !important;
    }

    .custom-input:focus{
        border-color: #FF8827;
        box-shadow: 0 0 10px #FF8827;
    }

    .itsMe{
        font-family: 'Quicksand', sans-serif;
    }
    </style>
</head>

<script th:inline="javascript">

let sessionUserId = /*[[${session.sessionUserInfo.user_id}]]*/;
console.log('sessionUserId: ', sessionUserId);


function registerProfile(){
    const confirmResult = confirm("이 내용대로 미팅프로필을 만드시겠습니까?");

    if(confirmResult){
        const formData = new FormData();

        formData.append('user_id', sessionUserId);
        formData.append('profileNickname', document.getElementById("inputNickname").value);
        formData.append('profile_Img', document.getElementById("inputProfileImageFile").files[0]);
        formData.append('profileComment', document.getElementById("inputComment").value);
        formData.append('snsURL', document.getElementById('inputSNSUrl').value);

        const url = './api/registerProfile';

        fetch(url, {method : 'post', body : formData})
        .then(response => response.json())
        .then(response => {            
            alert('미팅 프로필 등록이 완료되었습니다.');
            window.location.href="./mainPage";
        });
    }
    else{
        return;
    }
}

function attachProfileImage(){
    const inputProfileImageFile = document.getElementById("inputProfileImageFile");
    inputProfileImageFile.click();

    inputProfileImageFile.addEventListener('change', ()=>{
        
        if(inputProfileImageFile.files && inputProfileImageFile.files[0]){
            
            let reader = new FileReader();
            let originalFileName = inputProfileImageFile.files[0].name;
            
            reader.onload = (e)=>{
                
                const attachProfileImageCol = document.getElementById('attachProfileImageCol');
                
                attachProfileImageCol.innerHTML = "";
                
                const imagePreview = document.createElement('img');                
                
                imagePreview.src = e.target.result;
                imagePreview.setAttribute('class', 'img-fluid');
                attachProfileImageCol.appendChild(imagePreview);

                const attachedFileName = document.getElementById("attachedFileName");
                attachedFileName.innerHTML = "";
                attachedFileName.innerText = originalFileName;
            }
            reader.readAsDataURL(inputProfileImageFile.files[0]);
        }
    });  
}

function checkDuplicateSNSUrl(textValue){

    let inputText  = textValue;
    const inputSNSUrl = document.getElementById('inputSNSUrl');
    const SNSUrlRow = document.getElementById('SNSUrlRow');

    fetch('./api/checkDuplicateSNSUrl?value='+inputText)
    .then(response => response.json())
    .then(response => {
        
        let checkedValue = response.data;

        if(checkedValue === 0){
            const goodCheck = document.createElement('div');
            goodCheck.setAttribute('class', 'col-auto fs-4');
            goodCheck.innerHTML = '<i class="bi bi-check2 text-success fw-bold"></i>'
            SNSUrlRow.innerHTML = "";
            SNSUrlRow.appendChild(goodCheck);
        }
        else{
            const badCheck = document.createElement('div');
            badCheck.setAttribute('class', 'col-auto fs-4');
            badCheck.innerHTML = '<i class="bi bi-x text-danger fw-bold"></i>'
            SNSUrlRow.innerHTML = "";
            SNSUrlRow.appendChild(badCheck);
        }
    });
}


</script>

<body class="pt-5 pb-5">
    <div class="container-fluid">
        <input id="inputProfileImageFile" type="file" class="d-none" accept="image/*">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/sakura.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto px-0">
                                <span class="fw-bold fs-2 align-middle titleWord">Uni Signal</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-bell fs-5" style="color: #FF8827;"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">                
                
                <!--이걸 하나의 프로필로-->
                <div class="row mt-3">
                    <div class="col mx-1 border border-black border-2 rounded">

                        <div class="row border-bottom border-2 border-black justify-content-between">
                            <div class="col" style="background-color: #FF8827;">
                                <div class="row my-1">
                                    <div class="col-auto">
                                        <div class="row">
                                            <div class="col-2">
                                                <a href="./mainPage" role="button" class="btn px-0 py-0">
                                                    <i class="bi bi-arrow-left"></i>
                                                </a>
                                            </div>
                                            <div class="col-auto text-center">
                                                <span class="fw-bold">나의 미팅 프로필</span>
                                            </div>                                     
                                        </div>                                        
                                    </div>
                                    
                                </div>
                            </div>                            
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col">
                                <div id="SNSUrlRow" class="row mt-2">
                                    <div class="col-auto pe-0">
                                        <span class="fw-bold itsMe fs-2">ufuf.com/</span>                                        
                                    </div>
                                    <div class="col-auto ps-0 fw-bold itsMe fs-2">                                        
                                        <input id="inputSNSUrl" type="text" class="custom-input form-control border border-2 custom-border-color" placeholder="your SNS..." onchange="checkDuplicateSNSUrl(this.value)">                                        
                                    </div>
                                </div>
                                <div class="row mt-4 mb-1 mx-1">
                                    <div class="col-6 text-center border border-1 border-black rounded btn" role="button" onclick="attachProfileImage()">
                                        <div class="row  d-flex align-items-center">
                                            <div id="attachProfileImageCol" class="col-auto text-center">                                                
                                                <img src="/public/image/meeting/needUpload.png" class="img-fluid">                                                
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col ms-2">
                                        <div class="row">                                            
                                            <div class="col">
                                                <span th:text="${session.sessionUserInfo.name}" class="fw-bold"></span> 님
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-10">
                                                <input id="inputNickname" type="text" class="custom-input border border-2 custom-border-color form-control form-control-sm" placeholder="닉네임 입력">
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-auto">
                                                <span th:if="${session.sessionUserInfo.gender == 'M'}">남</span>
                                                <span th:if="${session.sessionUserInfo.gender == 'F'}">여</span>
                                            </div>
                                            <div class="col-auto">
                                                <span th:text="${session.sessionUserInfo.birth}"></span>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col">
                                                <span th:text="${session.sessionUserInfo.university}"></span>
                                            </div>                                            
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col">
                                                <span th:text="${session.sessionUserInfo.department}"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row mt-3 mb-4">
                                    <div class="col text-truncate">
                                        <span>[ 파일명 : </span>
                                        <span id="attachedFileName"></span>
                                        <span> ]</span>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span class="fw-bold">Comment</span>
                                            </div>
                                        </div>
                                        <div class="row mt-1 mb-3">
                                            <div class="col">
                                                <textarea id="inputComment" class="custom-input form-control border border-2 custom-border-color" rows="6"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>                            
                        </div>

                        <div class="row mt-5">
                            <div class="col">
                                <div class="row mb-5 justify-content-center">
                                    <div class="col-6 text-center btn d-grid" style="background-color: #FF8827;" onclick="registerProfile()">
                                        <span class="">Create My Profile!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around">
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/find.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/makeGroup.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/chat.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1 mt-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/myPage.png" class="img-fluid" style="width: 1.7em; height: auto;">                                                                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fw-bold titleWord">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
        
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>