<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>프로필 등록</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <script src="/public/js/lockLikeMobile.js"></script>

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;
    }

    .custom-border-color{
        border-color: #FF8827 !important;
    }

    .custom-input:focus{
        border-color: #FF8827;
        box-shadow: 0 0 10px #FF8827;
    }

    .itsMe{
        font-family: 'Quicksand', sans-serif;
    }

    /* 하단 footer 애니메이션을 위한 코드 */
    #secondLine, #thirdLine {
        transition: opacity 1s;
    }

    #signal, #bnb, #mission, #circle, #home{
        transition: all 0.5s;
        opacity: 0;
    }

    #signal.clicked, #bnb.clicked, #mission.clicked, #circle.clicked, #home.clicked {
        opacity: 1;
    }

    .footer .fi {
        background: linear-gradient(to bottom, #ff4a1d, #ff882c, #ffa939); /* 그라데이션 색상 설정 */
        -webkit-background-clip: text; /* 텍스트에만 배경 적용 (WebKit 브라우저를 위한 프리픽스) */
        background-clip: text; /* 텍스트에만 배경 적용 */
        color: transparent; /* 텍스트 색상을 투명하게 설정하여 텍스트가 보이지 않게 함 */
    }
    </style>
</head>

<script th:inline="javascript">

let sessionUserInfo = [[${session.sessionUserInfo}]]

console.log('sessionUserInfo: ', sessionUserInfo);

window.addEventListener("DOMContentLoaded", () => {
    let ufufClicked = false; // ufuf 버튼이 클릭되었는지 여부를 나타내는 플래그

    document.getElementById("ufuf").addEventListener("click", function() {
        const container = document.querySelector(".footer");

        if (!ufufClicked) { // ufuf 버튼이 한번도 클릭되지 않았을 때
            // 변경된 스타일 적용
            container.style.boxShadow = "rgba(0,0,0,0.75) 0 0 0 9999px";
            container.style.zIndex = "250";
            container.style.transition = "all 0.2s";

            document.getElementById("home").classList.remove("d-none");
            document.getElementById("secondLine").classList.remove("d-none");
            document.getElementById("thirdLine").classList.remove("d-none");

            setTimeout(() => {
                document.getElementById("home").classList.add("clicked");
            }, 250);

            setTimeout(() => {
                document.getElementById("secondLine").classList.add("clicked");
                setTimeout(() => {
                    document.getElementById("mission").classList.add("clicked");
                }, 100);
                setTimeout(() => {
                    document.getElementById("circle").classList.add("clicked");
                }, 200);

            }, 90);

            setTimeout(() => {

                document.getElementById("thirdLine").classList.add("clicked");

                setTimeout(() => {
                    document.getElementById("signal").classList.add("clicked");
                }, 50);
                setTimeout(() => {
                    document.getElementById("bnb").classList.add("clicked");
                }, 250);

            }, 90);
        } else { // ufuf 버튼이 이미 클릭되어 있을 때
            // 변경 취소
            container.style.boxShadow = "none";
            container.style.zIndex = "300";
            container.style.transition = "none";
            

            document.getElementById("home").classList.add("d-none");
            document.getElementById("secondLine").classList.add("d-none");
            document.getElementById("thirdLine").classList.add("d-none");
            document.getElementById("home").classList.remove("clicked");
            document.getElementById("secondLine").classList.remove("clicked");
            document.getElementById("thirdLine").classList.remove("clicked");
            document.getElementById("mission").classList.remove("clicked");
            document.getElementById("circle").classList.remove("clicked");
            document.getElementById("signal").classList.remove("clicked");
            document.getElementById("bnb").classList.remove("clicked");
        }
        ufufClicked = !ufufClicked; // ufufClicked 플래그 업데이트
    });
});

function changeDateFormat(){
    const sessionUserBirth = document.getElementById("sessionUserBirth");
    const sessionUserBirthValue = sessionUserBirth.innerText;    
    const dateObject = new Date(sessionUserBirthValue);
    console.log('dateObject: ', dateObject);

    sessionUserBirth.innerText = "";
    const dateOption = {
        year : 'numeric',
        month : 'long',
        day : 'numeric',        
    };
    const formatDate = new Intl.DateTimeFormat("ko-KR", dateOption).format(dateObject);
    sessionUserBirth.innerText = formatDate;
}



function registerProfile(){
    const confirmResult = confirm("이 내용대로 미팅프로필을 만드시겠습니까?");

    if(confirmResult){
        const formData = new FormData();

        formData.append('user_id', sessionUserInfo.user_id);
        formData.append('profileNickname', document.getElementById("inputNickname").value);
        formData.append('profile_Img', document.getElementById("inputProfileImageFile").files[0]);
        formData.append('profileComment', document.getElementById("inputComment").value);
        formData.append('snsURL', document.getElementById('inputSNSUrl').value);

        const url = './api/registerProfile';

        fetch(url, {method : 'post', body : formData})
        .then(response => response.json())
        .then(response => {            
            alert('미팅 프로필 등록이 완료되었습니다.');
            window.location.href="./mainPage";
        });
    }
    else{
        return;
    }
}

function attachProfileImage(){
    const inputProfileImageFile = document.getElementById("inputProfileImageFile");
    inputProfileImageFile.click();

    inputProfileImageFile.addEventListener('change', ()=>{
        
        if(inputProfileImageFile.files && inputProfileImageFile.files[0]){
            
            let reader = new FileReader();
            let originalFileName = inputProfileImageFile.files[0].name;
            
            reader.onload = (e)=>{
                
                const attachProfileImageCol = document.getElementById('attachProfileImageCol');
                
                attachProfileImageCol.innerHTML = "";
                
                const imagePreview = document.createElement('img');                
                
                imagePreview.src = e.target.result;
                imagePreview.setAttribute('class', 'img-fluid');
                attachProfileImageCol.appendChild(imagePreview);

                const attachedFileName = document.getElementById("attachedFileName");
                attachedFileName.innerHTML = "";
                attachedFileName.innerText = originalFileName;
            }
            reader.readAsDataURL(inputProfileImageFile.files[0]);
        }
    });  
}

function checkDuplicateSNSUrl(textValue){

    let inputText  = textValue;
    const inputSNSUrl = document.getElementById('inputSNSUrl');
    const SNSUrlCheckRow = document.getElementById('SNSUrlCheckRow');

    fetch('./api/checkDuplicateSNSUrl?value='+inputText)
    .then(response => response.json())
    .then(response => {
        
        let checkedValue = response.data;

        if(checkedValue === 0){
            const goodCheck = document.createElement('div');
            goodCheck.setAttribute('class', 'col-auto fs-6');
            goodCheck.innerHTML = '<span class="text-success fw-bold"><i class="bi bi-check2"></i> 사용 가능한 주소입니다!</span>'
            SNSUrlCheckRow.innerHTML = "";
            SNSUrlCheckRow.appendChild(goodCheck);
        }
        else{
            const badCheck = document.createElement('div');
            badCheck.setAttribute('class', 'col-auto fs-6');
            badCheck.innerHTML = '<span class="text-danger fw-bold"><i class="bi bi-x"></i> 중복된 주소입니다!</span>'
            SNSUrlCheckRow.innerHTML = "";
            SNSUrlCheckRow.appendChild(badCheck);
        }
    });
}

document.addEventListener("DOMContentLoaded", ()=>{
    changeDateFormat();
})


</script>

<body class="pt-5 pb-5" style="background-color: #f5ededea;">
    <div class="container-fluid">
        <input id="inputProfileImageFile" type="file" class="d-none" accept="image/*">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto align-self-center px-0">
                                <span class="">Uni Signal</span>
                            </div>                             
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <span class="fs-5 text-secondary"><i class="fi fi-rr-bell bi-align-middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                
                <div id="main01" class="row">
                    <div class="col">                
                        <div class="row">
                            <div class="col">
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-auto" onclick="window.history.back()">
                                                <span class=" fs-3"><i class="fi fi-rr-angle-small-left bi-align-middle"></i></span>
                                            </div>
                                            <div class="col-auto ps-0">                                                
                                                <span class="fs-3 fw-bold">나의 미팅프로필 생성</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--이걸 하나의 프로필로-->
                <div class="row mt-3 mb-5">
                    <div class="col mx-1 border border-black border-2 rounded bg-white">

                        <div class="row border-bottom border-2 border-black justify-content-between">
                            <div class="col border rounded-top border-0" style="background-color: #FF8827;">
                                <div class="row my-1">
                                    <div class="col-auto">
                                        <div class="row">                                            
                                            <div class="col-auto text-center">
                                                <span class="fs-5 fw-bold text-white"><i class="fi fi-rr-user-pen bi-align-middle"></i></span>
                                                <span class="fs-5 fw-bold text-white">My Meeting Profile</span>
                                            </div>                                     
                                        </div>                                        
                                    </div>
                                    
                                </div>
                            </div>                            
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col">

                                <div class="row">
                                    <div class="col">
                                        <div class="row mt-2">
                                            <div class="col-auto pe-0">
                                                <span class="fw-bold itsMe fs-2">ufuf.com/</span>                                        
                                            </div>
                                            <div class="col-auto ps-0 fw-bold itsMe fs-2">                                        
                                                <input id="inputSNSUrl" type="text" class="custom-input form-control border border-2 " placeholder="your SNS..." onchange="checkDuplicateSNSUrl(this.value)">                                        
                                            </div>
                                        </div>
                                        <div id="SNSUrlCheckRow" class="row">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4 mb-1 mx-1">
                                    <div class="col-6 align-self-center text-center border border-2 rounded btn" role="button" onclick="attachProfileImage()">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row justify-content-center">
                                                    <div id="attachProfileImageCol" class="col-auto text-center">                                                
                                                        <span class="text-secondary" style="font-size: 6em;"><i class="fi fi-rr-add-image bi-align-middle"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col ms-2 ps-1">
                                        <div class="row">                                            
                                            <div class="col-auto pe-1">
                                                <span th:text="${session.sessionUserInfo.name}" class="fw-bold"></span> 님
                                            </div>
                                            <div class="col-auto ps-0">
                                                <span class="text-primary" th:if="${session.sessionUserInfo.gender == 'M'}"><i class="fi fi-rr-mars bi-align-middle"></i></span>
                                                <span class="text-danger" th:if="${session.sessionUserInfo.gender == 'F'}"><i class="fi fi-rr-venus bi-align-middle"></i></span>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-10 ps-1">
                                                <input id="inputNickname" type="text" class="custom-input border border-2 form-control form-control-sm" placeholder="닉네임 입력">
                                            </div>
                                        </div>

                                        <div class="row mt-2">                                            
                                            <div class="col-auto">
                                                <span id="sessionUserBirth" th:text="${session.sessionUserInfo.birth}"></span>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col">
                                                <span><i class="fi fi-rr-graduation-cap"></i></span>
                                                <span th:text="${session.sessionUserInfo.university}"></span>
                                            </div>                                            
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col">
                                                <span><i class="fi fi-rr-books"></i></span>
                                                <span th:text="${session.sessionUserInfo.department}"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row mt-3 mb-4">
                                    <div class="col text-truncate">
                                        <span>[ 파일명 : </span>
                                        <span id="attachedFileName"></span>
                                        <span> ]</span>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span class="fw-bold"><i class="fi fi-rr-comment-dots"></i></span>
                                                <span class="fw-bold">Comment</span>
                                            </div>
                                        </div>
                                        <div class="row mt-1 mb-3">
                                            <div class="col">
                                                <textarea id="inputComment" class="custom-input form-control border border-2" rows="6"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>                            
                        </div>

                        <div class="row mt-5">
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-6 mb-5 text-center btn d-grid" style="background-color: #FF8827;" onclick="registerProfile()">
                                        <span class="text-white">Create My Profile!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="p-5"></div>

        <!--footer-->
        <div class="row fixed-bottom bg-white footer" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around mt-1 text-secondary">
                            <div class="col text-center mx-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-search-heart bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-following bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div id="ufuf" class="col text-center mx-1">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-comment-alt bi-align-middle"></i></span>                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em; color: #FF8827;"><i class="fi fi-sr-circle-user bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="color: #FF8827;">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>            
        </div>
    </div>

<!--/* footer요소 */-->
<div class="footer">
    <div id="home" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 8em; width: 100%; margin: auto; z-index: 9999;">
        <div class="col text-center px-0 ">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../commons/mainPage'">
                        <i class="fi fi-rr-house-chimney align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    홈
                </div>
            </div>
        </div>
    </div>
    
    <div id="secondLine" class="row d-flex justify-content-center d-none" style="margin: auto; position: fixed; bottom: 6.8em; width: 100%; z-index: 9999;">
        <div id="mission" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../mission/map'">
                        <i class="fi fi-rr-map-marker align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니미션
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 2.8em;" onclick="window.location.href='../commons/mainPage'"></div>
        <div id="circle" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../circle/circleMainPage'">
                        <i class="fi fi-rr-meeting align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니써클
                </div>
            </div>
        </div>
    </div>
    
    <div id="thirdLine" class="row d-flex justify-content-center d-none" style="margin: auto; position: fixed; bottom: 4.3em; width: 100%; z-index: 9999;">
        <div id="signal" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../meeting/mainPage'">
                        <i class="fi fi-rr-comment-heart align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니시그널
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 6.1rem;"></div>
        <div id="bnb" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../room/roomMainPage'">
                        <i class="fi fi-rr-bed-alt align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니비앤비
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>