<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>타이틀</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css">    

    <style>
    *{
        /* font-family: 'Dongle', sans-serif; */
        /* font-family: 'Gowun Dodum', sans-serif; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        font-family: 'Pretendard Variable', Pretendard, Roboto;
    }

    .custom-button-color{
        background-color: blueviolet !important;
        color : white !important;
    }

    .background-wrapper{
        position: relative;        
        height: 10em;
        overflow: hidden;        
    }

    .custom-background{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;        
        filter: brightness(65%);        
    }

    .group-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;        
        text-align: center;        
    }


    /* 미팅방 정보보기 모달 */
    .customModal, .modalDialogCentered {
        /* 트랜지션으로 표시 부드럽게 처리 */
        transition: opacity 0.4s, visibility 0.4s;
        opacity: 0;
        visibility: hidden;
    }
    
    .customModal {
        /* 아래 CSS 모달 dialog 활성화 시 백그라운드 검게 처리*/
        position: fixed;
        width: 100%;
        height: 100%;        
        background-color: rgba(0, 0, 0, 0.5);
        
        /* 아래 CSS 모달 화면 중앙에 위치*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 1000;        
    }


    .modalDialogCentered {
        /* 아래 CSS 모달 컨텐츠 표시, height를 vh로 줌으로서 뷰포트 높이의 80%만 차지하게 함*/
        position: absolute;
        width: 90%;
        max-height: 77vh;
        overflow-y: scroll;
        background-color: rgba(255,255,255);       
        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        
        z-index: 1001;
    }
    

    /* 아래는 참가신청서 작성 모달*/
    .customModal1, .modalDialogCentered1 {
        /* 트랜지션으로 표시 부드럽게 처리 */
        transition: opacity 0.4s, visibility 0.4s;
        opacity: 0;
        visibility: hidden;
    }

    .customModal1 {
        /* 아래 CSS 모달 dialog 활성화 시 백그라운드 검게 처리*/
        position: fixed;
        width: 100%;
        height: 100%;        
        background-color: rgba(0, 0, 0, 0.5);
        
        /* 아래 CSS 모달 화면 중앙에 위치*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
    }

    .modalDialogCentered1 {
        /* 아래 CSS 모달 컨텐츠 표시*/
        position: absolute;
        width: 85%;
        height: auto;        
        background-color: rgba(255,255,255);
        overflow-y: scroll;
        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 1003;
    }    

    .active {
        /* 액티브 토글로 출력-비출력 처리 */
        opacity: 1;
        visibility: visible;
        display: block;
    }

    .userImageBox{
        width: 4em;
        height: 4em; 
        border-radius: 70%;
        overflow: hidden;
    }

    .userImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .applyEndBadge{
        position : sticky;
        left : 100%;
        top : 5%
    }

    .meetingEndBadge{
        position : sticky;
        left : 100%;
        top : 5%
    }

    #searchInput:focus {
    outline: none;
    box-shadow: none;
    }

    #searchInput::placeholder {
    font-size: 0.8em;
    }
    
    </style>
</head>
<script th:inline="javascript">
let sessionUserMeetingProfile = /*[[${session.meetingProfileInfo}]]*/
let sessionUserInfo = /*[[${session.sessionUserInfo}]]*/
console.log('sessionUserInfo: ', sessionUserInfo);
console.log('sessionUserMeetingProfile: ', sessionUserMeetingProfile);


function applyCheck(groupId){
    
    const sessionUserMeetingProfileId = sessionUserMeetingProfile.profileid;
    const targetModal = document.querySelector(`#groupDetailModal[groupId="${groupId}"]`);
    const groupRecruitGender = targetModal.querySelector("#groupGenderOption").innerText;
    const sessionUserGender = sessionUserInfo.gender;
    
    if(groupRecruitGender === "남자만"){
        if(sessionUserGender === "F"){
            alert("해당 미팅은 남자만 모집중입니다");
            return;
        }
    }
    else if(groupRecruitGender === "여자만"){
        if(sessionUserGender === "M"){
            alert("해당 미팅은 여자만 모집중입니다");
            return;
        }
    }
    else{
        fetch("./api/applyCheck?profileId=" + sessionUserMeetingProfileId + "&groupId=" + groupId)
        .then(response => response.json())
        .then(response => {
            const checkResult = response.data;
            console.log('checkResult: ', checkResult);
            
            if(checkResult === 0){
                showApplyModal(groupId);            
            }
            else{
                alert("이미 신청한 미팅입니다.");
                closeGroupDetailModal();
                return;
            }        
        });
    }
}

function registerApplyUser(groupId){        
    
    const sessionUserMeetingProfileId = sessionUserMeetingProfile.profileid;    

    const applyModal = document.getElementById("applyModal");
    const applyComment = applyModal.querySelector("#applyComment");
    const applyCommentValue = applyComment.value;
    
    if(applyCommentValue.length === 0){
        alert("가입신청글은 필수 입력항목입니다.");
        applyComment.focus();
        return;
    }
    
    // console.log('groupId: ', groupId);
    // console.log('sessionUserMeetingProfileId: ', sessionUserMeetingProfileId);
    // console.log('applyCommentValue: ', applyCommentValue);    

    const applyData = {
        "groupId" : groupId,
        "profileId" : sessionUserMeetingProfileId,
        "applyComment" : applyCommentValue
    }

    fetch("./api/registerApplyUser", {
        method:'post',
        headers : {
            "Content-Type" : "application/json"
        },
        body: JSON.stringify(applyData)})
    .then(response => response.json())
    .then(response =>{
        const result = response.result;
        if(result === "success"){
            alert("미팅 가입 신청이 정상적으로 완료되었습니다.");
            closeApplyModal();
            getGroupDetailInfo(groupId);
        }
        else{
            alert("오류 발생");
        }
    });    
}

function getGroupApplyForm(groupId){
    
    console.log('sessionUserMeetingProfile: ', sessionUserMeetingProfile);    
    
    const sessionUserMeetingProfileId = sessionUserMeetingProfile.profileid;
    const sessionuserMeetingProfileNickname = sessionUserMeetingProfile.profileNickname;

    const applyModal = document.getElementById("applyModal");

    const applyUserNickname = applyModal.querySelector("#applyUserNickname");
    applyUserNickname.innerText = sessionuserMeetingProfileNickname;

    const sessionUserImage = applyModal.querySelector("#sessionUserImage");
    sessionUserImage.setAttribute("src", `/uploadFiles/ufuf/meeting/profileImage/${sessionUserMeetingProfile.profileImg}`);

    const applyComment = applyModal.querySelector("#applyComment");
    applyComment.value = "";

    const applySubmit = applyModal.querySelector("#applySubmit");
    applySubmit.setAttribute("onclick", `registerApplyUser(${groupId})`);
    
}

function dateConverter(dateTimedata, option){
    const array = new Date(...dateTimedata);
    const convertDate = Intl.DateTimeFormat('ko-KR', option).format(array);
    return convertDate;
}

function getGroupDetailInfo(groupId){
    fetch("./api/getGroupDetailInfo?groupId=" + groupId)
    .then(response => response.json())
    .then(response =>{
        const groupDetailInfo = response.data;

        console.log('groupDetailInfo: ', groupDetailInfo);
        console.log('meetingGroupDto: ', groupDetailInfo.meetingGroupDto);
        console.log('meetingProfileDto: ', groupDetailInfo.meetingProfileDto);
        console.log('tagDtoList: ', groupDetailInfo.tagDtoList);

        const groupDetailModal = document.getElementById('groupDetailModal');
        groupDetailModal.setAttribute("groupId" , groupDetailInfo.meetingGroupDto.groupId);
        const meetingTitleDetail = groupDetailModal.querySelector("#meetingTitleDetail");
        meetingTitleDetail.innerText = groupDetailInfo.meetingGroupDto.groupTitle;

        const meetingDateDetail = groupDetailModal.querySelector("#meetingDateDetail");
        const meetingDate = groupDetailInfo.meetingGroupDto.groupMeetingDate;        
        const dateOption = {
            year : 'numeric',
            month : 'long',
            day : 'numeric',
            hour : 'numeric',
            minute : '2-digit',
            weekday : 'short'
        };
        const convertDate = dateConverter(meetingDate, dateOption);        
        meetingDateDetail.innerText = convertDate;

        const meetingLocationDetail = groupDetailModal.querySelector("#meetingLocationDetail");
        meetingLocationDetail.innerText = groupDetailInfo.meetingGroupDto.groupMeetingPlace;

        const groupLeaderImage = groupDetailModal.querySelector("#groupLeaderImage");
        groupLeaderImage.setAttribute("src", `/uploadFiles/ufuf/meeting/profileImage/${groupDetailInfo.meetingProfileDto.profileImg}`);

        const groupLeaderNickname = groupDetailModal.querySelector("#groupLeaderNickname");
        groupLeaderNickname.innerText = groupDetailInfo.meetingProfileDto.profileNickname;

        const groupContentDetail = groupDetailModal.querySelector('#groupContentDetail');
        groupContentDetail.innerText = groupDetailInfo.meetingGroupDto.groupContent;

        const applyUserCount = groupDetailModal.querySelector("#applyUserCount");
        applyUserCount.innerText = groupDetailInfo.groupApplyUserCountValue;

        const groupApplyStart = groupDetailModal.querySelector("#groupApplyStart");
        const startDate = groupDetailInfo.meetingGroupDto.groupApplyStart;
        const formattedStartDate = startDate[1] + "월 " + startDate[2] + "일 ";
        groupApplyStart.innerText = formattedStartDate;

        const groupMemberCount = groupDetailModal.querySelector("#groupMemberCount");
        groupMemberCount.innerText = groupDetailInfo.groupMemberCountValue;


        const groupApplyEnd = groupDetailModal.querySelector("#groupApplyEnd");
        const endDate = groupDetailInfo.meetingGroupDto.groupApplyEnd;
        const formattedEndDate = endDate[1] + "월 " + endDate[2] + "일 ";
        groupApplyEnd.innerText = formattedEndDate;

        const groupHeadCount = groupDetailModal.querySelector('#groupHeadCount');
        groupHeadCount.innerText = groupDetailInfo.meetingGroupDto.groupHeadCount;

        const groupGenderOption = groupDetailModal.querySelector("#groupGenderOption");
        if(groupDetailInfo.meetingGroupDto.groupGenderOption === "M"){
            groupGenderOption.innerText = '남자만';
            groupGenderOption.setAttribute("class", "fw-bold text-primary");
        }
        else if(groupDetailInfo.meetingGroupDto.groupGenderOption === "F"){
            groupGenderOption.innerText = '여자만';
            groupGenderOption.setAttribute("class", "fw-bold text-danger");
        }
        else{
            groupGenderOption.innerText = '남녀무관';
            groupGenderOption.setAttribute("class", "fw-bold text-success");
        }

        const groupApplyCharge = groupDetailModal.querySelector("#groupApplyCharge");
        groupApplyCharge.innerText = groupDetailInfo.meetingGroupDto.groupApplyCharge.toLocaleString('ko-KR');

        const groupTagWrapper = groupDetailModal.querySelector("#groupTagWrapper");
        groupTagWrapper.innerHTML = "";
        const tagList = groupDetailInfo.tagDtoList;
        for(e of tagList){
            const groupTag = document.createElement("button");
            groupTag.setAttribute('class', 'tagButton btn btn-sm rounded-pill custom-button-color mx-1');
            groupTag.innerText = e.tagName;
            groupTagWrapper.appendChild(groupTag);
        }

        const applyUserProfieImageListRow = groupDetailModal.querySelector("#applyUserProfieImageListRow");
        applyUserProfieImageListRow.innerHTML = "";
        const applyUserMapList = groupDetailInfo.applyUserMapList;
        
        if(applyUserMapList.length === 0){
            const applyUserNotExist = document.querySelector("#templete #applyUserNotExist").cloneNode(true);
            applyUserProfieImageListRow.appendChild(applyUserNotExist);
            const parentCol = applyUserProfieImageListRow.closest(".col");
            console.log('parentCol: ', parentCol);
            parentCol.classList.remove("overflow-x-scroll");
            applyUserProfieImageListRow.removeAttribute("style");
        }
        else{
            const parentCol = applyUserProfieImageListRow.closest(".col");
            console.log('parentCol: ', parentCol);
            parentCol.classList.add("overflow-x-scroll");
            applyUserProfieImageListRow.setAttribute("style","width:200%;");

            for(e of applyUserMapList){
                const applyUserImageBox = document.querySelector("#templete #applyUserImageBox").cloneNode(true);
                const applyUserImage = applyUserImageBox.querySelector("#applyUserImage");
                applyUserImage.setAttribute("src", `/uploadFiles/ufuf/meeting/profileImage/${e.applyUserProfileDto.profileImg}`)
                applyUserImage.setAttribute("alt", e.applyUserProfileDto.profileNickname);               
                applyUserImage.setAttribute("title", e.applyUserProfileDto.profileNickname);               
                
                const applyImageNickname = applyUserImageBox.querySelector("#applyImageNickname");
                applyImageNickname.innerText = e.applyUserProfileDto.profileNickname;

                applyUserProfieImageListRow.appendChild(applyUserImageBox);
            }
        }

        const sessionUserMeetingProfileId = sessionUserMeetingProfile.profileid;
        console.log("sessionUserMeetingProfileId : " + sessionUserMeetingProfileId + "/ type : " + typeof sessionUserMeetingProfileId);
        console.log("profileId : " + groupDetailInfo.meetingGroupDto.profileId + "/ type : " + typeof groupDetailInfo.meetingGroupDto.profileId);
        
        const groupApplyButton = groupDetailModal.querySelector('#groupApplyButton');
        const groupApplyButtonText = groupApplyButton.querySelector("#groupApplyButtonText");        
        
        if(groupDetailInfo.meetingGroupDto.profileId === sessionUserMeetingProfileId){            
            groupApplyButtonText.innerText = "모집관리";
            groupApplyButton.setAttribute("onclick", `window.location.href='./myRecruitGroupDetailPage?groupId=${groupId}'`);            
            groupApplyButtonText.setAttribute("class", "text-primary fw-bold");
        }
        else{
            if(groupDetailInfo.meetingGroupDto.groupApplyStatus === "Y"){
                groupApplyButton.removeAttribute("onclick");                                
                groupApplyButtonText.innerText = "모집종료";
                groupApplyButtonText.setAttribute("class", "text-danger fw-bold")
            }
            else{
                groupApplyButtonText.innerText = "참가신청";
                groupApplyButton.setAttribute("onclick", `applyCheck(${groupId})`);                
                groupApplyButtonText.setAttribute("class", "fw-bold");
            }
            
        }
    });
}

// 모집글 상세정보 모달
function showGroupDetailModal(groupId){    
    
    document.body.style.overflow = 'hidden';
    getGroupDetailInfo(groupId);
    const groupDetailModal = document.querySelector("#groupDetailModal");
    groupDetailModal.classList.add('active');
    const groupDetailModalDialog = document.querySelector("#groupDetailModalDialog");
    groupDetailModalDialog.classList.add('active');    
}

function closeGroupDetailModal(){
    
    document.body.style.overflow = 'auto';
    const groupDetailModal = document.querySelector("#groupDetailModal");
    groupDetailModal.classList.remove('active');
    const groupDetailModalDialog = document.querySelector("#groupDetailModalDialog");
    groupDetailModalDialog.classList.remove('active');    
}

// 지원하기 모달
function showApplyModal(groupId){
    getGroupApplyForm(groupId);
    const applyModal = document.getElementById("applyModal");
    applyModal.classList.add('active');
    const applyModalDialog = document.getElementById("applyModalDialog");
    applyModalDialog.classList.add('active');
}

function closeApplyModal(){
    const applyModal = document.getElementById("applyModal");
    applyModal.classList.remove('active');
    const applyModalDialog = document.getElementById("applyModalDialog");
    applyModalDialog.classList.remove('active');
}

// 그룹리스트 정보 받아온 후에 해당 그룹의 status 변경해주는것으로 로직 변경

async function groupListCSR(){
    let groupListAll = await getGroupList();
    console.log('groupListAll: ', groupListAll);

    const groupListCol = document.getElementById("groupListCol");
    groupListCol.innerHTML = '';
    
    for(e of groupListAll){
        const groupListWrapper = document.querySelector("#templete #groupListWrapper").cloneNode(true);
        groupListWrapper.setAttribute("onclick", `showGroupDetailModal(${e.groupId})`);
        const customBackground = groupListWrapper.querySelector(".custom-background");
        customBackground.setAttribute("src",`/uploadFiles/ufuf/meeting/groupImage/${e.groupImage}`);
        
        const groupMeetingDate = groupListWrapper.querySelector("#groupMeetingDate");            
        const dateValue = e.groupMeetingDate
        const dateOption = {
            year : 'numeric',
            month : 'long',
            day : 'numeric',
            hour : 'numeric',
            minute : '2-digit',
            weekday : 'short'
        }
        const convertDate = dateConverter(dateValue, dateOption);
        groupMeetingDate.innerText = convertDate;

        const groupTitle = groupListWrapper.querySelector("#groupTitle");
        groupTitle.innerText = e.groupTitle;

        const groupMeetingPlace = groupListWrapper.querySelector("#groupMeetingPlace");
        let placeText = e.groupMeetingPlace.split(" ");
        groupMeetingPlace.innerText = placeText[0] + " " + placeText[1];

        if(e.groupApplyStatus === "Y"){
            const applyEndBadge = document.createElement("span");
            applyEndBadge.innerText = "모집종료";
            applyEndBadge.setAttribute("class", "badge text-bg-danger fw-bold fs-6 applyEndBadge");                
            const backgroundInnerCol = groupListWrapper.querySelector(".col");
            backgroundInnerCol.appendChild(applyEndBadge);
        }
        
        if(e.groupMeetingStatus === "Y"){
            const meetingEndBadge = document.createElement("span");
            meetingEndBadge.innerText = "미팅종료";
            meetingEndBadge.setAttribute("class", "badge text-bg-warning fw-bold fs-6 meetingEndBadge");                
            const backgroundInnerCol = groupListWrapper.querySelector(".col");
            backgroundInnerCol.appendChild(meetingEndBadge);
        }

        groupListCol.appendChild(groupListWrapper);
    }
}

function checkMeetingDate(groupListData){
    // for(e of groupListData){

    // }
}

async function getGroupList(){

    return await fetch("./api/getGroupList")
    .then(response => response.json())
    .then(response =>{
        const responseData = response.data;        
        return responseData;
    });
}

document.addEventListener('DOMContentLoaded', ()=>{
    groupListCSR();
});


</script>
<body class="pt-5 pb-5" style="background-color: #f5ededea;">    
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row fixed-top bg-white" style="height: 3.3em;">
            <div class="col align-self-center">
                <div class="row mt-1 mx-1 justify-content-between">
                    <div class="col ps-0">
                        <div class="row">
                            <div class="col-auto" onclick="window.location.href='./mainPage'">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto align-self-center px-0">
                                <span class="">Uni Signal</span>
                            </div>                              
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <span class="fs-5 text-secondary"><i class="fi fi-rr-bell bi-align-middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="row my-2">
                    <div class="col">
                        <div class="row fs-3">
                            <div class="col-auto align-self-center" onclick="window.history.back()">
                                <span class="fs-3"><i class="fi fi-rr-angle-small-left bi-align-middle"></i></span>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="row border border-0 rounded-5 bg-white">
                                            <div class="col me-2">
                                                <div class="row justify-content-between">
                                                    <div class="col-10 pe-0">
                                                        <input id="searchInput" type="text" class="form-control border-0 px-0" placeholder="키워드 입력  ex. 강남">
                                                    </div>
                                                    <div class="col-auto align-self-center ps-0">
                                                        <span class="text-secondary"><i class="fi fi-rr-search bi-align-middle"></i></span>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row overflow-y-scroll">
                    <div id="groupListCol" class="col">                        
                    </div>
                </div>
            </div>
        </div>        

        <!--footer-->
        <div class="row fixed-bottom bg-white" style="height: 3.4em;">
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-around mt-1 text-secondary">
                            <div class="col text-center mx-1" onclick="window.location.href='./searchPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <span class="" style="font-size: 1.2em; color:#FF8827;"><i class="fi fi-sr-search-heart bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="color: #FF8827;">Find</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./createNewGroupPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-following bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Make</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='../commons/mainPage'">
                                <div class="row">
                                    <div class="col">                                                
                                        <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2.8em; height: auto;">                                                
                                    </div>
                                </div>                                        
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./chatListPage'">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-comment-alt bi-align-middle"></i></span>                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">Chat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center mx-1" onclick="window.location.href='./myPage'">
                                <div class="row">
                                    <div class="col">
                                        <span class="" style="font-size: 1.2em;"><i class="fi fi-rr-circle-user bi-align-middle"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="">My</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>

    </div>


<!--/* 템플릿 */-->
<div id="templete" class="d-none">
    
    <!--/* 미팅메인 모집글리스트 템플릿 */-->
    <div id="groupListWrapper" class="row background-wrapper mb-1" role="button">                
        <div class="col">
            <img class="custom-background">
        </div>
        <div class="col group-content">
            <div class="row">
                <div id="groupList" class="col-12">            
                    <div class="row">
                        <div class="col text-center">
                            <span class="fw-bold" id="groupMeetingDate"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <span class="fw-bold" id="groupTitle"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <span class="fw-bold" id="groupMeetingPlace"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <!--/* 모집글 상세 신청자명단 템플릿 */-->
    <div id="applyUserImageBox" class="col-auto">
        <div class="row">
            <div class="col">
                <div class="userImageBox">
                    <img id="applyUserImage" class="userImage">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <span id="applyImageNickname" class="fw-bold" style="font-size: 0.8em;"></span>
            </div>
        </div>        
    </div>

    <!--/* 신청자 없을 시 안내문구 템플릿 */-->
    <div id="applyUserNotExist" class="col text-center">
        <span class="fw-bold text-danger fs-5">아직 신청한 인원이 없습니다.</span>
    </div>
    
</div>

<!--/* 모집글 상세정보 모달 */-->
<div id="groupDetailModal" class="customModal" tabindex="-1">
    <div id="groupDetailModalDialog" class="modal-dialog border border-0 rounded-3 modalDialogCentered">
        <div class="modal-content container-fluid rounded-2">
            <div class="row modal-header justify-content-between border-bottom rounded-top-1" style="background-color: #FF8827;">
                <div class="col">
                    <div class="row my-2">
                        <div class="col">
                            <span id="meetingTitleDetail" class="modal-title fw-bold text-white fs-4"></span>
                        </div>                    
                        <div class="col-auto">
                            <button type="button" onclick="closeGroupDetailModal()" class="btn btn-close"></button>                            
                        </div>                
                    </div>                    
                </div>                
            </div>

            <div class="row modal-body mt-2">
                <div class="col">                    
                    <div class="row mt-2">
                        <div class="col">
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="userImageBox" style="width: 3em; height: 3em;">
                                                <img id="groupLeaderImage" class="userImage">
                                            </div>                                            
                                        </div>
                                        <div class="col-auto ps-0 align-self-center">
                                            <span id="groupLeaderNickname" class="fs-5 fw-bold"></span>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>                    
                    <div class="row mt-2 border-bottom">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <span id="groupContentDetail"></span>
                                </div>
                            </div>
                            <div class="row mb-3 mt-2">
                                <div id="groupTagWrapper" class="col">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom">
                        <div class="col">
                            <div class="row my-3">
                                <div class="col" style="font-size: 0.9em;">
                                    <div class="row">
                                        <div class="col-3">
                                            <span>장소</span>
                                        </div>
                                        <div class="col-auto ps-0">
                                            <span id="meetingLocationDetail" class="fw-bold"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <span>주최일</span>                                    
                                        </div>
                                        <div class="col-auto ps-0">
                                            <span id="meetingDateDetail" class="fw-bold"></span>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="row">
                                <div class="col-3">
                                    <span style="font-size: 0.9em;">모집기한</span>
                                </div>
                                <div class="col-auto ps-0">
                                    <span id="groupApplyStart" class="fw-bold"></span>
                                    <span class="fw-bold">~</span>
                                    <span id="groupApplyEnd" class="fw-bold"></span>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-3">
                                    <span style="font-size: 0.9em;">확정인원</span>
                                </div>
                                <div class="col-auto ps-0">
                                    <span id="groupMemberCount" class="fw-bold text-danger"></span>
                                    <span class="fw-bold">/</span>
                                    <span id="groupHeadCount" class="fw-bold"></span>                                    
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-3">
                                    <span style="font-size: 0.9em;">모집성별</span>
                                </div>
                                <div class="col-auto ps-0">                                    
                                    <span id="groupGenderOption" class="fw-bold"></span>
                                </div>
                            </div>
                            <div class="row mt-1 border-bottom">
                                <div class="col">
                                    <div class="row mb-3">
                                        <div class="col-3">
                                            <span style="font-size: 0.9em;">회비</span>
                                        </div>
                                        <div class="col-auto ps-0">
                                            <span id="groupApplyCharge" class="fw-bold"></span>
                                            <span class="">원</span>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="row">
                                <div class="col-auto">
                                    <span>신청목록</span>
                                </div>
                                <div class="col-auto ps-0">
                                    <span class="fw-bold"><i class="fi fi-sr-user bi-align-middle"></i></span>                                    
                                    <span id="applyUserCount" class="fw-bold text-primary"></span>                                    
                                </div>
                            </div>
                            <div class="row mt-2 mb-3">
                                <div class="col">
                                    <div class="row">
                                        <div class="col overflow-x-scroll">
                                            <div id="applyUserProfieImageListRow" class="row" style="width: 200%;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="row modal-footer border-top">
                <div class="col">
                    <div class="row">
                        <div id="groupApplyButton" class="col btn border-end rounded-0">
                            <div class="row mt-2 mb-2">
                                <div class="col text-center">
                                    <span id="groupApplyButtonText"></span>
                                </div>                         
                            </div>                    
                        </div>
                        <div class="col btn" onclick="closeGroupDetailModal()">
                            <div class="row mt-2 mb-2">                         
                                <div class="col text-center">
                                    <span>닫기</span>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/* 모집글 지원 모달 */-->
<div id="applyModal" class="customModal1" tabindex="-1">
    <div id="applyModalDialog" class="modal-dialog border border-0 rounded modalDialogCentered1">
        <div class="modal-content container-fluid rounded-2">
            <div class="row modal-header justify-content-between border-bottom rounded-top-2" style="background-color: #FF8827;">
                <div class="col">
                    <div class="row my-2">
                        <div class="col">
                            <span class="fw-bold text-white fs-4"><i class="fi fi-rr-edit bi-ailgn-middle"></i></span>
                            <span id="" class="modal-title fw-bold text-white fs-4">참가 신청서 작성</span>
                        </div>                    
                        <div class="col-auto">
                            <button type="button" onclick="closeApplyModal()" class="btn btn-close"></button>                            
                        </div>                
                    </div>                    
                </div>                
            </div>

            <div class="row modal-body mt-2 border-bottom">
                <div class="col">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="row mb-2">
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="userImageBox">
                                                <img id="sessionUserImage" class="img-fluid userImage">
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto ps-0 align-self-center">
                                    <span id="applyUserNickname" class="fs-5 fw-bold"></span>
                                    <span class="fs-5">님</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <span><i class="fi fi-rr-comment-dots bi-align-middle"></i></span>
                                    <span>Comment</span>
                                </div>
                            </div>
                            <div class="row mt-1 mb-3">
                                <div class="col">
                                    <textarea id="applyComment" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row modal-footer">                
                <div id="applySubmit" class="col border-end btn" type="button">
                    <div class="row mt-2 mb-2">
                        <div class="col text-center">
                            <span class="fw-bold">작성완료</span>
                        </div>                         
                    </div>                    
                </div>
                <div class="col btn" role="button" onclick="closeApplyModal()">
                    <div class="row mt-2 mb-2">                         
                        <div class="col text-center">
                            <span>닫기</span>
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>