<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cu.ufuf.meeting.mapper.MeetingSqlMapper">

<!-- * 미팅프로필 테이블 현재 PK 조회-->
<select id="countProfilePk" resultType="int">
    SELECT count(id) from meeting_profile
</select>



</mapper>
