<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cu.ufuf.meeting.mapper.MeetingSqlMapper">

<!-- * 미팅프로필 테이블 현재 PK 조회-->
<select id="countProfilePk" resultType="int">
    SELECT count(profileid) from meeting_profile
</select>

<!-- * 개인SNS URL 주소 중복 여부 확인-->
<select id="countSNSUrlByInputUrlValue" resultType="int">
    SELECT count(*) from meeting_sns 
    where snsURL like #{value}
</select>

<!-- * 미팅프로필 인서트 쿼리-->
<insert id="insertMeetingProfile">
    insert into meeting_profile(profileid, user_id, profileNickname, profileImg, profileComment)
    values(
        #{profileid},
        #{user_id},
        #{profileNickname},
        #{profileImg},
        #{profileComment}
    )
</insert>

<!-- * 개인SNS 인서트 쿼리-->
<insert id="insertNewSNS">
    insert into meeting_sns(profileid, snsURL) 
    values(
        #{profileid},
        #{snsURL}
    )
</insert>

<!-- * 미팅 프로필 존재 여부 확인 쿼리-->
<select id="countMeetingProfileByUserId" resultType="int">
    SELECT count(*) from meeting_profile mp 
    where user_id = #{user_id}
</select>

<!-- * 미팅 프로필 셀렉트 쿼리-->
<select id="selectMeetingProfileByUserId" resultType="com.cu.ufuf.dto.MeetingProfileDto">
    SELECT * from meeting_profile mp 
    where user_id = #{user_id}
</select>

<!-- * 미팅 모집글 테이블 PK 생성-->
<select id="countGroupPk" resultType="int">
    SELECT count(groupId) from meeting_group
</select>

<!-- * 미팅 모집글 인서트 쿼리-->
<insert id="insertNewGroup">
    INSERT into 
meeting_group(
	groupId,
	profileId,
	groupTitle,
	groupContent,
    groupImage,
	groupHeadCount,
	groupMeetingDate,
	groupApplyStart,
	groupApplyEnd,
	groupApplyCharge,
	groupMeetingPlace,
	groupGenderOption
	)
values (
	#{groupId},
	#{profileId},
	#{groupTitle},
	#{groupContent},
    #{groupImage},
	#{groupHeadCount},
	#{groupMeetingDate},
	#{groupApplyStart},
	#{groupApplyEnd},
	#{groupApplyCharge},
	#{groupMeetingPlace},
	#{groupGenderOption}
)
</insert>

<!-- * 지역 대분류 PK 생성-->
<select id="countFirstLocationCategoryForPk" resultType="int">
    SELECT count(firstLocationCategoryId) from meeting_firstLocationCategory
</select>

<!-- * 지역 중분류 PK 생성-->
<select id="countSecondLocationCategoryForPk" resultType="int">
    SELECT count(secondLocationCategoryId) from meeting_secondLocationCategory
</select>

<!-- * 지역 대분류 카테고리 인서트-->
<insert id="insertFirstLocationCategory">
    insert into meeting_firstLocationCategory(firstLocationCategoryId, firstLocationCategoryName) values(
        #{firstLocationCategoryId},
        #{firstLocationCategoryName}
    )
</insert>

<!-- * 지역 중분류 카테고리 인서트-->
<insert id="insertSecondLocationCategory">
    insert into meeting_secondLocationCategory (secondLocationCategoryId, secondLocationCategoryName) values(
        #{secondLocationCategoryId},
        #{secondLocationCategoryName}
    )
</insert>

<!-- * 모집글 : 지역 대분류 카테고리 인서트-->
<insert id="insertGroupFirstLocationCategory">
    INSERT into meeting_group_firstLocationCategory(groupId, firstLocationCategoryId) values(
        #{groupId},
        #{firstLocationCategoryId}
    )
</insert>

<!-- * 모집글 : 지역 중분류 카테고리 인서트-->
<insert id="insertGroupSecondLocationCategory">
    INSERT into meeting_group_secondLocationCategory(groupId, secondLocationCategoryId) values(
        #{groupId},
        #{secondLocationCategoryId}
    )
</insert>

<!-- * 미팅 태그 PK 생성-->
<select id="countTagForPk" resultType="int">
    SELECT count(tagId) from meeting_tag
</select>

<!-- * 미팅 태그 인서트-->
<insert id="insertTag">
    insert into meeting_tag(tagId, tagName) values(
        #{tagId},
        #{tagName}
    )
</insert>

<!-- * 모집글 : 미팅태그 인서트-->
<insert id="insertGroupTag">
    insert into meeting_group_tag(groupId, tagId) values(
        #{groupId},
        #{tagId}
    )
</insert>

<!-- * 미팅 모집글 리스팅-->
<select id="selectGroupListAll" resultType="com.cu.ufuf.dto.MeetingGroupDto">
    SELECT * from meeting_group
    order by groupId desc
</select>

<!-- * 그룹PK 기준 모집글 상세 셀렉트-->
<select id="selectGroupByGroupId" resultType="com.cu.ufuf.dto.MeetingGroupDto">
    SELECT * from meeting_group mg
    where groupid = #{groupId}
</select>

<!-- * 그룹PK 기준 모집글 태그 셀렉트-->
<select id="selectGroupTagListByGroupId" resultType="com.cu.ufuf.dto.MeetingGroupTagDto">
    SELECT * from meeting_group_tag mgt
    where groupId = #{groupId}
</select>

<!-- * 프로필PK 기준 미팅프로필 셀렉트-->
<select id="selectMeetingProfileByProfileId" resultType="com.cu.ufuf.dto.MeetingProfileDto">
    SELECT * from meeting_profile mp 
    where profileid = #{profileId}
</select>

<!-- * 태그PK 기준 태그데이터 셀렉트-->
<select id="selectTagByTagId" resultType="com.cu.ufuf.dto.MeetingTagDto">
    SELECT * from meeting_tag mt 
    where tagid = #{tagId}
</select>

<!-- * 미팅 신청자 인서트-->
<insert id="insertMeetingApplyUser">
    insert into meeting_applyUser(
        groupId,
        profileId,
        applyComment	
    )
    values(
        #{groupId},
        #{profileId},
        #{applyComment}
    )
</insert>

<!-- * 미팅 신청자 신청내역 존재여부 확인-->
<select id="countMeetingApplyUserByProfileId" resultType="int">
    SELECT COUNT(*) from meeting_applyUser
    where 1=1
    and profileId = #{profileId}
    and groupId = #{groupId}
</select>

<!-- * 모집글에 신청한 유저 미팅프로필 리스트 셀렉트-->
<select id="selectGroupApplyUserList" resultType="com.cu.ufuf.dto.MeetingApplyUserDto">
    SELECT * from meeting_applyUser 
    where groupId = #{groupId}
</select>

<!-- * 유저PK기준 모집중인 미팅 리스트 셀렉트-->
<select id="selectMeetingGroupListByProfilePk" resultType="com.cu.ufuf.dto.MeetingGroupDto">
    SELECT * from meeting_group mg
    where profileId = #{profileId}
</select>

<!-- * 미팅 확정멤버 인서트-->
<insert id="insertMeetingGroupMember">
    insert into meeting_groupMember(groupId, profileId) values(
        #{groupId},
        #{profileId}
    )
</insert>





</mapper>
