<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ufuf</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <style>
    @font-face {
        font-family: 'myCustomFont';
        src: local('myCustomFont'), url('/public/font/SF-Mono-Semibold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    *{
        /* font-family: 'Dongle', sans-serif; */
        font-family: 'Gowun Dodum', sans-serif;
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        /* font-family: 'myCustomFont', sans-serif; */
    }
    </style>
</head>

<body>
    <div class="container-fluid">
        
        <!--/* 임시 탑 에어리어 */-->
        <div class="row">
            <div class="col">
                <div class="row mt-1 align-content-center">
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <img src="/public/image/meeting/ufuf_image_icon.png" class="img-fluid" style="width: 2em; height: auto;">
                            </div>
                            <div class="col-auto">
                                <span class="fw-bold fs-4 align-middle">ufuf</span>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-list fs-4 fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                
                <div class="row mt-5 justify-content-center">
                    <div class="col-auto text-center">
                        <span class="fw-bold fs-1">[ 접속유저 : </span>
                    </div>
                    <div class="col-auto text-center">                        
                        <span th:if="${session.sessionUserInfo != null}" th:text="|${session.sessionUserInfo.name} ]|" class="fw-bold fs-1"></span>
                        <span th:unless="${session.sessionUserInfo != null}" class="fw-bold fs-1">로그인안됨 ]</span>
                    </div>
                </div>

                <div class="row mt-5 justify-content-center">
                    <div class="col-6 text-center btn btn-white border border-2" role="button" onclick="window.location.href='../login/loginPage'">
                        <span class="fw-bold fs-1">로그인</span>
                    </div>
                </div>
                <div class="row mt-5  justify-content-center">
                    <div class="col-6 text-center btn btn-white border border-2" role="button" onclick="window.location.href='../login/logoutProcess'">
                        <span class="fw-bold fs-1">로그아웃</span>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-6 text-center btn btn-white border border-2" role="button" onclick="window.location.href='../login/registerIdForm'">
                        <span class="fw-bold fs-1">회원가입</span>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-8 text-center btn btn-white border border-2" role="button" onclick="window.location.href='../meeting/mainPage'">
                        <span class="fw-bold fs-1">유니시그널 메인</span>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-10 text-center btn btn-white border border-2" role="button" onclick="window.location.href='../circle/circleMainPage'">
                        <span class="fw-bold fs-1">부제의 부재 써클 메인</span>
                    </div>
                </div>
                <div class="row mt-5  justify-content-center">
                    <div class="col-8 text-center btn btn-white border border-2" role="button" onclick="window.location.href='../room/roomMainPage'">
                        <span class="fw-bold fs-1">유니B&B 메인</span>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-10 text-center btn btn-white border border-2" role="button" onclick="window.location.href='../mission/missionMap'">
                        <span class="fw-bold fs-1">미션임파서블 메인</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                푸터 영역
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>