<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>마이페이지</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <style>
        *{
            font-family: -apple-system, BlinkMacSystemFont, 
            "Apple SD Gothic Neo", 
            "Pretendard Variable", 
            Pretendard, 
            Roboto, 
            "Noto Sans KR", 
            "Segoe UI", 
            "Malgun Gothic", 
            "Apple Color Emoji", 
            "Segoe UI Emoji", 
            "Segoe UI Symbol", 
            sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
         <!-- 페이지 네비-->
         <div class="row border-bottom border-secondery-subtle pt-4 pb-2 bg-white" style="position: fixed; top: 0; width: 100%; z-index: 1000;">
            
            <!--뒤로가기-->
            <div class="col-1" onclick="window.location.href='./mainPage'">
                <i class="bi bi-x-lg text-secondary"></i>
            </div>

            <!--무슨페이지인지 알 수 있게-->
            <div class="col text-center fw-bold text-secondary mt-1 fs-5">마이페이지</div>
            <div class="col-1"></div> 
        </div>
        <!--여백-->
        <div class="row p-4 mt-4 mb-3"></div>

        <!--유저정보 간단하게-->
        <div class="row mx-2">
            <div class="col">
                <div class="row">
                    <div class="col fw-bold" th:text="${session.sessionUserInfo.name}"></div>
                </div>
                <div class="row mt-1">
                    <div class="col text-secondary">
                        <span class="text-secondary" th:text="${session.sessionUserInfo.email}" style="font-size: 0.9em;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-secondary">
                        <span class="text-secondary" th:text="${session.sessionUserInfo.university}" style="font-size: 0.9em;"></span>/
                        <span class="text-secondary" th:text="${session.sessionUserInfo.department}" style="font-size: 0.9em;"></span>
                    </div>
                </div>
            </div>
        </div>

        <!--ui 심심해서 광고-->
        <div class="row mt-3 pt-2">
            <img src="/public/image/commons/ufuf_commercial_2.png" class="img-fluid">
        </div>


        <!--미션-->
        <div class="row ps-2 border-bottom pb-2 mt-4 mx-2 fw-bold">
            유니미션
        </div>
        <div class="row mt-3 mx-2" style="font-size: 0.9em;">
            <div class="col">
                MY 미션
            </div>
            <div class="col text-end">
                &gt;
            </div>
        </div>

        <!--미팅-->
        <div class="row ps-2 border-bottom pb-2 mt-4 mx-2 fw-bold">
            유니시그널
        </div>
        <div class="row mt-3 mx-2" style="font-size: 0.9em;">
            <div class="col">
                MY 미팅 프로필
            </div>
            <div class="col text-end">
                &gt;
            </div>
        </div>

        <!--동아리-->
        <div class="row ps-2 border-bottom pb-2 mt-4 mx-2 fw-bold">
            유니서클
        </div>
        <div class="row mt-3 mx-2" style="font-size: 0.9em;">
            <div class="col">
                MY 동아리
            </div>
            <div class="col text-end">
                &gt;
            </div>
        </div>


        <!--게스트하우스-->
        <div class="row ps-2 border-bottom pb-2 mt-4 mx-2 fw-bold">
            유니비앤비
        </div>
        <div class="row mt-3 mx-2" style="font-size: 0.9em;">
            <div class="col">
                <div class="row" onclick="window.location.href='../room/myRoomReservationListPage'">
                    <div class="col">
                        예약내역
                    </div>
                    <div class="col text-end">
                        &gt;
                    </div>  
                </div>
                <div class="row mt-2" onclick="window.location.href='../room/myRoomListPage'">
                    <div class="col">
                        내가 올린 방
                    </div>
                    <div class="col text-end">
                        &gt;
                    </div>  
                </div>
            </div>
        </div>

        <!--여백-->
        <div class="row p-4"></div>
        
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>