<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cu.ufuf.merchan.mapper.MerchanSqlMapper">

<insert id="insertItemCategory">
    insert into item_category(category_name)
    values(#{category_name})
</insert>

<insert id="insertItemInfo">
    <selectKey keyProperty="item_id" resultType="int" order="AFTER">
        SELECT LAST_INSERT_ID() AS item_id
    </selectKey>
    INSERT INTO item_info(
        item_category_id, 
        merchan_id
        )
    VALUES(
        #{item_category_id}, 
        #{merchan_id}
    )
</insert>

<insert id="insertOrderInfo">
    insert into order_info(
        order_id, 
        item_id, 
        user_id, 
        status
        )
    values(
        #{order_id},
        #{item_id},
        #{user_id},
        #{status}
    )
</insert>

<update id="updateOrderStatus">
    update order_info
    set status = #{status}
    where order_id = #{order_id}
</update>



<insert id="insertKakaoPayReqInfo">
    insert into kakao_payment_req(
        cid, 
        partner_user_id,  
        partner_order_id, 
        item_code,
        item_name, 
        quantity, 
        total_amount, 
        tax_free_amount
        )
    values(
        'TC0ONETIME', 
        #{partner_user_id},
        #{partner_user_id},
        #{item_code},
        #{item_name},
        #{quantity},
        #{total_amount},
        #{tax_free_amount}
    )
</insert>

<insert id="insertKakaoPayReqInfoWithCid">
    insert into kakao_payment_req(
        cid, 
        partner_user_id,  
        partner_order_id, 
        item_code,
        item_name, 
        quantity, 
        total_amount, 
        tax_free_amount
        )
    values(
        #{cid},
        #{partner_user_id},
        #{partner_order_id},
        #{item_code},
        #{item_name},
        #{quantity},
        #{total_amount},
        #{tax_free_amount}
    )
</insert>

<insert id = "insertKakaoPayResInfo">
    insert into kakao_payment_res(
        tid,
        next_redirect_mobile_url,
        created_at
        )
    values(
        #{tid},
        #{next_redirect_mobile_url},
        #{created_at}
    )
</insert>

<insert id = "insertKakaoPayAccReqInfo">
    insert into kakao_payment_accept_req(
        cid,
        tid,
        partner_order_id,
        partner_user_id,
        pg_token
        )
    values(
        'TC0ONETIME',
        #{tid},
        #{partner_order_id},
        #{partner_user_id},
        #{pg_token}
    )
</insert>

<insert id="insertKakaoPayAccResInfo">
	insert into kakao_payment_accept_res(
    	tid,
        amount_id,
        card_id,
        partner_order_id,
        partner_user_id,
        item_id,
        aid,
        payment_method_type,
        approved_at
        )
	values(
    	#{tid},
        #{amount_id},
        #{card_id},
        #{partner_order_id},
        #{partner_user_id},
        #{item_id},
        #{aid},
    	#{payment_method_type},
        #{approved_at}
    )
</insert>

<insert id="insertAmountInfo">
    <selectKey keyProperty="amount_id" resultType="int" order="AFTER">
        SELECT LAST_INSERT_ID() AS amount_id
    </selectKey>
	insert into amount(total, point)
    values(#{total},#{point})
</insert>

<insert id="insertCardInfo">
	inert into card_info(
        <selectKey keyProperty="card_id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS card_id
        </selectKey>
    	bin_,
        card_type,
        install_month,
        approved_id
    	)
	values(
    	#{bin},
        #{card_type},
        #{install_month},
        #{approved_id},
    )
</insert>


</mapper>