<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
     <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
     <script src="/public/js/lockLikeMobile.js"></script>
     <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
     <script>
        const backHome = () => {
            location.href = "./circleMainPage"
        }

        const sessionKakaoAcceptReqValue = () => {

            const url = "./sessionKakaoAcceptReqValue";

            fetch(url)
            .then(response => response.json())
            .then(response => {
                
                kakaoApprovalReq(response.data)
                
            })

        }
        // 이 페이지에 도달했을 때 주문상태가 주문완료로 바뀌어야함// 왜안됨?
        const orderStatusChange = (reqValue) => {

            const order_id = reqValue.partner_order_id;
            console.log(order_id);
            const url = "./orderStatusChange?order_id=" + order_id;
            fetch(url)
            .then(response => response.json())
            .then(response => {
                
                console.log("성공");

            })

        }
        

        
        // 카카오 승인 요청
        const kakaoApprovalReq = (reqValue) => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const pg_token = urlParams.get("pg_token");
            
            const sendData = {
                cid: reqValue.cid,
                tid: reqValue.tid,
                partner_order_id: reqValue.partner_order_id,
                partner_user_id: reqValue.partner_user_id,
                pg_token: pg_token
            }
            console.log(sendData); // 이게 insert할 값
            const ADMIN_KEY = 'acf98a6391690d5cda02d8dd80ebff6a';
            const url = "https://kapi.kakao.com/v1/payment/approve";
            const dataValue = new URLSearchParams(sendData) // 응답받을값

            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded',
                    'Authorization': `KakaoAK ${ADMIN_KEY}`
                },
                body: dataValue
            })
            .then(response => response.json())
            .then(response => {
                
                console.log(response);
                kakaoPaymentAcceptReqInsert(sendData)
                kakaoPaymentAcceptResInsert(response)// 승인 , 승인완료 끝나고 주문상태 바꾸고 , 일정신청테이블 insertㅎㅎ..
                orderStatusChange(reqValue) //마지막에 주문상태 바꿔줘야함
                circleScheduleApply() // 일정신청테이블 insert

                // 결제 승인 요청, 응답
                // kakaoPaymentAcceptReqInsert(eventData, data.tid)
                // kakaoPaymentAcceptResInsert(response.data) //결제수단이 money일때랑 card일때 나눠짐 조심
                

            })
            .catch(error => {
                console.error('Error:', error);
            });

        }
        // 페이 요청dto insert
        const kakaoPaymentAcceptReqInsert = (sendData) => {
            
            const url = "./kakaoPaymentAcceptReqInsert";

            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(sendData)  
            })
            .then(response => response.json())
            .then(response => {

                

            })

        }
        // amount dto 에서 오류 발생
        // 페이 응답dto insert ==> amount랑 card정보 둘다있음
        // 이거왜 됐다 안됐다함??? 왜그래.. 2/19
        const kakaoPaymentAcceptResInsert = (response) => {
            // 여기서 amountpk랑 cardpk 찾을 값들을 넘겨준다.
            const url = "./kakaoPaymentAcceptResInsert";
            const resData = {
                tid: response.tid,
                partner_order_id: response.partner_order_id,
                partner_user_id: response.partner_user_id,
                aid: response.aid,
                payment_method_type: response.payment_method_type,
                approved_at: response.approved_at
            }
            
            
            const amountInfo = response.amount
            const cardInfo = response.card_info
            // 여기서 먼저 amountInfoInsert시켜주고 // 그다음 cardinfo
            amountInfoInsert(amountInfo);
            if(cardInfo != undefined){
                cardInfoInsert(cardInfo);
            };
            // 그리고 마지막으로 결제승인
            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(resData)
            })
            .then(response => response.json())
            .then(response => {

                

            })
        }
        // amount정보 insert (얘는 무조건 값이 나옴) 
        const amountInfoInsert = (amountInfo) => {

            const amount = {
                total: amountInfo.total,
                point: amountInfo.point
            } // 토탈하고 포인트만 필요함 
            console.log(amount);

            const url = "./amountInfoInsert";

            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(amount)
            })
            .then(response => response.json())
            .then(response => {

                

            })

        }
        // 카드정보 insert (undefined가 아닐때만)
        const cardInfoInsert = (cardInfo) => {

            const url = "./cardInfoInsert"
            const card = {
                bin_: cardInfo.bin,
                card_type: cardInfo.card_type,
                install_month: cardInfo.install_month,
                approved_id: cardInfo.approved_id
            }
            console.log(card);
            // 여기까지 card정보
            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(card)
            })
            .then(response => response.json())
            .then(response => {

                

            })

        }
        // 사실 마지막 작업 일정신청 테이블에 insert 되어야 함
        
        const circleScheduleApply = () => {

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const circle_id = urlParams.get("circle_id");
        const circle_schedule_id = urlParams.get("circle_schedule_id");


        fetch("./circleScheduleApplyInsert?circle_id=" + circle_id + "&circle_schedule_id=" + circle_schedule_id)
        .then(response => response.json())
        .then(response => {

            // 일정신청완료하고  끝 끝

        })

        }

        window.addEventListener("DOMContentLoaded", () => {
            sessionKakaoAcceptReqValue();
        })
     </script>
     <style>
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
        .fixed-bottom {
                position: fixed;
                bottom: 0;
                padding: 0em;
                left: 0;
                background-color: #ffffff;
                text-align: center;
            }
            .cf {
                transition: 0.3s;
                height: 60em;
                
                
            
            }
    </style>
    
</head>
<body>
    <div class="container-fluid cf">
        <div class="row text-center">
            <div class="col">
                <div class="row mt-5">
                    <div class="col">
                        <img class="img-fluid" src="/public/image/circle/success.png">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col" style="font-size: 1.3em;">
                        결제를 성공하였습니다.
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col" style="font-size: 1.1em; color: rgb(96, 96, 96);">
                        결제가 정상적으로 완료되었습니다.
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col" style="font-size: 1.1em; color: rgb(96, 96, 96);">
                        결제내역을 확인해 주세요!
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <div class="container-fluid fixed-bottom">
        <div class="row pt-2 mx-3">
            <div class="col d-grid">
                <button onclick="backHome()" class="btn" style="background-color: white; color: #fb7928; border: 0.01em solid #fb7928;">홈으로 돌아가기</button>
            </div>
        </div>
        <div class="row py-2 mx-3">
            <div class="col d-grid"><!-- 여기는 마이페이지에 있는 내 일정내역 결제한거 확인하는 페이지로 이동시켜야함,-->
                <button onclick="(() => {
                    location.href = './circleScheduleListPage'
                })()" class="btn" style="background-color: #fb7928; color: white;">일정내역 확인하러가기</button>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>