<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <script src="/public/js/lockLikeMobile.js"></script>
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script>
        // 여기서 circleFeedWritePage갈때 쿼리스트링 => circle_id 날려줘야 함
        window.addEventListener("DOMContentLoaded", () => {
        let ufufClicked = false; // ufuf 버튼이 클릭되었는지 여부를 나타내는 플래그

        document.getElementById("ufuf").addEventListener("click", function() {
            const container = document.querySelector(".footer");

            if (!ufufClicked) { // ufuf 버튼이 한번도 클릭되지 않았을 때
                // 변경된 스타일 적용
                container.style.boxShadow = "rgba(0,0,0,0.75) 0 0 0 9999px";
                container.style.zIndex = "250";
                container.style.transition = "all 0.2s";

                document.getElementById("home").classList.remove("d-none");
                document.getElementById("secondLine").classList.remove("d-none");
                document.getElementById("thirdLine").classList.remove("d-none");

                setTimeout(() => {
                    document.getElementById("home").classList.add("clicked");
                }, 250);

                setTimeout(() => {
                    document.getElementById("secondLine").classList.add("clicked");
                    setTimeout(() => {
                        document.getElementById("mission").classList.add("clicked");
                    }, 100);
                    setTimeout(() => {
                        document.getElementById("circle").classList.add("clicked");
                    }, 200);

                }, 90);

                setTimeout(() => {

                    document.getElementById("thirdLine").classList.add("clicked");

                    setTimeout(() => {
                        document.getElementById("signal").classList.add("clicked");
                    }, 50);
                    setTimeout(() => {
                        document.getElementById("bnb").classList.add("clicked");
                    }, 250);

                }, 90);
            } else { // ufuf 버튼이 이미 클릭되어 있을 때
                // 변경 취소
                container.style.boxShadow = "none";
                container.style.zIndex = "300";
                container.style.transition = "none";
                

                document.getElementById("home").classList.add("d-none");
                document.getElementById("secondLine").classList.add("d-none");
                document.getElementById("thirdLine").classList.add("d-none");
                document.getElementById("home").classList.remove("clicked");
                document.getElementById("secondLine").classList.remove("clicked");
                document.getElementById("thirdLine").classList.remove("clicked");
                document.getElementById("mission").classList.remove("clicked");
                document.getElementById("circle").classList.remove("clicked");
                document.getElementById("signal").classList.remove("clicked");
                document.getElementById("bnb").classList.remove("clicked");
            }

            ufufClicked = !ufufClicked; // ufufClicked 플래그 업데이트
        });
    });
        $(document).ready(function () {
            // 모달이 나타날 때
            $('#myModal').on('shown.bs.modal', function () {
                // 현재 버튼 위치
                var buttonPosition = $('.btn-primary').offset();
                // 모달을 버튼 위에 위치하도록 조절
                $(this).find('.modal-dialog').css({
                    'top': buttonPosition.top - $(window).scrollTop(),
                    'left': buttonPosition.left
                });
            });
        });
        function openModal() {
            document.getElementById('myModal').style.display = 'flex';
        }

        // 모달 닫기 함수
        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }
        // 모달 외부 클릭 시 닫기
        window.onclick = function (event) {
            var modal = document.getElementById('myModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
        function goBack() {
            window.history.go(-1);
        }
        // board글리스트 뽑아내기..
        const circleboardList = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_id = urlParams.get("circle_id");
            let i = 0;

            fetch("./circleboardList?circle_id="+ circle_id)
            .then(response => response.json())
            .then(response => {
                // 
                // 
                for(e of response.data){
                    console.log(e);
                    const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const user_name = Wrapper.querySelector(".user_name");
                    user_name.innerText = e.userInfoDto.name;
                    const member_profile_img = Wrapper.querySelector(".member_profile_img");
                    // 여기두.. 원래는 아래코드가 정상!!!!
                    console.log(e.userInfoDto.profile_img);
                     member_profile_img.setAttribute("src", `/uploadFiles/ufuf/userProfile${e.userInfoDto.profile_img}`);
                    // 밑에코드는 테스트
                    //member_profile_img.setAttribute("src", "/public/image/circle/grade2.png");
                    const board_main_image = Wrapper.querySelector(".board_main_image");
                    board_main_image.setAttribute("src", "/uploadFiles/" + e.circleBoardDto.main_image);
                    // board_main_image.setAttribute("onclick","boardArticleMove("+ e.circleBoardDto.circle_board_id +")")
                    const createdtime = Wrapper.querySelector(".createdtime")
                    const changetime = e.circleBoardDto.created_at;
                    const boardtitle = Wrapper.querySelector(".boardtitle");
                    boardtitle.innerText = e.circleBoardDto.board_title;
                    // 좋아요 버튼
                    circleBoardLikeCheck(e.circleBoardDto.circle_board_id, circle_id, Wrapper) //얘는 리스트 출력될때 체크되어야함
                    
                    const boardcontent = Wrapper.querySelector(".boardcontent");
                    boardcontent.innerText = e.circleBoardDto.board_content;
                    const haha = Wrapper.querySelector(".haha");
                    if(i === 0){
                        haha.setAttribute("data-bs-target","#carouselExampleIndicators");
                    }else{
                        haha.setAttribute("data-bs-target","#carouselExampleIndicators" + i);
                    }
                    
                    // dot버튼
                    const dotbutton = Wrapper.querySelector(".dotbutton");
                    dotbutton.setAttribute("onclick", "boardDeleteModal("+ e.circleBoardDto.circle_board_id +")")
                    

                    const currentDateTime = new Date();
                    const postDateTime = new Date(changetime[0], changetime[1] - 1, changetime[2], changetime[3], changetime[4], changetime[5]);

                    const timeDifference = currentDateTime - postDateTime;
                    const minutesDifference = Math.floor(timeDifference / (1000 * 60));
                    const hoursDifference = Math.floor(timeDifference / (1000 * 60 * 60));
                    const daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
                    

                    let result;

                    if (minutesDifference < 1) {
                        result = "방금 전";
                    } else if (minutesDifference < 60) {
                        result = `${minutesDifference}분 전`;
                    } else if (hoursDifference < 24) {
                        result = `${hoursDifference}시간 전`;
                    } else if (daysDifference < 7) {
                        result = `${daysDifference}일 전`;
                    } else {
                        // 7일 이상이면 날짜를 표시
                        const options = { year: "numeric", month: "short", day: "numeric" };
                        result = postDateTime.toLocaleDateString("ko-KR", options);
                    }
                    createdtime.innerText = result;

                    // 상세이미지 반복문 돌리면서 가져와야함  
                     
                    
                    boardSubImageSelect(e.circleBoardDto.circle_board_id, Wrapper, i);
                    
                    i++;
                    // console.log(aa);
                    // console.log(aa.length); // ?
                    // 캐러셀 이미지 추가 + 캐러셀 버튼 추가
                    
                    
                    
                    
                    const boardInsert = document.querySelector("#boardInsert");
                    boardInsert.appendChild(Wrapper);
                }

            })
        }
        const circleBoardLikeCheck = (circle_board_id, Scircle_id, Wrapper) => {
            const circle_id = parseInt(Scircle_id)
            console.log(circle_board_id, circle_id, Wrapper);
            $.ajax({
                url: `./circleBoardLikeCheck?circle_id=${circle_id}&circle_board_id=${circle_board_id}`,
                dataType: "json",
                success: (response) => {
                    const boardlike = Wrapper.querySelector(".boardlike")
                    if(response.data === false){ //없을경우
                        boardlike.setAttribute("onclick",`circleBoardLikeInsert(${circle_board_id})`)
                        boardlike.classList.add("bi","bi-heart")
                    }else if(response.data === true){
                        boardlike.setAttribute("onclick",`circleBoardLikeDelete(${circle_board_id})`)
                        boardlike.classList.add("bi","bi-heart-fill")
                    }

                }
            })
            


        }

        const circleBoardLikeInsert = (circle_board_id) => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString)
            const circle_id = urlParams.get("circle_id")
            // 동아리 회원만이 좋아요를 누를 수 있으니가 동아리 회원과 게시글간의 좋아요 테이블 개설함
            $.ajax({
                url: `./circleBoardLikeInsert?circle_id=${circle_id}&circle_board_id=${circle_board_id}`,
                dataType: "json",
                success: (response) => {

                    location.reload(); //일단이거 곧 바꿔야됨(확인용)

                }
            })

        }
        const circleBoardLikeDelete = (circle_board_id) => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString)
            const circle_id = urlParams.get("circle_id")
            
            $.ajax({
                url: `./circleBoardLikeDelete?circle_id=${circle_id}&circle_board_id=${circle_board_id}`,
                dataType: "json",
                success: (response) => {

                    location.reload(); //일단이거 곧 바꿔야됨(확인용)

                }
            })

        }
        // 3dot 눌러서 게시물 삭제창이 나오게끔하는 모달?
        const boardDeleteModal = (circle_board_id) => {

            const boardDeleteModal = document.querySelector("#boardDeleteModal");
            const boardDeleteComplete = boardDeleteModal.querySelector(".boardDeleteComplete");
            boardDeleteComplete.setAttribute("onclick","boardDeleteComplete(" + circle_board_id + ")")

            const modal = bootstrap.Modal.getOrCreateInstance("#boardDeleteModal");
            modal.show();

        }

        const boardDeleteComplete = (circle_board_id) => {

            // 여기서 본인인지 아닌지 검증하는 함수가 있어야 함
            // 본인이랑 관리자 or 동아리장은 삭제가 가능하도록 하자.. 
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString)
            const circle_id = urlParams.get("circle_id")


            $.ajax({
                url: `./boardDeleteCheckSession?circle_id=${circle_id}&circle_board_id=${circle_board_id}`,
                dataType: 'json',
                success: (response) => {
                    
                    if(response.data === true){
                        boardDeleteRealComplete(circle_board_id)
                    }else{
                        alert("본인글만 삭제가 가능합니다!!!")
                    }

                }
            })




            

        }
        const boardDeleteRealComplete = (circle_board_id) => {

            const url = "./feedboardDeleteProcess?circle_board_id=" + circle_board_id;
            fetch(url)
            .then(response => response.json())
            .then(response => {
                // 삭제가 완료되었다는 모달창 필요할거같음
                location.reload();

            })

        }

        
        const boardSubImageSelect = (circle_board_id, Wrapper, i) => {
            
             fetch("./boardSubImageSelect?circle_board_id=" + circle_board_id)
                .then(response => response.json())
                .then(response => {
                    
                    let cnt = 0;
                    const ahah =  Wrapper.querySelector(".ahah");
                    if(i === 0){
                        ahah.setAttribute("id","carouselExampleIndicators");
                    }else{
                        ahah.setAttribute("id","carouselExampleIndicators"+i);
                    }
                    
                    for(e of response.data){
                        
                        

                        const carouselin = Wrapper.querySelector("#Wrapper .carouselin")
                        const button = document.createElement("button");
                        button.setAttribute("type","button");
                        if(i === 0){
                            button.setAttribute("data-bs-target", "#carouselExampleIndicators");
                        }else{
                            button.setAttribute("data-bs-target", "#carouselExampleIndicators"+ i);
                        }
                        
                        button.setAttribute("data-bs-slide-to", `${1+cnt}` );
                        button.setAttribute("aria-label", "Slide " + `${2+cnt}`);
                        carouselin.appendChild(button);
                        

                        const carouselin2 = Wrapper.querySelector("#Wrapper .carouselin2")
                        const div = document.createElement("div");
                        div.classList.add("carousel-item");
                        const img = document.createElement("img");
                        img.setAttribute("src","/uploadFiles/" + e.sub_image);
                        img.setAttribute("alt","...")
                        img.classList.add("img-fluid","d-block","w-100",);
                        img.style="height: 20em; width: 100%;"
                        div.appendChild(img);
                        carouselin2.appendChild(div);
                        
                        
                        cnt++;
                        
                    }
                    
                    
                    
                    
                })
                
        };
            

        

        const boardArticleMove = (circle_board_id) => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_id = urlParams.get("circle_id");

            location.href = "./circleFeedArticlePage?circle_id=" + circle_id + "&circle_circle_board_id=" + circle_board_id;

        }
        
        // CircleService에서 circleInfoVarious가져오면 그 동아리 관련 정보들을 대부분 가져올 수 있음
        // 동아리정보
        const circleInfoOne = () => {
            
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_id = urlParams.get("circle_id");

            const url = "./circleInfoOne?circle_id=" + circle_id;

            fetch(url)
            .then(response => response.json())
            .then(response => {

                const e = response.data;
                const main_image = document.querySelector("#main_image");
                const img = document.createElement("img");
                img.setAttribute("src","/uploadFiles/" + e.circleDto.circle_image);
                img.classList.add("img-fluid");
                img.classList.add("responsive-img");
                main_image.appendChild(img);

                const circle_title = document.querySelector("#circle_title");
                circle_title.innerText = e.circleDto.circle_name;
                circle_title.classList.add("fw-semibold")
                circle_title.style = "font-size: 1.2em"

                const circledepartment = document.querySelector("#circledepartment");
                circledepartment.innerText = e.circleDto.circle_university
                circledepartment.style = "font-size: 0.8em; color:grey;"
                circledepartment.classList.add("fw-semibold")

                const circlegradename = document.querySelector("#circlegradename");
                circlegradename.innerText = e.circleGradeDto.grade_name
                
                
                const currentpeople = document.querySelector("#currentpeople");
                currentpeople.innerText = e.circleMemberCnt;

                const circlepeople = document.querySelector("#circle_people");
                circlepeople.innerText = e.circleGradeDto.circle_people;

                // 일단 프로필 이미지 지금 내가 못받음.. 은비컴에 저장되어있음 => 개설한 유저 프로필 이미지
                const profile_img = document.querySelector("#profile_img");
                const pfimg = document.createElement("img");
                // pfimg.setAttribute("src", "/uploadFiles/" + e.userInfoDto.profile_img); ===> 무조건 이거 활성화 시키기!!
                pfimg.setAttribute("src", `/uploadFiles/ufuf/userProfile${e.userInfoDto.profile_img}`)
                pfimg.classList.add("img-fluid","responsive-img2")
                
                
                
                
                
                profile_img.appendChild(pfimg);
                
            })

        }
        // 동아리 게시글 작성 페이지로 이동 => 쿼리스트링 날려줌
        const circleBoardWrite = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_id = urlParams.get("circle_id");

            location.href = "./circleFeedWritePage?circle_id=" + circle_id;

        }

        const circleVoteWrite = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_id = urlParams.get("circle_id");

            location.href = "./circleVoteWritePage?circle_id=" + circle_id;

        }

        const VoteListPageMove = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_id = urlParams.get("circle_id");

            location.href = "./circleVoteListPage?circle_id=" + circle_id;
        }

        const ScheduleManageMove = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_id = urlParams.get("circle_id");

            location.href = "./circleScheduleManagePage?circle_id=" + circle_id;
        }
        const ScheduleWritePageMove = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_id = urlParams.get("circle_id");

            location.href = "./circleScheduleApplyPage?circle_id=" + circle_id;

        }
        const circleScheduleRegister = () =>{

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const circle_id = urlParams.get("circle_id");

        fetch("./circleScheduleRegisterCheck?circle_id=" + circle_id)
        .then(response => response.json())
        .then(response => {

            if(response.data === false){

                // 아닐경우 
                const modal = bootstrap.Modal.getOrCreateInstance("#eexModal");
                modal.show();
                
            }else{
                // 맞을경우
                ScheduleWritePageMove()
            }

        })

        }
        

        window.addEventListener("DOMContentLoaded", () => {
            circleboardList();
            circleInfoOne();
        })
        
    </script>
    <style>
        .footer{
        margin: auto;
    }

    #secondLine,
    #thirdLine {
        transition: opacity 1s;
    }

#signal,
    #bnb,
    #mission,
    #circle,
    #home{
        transition: all 0.5s;
        opacity: 0;
    }

    #signal.clicked,
    #bnb.clicked,
    #mission.clicked,
    #circle.clicked,
    #home.clicked {
        opacity: 1;
    }

    .fi {
        background: linear-gradient(to bottom, #ff4a1d, #ff882c, #ffa939); /* 그라데이션 색상 설정 */
        -webkit-background-clip: text; /* 텍스트에만 배경 적용 (WebKit 브라우저를 위한 프리픽스) */
        background-clip: text; /* 텍스트에만 배경 적용 */
        color: transparent; /* 텍스트 색상을 투명하게 설정하여 텍스트가 보이지 않게 함 */
    }
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        /* 모달 내용 스타일 */
        .modal-content {
            background-color: #fff;
            padding: 2em;
            border-radius: 1em;
        }

        /* 닫기 버튼 스타일 */
        .close {
            cursor: pointer;
            position: absolute;
            top: 1em;
            right: 1em;
            font-size: 2em;
        }
        .modal-dialog-bottom {
            
            margin-bottom: 0; /* 다른 위치 클래스와 충돌 방지 */
            transform: translateY(0); /* 다른 위치 클래스와 충돌 방지 */
        }
        body {
          margin: 0;
          padding: 0;
        }
    
        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            text-align: center;
        }
        .image-container {
            max-height: 13em;
            width: 100%;
            overflow: hidden; /* 부모 컨테이너를 벗어나는 부분 숨김 */
        }

        .responsive-img {
            width: 100%;
            object-fit: cover; /* 이미지를 부모 컨테이너에 맞게 조정하면서 종횡비 유지 */
            opacity: 0.7;
        }
        .relative-container {
            position: relative;
            
        }

        .relative-item {
            position: absolute;
            top: 75%;
            width: 95%;
            background-color: rgb(255, 255, 255);
        }
        .relative-item2 {
            position: absolute;
            top: 50%;
            width: 50%;
            overflow: hidden; /* 부모 컨테이너를 벗어나는 부분 숨김 */
            object-fit: cover;
            padding-top: auto;
            
            
        }
        .responsive-img2 {
            position: relative;
            width: 105%;
            height: 105%;
            top: -0.1em;
            object-fit: cover; /* 이미지를 부모 컨테이너에 맞게 조정하면서 종횡비 유지 */
            
        }
        .circle {
            width: 5.2em;
            height: 5.2em;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
        }

        .circle2 {
            width: 5.2em;
            height: 5.2em;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
        }
        
        .image-container2 {
            width: auto;
            height: auto; /* 높이를 조절하세요 */
            
        }
        .image-container3 {
            position: relative;
            height: 2em;
            width: 2em;
            overflow: hidden; /* 부모 컨테이너를 벗어나는 부분 숨김 */
            object-fit: cover;
            
        }
        .relative-container2 {
            position: relative;
            width: 100%;
            
        }
        
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
        .modal-dialog-bottom {
            
            margin-bottom: 0; /* 다른 위치 클래스와 충돌 방지 */
            transform: translateY(0); /* 다른 위치 클래스와 충돌 방지 */
        }
        .card-description {
            font-size: 20px;
            
            /* 추가하기 */
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        .card-content__more-btn {
            appearance: none;
            border: 1px solid black;
            padding: 0.5em;
            border-radius: 0.25em;
            cursor: pointer;
            margin: 1rem;
        }

        .card-content__more-btn::before {
            content: '더보기';
        }

        .card-content__more-btn:checked::before {
            content: '닫기';
        }

        .card-description:has(+ .card-content__more-btn:checked) {
            -webkit-line-clamp:unset
        }
    </style>
</head>
<body>
    <!-- 여기는 동아리 내부 게시글&피드 같이 만들거임 =>  존재 동아리 피드라고 생각하면 됨 -->
    <div class="container-fluid justify-content-center" style="height: 3.3rem;">
        <div class="row align-items-center" style="height: 3.3rem;" onclick="(() => {
            location.href = './circleMainPage'
        })()">
            <div class="col-2">
                <img src="/public/image/circle/ufufmainlogo.png" class="img-fluid" style="height: 2.6rem;">
            </div>
            <div class="col-8 ps-1 fw-semibold align-self-center" style="font-size: 1.15em; color: #ff9e62; letter-spacing: 0.1rem;" onclick="(() => {
                location.href = './circleMainPage'
            })()">
                UNI CIRCLE                                                                             
            </div>
            <div class="col-2 d-flex justify-content-end">
                <a href="./logoutProcess" style="text-decoration: none; color: rgb(148, 148, 148);"><i class="bi bi-door-closed" style="font-size: 1.7em;"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid content" style="background-color: rgb(237, 237, 237);">
        <div class="row px-0 relative-container justify-content-center">
            <div id="main_image" class="col px-0 image-container d-grid">
                
            </div>
            <div class="row relative-item rounded-3 px-0" style="border: 0.01em solid rgb(214, 214, 214);">
                <div class="col pt-4"> <!-- 정보를 표시하는 col -->
                    <div class="text-center" style="margin-top: 0.7em;">
                        <!-- 여기에 정보를 표시할 내용을 추가 -->
                        <span id="circle_title">동아리 정보</span>
                        <p style="line-height: 0.6em; margin-bottom: 0.5em;"><span id="circledepartment"></span></p>
                        <p style="line-height: 0.6em; margin-bottom: 0.8em; font-size: 0.9em;"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;<span id="currentpeople"></span> / <span id="circle_people"></span>&nbsp;·&nbsp;<span id="circlegradename"></span></p>
                        
                    </div>
                </div>
            </div>
            <div class="row px-0 relative-item2 circle">
                <div id="profile_img" class="col px-0">
                    
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                
            </div>
        </div>
        <div class="row" style="margin-top: 2.9em;">
            <div id="boardInsert" class="col" style="margin-bottom: 16%;">

            </div>
        </div>
        
        <!-- 게시글 작성버튼
            <div class="row mt-3 mx-0 fixed-bottom">
                <div class="col d-grid">
                    <button class="btn btn-primary">게시글 작성하기</button>
                </div>
            </div>
        -->
        <!-- 여기 나중에 footer로쓸거임  onclick="ScheduleManageMove()" onclick="VoteListPageMove()"-->
        
        <!-- 
            
         -->
        
    </div>
    <div class="row pb-2" style="position: fixed; bottom: 6em; right: 0; height: 3em; z-index: 100;">
        <div class="col ps-0 pt-2 mt-1 pe-0 me-0">
            <div class="dropup-end dropup" style="position: absolute; right: 2em;">
                <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                    <i class="fs-4 bi bi-plus-lg text-white"></i>
                </button>
                <ul class="dropdown-menu mb-2" style=" z-index: 1000;">
                    <li onclick="circleScheduleRegister()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 일정 추가</li>
                    <li onclick="circleVoteWrite()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 투표글 작성</li>
                    <li onclick="circleBoardWrite()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 동아리 게시글 작성</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid footer" style="position: absolute;">
        <div class="row fixed-bottom align-items-center justify-content-center" style="border-top: 0.05em solid rgb(196, 196, 196); height: 3.4em;">
            <div class="button col text-center ps-3" onclick="ScheduleManageMove()" style="height: 100%;">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-calendar2-date" style="font-size: 1.5em;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.6em;">
                        일정
                    </div>
                </div>
            </div>
            <div class="button col ps-0 text-center" onclick="VoteListPageMove()" style="height: 100%;">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-box-seam-fill" style="font-size: 1.5em;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.6em;">
                        투표
                    </div>
                </div>
            </div>
            <div class="col-2 px-0 justify-content-center">
                <img id="ufuf" class="img-fluid" src="/public/image/circle/ufufmainlogo.png" style="height: 2.5em;">
                <!-- 여기 플러스버튼을 따로 떼어내서 이동시켜야함 !!!!!! -->
                <!-- <button class="btn px-0" onclick="openModal()"><i class="bi bi-plus-circle py-0 fs-1"></i></button> -->
            </div>
            <div class="button col text-center pe-0" onclick="(() => {
                location.href = './myCircleListPage'
            })()" style="height: 100%;">
            <div class="row">
                <div class="col">
                    <i class="bi bi-people-fill" style="font-size: 1.5em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.6em;">
                    내 동아리
                </div>
            </div>
            </div>
            <div class="button col text-center pe-3" onclick="(() => {
                location.href = './circleMyPage'
            })()" style="height: 100%;">
            <div class="row">
                <div class="col">
                    <i class="bi bi-person-circle" style="font-size: 1.5em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.6em;">
                    마이페이지
                </div>
            </div>
            </div>
            <!-- <div style="position: fixed;bottom: 6.7%; z-index: 1000;right: 0; width: 30%;">      
                <div class="dropup-end dropup mb-3 justify-content-center" style="position: relative; left: 42%;">
                    <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                        <i class="fs-4 bi bi-plus-lg text-white"></i>
                    </button>
                    <ul class="dropdown-menu mb-2" style="z-index: 1000;">
                      <li><a class="dropdown-item text-secondary" href="./circleApplyPage" style="font-size: 0.9em;"> 동아리 개설하기</a></li>
                      <li><a class="dropdown-item text-secondary" href="./circleListPage" style="font-size: 0.9em;"> 동아리 가입하기</a></li>
                      <li onclick="writeNeedjoin()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 동아리 게시글 작성</span></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-sm modal-dialog-bottom pt-0"> <!-- 또는 modal-sm -->
            <div class="modal-content px-0 py-0">
                <!-- 모달 본문 -->
                <div class="modal-body py-0">
                    <div class="row" style="border-bottom: 0.01em solid black;">
                        <a href="#" style="text-decoration: none; color: black;">
                            <div class="col py-2">
                                <span class="fw-bold">+</span> 일정 추가
                            </div>
                        </a>
                    </div>
                    <div class="row" style="border-bottom: 0.01em solid black;">
                        <a onclick="circleVoteWrite()" style="text-decoration: none; color: black;">
                            <div class="col py-2">
                                <span class="fw-bold">+</span> 투표글 작성
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a onclick="circleBoardWrite()" style="text-decoration: none; color: black;">
                            <div class="col py-2">
                                <span class="fw-bold">+</span> 동아리 게시글 작성
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Wrapper" class="row d-none">
        <div class="col">
            <div class="row align-items-center justify-content-center" style="margin-left: 0.02em;">
                <div class="col-1 rounded-pill border image-container3 circle2 px-0">
                    <img class="member_profile_img" style="width: 110%; height: 110%; margin-top: -0.1em; margin-left: -0.1em;">
                </div>
                <div class="col" style="padding-left: 0.4em;">
                    <div class="row">
                        <div class="col pt-1">
                            <span class="user_name"></span>
                        </div>
                        <div class="col text-end dotbutton" style="font-size: 1.3em;"><!-- 여기에 클릭버튼이들어가야함 -->
                            <span class="bi bi-three-dots-vertical"></span>
                        </div>
                    </div>                       
                </div>
            </div>
            <div class="row mt-2">
                <div class="col createCarousel image-container2 px-0">
                    <!-- <img class="relative-container2 board_main_image img-fluid"> -->
                    <div class="carousel slide ahah">
                        <div class="carousel-indicators carouselin">
                          <button type="button" data-bs-slide-to="0" class="active haha" aria-current="true" aria-label="Slide 1"></button>
                        </div>
                        <div class="carousel-inner carouselin2">
                          <div class="carousel-item active">
                            <img class="board_main_image img-fluid d-block w-100" alt="..." style="height: 20em; width: 100%;">
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col py-1">
                    <div class="row mt-1">
                        <div class="col boardtitle fw-semibold" style="font-size: 0.8em;">
                            
                        </div>
                    </div>
                    <div class="row mt">
                        <div class="col boardcontent card-description" style="font-size: 0.8em;">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col createdtime" style="font-size: 0.7em;">
                            1분전
                        </div>
                    </div> 
                </div> 
                <div class="col-2 py-1">
                    <div class="row">
                        <div class="col text-end">
                            <span class="boardlike" style="font-size: 1.3em; color: rgb(255, 94, 0);"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
    <div id="Wrapper d-none">
        <div id="boardDeleteModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">게시물 삭제</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            게시물을 정말로 삭제하시겠습니까?
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="btn fw-semibold boardDeleteComplete" style="background-color: #fb7928;color: white;">게시물 삭제</button>
                  <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal" style="color: white;">닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="home" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 8em; width: 100%; margin: auto; z-index: 9999;">
            <div class="col text-center px-0 ">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../commons/mainPage'">
                            <i class="fi fi-rr-house-chimney align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        홈
                    </div>
                </div>
            </div>
        </div>
        
        <div id="secondLine" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 6.8em; width: 100%; margin: auto; z-index: 9999;">
            <div id="mission" class="col-2 text-center">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../mission/map'">
                            <i class="fi fi-rr-map-marker align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        유니미션
                    </div>
                </div>
            </div>
            <div class="col-1" style="width: 2.8em;" onclick="window.location.href='../commons/mainPage'"></div>
            <div id="circle" class="col-2 text-center">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../circle/circleMainPage'">
                            <i class="fi fi-rr-meeting align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        유니써클
                    </div>
                </div>
            </div>
        </div>
    
        <div id="thirdLine" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 4.3em; width: 100%; margin: auto; z-index: 9999;">
            <div id="signal" class="col-3 text-center">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../meeting/mainPage'">
                            <i class="fi fi-rr-comment-heart align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        유니시그널
                    </div>
                </div>
            </div>
            <div class="col-1" style="width: 6.1rem;"></div>
            <div id="bnb" class="col-3 text-center">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                                style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../room/roomMainPage'">
                            <i class="fi fi-rr-bed-alt align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        유니비앤비
                    </div>
                </div>
            </div>
        </div>
        <div id="eexWrapper d-none">
            <div id="eexModal" class="modal" tabindex="-1" style="border: none;">
                <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
                  <div class="modal-content px-0 py-0">
                    <div class="modal-header">
                      <h5 class="modal-title">일정 등급 제한</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                동아리장 또는 관리자만 일정을 등록할 수 있습니다.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-decoration-line: none;">
                      <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal" style="color: white;">닫기</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>