<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/js/lockLikeMobile.js"></script>
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <script>
        $(document).ready(function () {
            // 모달이 나타날 때
            $('#myModal').on('shown.bs.modal', function () {
                // 현재 버튼 위치
                var buttonPosition = $('.btn-primary').offset();
                // 모달을 버튼 위에 위치하도록 조절
                $(this).find('.modal-dialog').css({
                    'top': buttonPosition.top - $(window).scrollTop(),
                    'left': buttonPosition.left
                });
            });
        });
        function openModal() {
            document.getElementById('myModal').style.display = 'flex';
        }

        // 모달 닫기 함수
        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }
        // 동아리 리스트 hot 3개 ㅎㅎ;;
        function circleInfoHotThree(){

            const url = "./circleInfoHotThree"
            fetch(url)
            .then(response => response.json())
            .then(response => {
                
                for(e of response.data){
                    console.log(e);
                    // 동아리 리스트 생성
                    const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const circlemainimage = Wrapper.querySelector(".circlemainimage");
                    circlemainimage.removeAttribute("src");
                    circlemainimage.setAttribute("src", "/uploadFiles/" + e.circleDto.circle_image);
                    const circlecategory = Wrapper.querySelector(".circlecategory");
                    circlecategory.innerHTML = "";
                    circlecategory.innerText = e.circleSmallCategoryDto.category_name;
                    const circlemiddlecategory = Wrapper.querySelector(".circlemiddlecategory");
                    circlemiddlecategory.innerHTML = "";
                    circlemiddlecategory.innerText = e.circleMiddleCategoryDto.category_name;
                    const circlename = Wrapper.querySelector(".circlename");
                    circlename.innerHTML = "";
                    circlename.innerText = e.circleDto.circle_name;
                    const university = Wrapper.querySelector(".university");
                    university.innerHTML = "";
                    university.innerText = e.circleDto.circle_university;
                    const currentpeople = Wrapper.querySelector(".currentpeople");
                    currentpeople.innerHTML = "";
                    currentpeople.innerText = e.circleMemberCnt;
                    const circlepeople = Wrapper.querySelector(".circlepeople");
                    circlepeople.innerHTML = "";
                    circlepeople.innerText = e.circleGradeDto.circle_people;
                    const circlegrade = Wrapper.querySelector(".circlegrade");
                    circlegrade.innerHTML = "";
                    circlegrade.innerText = e.circleGradeDto.grade_name;
                    const circlegradeimg = Wrapper.querySelector(".circlegradeimg");
                    if(e.circleGradeDto.grade_name === "아이언"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade1.png`)
                    } else if(e.circleGradeDto.grade_name === "브론즈"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade2.png`)
                    } else if(e.circleGradeDto.grade_name === "실버"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade3.png`)
                    } else if(e.circleGradeDto.grade_name === "골드"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade4.png`)
                    } else if(e.circleGradeDto.grade_name === "플레티넘"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade5.png`)
                    }

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./circleListArticlePage?circle_id=" + e.circleDto.circle_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(Wrapper);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(a);

                }

            })
        }

        // 카테고리 리스트 6개 출력
        function smallCategoryList(){
            
            const url ="./smallCategoryList";
            fetch(url)
            .then(response => response.json())
            .then(response => {
                for(e of response.data){
                    const smallC = document.querySelector("#smallC");
                    const div = document.createElement("div");
                    div.classList.add("col", "px-1", "py-1" ,"d-grid", "align-items-center");
                    div.setAttribute("onclick", "listChange(" + e.circle_small_category_id + ",'" + e.category_name + "')")

                    //<span class="badge text-bg-light">축구</span>
                    const span = document.createElement("span")
                    span.innerText = "# " + e.category_name;
                    span.classList.add("badge", "badge-md", "rounded-pill", "py-3", "border")
                    span.style.fontSize = "0.88em"
                    span.style.color = "black";
                    span.style.backgroundColor = "white";
                    
                    div.appendChild(span);
                    smallC.appendChild(div);
                }
            })

        }
        // 리스트 랜더링 #카테고리 클릭시
        const listChange = (circle_small_category_id, category_name) => {

            const deleteList = document.querySelector("#deleteList");
            deleteList.innerHTML = "";
            
            const subname1 = document.querySelector("#subWrapper .subname1");
            subname1.innerText = category_name;
            

            const url = "circleListByCircleSmallcategory?circle_small_category_id=" + circle_small_category_id;

            fetch(url)
            .then(response => response.json())
            .then(response => {

                for(e of response.data){
                    
                    const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const circlemainimage = Wrapper.querySelector(".circlemainimage");
                    circlemainimage.removeAttribute("src");
                    circlemainimage.setAttribute("src", "/uploadFiles/" + e.circleDto.circle_image);
                    const circlecategory = Wrapper.querySelector(".circlecategory");
                    circlecategory.innerHTML = "";
                    circlecategory.innerText = e.circleSmallCategoryDto.category_name;
                    const circlename = Wrapper.querySelector(".circlename");
                    circlename.innerHTML = "";
                    circlename.innerText = e.circleDto.circle_name;
                    const university = Wrapper.querySelector(".university");
                    university.innerHTML = "";
                    university.innerText = e.circleDto.circle_university;
                    const currentpeople = Wrapper.querySelector(".currentpeople");
                    currentpeople.innerHTML = "";
                    currentpeople.innerText = e.circleMemberCnt;
                    const circlepeople = Wrapper.querySelector(".circlepeople");
                    circlepeople.innerHTML = "";
                    circlepeople.innerText = e.circleGradeDto.circle_people;
                    
                    

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./circleListArticlePage?circle_id=" + e.circleDto.circle_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(Wrapper);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const deleteList = document.querySelector("#deleteList");
                    deleteList.appendChild(a);

                }

            })


        }

        

        const voteThreeNewList = () => {

            $.ajax({
                url:"./voteThreeNewList",
                dataType: "json",
                success: (response) => {
                    console.log(response);
                    
                    for(e of response.data){
                        
                        const voteWrapper = document.querySelector("#voteWrapper .pp").cloneNode(true);

                        $(voteWrapper).find(".vote_title")
                        .text(e.circleVoteDto.vote_title)
                        $(voteWrapper).find(".vote_theme")
                        .text(e.circleVoteDto.vote_theme)

                        //vote_end타입은 변환
                        const dateArray  = e.circleVoteDto.vote_end_time;
                        const aa = new Date(...dateArray);
                        const year = aa.getFullYear();
                        const month = (aa.getMonth() + 1).toString().padStart(2, '0');
                        const day = aa.getDate().toString().padStart(2, '0');
                        const hour = aa.getHours().toString().padStart(2, '0');
                        const min = aa.getMinutes().toString().padStart(2, '0');
                        const formattedDate = year + '-' + month + '-' + day + ' ' + hour + "시" + min + "분";

                        $(voteWrapper).find(".vote_end_time")
                        .text(formattedDate)
                        $(voteWrapper).find(".voteCnt")
                        .text(e.voteCnt)
                        
                        $(voteWrapper).attr("onclick","locationJoin(" + e.circle_id + "," + e.circleVoteDto.circle_vote_id +")")
                        
                        
                        $("#voteListInsert").append(voteWrapper)
                        
                        
                    }
                
                }
                
            })

        }
        const locationJoin = (circle_id, circle_vote_id) => {

            console.log(circle_id);
            console.log(circle_vote_id);
            //동아리 가입확인 먼저해야됨

            $.ajax({
                url: "./circleJoinCheckVoteAssociation?circle_id=" + circle_id,
                datatype: "json",
                success: (response) => {
                    // 가입되어있을시 바로이동
                    // 가입안되어있을시 동아리에 가입해야한다고 모달창띄우면서 확인 클릭시 이동 아니면 알림창뜨고 10초뒤 이동
                    if(response.data === true){
                        location.href = `./circleVoteListArticlePage?circle_id=${circle_id}&circle_vote_id=${circle_vote_id}`;
                    }else{ 
                        InvitationToJoin(circle_id)
                    }
                    
                }
            })


            // location.href = "circleListArticlePage?circle_id=" + circle_id;

        }
        
        const InvitationToJoin = (circle_id) => {

            $("#invitationModal").find(".invitationButton")
            .attr("onclick","locationMove("+ circle_id +")")
        
            const modal = bootstrap.Modal.getOrCreateInstance("#invitationModal");
            modal.show();

            setTimeout(() => {
                location.href = "circleListArticlePage?circle_id=" + circle_id;
            }, 10000)
            

        }
        const locationMove = (circle_id) => {

             location.href = "circleListArticlePage?circle_id=" + circle_id;

        }
        // 복붙해야할것 글로벌 네비바 함수임
        // 스케줄 아이콘 클릭시 ==> 동아리 가입 내동아리 들어갈 수 있는 모달 생성
        // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        const scheduleIconClick = () => {

            const boardDeleteModal = document.querySelector("#scheduleCheckModal");

            const modal = bootstrap.Modal.getOrCreateInstance("#scheduleCheckModal");
            modal.show();

        }
        // 투표글 아이콘 클릭시 ==> 동아리 가입 내동아리 들어갈 수 있는 모달 생성
        const VoteIconClick = () => {

            accessDeniedVote()

        }
        const accessDeniedVote = () => {

            const boardDeleteModal = document.querySelector("#voteCheckModal");

            const modal = bootstrap.Modal.getOrCreateInstance("#voteCheckModal");
            modal.show();

        }
        
        const writeNeedjoin = () => {

            const modal = bootstrap.Modal.getOrCreateInstance("#writeModal");
            modal.show();

            setTimeout(() => {
                location.href = "./circleListPage"
            }, 10000)

        }
        // 여기까지 복붙

        // 모달 외부 클릭 시 닫기
        window.onclick = function (event) {
            var modal = document.getElementById('myModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
        window.addEventListener("DOMContentLoaded", () =>{
            smallCategoryList();
            circleInfoHotThree();
            voteThreeNewList();
        })
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
            
            
        }
        /* 고치기. */
        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            text-align: center;
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        /* 모달 내용 스타일 */
        .modal-content {
            background-color: #fff;
            padding: 2em;
            border-radius: 1em;
        }

        /* 닫기 버튼 스타일 */
        .close {
            cursor: pointer;
            position: absolute;
            top: 1em;
            right: 1em;
            font-size: 2em;
        }
        .modal-dialog-bottom {
            
            margin-bottom: 0; /* 다른 위치 클래스와 충돌 방지 */
            transform: translateY(0); /* 다른 위치 클래스와 충돌 방지 */
        }
        .image-container {
            width: 10em;
            height: 10em; /* 높이를 조절하세요 */
            overflow: hidden;
        }

        .responsive-img {
            width: 10em;
            height: 100%; 
            object-fit: cover;
        }

        .content {
        overflow-y: auto;
        min-height: 100em;
        }
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
        .shadow-box {
        background-color: #ffffff;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        }
        .pp{
            margin-left: 0.01em;
            margin-right: 0.01em;
        }
        
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row mt-2 align-items-center">
            <div class="col-2" onclick="(() => {
                location.href = './circleMainPage'
            })()">
                <img src="/public/image/circle/ufufmainlogo.png" class="img-fluid">
            </div>
            <div class="col-8 py-2 ps-0 fw-semibold" style="font-size: 1.2em; color: #ff9e62;" onclick="(() => {
                location.href = './circleMainPage'
            })()">
                ufuf                                                                                     
            </div>
            <div class="col-2">
                <a href="./logoutProcess" style="text-decoration: none; color: black;"><i class="bi bi-door-closed fs-1"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2 content" style="background-color: rgb(247, 247, 247);">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div id="carouselExampleInterval" class="row carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner px-0">
                                <div class="carousel-item active" data-bs-interval="5000">
                                    <img src="/public/image/circle/MainCarousel1.png" class="d-block" alt="..."
                                        style="height: 13em; width: 100%;">
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="/public/image/circle/MainCarousel2.png" class="d-block w-100" alt="..."
                                        style="height: 13em;">
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="/public/image/circle/MainCarousel3.png" class="d-block w-100" alt="..."
                                        style="height: 13em;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col overflow-x-auto">
                        <div id="smallC" class="row" style="width: 200%;">
                        </div>
                    </div>
                </div>
                <div id="subWrapper" class="row align-items-center me-1">
                    <div class="col-11 ps-2 fw-bold" style="font-size: 1.2em;">
                        <span class="bi bi-award-fill" style="color: #fb7928;"></span>&nbsp;<span class="subname1">핫한 동아리</span>
                    </div>
                    <div class="col-1">
                        <a href="./circleListPage" style="text-decoration: none; color: black;">+</a>
                    </div>
                    <!-- 가장 많이 투표한 투표리스트 10개만 뽑아서 리스트 페이지 만들면될듯 그리고 들어가려고하면 동아리에 가입해야한다고 나와야함-->
                </div>
                <div class="row">
                    <div id="deleteList" class="col">
                        <div class="row">
                            <div class="col" id="listInsert">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-grid px-0">
                                <img src="/public/image/circle/middlebanner.jpg" class="img-fluid" style="width: 120%;">
                            </div>
                        </div>
                        <div class="row align-items-center me-1">
                            <div class="col-11 ps-2 fw-bold" style="font-size: 1.2em;">
                                <span class="bi bi-award-fill" style="color: #fb7928;"></span>&nbsp;따끈따끈한 투표글
                            </div>
                            <div class="col-1" onclick="accessDeniedVote()">
                                +
                            </div>
                        </div>
                        <div class="row mt-2 ">
                            <div id="voteListInsert" class="col"><!-- 이쪽에 들어가야함.. 투표글 리스트 3개정도-->
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- VoteIconClick -->
    <!-- 일정클릭했을시 투표글처럼 동아리 가입해야 일정확인이AD 가능하다고 하고 동아리 가입권유 + 내동아리페이지로 이동할 수 있는 모달을 띄워줌 -->
    <!-- 111111111 -->
    <div class="container-fluid" style="position: absolute;">
        <div class="row fixed-bottom align-items-center" style="border-top: 0.05em solid rgb(196, 196, 196);">
            <div class="button col py-0 text-center fs-1" onclick="scheduleIconClick()">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-calendar2-date text-secondary" style="font-size: 0.8em;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.3em;">
                        일정
                    </div>
                </div>
            </div>
            <div class="button col py-0 ps-0 text-center fs-1" onclick="VoteIconClick()">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-box-seam-fill text-secondary" style="font-size: 0.8em;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.3em;">
                        투표
                    </div>
                </div>
            </div>
            <div class="col-2 px-0 justify-content-center" onclick="(() => {
                location.href='../commons/mainPage'
            })()">
                <img class="img-fluid" src="/public/image/circle/ufufmainlogo.png" style="width: 2.8em;">
                <!-- 여기 플러스버튼을 따로 떼어내서 이동시켜야함 !!!!!! -->
                <!-- <button class="btn px-0" onclick="openModal()"><i class="bi bi-plus-circle py-0 fs-1"></i></button> -->
            </div>
            <div class="button col py-0 text-center fs-1 pe-0" onclick="(() => {
                location.href = './myCircleListPage'
            })()">
            <div class="row">
                <div class="col">
                    <i class="bi bi-people-fill text-secondary" style="font-size: 0.8em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.3em;">
                    내 동아리
                </div>
            </div>
            </div>
            <div class="button col py-0 text-center fs-1" onclick="(() => {
                location.href = './circleMyPage'
            })()">
            <div class="row">
                <div class="col">
                    <i class="bi bi-person-circle text-secondary" style="font-size: 0.8em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.3em;">
                    마이페이지
                </div>
            </div>
            </div>
            <div style="position: fixed; bottom: 10%; z-index: 1000;">      
                <div class="dropup-end dropup mb-3 justify-content-center" style="position: relative; left: 42%;">
                    <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                        <i class="fs-4 bi bi-plus-lg text-white"></i>
                    </button>
                    <ul class="dropdown-menu mb-2" style="z-index: 1000;">
                      <li><a class="dropdown-item text-secondary" href="./circleApplyPage" style="font-size: 0.9em;"> 동아리 개설하기</a></li>
                      <li><a class="dropdown-item text-secondary" href="./circleListPage" style="font-size: 0.9em;"> 동아리 가입하기</a></li>
                      <li onclick="writeNeedjoin()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 동아리 게시글 작성</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 중앙 +모달 -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-sm modal-dialog-bottom pt-0"> <!-- 또는 modal-sm -->
            <div class="modal-content px-0 py-0">
                <!-- 모달 본문 -->
                <div class="modal-body py-0">
                    <div class="row" style="border-bottom: 0.01em solid black;">
                        <div class="col-1"></div>
                            <a href="./circleApplyPage" style="text-decoration: none; color: black;">
                                <div class="col py-2">
                                    <span class="fw-bold">+</span> 동아리 개설하기
                                </div>
                            </a>
                        </div>
                    <div class="row" style="border-bottom: 0.01em solid black;">
                        <a href="./circleListPage" style="text-decoration: none; color: black;">
                            <div class="col py-2">
                                <span class="fw-bold">+</span> 동아리 가입하기
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="./myCircleListPage" style="text-decoration: none; color: black;">
                            <div class="col py-2">
                                <span class="fw-bold">+</span> 동아리 게시글 작성
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 동아리 클론노드..-->
    <div id="Wrapper" class="row mt-2 mb-1 d-none rounded-3">
        <div class="col rounded-3 mx-1" style="background-color: white;">
            <div class="row rounded-3" style="font-size: small;">
                <div class="image-container col-4 rounded-3 py-2 ps-1"><img class="responsive-img circlemainimage img-fluid rounded-3" src="/public/image/circle/MainCarousel1.png"></div>
                <div class="col">
                    <div class="row mt-1">
                        <div class="col align-items-center" style="padding-top: 0.9em; font-size: 0.75em;">
                            &nbsp;<span class="circlemiddlecategory fw-semibold">중배찌</span>&nbsp;<span class="fw-semibold">></span>&nbsp;<span class="circlecategory fw-semibold">배찌</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="circlename col fw-semibold" style="font-size: 1.4em;">
                            동아리명
                        </div>
                    </div>
                    <div class="row">
                        <div class="university col" style="font-size: 1em; color: gray;">
                            학교명
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col" style="color: rgb(134, 134, 134); font-size: 1.3em;">
                            <i class="bi bi-people-fill"></i>&nbsp; <span class="currentpeople" style="color: black;">현재인원</span>&nbsp;<span style="color: black;">/</span>&nbsp;<span class="circlepeople" style="color: black;">등급인원</span>
                        </div>
                    </div>
                </div>
                <!-- 이미지가 들어가야 이쁜가?-->
                <div class="col-2 pt-3">
                    <div class="row align-items-center mt-0">
                        <div class="col d-grid rounded-3">
                            <img class="circlegradeimg img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <span class="circlegrade fw-semibold" style="font-size: 0.8em;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 투표글 이동하기 막는 모달(동아리에 가입을 해야 볼 수 있음)-->
    <div id="voteCheckWrapper d-none">
        <div id="voteCheckModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">투표글 이동</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            투표글을 더 보려면 동아리에 가입하셔야 합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                        location.href = './circleListPage'
                    })()">동아리 가입</button>
                    <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                        location.href = './myCircleListPage'
                    })()">내 동아리</button>
                </div>
              </div>
            </div>
        </div>
    </div>
        <!-- 이건.. 투표글 클론노드.. -->
        <div id="voteWrapper" class="col d-none">
            <div class="row pp">
                <div class="col">
                    <div class="row my-1 rounded-3 shadow-box" style="background-color: white;">
                        <div class="col py-2 px-3">
                            <div class="row mb-0">
                                <div class="vote_title col pb-0" style="font-size: 1.2em;">
                                    글제목
                                </div>
                            </div>
                            <div class="row mt-0">
                                <div class="vote_theme col pt-0" style="font-size: 1.08em; color: rgb(102, 102, 102);">
                                    투표주제
                                </div>
                            </div>
                            <div class="row mt-1 justify-content-center align-items-center">
                                <div class="col-5">
                                    <span class="voteCnt fw-semibold" style="color: #fb6b12; font-size: 0.8em;"></span><span style="font-size: 0.8em;">명 참여</span>
                                </div>
                                <div class="col text-end">
                                    <span class="vote_end_time" style="text-align: end; font-size: 0.8em;">마감 ㅇ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 보내야할것들 -->
        <div id="invitationWrapper" class="col">
            <div id="invitationModal" class="modal" tabindex="-1" style="border: none;">
                <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
                  <div class="modal-content px-0 py-0">
                    <div class="modal-header">
                      <h5 class="modal-title">동아리 가입</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                동아리에 가입 해야 투표글을 볼 수 있습니다.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                동아리 가입페이지로 이동합니다.
                            </div>
                        </div>
                    </div>    
                    <div class="modal-footer" style="text-decoration-line: none;">
                        <button type="button" class="invitationButton btn fw-semibold " style="background-color: #fb7928;color: white;">확인</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div id="scheduleCheckWrapper d-none">
            <div id="scheduleCheckModal" class="modal" tabindex="-1" style="border: none;">
                <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
                  <div class="modal-content px-0 py-0">
                    <div class="modal-header">
                      <h5 class="modal-title">일정 확인</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                일정을 확인하려면 동아리에 가입하셔야합니다.
                            </div>
                        </div>
                    </div>    
                    <div class="modal-footer" style="text-decoration-line: none;">
                        <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                            location.href = './circleListPage'
                        })()">동아리 가입</button>
                        <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                            location.href = './myCircleListPage'
                        })()">내 동아리</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div id="writeWrapper" class="col">
            <div id="writeModal" class="modal" tabindex="-1" style="border: none;">
                <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
                  <div class="modal-content px-0 py-0">
                    <div class="modal-header">
                      <h5 class="modal-title">동아리 가입</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                동아리에 가입해야 게시물을 작성할 수 있습니다.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                동아리 가입페이지로 이동합니다.
                            </div>
                        </div>
                    </div>    
                    <div class="modal-footer" style="text-decoration-line: none;">
                        <button type="button" class="btn fw-semibold" onclick="(() => {location.href = './circleListPage'})()" style="background-color: #fb7928;color: white;">확인</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>