<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
     <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
     <script src="/public/js/lockLikeMobile.js"></script>
     <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script>
        function goBack() {
            window.history.go(-1);
        }
        // 인기 동아리 리스트 ==> 인기 동아리 리스트는 인원 0인 동아리는 안나오게끔 조정
        const circlePopularList = () => {

            // 처음에 초기화
            document.querySelector("#listInsert").innerHTML = "";
            const url = "./circlePopularList";
            const circleWrapper = document.querySelector("#circleWrapper")
            const mainTitle = circleWrapper.querySelector(".mainTitle").innerText = "인기 동아리"
            const subTitle = circleWrapper.querySelector(".subTitle").innerText = "가장 인원이 많은 동아리"

            fetch(url)
            .then(response => response.json())
            .then(response => {

                for(e of response.data){
                    
                    // 동아리 리스트 생성
                    const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const circlemainimage = Wrapper.querySelector(".circlemainimage");
                    circlemainimage.removeAttribute("src");
                    circlemainimage.setAttribute("src", "/uploadFiles/" + e.circleDto.circle_image);
                    const circlecategory = Wrapper.querySelector(".circlecategory");
                    circlecategory.innerHTML = "";
                    circlecategory.innerText = e.circleSmallCategoryDto.category_name;
                    const circlemiddlecategory = Wrapper.querySelector(".circlemiddlecategory");
                    circlemiddlecategory.innerHTML = "";
                    circlemiddlecategory.innerText = e.circleMiddleCategoryDto.category_name;
                    const circlename = Wrapper.querySelector(".circlename");
                    circlename.innerHTML = "";
                    circlename.innerText = e.circleDto.circle_name;
                    const university = Wrapper.querySelector(".university");
                    university.innerHTML = "";
                    university.innerText = e.circleDto.circle_university;
                    const currentpeople = Wrapper.querySelector(".currentpeople");
                    currentpeople.innerHTML = "";
                    currentpeople.innerText = e.circleMemberCnt;
                    const circlepeople = Wrapper.querySelector(".circlepeople");
                    circlepeople.innerHTML = "";
                    circlepeople.innerText = e.circleGradeDto.circle_people;
                    const circlegrade = Wrapper.querySelector(".circlegrade");
                    circlegrade.innerHTML = "";
                    circlegrade.innerText = e.circleGradeDto.grade_name;
                    const circlegradeimg = Wrapper.querySelector(".circlegradeimg");
                    if(e.circleGradeDto.grade_name === "아이언"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade1.png`)
                    } else if(e.circleGradeDto.grade_name === "브론즈"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade2.png`)
                    } else if(e.circleGradeDto.grade_name === "실버"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade3.png`)
                    } else if(e.circleGradeDto.grade_name === "골드"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade4.png`)
                    } else if(e.circleGradeDto.grade_name === "플레티넘"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade5.png`)
                    }

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./circleListArticlePage?circle_id=" + e.circleDto.circle_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(Wrapper);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(a);
                    

                }

            })

        }
        // 내 세션에맞는 동아리 찾아야함..
        const circleSessionList = () => {

        document.querySelector("#listInsert").innerHTML = "";
        const url = "./circleSessionList";
        const circleWrapper = document.querySelector("#circleWrapper")
        const mainTitle = circleWrapper.querySelector(".mainTitle").innerText = "우리 학교 동아리"
        const subTitle = circleWrapper.querySelector(".subTitle").innerText = "우리 학교 동아리를 쉽게 찾아보세요!"

        fetch(url)
        .then(response => response.json())
        .then(response => {

            for(e of response.data){
                
                // 동아리 리스트 생성
                const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                Wrapper.classList.remove("d-none");
                const circlemainimage = Wrapper.querySelector(".circlemainimage");
                circlemainimage.removeAttribute("src");
                circlemainimage.setAttribute("src", "/uploadFiles/" + e.circleDto.circle_image);
                const circlecategory = Wrapper.querySelector(".circlecategory");
                circlecategory.innerHTML = "";
                circlecategory.innerText = e.circleSmallCategoryDto.category_name;
                const circlemiddlecategory = Wrapper.querySelector(".circlemiddlecategory");
                circlemiddlecategory.innerHTML = "";
                circlemiddlecategory.innerText = e.circleMiddleCategoryDto.category_name;
                const circlename = Wrapper.querySelector(".circlename");
                circlename.innerHTML = "";
                circlename.innerText = e.circleDto.circle_name;
                const university = Wrapper.querySelector(".university");
                university.innerHTML = "";
                university.innerText = e.circleDto.circle_university;
                const currentpeople = Wrapper.querySelector(".currentpeople");
                currentpeople.innerHTML = "";
                currentpeople.innerText = e.circleMemberCnt;
                const circlepeople = Wrapper.querySelector(".circlepeople");
                circlepeople.innerHTML = "";
                circlepeople.innerText = e.circleGradeDto.circle_people;
                const circlegrade = Wrapper.querySelector(".circlegrade");
                circlegrade.innerHTML = "";
                circlegrade.innerText = e.circleGradeDto.grade_name;
                const circlegradeimg = Wrapper.querySelector(".circlegradeimg");
                if(e.circleGradeDto.grade_name === "아이언"){
                    circlegradeimg.setAttribute("src",`/public/image/circle/grade1.png`)
                } else if(e.circleGradeDto.grade_name === "브론즈"){
                    circlegradeimg.setAttribute("src",`/public/image/circle/grade2.png`)
                } else if(e.circleGradeDto.grade_name === "실버"){
                    circlegradeimg.setAttribute("src",`/public/image/circle/grade3.png`)
                } else if(e.circleGradeDto.grade_name === "골드"){
                    circlegradeimg.setAttribute("src",`/public/image/circle/grade4.png`)
                } else if(e.circleGradeDto.grade_name === "플레티넘"){
                    circlegradeimg.setAttribute("src",`/public/image/circle/grade5.png`)
                }

                // 링크태그 여기서 하나씩 잡아주어야함
                const a = document.createElement("a");
                a.setAttribute("href", "./circleListArticlePage?circle_id=" + e.circleDto.circle_id);
                a.setAttribute("style", "text-decoration: none; color: black;");
                a.appendChild(Wrapper);
                

                // 본문에 붙이는 코드(리스트들)
                const listInsert = document.querySelector("#listInsert");
                listInsert.appendChild(a);
                

            }

        })

        }
        

        // 등급별 동아리 리스트
        const circleGradeList = () => {

            document.querySelector("#listInsert").innerHTML = "";
            const url = "./circleGradeList";
            const circleWrapper = document.querySelector("#circleWrapper")
            const mainTitle = circleWrapper.querySelector(".mainTitle").innerText = "등급별 동아리"
            const subTitle = circleWrapper.querySelector(".subTitle").innerText = "가장 등급이 높은 동아리"

            fetch(url)
            .then(response => response.json())
            .then(response => {

                for(e of response.data){
                    
                    // 동아리 리스트 생성
                    const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const circlemainimage = Wrapper.querySelector(".circlemainimage");
                    circlemainimage.removeAttribute("src");
                    circlemainimage.setAttribute("src", "/uploadFiles/" + e.circleDto.circle_image);
                    const circlecategory = Wrapper.querySelector(".circlecategory");
                    circlecategory.innerHTML = "";
                    circlecategory.innerText = e.circleSmallCategoryDto.category_name;
                    const circlemiddlecategory = Wrapper.querySelector(".circlemiddlecategory");
                    circlemiddlecategory.innerHTML = "";
                    circlemiddlecategory.innerText = e.circleMiddleCategoryDto.category_name;
                    const circlename = Wrapper.querySelector(".circlename");
                    circlename.innerHTML = "";
                    circlename.innerText = e.circleDto.circle_name;
                    const university = Wrapper.querySelector(".university");
                    university.innerHTML = "";
                    university.innerText = e.circleDto.circle_university;
                    const currentpeople = Wrapper.querySelector(".currentpeople");
                    currentpeople.innerHTML = "";
                    currentpeople.innerText = e.circleMemberCnt;
                    const circlepeople = Wrapper.querySelector(".circlepeople");
                    circlepeople.innerHTML = "";
                    circlepeople.innerText = e.circleGradeDto.circle_people;
                    const circlegrade = Wrapper.querySelector(".circlegrade");
                    circlegrade.innerHTML = "";
                    circlegrade.innerText = e.circleGradeDto.grade_name;
                    const circlegradeimg = Wrapper.querySelector(".circlegradeimg");
                    if(e.circleGradeDto.grade_name === "아이언"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade1.png`)
                    } else if(e.circleGradeDto.grade_name === "브론즈"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade2.png`)
                    } else if(e.circleGradeDto.grade_name === "실버"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade3.png`)
                    } else if(e.circleGradeDto.grade_name === "골드"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade4.png`)
                    } else if(e.circleGradeDto.grade_name === "플레티넘"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade5.png`)
                    }

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./circleListArticlePage?circle_id=" + e.circleDto.circle_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(Wrapper);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(a);
                    

                }

            })

        }

        // 신규 동아리 리스트
        function circledNewList(){
            // 처음에 초기화
            document.querySelector("#listInsert").innerHTML = "";
            const circleWrapper = document.querySelector("#circleWrapper")
            const mainTitle = circleWrapper.querySelector(".mainTitle").innerText = "새로 개설된 동아리"
            const subTitle = circleWrapper.querySelector(".subTitle").innerText = "따끈따끈한 신규 동아리"
            
            const url = "./circleNewList";
            
            fetch(url)
            .then(response => response.json())
            .then(response => {

                for(e of response.data){
                    
                    // 동아리 리스트 생성
                    const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const circlemainimage = Wrapper.querySelector(".circlemainimage");
                    circlemainimage.removeAttribute("src");
                    circlemainimage.setAttribute("src", "/uploadFiles/" + e.circleDto.circle_image);
                    const circlecategory = Wrapper.querySelector(".circlecategory");
                    circlecategory.innerHTML = "";
                    circlecategory.innerText = e.circleSmallCategoryDto.category_name;
                    const circlemiddlecategory = Wrapper.querySelector(".circlemiddlecategory");
                    circlemiddlecategory.innerHTML = "";
                    circlemiddlecategory.innerText = e.circleMiddleCategoryDto.category_name;
                    const circlename = Wrapper.querySelector(".circlename");
                    circlename.innerHTML = "";
                    circlename.innerText = e.circleDto.circle_name;
                    const university = Wrapper.querySelector(".university");
                    university.innerHTML = "";
                    university.innerText = e.circleDto.circle_university;
                    const currentpeople = Wrapper.querySelector(".currentpeople");
                    currentpeople.innerHTML = "";
                    currentpeople.innerText = e.circleMemberCnt;
                    const circlepeople = Wrapper.querySelector(".circlepeople");
                    circlepeople.innerHTML = "";
                    circlepeople.innerText = e.circleGradeDto.circle_people;
                    const circlegrade = Wrapper.querySelector(".circlegrade");
                    circlegrade.innerHTML = "";
                    circlegrade.innerText = e.circleGradeDto.grade_name;
                    const circlegradeimg = Wrapper.querySelector(".circlegradeimg");
                    if(e.circleGradeDto.grade_name === "아이언"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade1.png`)
                    } else if(e.circleGradeDto.grade_name === "브론즈"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade2.png`)
                    } else if(e.circleGradeDto.grade_name === "실버"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade3.png`)
                    } else if(e.circleGradeDto.grade_name === "골드"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade4.png`)
                    } else if(e.circleGradeDto.grade_name === "플레티넘"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade5.png`)
                    }
                    

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./circleListArticlePage?circle_id=" + e.circleDto.circle_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(Wrapper);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(a);
                    

                }

            })


        }
        const circleSearchList = () => {

            document.querySelector("#listInsert").innerHTML = "";
            const circleWrapper = document.querySelector("#circleWrapper")
            const mainTitle = circleWrapper.querySelector(".mainTitle").innerText = "동아리 검색"
            const subTitle = circleWrapper.querySelector(".subTitle").innerText = "내가 원하는 동아리를 직접 검색하세요!"

            const searchword = document.querySelector("#searchword").value
            console.log(searchword);

            $.ajax({
                url: `./circleSearchList?searchword=` + searchword,
                dataType: `json`,
                success: (response) => {

                    for(e of response.data){

                        const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const circlemainimage = Wrapper.querySelector(".circlemainimage");
                    circlemainimage.removeAttribute("src");
                    circlemainimage.setAttribute("src", "/uploadFiles/" + e.circleDto.circle_image);
                    const circlecategory = Wrapper.querySelector(".circlecategory");
                    circlecategory.innerHTML = "";
                    circlecategory.innerText = e.circleSmallCategoryDto.category_name;
                    const circlemiddlecategory = Wrapper.querySelector(".circlemiddlecategory");
                    circlemiddlecategory.innerHTML = "";
                    circlemiddlecategory.innerText = e.circleMiddleCategoryDto.category_name;
                    const circlename = Wrapper.querySelector(".circlename");
                    circlename.innerHTML = "";
                    circlename.innerText = e.circleDto.circle_name;
                    const university = Wrapper.querySelector(".university");
                    university.innerHTML = "";
                    university.innerText = e.circleDto.circle_university;
                    const currentpeople = Wrapper.querySelector(".currentpeople");
                    currentpeople.innerHTML = "";
                    currentpeople.innerText = e.circleMemberCnt;
                    const circlepeople = Wrapper.querySelector(".circlepeople");
                    circlepeople.innerHTML = "";
                    circlepeople.innerText = e.circleGradeDto.circle_people;
                    const circlegrade = Wrapper.querySelector(".circlegrade");
                    circlegrade.innerHTML = "";
                    circlegrade.innerText = e.circleGradeDto.grade_name;
                    const circlegradeimg = Wrapper.querySelector(".circlegradeimg");
                    if(e.circleGradeDto.grade_name === "아이언"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade1.png`)
                    } else if(e.circleGradeDto.grade_name === "브론즈"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade2.png`)
                    } else if(e.circleGradeDto.grade_name === "실버"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade3.png`)
                    } else if(e.circleGradeDto.grade_name === "골드"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade4.png`)
                    } else if(e.circleGradeDto.grade_name === "플레티넘"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade5.png`)
                    }
                    

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./circleListArticlePage?circle_id=" + e.circleDto.circle_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(Wrapper);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(a);

                    }

                }
            })

        }

        window.addEventListener("DOMContentLoaded", () => {
            circledNewList();
        })
    </script>
    <style>
        /* 와 여기 .. 이미지 맞추기가 가능함.. 개신기... */
        .image-container {
            width: 10em;
            height: 10em; /* 높이를 조절하세요 */
            overflow: hidden;
        }

        .responsive-img {
            width: 10em;
            height: 100%;
            object-fit: cover;
        }
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
    </style>
</head>
<body>
    <!-- 동아리 리스트 출력 -> 탑네비 푸터 네비 제외
        ==> 이거 자바스크립트로 끌고와서 리스팅 시키면 될거 같은데?
        ==> onclick으로
    -->
    <!-- 
                <a class="nav-link" onclick="circledNewList()" style="color: black;">신규</a>
                <a class="nav-link" style="color: black;">인기</a>
                <a class="nav-link" style="color: black;">등급</a>
             -->
    <th:block th:replace="~{commons/circlefragmentPage.html :: topNavi}"></th:block>
    
    <div class="container-fluid">
        <div class="row mt-2 align-items-center justify-content-center">
            <div class="col pe-0">
                <input id="searchword" type="text" class="form-control" placeholder="동아리명을 입력하세요">
            </div>
            <div class="col-2 text-center btn" onclick="circleSearchList()">
                <i class="bi bi-search fw-semibold" style="font-size: 1.5em;color: #FF8827;"></i>
            </div>
        </div>
        <div class="row py-2">
        <div class="col-2 text-center" onclick="circledNewList()" style="font-size: 0.9em;">
            신규
        </div>
        <div class="col-2 text-center" onclick="circlePopularList()" style="font-size: 0.9em;">
            인기
        </div>
        <div class="col-2 text-center" onclick="circleGradeList()" style="font-size: 0.9em;">
            등급
        </div>
        <div class="col-2 text-center fw-bold" onclick="circleSessionList()" style="font-size: 0.9em; color: #FF8827;">
            My학교
        </div>        
    </div>
    </div>
    <div id="circleWrapper" class="container-fluid" style="background-color: rgb(251, 251, 251);">
        <div class="row">
            <div class="col">
                <div class="row align-items-center mt-2">
                    <div class="mainTitle col fw-semibold" style="font-size: 1.2em;">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="subTitle col" style="font-size: 1.0em; color: rgb(141, 141, 141);">
                        
                    </div>
                </div>
                <div class="row">
                    <div id="listInsert" class="col">
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div id="Wrapper" class="row mt-2 mb-2 d-none rounded-3">
        <div class="col rounded-3" style="background-color: white;">
            <div class="row rounded-3" style="font-size: small;">
                <div class="image-container col-4 rounded-3 py-2 ps-1"><img class="responsive-img circlemainimage img-fluid rounded-3" src="/public/image/circle/MainCarousel1.png"></div>
                <div class="col">
                    <div class="row mt-1">
                        <div class="col align-items-center" style="padding-top: 0.9em; font-size: 0.75em;">
                            &nbsp;<span class="circlemiddlecategory fw-semibold">중배찌</span>&nbsp;<span class="fw-semibold">></span>&nbsp;<span class="circlecategory fw-semibold">배찌</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="circlename col fw-semibold" style="font-size: 1.4em;">
                            동아리명
                        </div>
                    </div>
                    <div class="row">
                        <div class="university col" style="font-size: 1em; color: gray;">
                            학교명
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col pt-1" style="color: rgb(134, 134, 134); font-size: 1.3em;">
                            <i class="bi bi-people-fill"></i>&nbsp; <span class="currentpeople" style="color: black;">현재인원</span>&nbsp;<span style="color: black;">/</span>&nbsp;<span class="circlepeople" style="color: black;">등급인원</span>
                        </div>
                    </div>
                </div>
                <div class="col-2 pt-3">
                    <div class="row">
                        <div class="col text-center">
                            <span class="circlecreatedtime fw-semibold" style="font-size: 0.8em;"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-0">
                        <div class="col d-grid rounded-3">
                            <img class="circlegradeimg img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <span class="circlegrade fw-semibold" style="font-size: 0.8em;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>