<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
     <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
     <script src="/public/js/lockLikeMobile.js"></script>
     <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
     <script>
        window.addEventListener("DOMContentLoaded", () => {
        let ufufClicked = false; // ufuf 버튼이 클릭되었는지 여부를 나타내는 플래그

        document.getElementById("ufuf").addEventListener("click", function() {
            const container = document.querySelector(".footer");

            if (!ufufClicked) { // ufuf 버튼이 한번도 클릭되지 않았을 때
                // 변경된 스타일 적용
                container.style.boxShadow = "rgba(0,0,0,0.75) 0 0 0 9999px";
                container.style.zIndex = "250";
                container.style.transition = "all 0.2s";

                document.getElementById("home").classList.remove("d-none");
                document.getElementById("secondLine").classList.remove("d-none");
                document.getElementById("thirdLine").classList.remove("d-none");

                setTimeout(() => {
                    document.getElementById("home").classList.add("clicked");
                }, 250);

                setTimeout(() => {
                    document.getElementById("secondLine").classList.add("clicked");
                    setTimeout(() => {
                        document.getElementById("mission").classList.add("clicked");
                    }, 100);
                    setTimeout(() => {
                        document.getElementById("circle").classList.add("clicked");
                    }, 200);

                }, 90);

                setTimeout(() => {

                    document.getElementById("thirdLine").classList.add("clicked");

                    setTimeout(() => {
                        document.getElementById("signal").classList.add("clicked");
                    }, 50);
                    setTimeout(() => {
                        document.getElementById("bnb").classList.add("clicked");
                    }, 250);

                }, 90);
            } else { // ufuf 버튼이 이미 클릭되어 있을 때
                // 변경 취소
                container.style.boxShadow = "none";
                container.style.zIndex = "300";
                container.style.transition = "none";
                

                document.getElementById("home").classList.add("d-none");
                document.getElementById("secondLine").classList.add("d-none");
                document.getElementById("thirdLine").classList.add("d-none");
                document.getElementById("home").classList.remove("clicked");
                document.getElementById("secondLine").classList.remove("clicked");
                document.getElementById("thirdLine").classList.remove("clicked");
                document.getElementById("mission").classList.remove("clicked");
                document.getElementById("circle").classList.remove("clicked");
                document.getElementById("signal").classList.remove("clicked");
                document.getElementById("bnb").classList.remove("clicked");
            }

            ufufClicked = !ufufClicked; // ufufClicked 플래그 업데이트
        });
    });

    const circleMemberManageList = () => {

        // 링크보낼때 동아리 번호 보내야됨
        // 동아리 번호기준으로 가입승인이 'N' 인사람 끌어오기
        const queryString = window.location.search;
        const urlParam = new URLSearchParams(queryString);
        const circle_id = urlParam.get("circle_id");


        fetch("./circleMemberManageList?circle_id=" + circle_id)
        .then(response => response.json())
        .then(response => {

            // 가입신청 두번못하게 막아야함
            for(e of response.data){
                console.log(e);

                const UserInfoOne = document.querySelector("#Wrapper .UserInfoOne").cloneNode(true);
                const name = UserInfoOne.querySelector(".name").innerText = e.userInfoDto.name;
                const university = UserInfoOne.querySelector(".university").innerText = e.userInfoDto.university;
                const address = UserInfoOne.querySelector(".address").innerText = e.userInfoDto.address;
                const changeGender = e.userInfoDto.gender;
                const userprofile = UserInfoOne.querySelector(".userprofile")
                    userprofile.setAttribute("src",`/uploadFiles/ufuf/userProfile${e.userInfoDto.profile_img}`)
                if(changeGender === "M"){
                    const gender = UserInfoOne.querySelector(".gender").innerText = "남";
                }else if(changeGender === "F"){
                    const gender = UserInfoOne.querySelector(".gender").innerText = "여";
                }
                
                const clickDelete = UserInfoOne.querySelector(".clickDelete")
                clickDelete.setAttribute("onclick", `modalShow(${JSON.stringify(e)})`)
                const changePosition = UserInfoOne.querySelector(".changePosition")
                if(e.circleMemberDto.circle_position == "A"){
                    changePosition.innerText = "관리자 해임"
                    changePosition.style.backgroundColor = "white"
                    changePosition.style.color = "rgb(80, 49, 255)"
                    changePosition.style.border = "0.01em solid rgb(80, 49, 255)"
                    changePosition.setAttribute("onclick", `circleMemberChangeM(${e.circleMemberDto.circle_member_id})`)
                }else if(e.circleMemberDto.circle_position == "M"){
                    changePosition.innerText = "관리자 임명"
                    changePosition.style.backgroundColor = "rgb(80, 49, 255)"
                    changePosition.style.color = "white"
                    changePosition.setAttribute("onclick", `circleMemberChangeA(${e.circleMemberDto.circle_member_id})`)
                }
                
                
               

                const listInsert = document.querySelector("#listInsert")
                listInsert.appendChild(UserInfoOne);
                
            }

        })
        }
        // 관리자로 변경
        const circleMemberChangeA = (circle_member_id) => {

            $.ajax({
                url: `./circleMemberChangeA?circle_member_id=${circle_member_id}`,
                dataType: `json`,
                success: (response) => {

                    location.reload();

                }
            })

        }
        // 다시 맴버로 변경
        const circleMemberChangeM = (circle_member_id) => {

            $.ajax({
                url: `./circleMemberChangeM?circle_member_id=${circle_member_id}`,
                dataType: `json`,
                success: (response) => {

                    location.reload();

                }
            })

        }
        // 모달창을 띄우고 거기서 동아리 회원 삭제 가입신청테이블에서 삭제 
        const modalShow = (element) => {

            const modalManagement = document.querySelector("#modalManagement")
            const username = modalManagement.querySelector(".username")
            username.innerText = element.userInfoDto.name
            const hhh = modalManagement.querySelector(".hhh")
            hhh.removeAttribute("onclick")
            //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!나중에 풀어야할것
            //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!더미데이터 다 쓰고 꼭 풀자!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            //hhh.setAttribute("onclick",`circleMemberDelete(${element.circleJoinApplyDto.circle_join_apply_id}, ${element.circleMemberDto.circle_member_id})`)
            //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!더미데이터 다 쓰고 꼭 풀자!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!나중에 풀어야할것
            hhh.setAttribute("onclick","hhhh()");
            const modal = bootstrap.Modal.getOrCreateInstance("#modalManagement");
            modal.show();

        }
        // 버튼 잠시막기
        const hhhh = () => {
            alert("어휴 진ㅉㅏ 기어코 누르네 ㄴㅐㄱㅏ 그럴줄알고 버튼 막아놨다 밤길 조심해라.")
        }

        // 삭제 1
        const circleMemberDelete = (circle_join_apply_id, circle_member_id) => {

            $.ajax({
                url: `./circleMemberDelete?circle_member_id=${circle_member_id}`,
                dataType: `json`,
                success: (response) => {

                    circleJoinApplyDelete(circle_join_apply_id);

                }
            })

        }
        // 삭제 2
        const circleJoinApplyDelete = (circle_join_apply_id) => {

            $.ajax({
                url: `./circleJoinApplyDelete?circle_join_apply_id=${circle_join_apply_id}`,
                dataType: `json`,
                success: (response) => {

                    location.reload();

                }
            })

        }
        
        function goBack() {
            window.history.go(-1);
        }

        window.addEventListener("DOMContentLoaded", () => {
            circleMemberManageList();
        })

     </script>

     <style>
        
.footer{
        margin: auto;
    }

    #secondLine,
    #thirdLine {
        transition: opacity 1s;
    }

#signal,
    #bnb,
    #mission,
    #circle,
    #home{
        transition: all 0.5s;
        opacity: 0;
    }

    #signal.clicked,
    #bnb.clicked,
    #mission.clicked,
    #circle.clicked,
    #home.clicked {
        opacity: 1;
    }

    .fi {
        background: linear-gradient(to bottom, #ff4a1d, #ff882c, #ffa939); /* 그라데이션 색상 설정 */
        -webkit-background-clip: text; /* 텍스트에만 배경 적용 (WebKit 브라우저를 위한 프리픽스) */
        background-clip: text; /* 텍스트에만 배경 적용 */
        color: transparent; /* 텍스트 색상을 투명하게 설정하여 텍스트가 보이지 않게 함 */
    }
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
        /* 여기도 보내주세요 */
        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            text-align: center;
        }
        .image-container {
            width: 10em;
            height: 10em; /* 높이를 조절하세요 */
            overflow: hidden;
        }

        .responsive-img {
            width: 10em;
            height: 100%; 
            object-fit: cover;
        }
    </style>
</head>
<body>
    <th:block th:replace="~{commons/circlefragmentPage.html :: topNavi}"></th:block>
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="font-size: 1.2em;">
                <i class="bi bi-person-fill-gear fw-bold" style="color: #fb7928;"></i>&nbsp;&nbsp;동아리 회원관리
            </div>
        </div>
        <div class="row">
            <div id="listInsert" class="col ps-0" style="margin-bottom: 15%;">
            </div>
        </div>
    </div>
    <div id="Wrapper" class="d-none">
        <div class="UserInfoOne row mt-2 align-items-center justify-content-center">
            
            <div class="col">
                <div class="row mx-0">
                    <div class="col pe-0">
                        <div class="col pe-0 rounded-3 d-grid image-container">
                            <img class="responsive-img img-fluid userprofile rounded-3">
                        </div>
                    </div>
                    <div class="col" style="padding-right: 13%; padding-left: 0%;">
                        <div class="row" style="margin-top: 25%;">
                            <div class="col">
                                <span class="name">이름</span>&nbsp;·&nbsp;<span class="gender">성별</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="university">대학교</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="font-size: 0.7em;">
                                <span class="address">주소</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5 d-grid"><!-- onclick  가입거절은 그냥 안누르면 가입거절.. -->
                        <button class="btn fw-semibold changePosition"></button>
                    </div>
                    <div class="col-5 d-grid"><!-- onclick  가입거절은 그냥 안누르면 가입거절.. -->
                        <button class="btn fw-semibold clickDelete" style="background-color: rgb(255, 62, 62);color: rgb(255, 255, 255);">회원 제명</button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            
        </div>

    </div>
    <div class="row pb-2" style="position: fixed; bottom: 6em; right: 0; height: 3em; z-index: 100;">
        <div class="col ps-0 pt-2 mt-1 pe-0 me-0">
            <div class="dropup-end dropup" style="position: absolute; right: 2em;">
                <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                    <i class="fs-4 bi bi-plus-lg text-white"></i>
                </button>
                <ul class="dropdown-menu mb-2" style=" z-index: 1000;">
                    <li><a class="dropdown-item text-secondary" href="./circleApplyPage" style="font-size: 0.9em;"> 동아리 개설하기</a></li>
                    <li><a class="dropdown-item text-secondary" href="./circleListPage" style="font-size: 0.9em;"> 동아리 가입하기</a></li>
                    <li onclick="writeNeedjoin()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 동아리 게시글 작성</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid footer" style="position: absolute;">
        <div class="row fixed-bottom align-items-center justify-content-center" style="border-top: 0.05em solid rgb(196, 196, 196); height: 3.4em;">
            <div class="button col text-center" onclick="scheduleIconClick()" style="height: 100%;">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-calendar2-date text-secondary" style="font-size: 1.7em;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.6em;">
                        일정
                    </div>
                </div>
            </div>
            <div class="button col ps-0 text-center" onclick="VoteIconClick()" style="height: 100%;">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-box-seam-fill text-secondary" style="font-size: 1.7em;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.6em;">
                        투표
                    </div>
                </div>
            </div>
            <div class="col-2 px-0 justify-content-center">
                <img id="ufuf" class="img-fluid" src="/public/image/circle/ufufmainlogo.png" style="height: 2.8em;">
                <!-- 여기 플러스버튼을 따로 떼어내서 이동시켜야함 !!!!!! -->
                <!-- <button class="btn px-0" onclick="openModal()"><i class="bi bi-plus-circle py-0 fs-1"></i></button> -->
            </div>
            <div class="button col text-center pe-0" onclick="(() => {
                location.href = './myCircleListPage'
            })()" style="height: 100%;">
            <div class="row">
                <div class="col">
                    <i class="bi bi-people-fill text-secondary" style="font-size: 1.7em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.6em;">
                    내 동아리
                </div>
            </div>
            </div>
            <div class="button col text-center" onclick="(() => {
                location.href = './circleMyPage'
            })()" style="height: 100%;">
            <div class="row">
                <div class="col">
                    <i class="bi bi-person-circle text-secondary" style="font-size: 1.7em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.6em;">
                    마이페이지
                </div>
            </div>
            </div>
            <!-- <div style="position: fixed; bottom: 10%; z-index: 1000;">      
                <div class="dropup-end dropup mb-3 justify-content-center" style="position: relative; left: 42%;">
                    <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                        <i class="fs-4 bi bi-plus-lg text-white"></i>
                    </button>
                    <ul class="dropdown-menu mb-2" style="z-index: 1000;">
                      <li><a class="dropdown-item text-secondary" href="./circleApplyPage" style="font-size: 0.9em;"> 동아리 개설하기</a></li>
                      <li><a class="dropdown-item text-secondary" href="./circleListPage" style="font-size: 0.9em;"> 동아리 가입하기</a></li>
                      <li onclick="writeNeedjoin()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 동아리 게시글 작성</span></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
    <div id="invitationWrapper" class="col">
        <div id="invitationModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">동아리 가입</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            동아리에 가입 해야 투표글을 볼 수 있습니다.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            동아리 가입페이지로 이동합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="invitationButton btn fw-semibold " style="background-color: #fb7928;color: white;">확인</button>
                </div>
              </div>
            </div>
          </div>
    </div>
<div id="scheduleCheckWrapper d-none">
<div id="scheduleCheckModal" class="modal" tabindex="-1" style="border: none;">
    <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
      <div class="modal-content px-0 py-0">
        <div class="modal-header">
          <h5 class="modal-title">일정 확인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    일정을 확인하려면 동아리에 가입하셔야합니다.
                </div>
            </div>
        </div>    
        <div class="modal-footer" style="text-decoration-line: none;">
            <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                location.href = './circleListPage'
            })()">동아리 가입</button>
            <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                location.href = './myCircleListPage'
            })()">내 동아리</button>
        </div>
      </div>
    </div>
</div>
</div>
<div id="voteCheckWrapper d-none">
<div id="voteCheckModal" class="modal" tabindex="-1" style="border: none;">
    <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
      <div class="modal-content px-0 py-0">
        <div class="modal-header">
          <h5 class="modal-title">투표글 이동</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    투표글을 더 보려면 동아리에 가입하셔야 합니다.
                </div>
            </div>
        </div>    
        <div class="modal-footer" style="text-decoration-line: none;">
            <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                location.href = './circleListPage'
            })()">동아리 가입</button>
            <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                location.href = './myCircleListPage'
            })()">내 동아리</button>
        </div>
      </div>
    </div>
</div>
</div>
<div id="writeWrapper" class="col">
<div id="writeModal" class="modal" tabindex="-1" style="border: none;">
    <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
      <div class="modal-content px-0 py-0">
        <div class="modal-header">
          <h5 class="modal-title">동아리 가입</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    동아리에 가입해야 게시물을 작성할 수 있습니다.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    동아리 가입페이지로 이동합니다.
                </div>
            </div>
        </div>    
        <div class="modal-footer" style="text-decoration-line: none;">
            <button type="button" class="btn fw-semibold" onclick="(() => {location.href = './circleListPage'})()" style="background-color: #fb7928;color: white;">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="home" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 8em; width: 100%; margin: auto; z-index: 9999;">
    <div class="col text-center px-0 ">
        <div class="row">
            <div class="col px-0 align-self-center d-flex justify-content-center">
                <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                    style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../commons/mainPage'">
                    <i class="fi fi-rr-house-chimney align-middle fs-4"></i>
                </span>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                홈
            </div>
        </div>
    </div>
</div>

<div id="secondLine" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 6.8em; width: 100%; margin: auto; z-index: 9999;">
    <div id="mission" class="col-2 text-center">
        <div class="row">
            <div class="col px-0 align-self-center d-flex justify-content-center">
                <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                    style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../mission/map'">
                    <i class="fi fi-rr-map-marker align-middle fs-4"></i>
                </span>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                유니미션
            </div>
        </div>
    </div>
    <div class="col-1" style="width: 2.8em;" onclick="window.location.href='../commons/mainPage'"></div>
    <div id="circle" class="col-2 text-center">
        <div class="row">
            <div class="col px-0 align-self-center d-flex justify-content-center">
                <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                    style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../circle/circleMainPage'">
                    <i class="fi fi-rr-meeting align-middle fs-4"></i>
                </span>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                유니써클
            </div>
        </div>
    </div>
</div>

<div id="thirdLine" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 4.3em; width: 100%; margin: auto; z-index: 9999;">
    <div id="signal" class="col-3 text-center">
        <div class="row">
            <div class="col px-0 align-self-center d-flex justify-content-center">
                <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                    style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../meeting/mainPage'">
                    <i class="fi fi-rr-comment-heart align-middle fs-4"></i>
                </span>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                유니시그널
            </div>
        </div>
    </div>
    <div class="col-1" style="width: 6.1rem;"></div>
    <div id="bnb" class="col-3 text-center">
        <div class="row">
            <div class="col px-0 align-self-center d-flex justify-content-center">
                <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../room/roomMainPage'">
                    <i class="fi fi-rr-bed-alt align-middle fs-4"></i>
                </span>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                유니비앤비
            </div>
        </div>
    </div>
</div>
<div id="modalManagementWrapper d-none">
    <div id="modalManagement" class="modal" tabindex="-1" style="border: none;">
        <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
          <div class="modal-content px-0 py-0">
            <div class="modal-header">
              <h5 class="modal-title">회원 제명</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col fw-semibold text-center">
                        <span class="username" style="color: #fb7928;"></span>님과 관련된 모든 동아리 정보들이 삭제됩니다.
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col fw-semibold text-center fs-5">
                        정말로 제명하시겠습니까?
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col fw-semibold text-center" style="color: red;">
                        @ 아직 제명 누르지마 제발!! @
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col fw-semibold text-center" style="color: red;">
                        제명누르면 제가 쌓아온 예쁜더미데이터가 날라가요..
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col fw-semibold text-center fs-3" style="color: red;">
                        제발/제발/제발/제발/제발
                    </div>
                </div>
            </div>    
            <div class="modal-footer" style="text-decoration-line: none;">
                <button type="button" class="btn fw-semibold hhh" style="background-color: rgb(255, 62, 62);color: white;">회원 제명</button>
                <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal" style="color: white;">닫기</button>
            </div>
          </div>
        </div>
    </div>
</div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>