<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <script src="/public/js/lockLikeMobile.js"></script>
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script>
        const voteOptionAdd = () => {
            const voteInput = document.querySelector("#templete .vote-input").cloneNode(true);
            document.querySelector("#optionAdd").appendChild(voteInput);

            // 항목이 추가될 때마다 높이를 조절
            //adjustContainerHeight();
        }

        const adjustContainerHeight = () => {
            const container = document.querySelector(".cf");
            const containerHeightInPixels = container.offsetHeight;
            const fontSize = parseFloat(window.getComputedStyle(document.body).fontSize);
            const containerHeightInEm = containerHeightInPixels / fontSize;
            
            container.style.height = `${containerHeightInEm}em`;
        };

        window.addEventListener("DOMContentLoaded", () => {
             adjustContainerHeight();
             const currentTime = new Date();
            console.log(currentTime);
            console.log(currentTime.toISOString());
        });

        const allSubmit = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circleId = urlParams.get("circle_id");
            // circleid 랑 userid로 동아리회원정보를 확인할 수 있음

            const vote_title = document.querySelector("#vote_title").value;
            const vote_theme = document.querySelector("#vote_theme").value;
            const vote_end_time = document.querySelector("#vote_end_time").value;
            const end_time = new Date(vote_end_time);
            console.log("마감시간 확인 :" + vote_end_time);
            console.log("endtime :" + end_time);
            console.log("insert되는 시간 :" + end_time.toISOString);
            

            

            const postData = {
                vote_title: vote_title,
                vote_theme: vote_theme,
                vote_end_time: vote_end_time
                
            };

            const url = "./voteRegister?circle_id=" + circleId;
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // JSON 형태로 데이터를 전송할 것임
                },
                body: JSON.stringify(postData), // 데이터를 JSON 문자열로 변환하여 전송
                })
            .then(response => response.json())
            .then(response => {

                    voteOptionSubmit();
                
                })
            
            

        }
        const checksibal = () => {
            
            const vote_end_time = document.querySelector("#vote_end_time").value;
            const end_time = new Date(vote_end_time);
            console.log("마감시간 확인 :" + vote_end_time);
            console.log("endtime :" + end_time);
            console.log("insert되는 시간 :" + end_time.toISOString());
            

        }

        const voteOptionSubmit = () => {

                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const circleId = urlParams.get("circle_id");
                const circleIId = parseInt(circleId);
                
                
                // 이미지도 여러개 등록해야됨
                const formData = new FormData();
                // 옵션값 String => String[] 로 받자..
                // 여긴 반복문 돌려서 여러개 insert가 되어야함 여러개니까.. class명으로 받아야하나..
                const option_content_elements = document.querySelectorAll("#addSpace .option_content");
                const option_content_values = [];

                option_content_elements.forEach(element => {
                    formData.append('option_content', element.value);
                    console.log(element.value);
                });
                
                const option_image_elements = document.querySelectorAll("#addSpace .option_image");

                for (const fileInput of option_image_elements) {
                    const files = fileInput.files;
                    console.log("files : "  + files);
                    for (const file of files) {
                        formData.append("files", file);  // 각 파일을 FormData에 추가
                        console.log("file : " + file);
                    }
                }
                


                // 서버에 전송
                // $.ajax({
                //             type: 'POST'
                //             , enctype: 'multipart/form-data'
                //             , url: './voteOptionRegister'
                //             , processData: false
                //             , contentType: false
                //             , data: formData
                // });
                
                fetch("./voteOptionRegister?circle_id=" + circleId, {
                    method: 'post',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log('서버 응답:', data);
                })
                .catch(error => {
                    console.error('오류 발생:', error);
                });
                // 투표글리스트로 이동.
                location.href = "./circleFeedPage?circle_id=" + circleId;

        }
        function goBack() {
            window.history.go(-1);
        }

    </script>
    <style>
            body {
            margin: 0;
            padding: 0;
            
            }
        
            .fixed-bottom {
                position: fixed;
                bottom: 0;
                padding: 0em;
                left: 0;
                background-color: #ffffff;
                text-align: center;
            }
            .cf {
                transition: 0.3s;
                height: 60em;
                
                
            
            }
            *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
            
    </style>
</head>

<body>
    <th:block th:replace="~{commons/circlefragmentPage.html :: topNavi}"></th:block>
    <div id="addSpace" class="container-fluid cf">
    <div class="row" style="height: 100%;">
        <div class="col">
            <div class="row mt-2">
                <div class="col d-flex align-items-center">
                    투표제목<span class="text-danger">＊</span>
                </div>         
            </div>
            <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <input id="vote_title" class="form-control" type="text" placeholder="투표제목을 입력하세요">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col d-flex align-items-center">
                    투표주제<span class="text-danger">＊</span>
                </div>         
            </div>
            <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <textarea id="vote_theme" class="form-control" placeholder="투표주제를 입력하세요" rows="2"></textarea>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col d-flex align-items-center">
                    투표마감일<span class="text-danger">＊</span>
                </div>         
            </div>
            <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <input id="vote_end_time" type="datetime-local" class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col d-flex align-items-center">
                    항목내용<span class="text-danger">＊</span>
                </div>         
            </div>
            <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <textarea class="option_content form-control" placeholder="내용을 입력하세요" rows="1"></textarea>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <input class="option_image form-control" type="file" accept="image/*">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col d-flex align-items-center">
                    항목내용<span class="text-danger">＊</span>
                </div>         
            </div>
            <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <textarea class="option_content form-control" placeholder="내용을 입력하세요" rows="1"></textarea>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <input class="option_image form-control" type="file" accept="image/*">
                </div>
            </div>
            <div class="row">
                <div id="optionAdd" class="col">

                </div>
            </div>
            <div class="row mt-2">
                <div class="col d-grid">
                    <button onclick="voteOptionAdd()" class="btn fw-semibold" style="background-color: #fb7928;color: white;">+</button>
                </div> 
            </div>
            
            <!-- <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <img id="previewImage" src="" alt="미리 보기" class="img-fluid d-none">
                </div>
            </div> -->
            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-3 fixed-bottom">
        <div class="col mx-3 py-2 d-grid">
            <button class="btn fw-semibold" onclick="allSubmit()" style="background-color: #fb7928;color: white;">투표개설</button>
        </div>
    </div>
</div>
<div id="templete" class="d-none">
    <div class="vote-input row">
        <div class="col">
            <div class="row mt-2">
                <div class="col d-flex align-items-center">
                    항목내용<span class="text-danger">＊</span>
                </div>         
            </div>
            <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <textarea class="option_content form-control" placeholder="내용을 입력하세요" rows="1"></textarea>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col d-grid align-items-center">
                    <input class="option_image form-control" type="file" accept="image/*">
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
