<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 차트 js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 

     <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
     <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
     <script src="/public/js/lockLikeMobile.js"></script>
     <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
     <script>
        
        // 뒤로이동
        function goBack() {
            window.history.go(-1);
        }
        // 값이 있나없나 검증을 위한 함수 ==> 만약 이글에 관해서 투표를 이미진행을 했으면 투표를 못하게끔 막아야함
        const optionComplete = () =>{

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_vote_id = urlParams.get("circle_vote_id");
            const circle_id = urlParams.get("circle_id");

            fetch("./voteChecked?circle_id=" + circle_id + "&circle_vote_id=" + circle_vote_id)
            .then(response => response.json())
            .then(response => {
                console.log(response.data);
                if(response.data === false){
                    const modal = bootstrap.Modal.getOrCreateInstance("#exModal");
                    modal.show();
                    return;
                }

                optionCheckComplete();

            })

        }
        
        const optionCheckComplete = () => {

            // 이쪽에 위에 함수가 들어가고 값이 있으면 알림창띄우고 return
            

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_vote_id = urlParams.get("circle_vote_id");
            const circle_id = urlParams.get("circle_id");

            const radiobutton = document.querySelectorAll(".radiobutton"); //모든 라디오 버튼을 가져와서 반복문을 돌려 체크된걸 찾은다음 값에 전송
                let selectedValue = "";
                
                for (let i = 0; i < radiobutton.length; i++) {
                if (radiobutton[i].checked) {
                        selectedValue = radiobutton[i].value;
                        break;
                    }
                }
                // 

            const url = "./voteComplete?circle_id=" + circle_id + "&circle_vote_id=" + circle_vote_id;
            fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json', // JSON 형식으로 데이터 전송을 명시
                    },
                    body: JSON.stringify({ vote_option_id: selectedValue }), // JSON 형식으로 데이터를 문자열로 변환하여 전달
                })
            
            location.href = "./circleVoteListPage?circle_id=" + circle_id;

        }
        // 특정 투표의 정보값들을 가져옴>>>> 마감기한이지나면 투표마감찍고 disabled
        const voteInfoOne = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_vote_id = urlParams.get("circle_vote_id");
            
            const url = "./voteInfoOne?circle_vote_id=" + circle_vote_id;
            fetch(url)
            .then(response => response.json())
            .then(response => {

                const e = response.data;
                const vote_title = document.querySelector("#vote_title")
                vote_title.innerText = e.vote_title;
                const vote_theme = document.querySelector("#vote_theme")
                vote_theme.innerText = e.vote_theme;
                // 여기에 vote_end_time 존재 만약 
                const Array = e.vote_end_time;
                const endtime = new Date(Array[0], Array[1] - 1, Array[2], Array[3], Array[4]); // 이거 가져올때 또 한달빼먹고 가져오네?
                const currentTime = new Date();
                console.log("마감시간 :" + endtime);
                console.log("현재시간 :" + currentTime);
                console.log(endtime.getTime())
                console.log(currentTime.getTime());
                    
                
                if(currentTime > endtime){
                    
                    document.querySelector("#controldisabled").setAttribute("disabled","");
                    document.querySelector("#controldisabled").innerText = "투표마감";
                    
                }
                

            })


        }
        const voteOptionPrint = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_vote_id = urlParams.get("circle_vote_id");
            
            const url = "./voteOptionInfoArticle?circle_vote_id=" + circle_vote_id;
            fetch(url)
            .then(response => response.json())
            .then(response => {
                
                let cnt = 0;
                for(e of response.data){
                    cnt++;
                    const Wrapper = document.querySelector("#Wrapper .voteWrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const option_content = Wrapper.querySelector(".option_content");
                    option_content.innerText = e.option_content;
                    const option_image = Wrapper.querySelector(".option_image");
                    option_image.setAttribute("src", "/uploadFiles/" + e.option_image);
                    const radiobutton = Wrapper.querySelector(".radiobutton"); // 라디오버튼의 value값을 여기다 줌
                    radiobutton.setAttribute("value", e.vote_option_id);
                    radiobutton.setAttribute("id",`vbtn-radio${cnt}`)
                    const labelbutton = Wrapper.querySelector(".labelbutton");
                    labelbutton.setAttribute("for",`vbtn-radio${cnt}`)
                    
                 
                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(Wrapper);
                    

                }

            })

        }
        // 차트 정보를 또 가져올거임 ==> 여기선 이제 항목별로 투표를 한 정보를 보여주도록 할건데..
        // 모달창으로 정보를 보여주면서 
        const voteCompleteInfo = () => {

            document.querySelector("#voteInfoInsert").innerHTML = "";

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const circle_vote_id = urlParams.get("circle_vote_id");

            $.ajax({
                url: `./voteCompleteInfo?circle_vote_id=${circle_vote_id}`,
                dataType: `json`,
                success: (response) => {

                    
                    
                    for(e of response.data){

                        const voteNode = $("#voteNode").clone(true);
                        voteNode.removeClass("d-none")
                        voteNode.find(".username").text(e.userInfoDto.name)
                        const position = e.circleMemberDto.circle_position
                        if(position === "P"){
                            voteNode.find(".usergrade").text("동아리회장")
                        }if(position === "A"){
                            voteNode.find(".usergrade").text("매니저")
                        }if(position === "M"){
                            voteNode.find(".usergrade").text("회원")
                        }
                        voteNode.find(".voteoption").text(e.circleVoteOptionDto.option_content)
                        
                        $("#voteInfoInsert").append(voteNode)

                        

                    }
                    
                    const modal = bootstrap.Modal.getOrCreateInstance("#voteModal");
                    modal.show();
                    

                }
            })

        }
        

        // 차트 정보 가져올것들
        const voteChart = () => {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString)
            const circle_vote_id = urlParams.get("circle_vote_id")

            $.ajax({
                url: `./voteChartInfo?circle_vote_id=${circle_vote_id}`,
                dataType: `json`,
                success: (response) => {
                    // 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'
                    
                    // for문돌려서 해야될것이 label값과 data값이 두개만들어가면됨
                    
                    if (response.data && response.data.length > 0 && response.data[0].totalCount > 0) {
                        // 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'
                        
                        // for문돌려서 해야될것이 label값과 data값이 두개만들어가면됨
                        
                        for (e of response.data) {
                            console.log(e);
                            const percent = ((e.voteCount / e.totalCount) * 100).toFixed(2);
                            const label = `${e.circleVoteOptionDto.option_content} (${percent}%)`;
                            myChart.data.labels.push(label); 
                            myChart.data.datasets[0].data.push(e.voteCount);
                        }
                        myChart.update();
                    } else {
                        // totalCount 값이 없으면 차트를 숨깁니다.
                        $('#myChart').hide(); // 차트를 감싸는 부모 요소의 ID를 여기에 넣어주세요
                        const nothing = $("<h5>").text("아직 투표한 인원이 없습니다.")
                        $("#hideControl").append(nothing)
                    }
                        

                        

                }
                
            })


        }
        
        let myChart;
        // 로드됐을때 바로실행
        window.addEventListener("DOMContentLoaded", () => {
            voteInfoOne();
            voteOptionPrint();
            
            const ctx = document.getElementById('myChart');
            myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                        
                        datasets: [{
                            label: '# of Votes',
                            
                            borderWidth: 1,
                            backgroundColor: [
                            '#78D2EC',
                            '#CAA6E3',
                            '#9FE5DA',
                            '#FAB8C4'
                            ]
                        }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        fontColor: 'red',
                                        font: {
                                             // 사용하고자 하는 글꼴 이름으로 변경
                                            size: 11 // 글꼴 크기
                                             // 글꼴 두껍기 설정
                                            
                                        }
                                        
                                    }
                                }
                            },
                            layout: {
                                padding: {
                                    left: 0,// 오른쪽 패딩 값을 조절하여 레이블 사이의 간격을 조정합니다.
                                    top: 0,
                                    bottom: 0
                                }
                            }
                        }
                        });
                        voteChart();
        })
        
     </script>
     <style>
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
        .pp{
            margin-left: 0.01em;
            margin-right: 0.01em;
        }
        body {
            margin: 0;
            padding: 0;
            
            }
        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            text-align: center;
        }
            /* 와 여기 .. 이미지 맞추기가 가능함.. 개신기... */
        .image-container {
            width: auto;
            height: 15em; /* 높이를 조절하세요 */
            overflow: hidden;
        }

        .responsive-img {
            width: auto;
            height: auto;
            object-fit: cover;
        }
         /* .self_check input[type="radio"] {
            display: none; 
        }   */
        .labelbutton{

            box-shadow: 0 0 15px rgba(185, 185, 185, 0.4); /* 그림자 효과 추가 */
            /* 추가적인 스타일 속성을 여기에 추가할 수 있습니다. */
        }
        
        
        
    </style>
</head>
<body>
    <!-- 투표하기 => 음 사진이랑 옵션내용 나오게하고 옵션id 선택했을때 userid랑 circleid 가지고 memberid 찾아서 투표에 넣어줌
         이미지 + 내용 칸을 만들어서 클릭 라디오버튼 => 체크 중복투표x
        투표제목, 투표주제, 항목내용 
    -->
    <th:block th:replace="~{commons/circlefragmentPage.html :: topNavi}"></th:block>
    <div class="container-fluid mainContent" style="background-color: rgb(251,251,251);">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col mt-2">
                        <div class="row align-items-center">
                            <div id="vote_title" class="col fw-semibold" style="font-size: 1.4em;">
                                제목
                            </div>
                        </div>
                        <div class="row">
                            <div id="vote_theme" class="col" style="font-size: 1.27em; color: #787878;">
                                투표 주제
                            </div>
                        </div>
                        <div class="row py-0 mt-2">
                            <div id="hideControl" class="col-12 d-grid py-0 justify-content-center align-items-center" style="height: 15em;">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-9"></div>
                            <div onclick="voteCompleteInfo()" class="col fw-semibold btn rounded-3 me-1 text-end lh-sm" style="color: blue; padding-top: 0%; padding-bottom: 0%; font-size: 1.0em;">
                                투표한 사람
                            </div>
                        </div>
                        <div class="row">
                            <div class="col fw-semibold text-end" style="font-size: 0.8em; color: rgba(255, 29, 29, 0.847);">
                                중복투표는 불가!
                            </div>
                        </div>
                        <div class="row">
                            <div class="col btn-group-vertical justify-content-center align-items-center" role="group" aria-label="Vertical radio toggle button group"><!-- Wrapper가 들어갈곳-->
                                <div id="listInsert" class="row row-cols-2" style="margin-bottom: 15%;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
        <label class="btn btn-outline-danger" for="vbtn-radio1">Radio 1</label>
        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
        <label class="btn btn-outline-danger" for="vbtn-radio2">Radio 2</label>
        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
        <label class="btn btn-outline-danger" for="vbtn-radio3">Radio 3</label>
        </div>     -->
    <!-- optionCheckComplete -->
    <div class="container-fluid">
        <div class="row mt-3 fixed-bottom">
            <div class="col mx-3 py-2 d-grid">
                <button id="controldisabled" class="btn fw-semibold" onclick="optionComplete()" style="background-color: #fb7928;color: white;">투표하기</button>
            </div>
        </div>
    </div>
    <div id="Wrapper" class="row d-none rounded-3 mt-2">
        <div class="voteWrapper col rounded-3" style="padding-left: 0%; padding-right: 0%; padding-top: 0%; background-color: white; border: 0.3em solid rgb(251,251,251);">
            <!-- 테스트1 --><input type="radio" class="radiobutton form-check custom-radio btn-check" name="vbtn-radio" autocomplete="off">
            <label class="labelbutton btn btn-outline-warning" style="border: 0.01em solid rgb(251,251,251);">
            <div class="row py-1 rounded-3 justify-content-center align-items-center">
                <div class="col image-container rounded-3">
                    <img class="responsive-img option_image img-fluid rounded-3">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row align-items-center justify-content-center">
                        <div class="col text-center fw-semibold" style="font-size: 0.9em; color: black;">
                            <span class="option_content">항목내용</span>
                        </div>
                    </div>
                </div>

            </div>
            </label>
        </div>
    </div>
    <div id="exWrapper d-none">
        <div id="exModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">투표하기</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            이미 투표하셨습니다.
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-decoration-line: none;">
                  <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal" style="color: white;">닫기</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="voteWrapper d-none">
        <div id="voteModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">투표 현황</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col pe-0 fw-semibold">
                            투표한 사람
                        </div>
                        <div class="col px-0 fw-semibold">
                            직책
                        </div>
                        <div class="col ps-0 fw-semibold">
                            투표항목
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div id="voteInfoInsert" class="col align-items-center justify-content-center">
                            <!-- 리스팅 되어야할 곳 -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-decoration-line: none;">
                  <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal" style="color: white;">닫기</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="voteNode" class="row mt-1 text-center d-none justify-content-center align-items-center">
        <div class="col username pe-0">

        </div>
        <div class="col usergrade px-0">
            
        </div>
        <div class="col voteoption ps-0 fw-semibold" style="color: #fb7928;">

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>