<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // 모달이 나타날 때
            $('#myModal').on('shown.bs.modal', function () {
                // 현재 버튼 위치
                var buttonPosition = $('.btn-primary').offset();
                // 모달을 버튼 위에 위치하도록 조절
                $(this).find('.modal-dialog').css({
                    'top': buttonPosition.top - $(window).scrollTop(),
                    'left': buttonPosition.left
                });
            });
        });
        function openModal() {
            document.getElementById('myModal').style.display = 'flex';
        }

        // 모달 닫기 함수
        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }
        // 동아리 리스트 hot 3개 ㅎㅎ;;
        function circleInfoHotThree(){

            const url = "./circleInfoHotThree"
            fetch(url)
            .then(response => response.json())
            .then(response => {
                
                for(e of response.data){

                    // 동아리 리스트 생성
                    const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const circlemainimage = Wrapper.querySelector(".circlemainimage");
                    circlemainimage.removeAttribute("src");
                    circlemainimage.setAttribute("src", "/uploadFiles/" + e.circleDto.circle_image);
                    const circlecategory = Wrapper.querySelector(".circlecategory");
                    circlecategory.innerHTML = "";
                    circlecategory.innerText = e.circleSmallCategoryDto.category_name;
                    const circlename = Wrapper.querySelector(".circlename");
                    circlename.innerHTML = "";
                    circlename.innerText = e.circleDto.circle_name;
                    const university = Wrapper.querySelector(".university");
                    university.innerHTML = "";
                    university.innerText = e.circleDto.circle_university;
                    const currentpeople = Wrapper.querySelector(".currentpeople");
                    currentpeople.innerHTML = "";
                    currentpeople.innerText = e.circleMemberCnt;
                    const circlepeople = Wrapper.querySelector(".circlepeople");
                    circlepeople.innerHTML = "";
                    circlepeople.innerText = e.circleGradeDto.circle_people;

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./circleListArticlePage?circle_id=" + e.circleDto.circle_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(Wrapper);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(a);

                }

            })
        }

        // 카테고리 리스트 6개 출력
        function smallCategoryList(){
            
            const url ="./smallCategoryList";
            fetch(url)
            .then(response => response.json())
            .then(response => {
                for(e of response.data){
                    const smallC = document.querySelector("#smallC");
                    const div = document.createElement("div");
                    div.classList.add("col", "px-1", "py-1" ,"d-grid", "align-items-center");

                    //<span class="badge text-bg-light">축구</span>
                    const span = document.createElement("span")
                    span.innerText = "# " + e.category_name;
                    span.classList.add("badge", "badge-md", "rounded-pill", "py-3", "border")
                    span.style.fontSize = "0.88em"
                    span.style.color = "black";
                    span.style.backgroundColor = "white";
                    
                    div.appendChild(span);
                    smallC.appendChild(div);
                }
            })

        }

        // 모달 외부 클릭 시 닫기
        window.onclick = function (event) {
            var modal = document.getElementById('myModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
        window.addEventListener("DOMContentLoaded", () =>{
            smallCategoryList();
            circleInfoHotThree();
        })
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
            
            
        }

        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            padding: 1em;
            text-align: center;
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        /* 모달 내용 스타일 */
        .modal-content {
            background-color: #fff;
            padding: 2em;
            border-radius: 1em;
        }

        /* 닫기 버튼 스타일 */
        .close {
            cursor: pointer;
            position: absolute;
            top: 1em;
            right: 1em;
            font-size: 2em;
        }
        .modal-dialog-bottom {
            
            margin-bottom: 0; /* 다른 위치 클래스와 충돌 방지 */
            transform: translateY(0); /* 다른 위치 클래스와 충돌 방지 */
        }
        .image-container {
            width: 10em;
            height: 10em; /* 높이를 조절하세요 */
            overflow: hidden;
        }

        .responsive-img {
            width: 10em;
            height: 100%;
            object-fit: cover;
        }

        .content {
        min-height: 100em; /* 최소한 화면 높이만큼의 높이를 유지하도록 설정 */
        height: auto; /* 높이를 컨텐츠에 맞게 자동으로 조절 */
        overflow-y: scroll; /* 스크롤이 필요한 경우에만 스크롤이 나타나도록 설정 */
        }
        *{
        /* font-family: 'Dongle', sans-serif; */
        font-family: 'Gowun Dodum', sans-serif;
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Noto Sans KR', sans-serif; */
        }
        
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row mt-2 align-items-center">
            <div class="col-2">
                <img src="/public/image/circle/ufufmainlogo.png" class="img-fluid">
            </div>
            <div class="col-6 ps-0 fw-semibold" style="font-size: 1.2em; color: #ff9e62;">
                ufuf
            </div>
            <div class="col-2" style="text-align: right;">
                <a href="#" style="text-decoration: none; color: black;"><i class="bi bi-bell fs-1"></i></a>
            </div>
            <div class="col-2">
                <a href="./logoutProcess" style="text-decoration: none; color: black;"><i class="bi bi-door-closed fs-1"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2 content" style="background-color: rgb(247, 247, 247);">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div id="carouselExampleInterval" class="row carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner px-0">
                                <div class="carousel-item active" data-bs-interval="5000">
                                    <img src="/public/image/circle/MainCarousel1.png" class="d-block" alt="..."
                                        style="height: 13em; width: 100%;">
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="/public/image/circle/MainCarousel2.png" class="d-block w-100" alt="..."
                                        style="height: 13em;">
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="/public/image/circle/MainCarousel3.png" class="d-block w-100" alt="..."
                                        style="height: 13em;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-2">
                    <div class="col overflow-x-auto">
                        <div id="smallC" class="row" style="width: 200%;">
                        </div>
                    </div>
                </div>
                <div class="row mt-2 align-items-center me-1">
                    <div class="col-11 ps-2 fw-bold" style="font-size: 1.2em;">
                        <span class="bi bi-award-fill" style="color: #fb7928;"></span>&nbsp;핫한 동아리
                    </div>
                    <div class="col-1">
                        <a href="./circleListPage" style="text-decoration: none; color: black;">+</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="listInsert">
                        
                    </div>
                </div>
                <div class="row mt-2 align-items-center me-1">
                    <div class="col-11 ps-2 fw-bold" style="font-size: 1.2em;">
                        <span class="bi bi-award-fill" style="color: #fb7928;"></span>&nbsp;인기있는 동아리 게시글
                    </div>
                    <div class="col-1">
                        <a href="#" style="text-decoration: none; color: black;">+</a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="row mx-1 border rounded-3">
                            <div class="col-3 text-center">
                                인원이 많은
                            </div>
                            <div class="col text-center">
                                글 (3개정도?)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row fixed-bottom mx-0 align-items-center">
                    <div class="button col py-0 text-center fs-1">
                        <i class="bi bi-house-door-fill"></i>
                    </div>
                    <div class="button col py-0 text-center fs-1">
                        <i class="bi bi-messenger"></i>
                    </div>
                    <div class="col-2 px-0 d-grid">
                        <button class="btn px-0" onclick="openModal()"><i class="bi bi-plus-circle py-0 fs-1"></i></button>
                    </div>
                    <div class="button col py-0 text-center fs-1" onclick="(() => {
                        location.href = './myCircleListPage'
                    })()">
                        <i class="bi bi-people-fill"></i>
                    </div>
                    <div class="button col py-0 text-center fs-1">
                        <i class="bi bi-person-circle"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 모달 -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-sm modal-dialog-bottom pt-0"> <!-- 또는 modal-sm -->
            <div class="modal-content px-0 py-0">
                <!-- 모달 본문 -->
                <div class="modal-body py-0">
                    <div class="row" style="border-bottom: 0.01em solid black;">
                        <div class="col-1"></div>
                            <a href="./circleApplyPage" style="text-decoration: none; color: black;">
                                <div class="col py-2">
                                    <span class="fw-bold">+</span> 동아리 개설하기
                                </div>
                            </a>
                        </div>
                    <div class="row" style="border-bottom: 0.01em solid black;">
                        <a href="./circleListPage" style="text-decoration: none; color: black;">
                            <div class="col py-2">
                                <span class="fw-bold">+</span> 동아리 가입하기
                            </div>
                        </a>
                    </div>
                    <div class="row" style="border-bottom: 0.01em solid black;">
                        <a href="#" style="text-decoration: none; color: black;">
                            <div class="col py-2">
                                <span class="fw-bold">+</span> 일정 추가
                            </div>
                        </a>
                    </div>
                    <div class="row" style="border-bottom: 0.01em solid black;">
                        <a href="#" style="text-decoration: none; color: black;">
                            <div class="col py-2">
                                <span class="fw-bold">+</span> 투표글 작성
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="./myCircleListPage" style="text-decoration: none; color: black;">
                            <div class="col py-2">
                                <span class="fw-bold">+</span> 동아리 게시글 작성
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Wrapper" class="row mt-2 mb-2 d-none rounded-3">
        <div class="col rounded-3 mx-1" style="background-color: white;">
            <div class="row rounded-3" style="font-size: small;">
                <div class="image-container col-4 rounded-3 py-2 ps-1"><img class="responsive-img circlemainimage img-fluid rounded-3" src="/public/image/circle/MainCarousel1.png"></div>
                <div class="col">
                    <div class="row mt-1">
                        <div class="col" style="padding-top: 0.9em; font-size: 0.7em;">
                            <span class="circlecategory rounded-pill py-1 px-2 fw-semibold" style="background-color: rgb(130, 130, 130); color: white;">배찌</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="circlename col fw-semibold" style="font-size: 1.4em;">
                            동아리명
                        </div>
                    </div>
                    <div class="row">
                        <div class="university col" style="font-size: 1em; color: gray;">
                            학교명
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col" style="color: rgb(134, 134, 134); font-size: 1.3em;">
                            <i class="bi bi-people-fill"></i>&nbsp; <span class="currentpeople" style="color: black;">현재인원</span>&nbsp;<span style="color: black;">/</span>&nbsp;<span class="circlepeople" style="color: black;">등급인원</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>