<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
     <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
     <script>
        function goBack() {
            window.history.go(-1);
        }
        // 내가 동아리회원인데 P or A 인 동아리 리스트만 가져옴
        const circleListOnlyManager = () => {

            fetch("./circleListOnlyManager")
            .then(response => response.json())
            .then(response => {

                for(e of response.data){

                    // 관리자용이니까 동아리 등급, 총 게시물수?, 현재 동아리 인원, 카테고리이름2, 동아리명, 학교명
                    const circlelist = document.querySelector("#Wrapper .circlelist").cloneNode(true);
                    const middle_category_name = circlelist.querySelector(".middle_category_name");
                    middle_category_name.innerText = e.circleMiddleCategoryDto.category_name;
                    const small_category_name = circlelist.querySelector(".small_category_name");
                    small_category_name.innerText = e.circleSmallCategoryDto.category_name;
                    const circle_name = circlelist.querySelector(".circle_name");
                    circle_name.innerText = e.circleDto.circle_name;
                    const circle_university = circlelist.querySelector(".circle_university");
                    circle_university.innerText = e.circleDto.circle_university;
                    const circle_position = circlelist.querySelector(".circle_position");
                    const position = e.circleMemberDto.circle_position;

                    if(position === 'P'){
                        circle_position.innerText = '관리자';
                    }else if(position === 'A'){
                        circle_position.innerText = '매니저';
                    }

                    const grade_name = circlelist.querySelector(".grade_name");
                    grade_name.innerText = e.circleGradeDto.grade_name;
                    const circle_people = circlelist.querySelector(".circle_people");
                    circle_people.innerText = e.circleGradeDto.circle_people;
                    const currentpeople = circlelist.querySelector(".currentpeople");
                    currentpeople.innerText = e.memberCnt;
                    const boardCnt = circlelist.querySelector(".boardCnt");
                    boardCnt.innerText = e.circleBoartCnt;
                    
                    const a = document.createElement("a");
                    a.setAttribute("href", "./circleApprovalJoinPage?circle_id=" + e.circleDto.circle_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(circlelist);

                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(a);
                    

                }

            })

        }
        const scheduleIconClick = () => {

            const boardDeleteModal = document.querySelector("#scheduleCheckModal");

            const modal = bootstrap.Modal.getOrCreateInstance("#scheduleCheckModal");
            modal.show();

        }
        const accessDeniedVote = () => {

            const boardDeleteModal = document.querySelector("#voteCheckModal");

            const modal = bootstrap.Modal.getOrCreateInstance("#voteCheckModal");
            modal.show();

        }   
        // 투표글 아이콘 클릭시 ==> 동아리 가입 내동아리 들어갈 수 있는 모달 생성
        const VoteIconClick = () => {

            accessDeniedVote()

        }
        const writeNeedjoin = () => {

            const modal = bootstrap.Modal.getOrCreateInstance("#writeModal");
            modal.show();

            setTimeout(() => {
                location.href = "./circleListPage"
            }, 10000)

        }
        window.addEventListener("DOMContentLoaded", () => {
            circleListOnlyManager();
        })
     </script>
     <style>
        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            padding: 0.4em;
            text-align: center;
        }
        .shadow {
            background-color: #fffcf9; /* 그림자 효과를 적용할 요소의 배경색 */
            box-shadow: 0 0 8em rgba(255, 92, 16, 0.963); /* 수평, 수직, 번지도, 색상(투명도) */
        }
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
    </style>
</head>
<body>
    <th:block th:replace="~{commons/circlefragmentPage.html :: topNavi}"></th:block>
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="font-size: 1.2em;">
                <i class="bi bi-person-fill-add fw-bold" style="color: #fb7928;"></i>&nbsp;&nbsp;동아리 가입관리
            </div>
        </div>
        <div class="row">
            <div id="listInsert" class="col">
                
            </div>
        </div>
    </div> 
    <div id="Wrapper" class="d-none">
        <div class="circlelist row">
            <div class="col py-2 mx-2">
                <div class="row py-2 rounded-4 shadow" style="border: 0.01em solid #dfdfdf;">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <span class="middle_category_name"></span>&nbsp;>&nbsp;<span class="small_category_name"></span>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col">
                                <span class="circle_name"></span>
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col">
                                <span class="circle_university" style="color: rgba(93, 93, 93, 0.794);"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        
                    </div>
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col fw-semibold text-end">
                                <span class="grade_name"></span>·<span class="circle_position"></span>
                            </div>
                        </div>
                        <div class="row mt-1 align-items-center">
                            <div class="col text-end">
                                <i class="bi bi-people-fill"></i>&nbsp;&nbsp;<span class="currentpeople"></span>&nbsp;/&nbsp;<span class="circle_people"></span>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col text-end">
                                총 게시물: <span class="boardCnt"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div style="position: fixed; right: 1.8em; bottom: 4.3em; z-index: 1000;">      
        <div class="dropup-end dropup mb-3">
            <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                <i class="fs-4 bi bi-plus-lg text-white"></i>
            </button>
            <ul class="dropdown-menu mb-2" style="z-index: 1000;">
              <li><a class="dropdown-item text-secondary" href="./circleApplyPage" style="font-size: 0.9em;"> 동아리 개설하기</a></li>
              <li><a class="dropdown-item text-secondary" href="./circleListPage" style="font-size: 0.9em;"> 동아리 가입하기</a></li>
              <li onclick="writeNeedjoin()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 동아리 게시글 작성</span></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row fixed-bottom py-0 mx-0 px-0 align-items-center" style="border-top: 0.05em solid rgb(196, 196, 196); height: 3.4em;">
            <div class="button col py-0 text-center fs-1" onclick="scheduleIconClick()">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-calendar2-date text-secondary"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.3em;">
                        일정
                    </div>
                </div>
            </div>
            <div class="button col py-0 ps-0 text-center fs-1" onclick="VoteIconClick()">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-box-seam-fill text-secondary"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.3em;">
                        투표
                    </div>
                </div>
            </div>
            <div class="col-2 px-0 justify-content-center" onclick="(() => {
                location.href='../commons/mainPage'
            })()">
                <img class="img-fluid" src="/public/image/circle/ufufmainlogo.png" style="width: 2.5em;">
                <!-- 여기 플러스버튼을 따로 떼어내서 이동시켜야함 !!!!!! -->
                <!-- <button class="btn px-0" onclick="openModal()"><i class="bi bi-plus-circle py-0 fs-1"></i></button> -->
            </div>
            <div class="button col py-0 text-center fs-1 pe-0" onclick="(() => {
                location.href = './myCircleListPage'
            })()">
            <div class="row">
                <div class="col">
                    <i class="bi bi-people-fill text-secondary"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.3em;">
                    내 동아리
                </div>
            </div>
            </div>
            <div class="button col py-0 text-center fs-1" onclick="(() => {
                location.href = './circleMyPage'
            })()">
            <div class="row">
                <div class="col">
                    <i class="bi bi-person-circle text-secondary"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.3em;">
                    마이페이지
                </div>
            </div>
                
            </div>
        </div>
    </div>
    <div id="invitationWrapper" class="col">
        <div id="invitationModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-sm modal-dialog-bottom" style="padding-top: 50%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">동아리 가입</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            동아리에 가입 해야 투표글을 볼 수 있습니다.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            동아리 가입페이지로 이동합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="invitationButton btn fw-semibold " style="background-color: #fb7928;color: white;">확인</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div id="scheduleCheckWrapper d-none">
        <div id="scheduleCheckModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-sm modal-dialog-bottom" style="padding-top: 50%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">일정 확인</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            일정을 확인하려면 동아리에 가입하셔야합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                        location.href = './circleListPage'
                    })()">동아리 가입</button>
                    <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                        location.href = './myCircleListPage'
                    })()">내 동아리</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="voteCheckWrapper d-none">
        <div id="voteCheckModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-sm modal-dialog-bottom" style="padding-top: 50%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">투표글 이동</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            투표글을 더 보려면 동아리에 가입하셔야 합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                        location.href = './circleListPage'
                    })()">동아리 가입</button>
                    <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                        location.href = './myCircleListPage'
                    })()">내 동아리</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="writeWrapper" class="col">
        <div id="writeModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-sm modal-dialog-bottom" style="padding-top: 50%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">동아리 가입</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            동아리에 가입 해야 게시물을 작성할 수 있습니다.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            동아리 가입페이지로 이동합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="btn fw-semibold" onclick="(() => {location.href = './circleListPage'})()" style="background-color: #fb7928;color: white;">확인</button>
                </div>
              </div>
            </div>
          </div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>