<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
     <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
     <script src="/public/js/lockLikeMobile.js"></script>
     <script>
        function goBack() {
            window.history.go(-1);
        }
        // 내 세션정보로 내가신청한 결제내역 리스트
        const schedulePaymentMyList = () => {

            const url = "./circleScheduleApplyByUserId";
            fetch(url)
            .then(response => response.json())
            .then(response => {
                
                for(e of response.data){

                    const paymentList = document.querySelector("#Wrapper .paymentList").cloneNode(true);
                    const title = paymentList.querySelector(".title").innerText = e.circleScheduleDto.schedule_title
                    const place = paymentList.querySelector(".place").innerText = e.circleScheduleDto.schedule_address
                    const status = paymentList.querySelector(".status").innerText = e.orderInfoDto.status
                    const totalprice = paymentList.querySelector(".totalprice").innerText = e.kakaoPaymentReqDto.total_amount
                    const changetime = e.orderInfoDto.created_at;
                    // changetime은 2022,2,1,14,22,12 형식임
                    const changetime2 = new Date(changetime[0], changetime[1] - 1, changetime[2], changetime[3], changetime[4], changetime[5]);
                    // 이게 맞음 
                    const formattedDate = `${String(changetime[0]).slice(-2)}.${String(changetime[1]).padStart(2, '0')}.${String(changetime[2]).padStart(2, '0')}`;
                    const ordertime = paymentList.querySelector(".ordertime").innerText =  formattedDate
                    
                    paymentList.setAttribute("onclick",`paymentHistoryPlusModal(${JSON.stringify(e)})`)

                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(paymentList);
                    

                }

            })
        }
        // 클릭했을때는 일정에 대한 주문 상세내역이 나오면서 결제취소가 가능하게끔 해야함
        
        const paymentHistoryPlusModal = (element) => {
            console.log(element);
            const ScheduleModal = document.querySelector("#ScheduleModal")
            const start_time = ScheduleModal.querySelector(".start_time");
            const changetime = element.circleScheduleDto.start_time;
            const startDummytime = new Date(changetime[0], changetime[1] - 1, changetime[2], changetime[3], changetime[4], changetime[5]);
            const formattedDateTime = `${String(changetime[0]).slice(-2)}.${String(changetime[1]).padStart(2, '0')}.${String(changetime[2]).padStart(2, '0')} ${String(changetime[3]).padStart(2, '0')}:${String(changetime[4]).padStart(2, '0')}`;
            start_time.innerText = formattedDateTime; // 일정 시작일
            const end_time = ScheduleModal.querySelector(".end_time");
            const changetime2 = element.circleScheduleDto.end_time;
            const startDummytime2 = new Date(changetime2[0], changetime2[1] - 1, changetime2[2], changetime2[3], changetime2[4], changetime2[5]);
            const formattedDateTime2 = `${String(changetime2[0]).slice(-2)}.${String(changetime2[1]).padStart(2, '0')}.${String(changetime2[2]).padStart(2, '0')} ${String(changetime2[3]).padStart(2, '0')}:${String(changetime2[4]).padStart(2, '0')}`;
            end_time.innerText = formattedDateTime2; // 일정 종료일
            const people = ScheduleModal.querySelector(".people").innerText = element.circleScheduleDto.participation // 총 인원
            const person = ScheduleModal.querySelector(".person").innerText = element.applyPeopleCount // 신청한 인원
            const mypay = ScheduleModal.querySelector(".mypay").innerText = element.kakaoPaymentReqDto.total_amount // 내가 낸 회비
            const orderNumber = ScheduleModal.querySelector(".orderNumber").innerText = element.kakaoPaymentAcceptResDto.partner_order_id // 주문번호
            const Stitle = ScheduleModal.querySelector(".Stitle").innerText = element.circleScheduleDto.schedule_title // 제목
            const Scontent = ScheduleModal.querySelector(".Scontent").innerText = element.circleScheduleDto.schedule_content // 내용
            const Saddress = ScheduleModal.querySelector(".Saddress").innerText = element.circleScheduleDto.schedule_address // 주소
            const schedulecancel = ScheduleModal.querySelector(".schedulecancel")
            schedulecancel.setAttribute("onclick", `kakaoPaymentCancel(${JSON.stringify(element)})`)
            
            if(element.kakaoPaymentAcceptResDto.payment_method_type === "MONEY"){
                const paymentType = ScheduleModal.querySelector(".paymentType").innerText = "현금결제"
            }else if(element.kakaoPaymentAcceptResDto.payment_method_type === "CARD"){
                const paymentType = ScheduleModal.querySelector(".paymentType").innerText = "카드결제"
            }
            
             // 결제타입 ==> MONEY CARD 로 출력
            

            const mapboot = document.querySelector("#map");
            mapboot.innerHTML = "";

            // 여기서 맵을 만들어야할듯?    
            // 주소-좌표 변환 객체를 생성합니다
            const geocoder = new kakao.maps.services.Geocoder();

            // eventData.schedule_address 바꿔야됨
            geocoder.addressSearch(element.circleScheduleDto.schedule_address, function(result, status) {

                // 정상적으로 검색이 완료됐으면 
                if (status === kakao.maps.services.Status.OK) {

                    const coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = {
                        center: new kakao.maps.LatLng(coords.getLat(), coords.getLng()), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };
                    
                    // 지도를 생성합니다    
                    var map = new kakao.maps.Map(mapContainer, mapOption); 

                    const marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                } 
            }); 
            
            const modal = bootstrap.Modal.getOrCreateInstance("#ScheduleModal");
            modal.show();

        }
        // 여기서 결제 취소 api가 나와야하는데.. 플랫폼 등록이 이상함..

        const kakaoPaymentCancel = (element) => {

            
            

            //옛날 카카오 디벨롭 링크라는데.. 
            const API_URL = "https://kapi.kakao.com/v1/payment/cancel"
            const ADMIN_KEY = 'acf98a6391690d5cda02d8dd80ebff6a'; 

            // 결제 취소요청 
            const requestData = new URLSearchParams({
                
                cid: element.kakaoPaymentReqDto.cid,
                tid: element.kakaoPaymentAcceptResDto.tid,
                cancel_amount: element.kakaoPaymentReqDto.total_amount,
                cancel_tax_free_amount: element.kakaoPaymentReqDto.tax_free_amount

            })

            // 요청값 저장시킬 JSON
            const sendData = {

                cid: element.kakaoPaymentReqDto.cid,
                tid: element.kakaoPaymentAcceptResDto.tid,
                cancel_amount: element.kakaoPaymentReqDto.total_amount,
                cancel_tax_free_amount: element.kakaoPaymentReqDto.tax_free_amount

            }
            
            fetch(API_URL, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded',
                    'Authorization': `KakaoAK ${ADMIN_KEY}`
                },
                body: requestData 
            })
                .then(response => response.json())
                .then(data => {
                    
                    //여기서 함수 3개정도 호출 //아까는 떳음 지금 테스트 했는데 취소 한번떠서 결제한금액 초과한다고 뜨는듯
                    const resData = {
                        partner_order_id: data.partner_order_id,
                        partner_user_id: data.partner_user_id,
                        tid: data.tid,
                        payment_method_type: data.payment_method_type,
                        approved_cancel_amount: data.approved_cancel_amount,
                        canceled_at: data.canceled_at,
                        aid: data.aid
                    }
                    // 일단 응답받는거 확인하긴함 에러나면 무조건 위에 JSON 형식에서 버그일듯
                    // 지금 dfdfa 1666원 결제취소누르면 에러뜸 왜냐면.. 데이터베이스 테스트안하고 한번눌러봄..
                    
                    kakakPaymentCancleResInsert(resData)// object여서 변환해주고 넣음 
                    kakakPaymentCancleReqInsert(sendData) // object가 아니여서 가능
                    paymentCancelStatusChange(element.orderInfoDto.order_id) // 주문번호pk 로 변경
                    scheduleApplicationTableDelete(element.circleScheduleApplyDto.circle_schedule_application_id) // 신청번호pk로 삭제

                    // 마지막은 물론 페이지 리로드 or 결제 취소 완료되었다는 홈페이지로 리다이렉트
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        }
        
        // 결제취소요청테이블 insert
        const kakakPaymentCancleReqInsert = (sendData) => {

            console.log(sendData);
            const url = "./kakakPaymentCancleReqInsert";
            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(sendData)
            })
            .then(response => response.json())
            .then(response => {

                

            })

        }
        // 결제취소응답테이블 insert
        const kakakPaymentCancleResInsert = (resData) => {

            console.log(resData);

            const url = "./kakakPaymentCancleResInsert";
            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(resData)
            })
            .then(response => response.json())
            .then(response => {

                

            })

        }

         // 결제완료 => 환불완료 status바꾸기
        const paymentCancelStatusChange = (order_id) => {

            const url = "./paymentCancelStatusChange?order_id=" + order_id;
            fetch(url)
            .then(response => response.json())
            .then(response => {
            
                

            })

        }

        // 일정신청테이블에서 삭제
        const scheduleApplicationTableDelete = (circle_schedule_application_id) => {

            const url = "./scheduleApplicationTableDelete?circle_schedule_application_id=" + circle_schedule_application_id;
            fetch(url)
            .then(response => response.json())
            .then(response => {

                paymentCancelCompleteModal() // 모달창으로 닫기가있고, 6초뒤에 페이지가 리로드 되게 해놓음
                
                setTimeout(() => {
                    location.reload();
                }, 6000);
            })

        }

        // 완료된 모달창
        const paymentCancelCompleteModal = () => {

        const paymentCancelCompleteModal = document.querySelector("#paymentCancelCompleteModal");

        const modal = bootstrap.Modal.getOrCreateInstance("#paymentCancelCompleteModal");
        modal.show();



        }
        // !!!!!!!!!!!!!!!!!!! 여기서부터 보내야할 것들 !!!!!!!!!!!!!!!!!!!!!!!
        const scheduleIconClick = () => {

            const boardDeleteModal = document.querySelector("#scheduleCheckModal");

            const modal = bootstrap.Modal.getOrCreateInstance("#scheduleCheckModal");
            modal.show();

        }
        const accessDeniedVote = () => {

            const boardDeleteModal = document.querySelector("#voteCheckModal");

            const modal = bootstrap.Modal.getOrCreateInstance("#voteCheckModal");
            modal.show();

        }   
        // 투표글 아이콘 클릭시 ==> 동아리 가입 내동아리 들어갈 수 있는 모달 생성
        const VoteIconClick = () => {

            accessDeniedVote()

        }
        const writeNeedjoin = () => {

            const modal = bootstrap.Modal.getOrCreateInstance("#writeModal");
            modal.show();

            setTimeout(() => {
                location.href = "./circleListPage"
            }, 10000)

        }

        // 결제취소가 되면 status ==> 결제취소 바꿔야하고
        // 일정신청테이블 스케줄pk랑 동아리맴버pk이용해서 일정신청삭제해야함..

        window.addEventListener("DOMContentLoaded", () => {

            schedulePaymentMyList()

        })
     </script>
     <style>
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
        .shadow {
        background-color: #ffffff; /* 요소의 배경색을 지정 */
        box-shadow: 10em 10em 2em #fd731e;
        /* 
            첫 번째 값: 가로 그림자의 위치
            두 번째 값: 세로 그림자의 위치
            세 번째 값: 그림자의 흐림 정도
            네 번째 값: 그림자의 색상과 투명도
        */
        }
        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- 내가 일정 신청한 주문정보 페이지가 나와야 함 어느동아리에 무슨일정인지 나와야되고 장소+ 주문정보.. 엮을게 많다.-->
    <th:block th:replace="~{commons/circlefragmentPage.html :: topNavi}"></th:block>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row mt-2 justify-content-center">
                    <div class="col">
                        <span class="bi bi-credit-card-fill" style="color: #fb7928;font-size: 1.2em;"></span>&nbsp;&nbsp;<span style="font-size: 1.2em;">결제내역</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div id="listInsert" class="col">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 여기는 리스트 페이지 -->
    <div id="Wrapper" class="d-none">
        <div class="paymentList row shadow py-2 mt-1" style="border: 0.001em solid rgb(238, 238, 238); border-radius: 0.5em;margin-left: 0.05em;margin-right: 0.05em;">
            <div class="col">
                <div class="row">
                    <div class="title col" style="font-size: 1em;">
                        일정제목
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="place col fw-semibold" style="font-size: 0.9em;">
                        일정장소
                    </div>
                </div>
                <div class="row">
                    <div class="status col fw-semibold" style="color: #fb7928;">
                       주문상태(맨마지막) fw-semibold 
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row mt">
                    <div class="ordertime col text-end fw-semibold" style="color: rgb(155, 155, 155); font-size: 0.9em;">
                        
                    </div>
                </div>   
                <div class="row">
                    <div class="col fw-semibold text-end" style="color: rgb(155, 155, 155); font-size: 0.8em;">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row mt-2 pb-0 mb-0">
                    <div class="col pb-0 mb-0 text-end">
                        <span class="totalprice" style="color: red;"></span><span>원</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 여기는 모달창 !! -->
    <div id="Wrapper d-none">
        <div id="ScheduleModal" class="modal" tabindex="-1">
            <div class="modal-dialog custom-z-index" style="margin-right: 5%; margin-left: 5%;">
              <div class="modal-content">
                <div class="modal-header fw-semibold">
                  <h5 class="modal-title">상세일정</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row align-items-center">
                        <div class="col">
                            주문번호:
                        </div>
                        <div class="col orderNumber text-end">
                            
                        </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                        <div class="col">
                            일정제목:
                        </div>
                        <div class="col Stitle text-end">

                        </div>
                    </div>
                    <div class="row mt-1 align-items-center">
                        <div class="col">
                            일정내용:
                        </div>
                        <div class="col Scontent text-end">
                            
                        </div>
                    </div>
                    <div class="row mt-1 align-items-center">
                        <div class="col-3">
                            일정기간:
                        </div>
                        <div class="col text-end" style="font-size: 0.8em;">
                            <span class="start_time"></span> - <span class="end_time"></span>
                        </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                        <div class="col">
                            신청인원:
                        </div>
                        <div class="col text-end">
                            <span class="person" style="color: #fb7928;"></span> / <span class="people"></span>
                        </div>
                    </div>
                    <div class="row mt-1 align-items-center">
                        <div class="col">
                            결제방식:
                        </div>
                        <div class="col text-end">
                            <span class="paymentType"></span>
                        </div>
                    </div>
                    <div class="row mt-1 align-items-center">
                        <div class="col">
                            결제금액:
                        </div>
                        <div class="col text-end">
                            <span class="mypay" style="color: red;"></span><span>원</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col ps-0">
                            <span class="schedule_address fw-semibold" style="font-size: 0.85em; color: #6b6b6b;"></span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <i class="bi bi-geo-alt-fill"></i>&nbsp;&nbsp;<span class="Saddress"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col px-0"><!-- 일정에 주소좌표가 들어갈 예정 --> 
                            <div id="map" style="width: 100%; height: 19em;"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn fw-semibold schedulecancel" style="background-color: red;color: white;">일정 취소</button>
                  <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal" style="color: white;">닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="Wrapper d-none">
            <div id="paymentCancelCompleteModal" class="modal" tabindex="-1" style="border: none;">
                <div class="modal-dialog modal-sm modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
                  <div class="modal-content px-0 py-0">
                    <div class="modal-header">
                      <h5 class="modal-title">결제 취소 완료</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                결제취소가 완료되었습니다.
                            </div>
                        </div>
                    </div>    
                    <div class="modal-footer" style="text-decoration-line: none;">
                      <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal" style="color: white;">닫기</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid" style="position: absolute;">
                <div class="row fixed-bottom align-items-center" style="border-top: 0.05em solid rgb(196, 196, 196);">
                    <div class="button col py-0 text-center fs-1" onclick="scheduleIconClick()">
                        <div class="row">
                            <div class="col">
                                <i class="bi bi-calendar2-date text-secondary" style="font-size: 0.8em;"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="font-size: 0.3em;">
                                일정
                            </div>
                        </div>
                    </div>
                    <div class="button col py-0 ps-0 text-center fs-1" onclick="VoteIconClick()">
                        <div class="row">
                            <div class="col">
                                <i class="bi bi-box-seam-fill text-secondary" style="font-size: 0.8em;"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="font-size: 0.3em;">
                                투표
                            </div>
                        </div>
                    </div>
                    <div class="col-2 px-0 justify-content-center" onclick="(() => {
                        location.href='../commons/mainPage'
                    })()">
                        <img class="img-fluid" src="/public/image/circle/ufufmainlogo.png" style="width: 2.8em;">
                        <!-- 여기 플러스버튼을 따로 떼어내서 이동시켜야함 !!!!!! -->
                        <!-- <button class="btn px-0" onclick="openModal()"><i class="bi bi-plus-circle py-0 fs-1"></i></button> -->
                    </div>
                    <div class="button col py-0 text-center fs-1 pe-0" onclick="(() => {
                        location.href = './myCircleListPage'
                    })()">
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-people-fill text-secondary" style="font-size: 0.8em;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="font-size: 0.3em;">
                            내 동아리
                        </div>
                    </div>
                    </div>
                    <div class="button col py-0 text-center fs-1" onclick="(() => {
                        location.href = './circleMyPage'
                    })()">
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-person-circle text-secondary" style="font-size: 0.8em;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="font-size: 0.3em;">
                            마이페이지
                        </div>
                    </div>
                    </div>
                    <div style="position: fixed; bottom: 10%; z-index: 1000;">      
                        <div class="dropup-end dropup mb-3 justify-content-center" style="position: relative; left: 42%;">
                            <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                                <i class="fs-4 bi bi-plus-lg text-white"></i>
                            </button>
                            <ul class="dropdown-menu mb-2" style="z-index: 1000;">
                              <li><a class="dropdown-item text-secondary" href="./circleApplyPage" style="font-size: 0.9em;"> 동아리 개설하기</a></li>
                              <li><a class="dropdown-item text-secondary" href="./circleListPage" style="font-size: 0.9em;"> 동아리 가입하기</a></li>
                              <li onclick="writeNeedjoin()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 동아리 게시글 작성</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="invitationWrapper" class="col">
                <div id="invitationModal" class="modal" tabindex="-1" style="border: none;">
                    <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
                      <div class="modal-content px-0 py-0">
                        <div class="modal-header">
                          <h5 class="modal-title">동아리 가입</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    동아리에 가입 해야 투표글을 볼 수 있습니다.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    동아리 가입페이지로 이동합니다.
                                </div>
                            </div>
                        </div>    
                        <div class="modal-footer" style="text-decoration-line: none;">
                            <button type="button" class="invitationButton btn fw-semibold " style="background-color: #fb7928;color: white;">확인</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div id="scheduleCheckWrapper d-none">
                <div id="scheduleCheckModal" class="modal" tabindex="-1" style="border: none;">
                    <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
                      <div class="modal-content px-0 py-0">
                        <div class="modal-header">
                          <h5 class="modal-title">일정 확인</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    일정을 확인하려면 동아리에 가입하셔야합니다.
                                </div>
                            </div>
                        </div>    
                        <div class="modal-footer" style="text-decoration-line: none;">
                            <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                                location.href = './circleListPage'
                            })()">동아리 가입</button>
                            <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                                location.href = './myCircleListPage'
                            })()">내 동아리</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div id="voteCheckWrapper d-none">
                <div id="voteCheckModal" class="modal" tabindex="-1" style="border: none;">
                    <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
                      <div class="modal-content px-0 py-0">
                        <div class="modal-header">
                          <h5 class="modal-title">투표글 이동</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    투표글을 더 보려면 동아리에 가입하셔야 합니다.
                                </div>
                            </div>
                        </div>    
                        <div class="modal-footer" style="text-decoration-line: none;">
                            <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                                location.href = './circleListPage'
                            })()">동아리 가입</button>
                            <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                                location.href = './myCircleListPage'
                            })()">내 동아리</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div id="writeWrapper" class="col">
                <div id="writeModal" class="modal" tabindex="-1" style="border: none;">
                    <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
                      <div class="modal-content px-0 py-0">
                        <div class="modal-header">
                          <h5 class="modal-title">동아리 가입</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    동아리에 가입해야 게시물을 작성할 수 있습니다.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    동아리 가입페이지로 이동합니다.
                                </div>
                            </div>
                        </div>    
                        <div class="modal-footer" style="text-decoration-line: none;">
                            <button type="button" class="btn fw-semibold" onclick="(() => {location.href = './circleListPage'})()" style="background-color: #fb7928;color: white;">확인</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>  
    <!-- 결제취소 했을때 환불이 진행되어야하고 마지막에 일정신청리스트에서 삭제되어야함.-->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d278507abdfac919df6a68d06b328eaf&libraries=services"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>