<!-- 내 동아리 페이지 이동 => 동아리 게시글 바로 피드가 나와야하나?-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gowun+Dodum&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <script src="/public/js/lockLikeMobile.js"></script>
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script>
        
        window.addEventListener("DOMContentLoaded", () => {
        let ufufClicked = false; // ufuf 버튼이 클릭되었는지 여부를 나타내는 플래그

        document.getElementById("ufuf").addEventListener("click", function() {
            const container = document.querySelector(".footer");

            if (!ufufClicked) { // ufuf 버튼이 한번도 클릭되지 않았을 때
                // 변경된 스타일 적용
                container.style.boxShadow = "rgba(0,0,0,0.75) 0 0 0 9999px";
                container.style.zIndex = "250";
                container.style.transition = "all 0.2s";

                document.getElementById("home").classList.remove("d-none");
                document.getElementById("secondLine").classList.remove("d-none");
                document.getElementById("thirdLine").classList.remove("d-none");

                setTimeout(() => {
                    document.getElementById("home").classList.add("clicked");
                }, 250);

                setTimeout(() => {
                    document.getElementById("secondLine").classList.add("clicked");
                    setTimeout(() => {
                        document.getElementById("mission").classList.add("clicked");
                    }, 100);
                    setTimeout(() => {
                        document.getElementById("circle").classList.add("clicked");
                    }, 200);

                }, 90);

                setTimeout(() => {

                    document.getElementById("thirdLine").classList.add("clicked");

                    setTimeout(() => {
                        document.getElementById("signal").classList.add("clicked");
                    }, 50);
                    setTimeout(() => {
                        document.getElementById("bnb").classList.add("clicked");
                    }, 250);

                }, 90);
            } else { // ufuf 버튼이 이미 클릭되어 있을 때
                // 변경 취소
                container.style.boxShadow = "none";
                container.style.zIndex = "300";
                container.style.transition = "none";
                

                document.getElementById("home").classList.add("d-none");
                document.getElementById("secondLine").classList.add("d-none");
                document.getElementById("thirdLine").classList.add("d-none");
                document.getElementById("home").classList.remove("clicked");
                document.getElementById("secondLine").classList.remove("clicked");
                document.getElementById("thirdLine").classList.remove("clicked");
                document.getElementById("mission").classList.remove("clicked");
                document.getElementById("circle").classList.remove("clicked");
                document.getElementById("signal").classList.remove("clicked");
                document.getElementById("bnb").classList.remove("clicked");
            }

            ufufClicked = !ufufClicked; // ufufClicked 플래그 업데이트
        });
    });
        function goBack() {
            window.history.go(-1);
        }
        
        const myCircleListPrint = () => {
            
            const url = "./myCircleList";
            
            fetch(url)
            .then(response => response.json())
            .then(response => {

                 // 동아리 리스트 생성

                for(e of response.data){

                    const Wrapper = document.querySelector("#Wrapper").cloneNode(true);
                    Wrapper.classList.remove("d-none");
                    const circlemainimage = Wrapper.querySelector(".circlemainimage");
                    circlemainimage.removeAttribute("src");
                    circlemainimage.setAttribute("src", "/uploadFiles/" + e.circleDto.circle_image);
                    const circlecategory = Wrapper.querySelector(".circlecategory");
                    circlecategory.innerHTML = "";
                    circlecategory.innerText = e.circleSmallCategoryDto.category_name;
                    const circlemiddlecategory = Wrapper.querySelector(".circlemiddlecategory");
                    circlemiddlecategory.innerHTML = "";
                    circlemiddlecategory.innerText = e.circleMiddleCategoryDto.category_name;
                    const circlename = Wrapper.querySelector(".circlename");
                    circlename.innerHTML = "";
                    circlename.innerText = e.circleDto.circle_name;
                    const university = Wrapper.querySelector(".university");
                    university.innerHTML = "";
                    university.innerText = e.circleDto.circle_university;
                    const currentpeople = Wrapper.querySelector(".currentpeople");
                    currentpeople.innerHTML = "";
                    currentpeople.innerText = e.circleMemberCnt;
                    const circlepeople = Wrapper.querySelector(".circlepeople");
                    circlepeople.innerHTML = "";
                    circlepeople.innerText = e.circleGradeDto.circle_people;
                    const circlegrade = Wrapper.querySelector(".circlegrade");
                    circlegrade.innerHTML = "";
                    circlegrade.innerText = e.circleGradeDto.grade_name;
                    const circlegradeimg = Wrapper.querySelector(".circlegradeimg");
                    if(e.circleGradeDto.grade_name === "아이언"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade1.png`)
                    } else if(e.circleGradeDto.grade_name === "브론즈"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade2.png`)
                    } else if(e.circleGradeDto.grade_name === "실버"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade3.png`)
                    } else if(e.circleGradeDto.grade_name === "골드"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade4.png`)
                    } else if(e.circleGradeDto.grade_name === "플레티넘"){
                        circlegradeimg.setAttribute("src",`/public/image/circle/grade5.png`)
                    }

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./circleFeedPage?circle_id=" + e.circleDto.circle_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(Wrapper);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const listInsert = document.querySelector("#listInsert");
                    listInsert.appendChild(a);

                } 

            })

        }
        const scheduleIconClick = () => {

            const boardDeleteModal = document.querySelector("#scheduleCheckModal");

            const modal = bootstrap.Modal.getOrCreateInstance("#scheduleCheckModal");
            modal.show();

        }
        const accessDeniedVote = () => {

            const boardDeleteModal = document.querySelector("#voteCheckModal");

            const modal = bootstrap.Modal.getOrCreateInstance("#voteCheckModal");
            modal.show();

        }   
        // 투표글 아이콘 클릭시 ==> 동아리 가입 내동아리 들어갈 수 있는 모달 생성
        const VoteIconClick = () => {

            accessDeniedVote()

        }
        const writeNeedjoin = () => {

            const modal = bootstrap.Modal.getOrCreateInstance("#writeModal");
            modal.show();

            setTimeout(() => {
                location.href = "./circleListPage"
            }, 10000)

        }

        window.addEventListener("DOMContentLoaded", () => {
            myCircleListPrint();
        })
    </script>
    <style>
        .footer{
            margin: auto;
        }

        #secondLine,
        #thirdLine {
            transition: opacity 1s;
        }

    #signal,
        #bnb,
        #mission,
        #circle,
        #home{
            transition: all 0.5s;
            opacity: 0;
        }

        #signal.clicked,
        #bnb.clicked,
        #mission.clicked,
        #circle.clicked,
        #home.clicked {
            opacity: 1;
        }

    .fi {
        background: linear-gradient(to bottom, #ff4a1d, #ff882c, #ffa939); /* 그라데이션 색상 설정 */
        -webkit-background-clip: text; /* 텍스트에만 배경 적용 (WebKit 브라우저를 위한 프리픽스) */
        background-clip: text; /* 텍스트에만 배경 적용 */
        color: transparent; /* 텍스트 색상을 투명하게 설정하여 텍스트가 보이지 않게 함 */
    }
        .image-container {
            width: 10em;
            height: 10em; /* 높이를 조절하세요 */
            overflow: hidden;
        }

        .responsive-img {
            width: 10em;
            height: 100%;
            object-fit: cover;
        }
        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            text-align: center;
        }
        .shadow-box {
        background-color: #ffffff;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        }
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        }
    </style>
</head>
<body>
    <th:block th:replace="~{commons/circlefragmentPage.html :: topNavi}"></th:block>
    <div class="container-fluid mt-1" style="background-color: rgb(251, 251, 251); height: 60em; width: 100%;">
        <div class="row pt-1">
            <div class="col fw-semibold" style="font-size: 1.2em;">
                내가 가입한 동아리 리스트
            </div>
        </div>
        <div class="row">
            <div class="col" style="font-size: 1.2em;">
                <div class="row" style="padding-left: 0.7rem; padding-right: 0.7rem;"><!-- 반복문? -->
                    <div id="listInsert" class="col" style="margin-bottom: 11%; background-color: rgb(251, 251, 251);">

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="Wrapper" class="row d-none rounded-3 border my-2 bg-white shadow-box">
        <div class="col rounded-3 mx-1">
            <div class="row rounded-3 py-2" style="font-size: small;">
                <div class="image-container col-4 rounded-3 py-2 ps-1"><img class="responsive-img circlemainimage img-fluid rounded-3" src="/public/image/circle/MainCarousel1.png"></div>
                <div class="col">
                    <div class="row">
                        <div class="col align-items-center" style="padding-top: 0.5em; font-size: 0.78rem; color: #9b9b9b;">
                            <span class="circlemiddlecategory">중배찌</span>&nbsp;<span class="fw-semibold">></span>&nbsp;<span class="circlecategory">배찌</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="circlename col fw-semibold" style="font-size: 1.25em;">
                            동아리명
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="university col fw-semibold" style="font-size: 1.02em; color: gray;">
                            학교명
                        </div>
                    </div>
                    <div class="row mt-2 pt-1">
                        <div class="col" style="color: rgb(134, 134, 134); font-size: 1.2em;">
                            <i class="bi bi-people-fill" style="color: #8f8f8f;"></i>&nbsp; <span class="currentpeople fw-semibold" style="color: rgb(85, 85, 85);">현재인원</span>&nbsp;<span style="color: rgb(49, 49, 49);">/</span>&nbsp;<span class="circlepeople" style="color: rgb(145, 145, 145);">등급인원</span>
                        </div>
                    </div>
                </div>
                <!-- 이미지가 들어가야 이쁜가?-->
                <div class="col-2 pt-3">
                    <div class="row align-items-center mt-0">
                        <div class="col d-grid rounded-3">
                            <img class="circlegradeimg img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center px-0">
                            <span class="circlegrade fw-semibold" style="font-size: 0.8em; color: #4e4e4e;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-2" style="position: fixed; bottom: 6em; right: 0; height: 3em; z-index: 100;">
        <div class="col ps-0 pt-2 mt-1 pe-0 me-0">
            <div class="dropup-end dropup" style="position: absolute; right: 2em;">
                <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                    <i class="fs-4 bi bi-plus-lg text-white"></i>
                </button>
                <ul class="dropdown-menu mb-2" style=" z-index: 1000;">
                    <li><a class="dropdown-item text-secondary" href="./circleApplyPage" style="font-size: 0.9em;"> 동아리 개설하기</a></li>
                    <li><a class="dropdown-item text-secondary" href="./circleListPage" style="font-size: 0.9em;"> 동아리 가입하기</a></li>
                    <li onclick="writeNeedjoin()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 동아리 게시글 작성</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid footer" style="position: absolute;">
        <div class="row fixed-bottom align-items-center justify-content-center" style="border-top: 0.05em solid rgb(196, 196, 196); height: 3.4em;">
            <div class="button col text-center ps-3" onclick="scheduleIconClick()" style="height: 100%;">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-calendar2-date text-secondary" style="font-size: 1.5em;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.6em;">
                        일정
                    </div>
                </div>
            </div>
            <div class="button col ps-0 text-center" onclick="VoteIconClick()" style="height: 100%;">
                <div class="row">
                    <div class="col">
                        <i class="bi bi-box-seam-fill text-secondary" style="font-size: 1.5em;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 0.6em;">
                        투표
                    </div>
                </div>
            </div>
            <div class="col-2 px-0 justify-content-center">
                <img id="ufuf" class="img-fluid" src="/public/image/circle/ufufmainlogo.png" style="height: 2.5em;">
                <!-- 여기 플러스버튼을 따로 떼어내서 이동시켜야함 !!!!!! -->
                <!-- <button class="btn px-0" onclick="openModal()"><i class="bi bi-plus-circle py-0 fs-1"></i></button> -->
            </div>
            <div class="button col text-center pe-0" onclick="(() => {
                location.href = './myCircleListPage'
            })()" style="height: 100%;">
            <div class="row">
                <div class="col">
                    <i class="bi bi-people-fill text-secondary" style="font-size: 1.5em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.6em;">
                    내 동아리
                </div>
            </div>
            </div>
            <div class="button col text-center pe-3" onclick="(() => {
                location.href = './circleMyPage'
            })()" style="height: 100%;">
            <div class="row">
                <div class="col">
                    <i class="bi bi-person-circle text-secondary" style="font-size: 1.5em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col" style="font-size: 0.6em;">
                    마이페이지
                </div>
            </div>
            </div>
            <!-- <div style="position: fixed;bottom: 6.7%; z-index: 1000;right: 0; width: 30%;">      
                <div class="dropup-end dropup mb-3 justify-content-center" style="position: relative; left: 42%;">
                    <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                        <i class="fs-4 bi bi-plus-lg text-white"></i>
                    </button>
                    <ul class="dropdown-menu mb-2" style="z-index: 1000;">
                      <li><a class="dropdown-item text-secondary" href="./circleApplyPage" style="font-size: 0.9em;"> 동아리 개설하기</a></li>
                      <li><a class="dropdown-item text-secondary" href="./circleListPage" style="font-size: 0.9em;"> 동아리 가입하기</a></li>
                      <li onclick="writeNeedjoin()"><span class="dropdown-item text-secondary" style="font-size: 0.9em;"> 동아리 게시글 작성</span></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
    <div id="invitationWrapper" class="col">
        <div id="invitationModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">동아리 가입</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            동아리에 가입 해야 투표글을 볼 수 있습니다.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            동아리 가입페이지로 이동합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="invitationButton btn fw-semibold " style="background-color: #fb7928;color: white;">확인</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div id="scheduleCheckWrapper d-none">
        <div id="scheduleCheckModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">일정 확인</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            일정을 확인하려면 동아리에 가입하셔야합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                        location.href = './circleListPage'
                    })()">동아리 가입</button>
                    <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                        location.href = './myCircleListPage'
                    })()">내 동아리</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="voteCheckWrapper d-none">
        <div id="voteCheckModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">투표글 이동</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            투표글을 더 보려면 동아리에 가입하셔야 합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="btn fw-semibold " style="background-color: #fb7928;color: white;" onclick="(() => {
                        location.href = './circleListPage'
                    })()">동아리 가입</button>
                    <button type="button" class="btn btn-secondary fw-semibold" style="color: #fb7928; background-color: white; border-color: #fb7928;" onclick="(() => {
                        location.href = './myCircleListPage'
                    })()">내 동아리</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="writeWrapper" class="col">
        <div id="writeModal" class="modal" tabindex="-1" style="border: none;">
            <div class="modal-dialog modal-dialog-bottom" style="padding-top: 50%; margin-right: 5%; margin-left: 5%;">
              <div class="modal-content px-0 py-0">
                <div class="modal-header">
                  <h5 class="modal-title">동아리 가입</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            동아리에 가입해야 게시물을 작성할 수 있습니다.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            동아리 가입페이지로 이동합니다.
                        </div>
                    </div>
                </div>    
                <div class="modal-footer" style="text-decoration-line: none;">
                    <button type="button" class="btn fw-semibold" onclick="(() => {location.href = './circleListPage'})()" style="background-color: #fb7928;color: white;">확인</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div id="home" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 8em; width: 100%; margin: auto; z-index: 9999;">
        <div class="col text-center px-0 ">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../commons/mainPage'">
                        <i class="fi fi-rr-house-chimney align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    홈
                </div>
            </div>
        </div>
    </div>
    
    <div id="secondLine" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 6.8em; width: 100%; margin: auto; z-index: 9999;">
        <div id="mission" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../mission/map'">
                        <i class="fi fi-rr-map-marker align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니미션
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 2.8em;" onclick="window.location.href='../commons/mainPage'"></div>
        <div id="circle" class="col-2 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../circle/circleMainPage'">
                        <i class="fi fi-rr-meeting align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니써클
                </div>
            </div>
        </div>
    </div>

    <div id="thirdLine" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 4.3em; width: 100%; margin: auto; z-index: 9999;">
        <div id="signal" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                        style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../meeting/mainPage'">
                        <i class="fi fi-rr-comment-heart align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니시그널
                </div>
            </div>
        </div>
        <div class="col-1" style="width: 6.1rem;"></div>
        <div id="bnb" class="col-3 text-center">
            <div class="row">
                <div class="col px-0 align-self-center d-flex justify-content-center">
                    <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../room/roomMainPage'">
                        <i class="fi fi-rr-bed-alt align-middle fs-4"></i>
                    </span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                    유니비앤비
                </div>
            </div>
        </div>
    </div>  
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>