<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>채팅</title>
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-straight/css/uicons-thin-straight.css'>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7319aff03174c9825e5552818af66d19&libraries=services"></script>
    <script src="/public/js/lockLikeMobile.js"></script>
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    
<script>

    var relativePath = window.location.origin;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const chat_room_id = urlParams.get('chat_room_id');

    var sessionUser = "[[${session.sessionUserInfo.user_id}]]";
    let maplist = [];

    function loadMap(lat, lng, chat_id){

        var imageSrc = relativePath + "/public/image/mission/free-icon-flag-5216262.png", // 마커이미지의 주소입니다    
        imageSize = new kakao.maps.Size(36, 36), // 마커이미지의 크기입니다
        imageOption = {offset: new kakao.maps.Point(24, 30)};

        var markerImg = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)
        var markerPosition = new kakao.maps.LatLng(lat, lng);
        var marker = new kakao.maps.Marker({
            position: markerPosition,
            image: markerImg
        });

        var staticMapContainer  = document.getElementById(`staticMap${chat_id}`),
            staticMapOption = { 
                center: new kakao.maps.LatLng(lat, lng),
                level: 4,
                marker: marker
            };

        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);

        maplist.push({ chat_id: chat_id, map: staticMap });
    }

    // 채팅 기본정보 로딩
    function loadBasicInfo(chat_room_id){

        const data = {
            chat_room_id: chat_room_id
        }

        fetch("./getBasicInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                const info = response.data;

                const name = document.getElementById("name");
                const missionInfo = document.getElementById("missionInfo");
                const title = missionInfo.querySelector(".title");
                const status = missionInfo.querySelector(".status");
                const detail = missionInfo.querySelector(".detail");
                const totalReward = missionInfo.querySelector(".totalReward");
                const limitHour = missionInfo.querySelector(".limitHour");
                const limitMinute = missionInfo.querySelector(".limitMinute");
                const topDiv = missionInfo.querySelector(".topDiv");

                name.innerText = info.chatMateInfoDto.name;
                title.innerText = info.missionInfoDto.title;
                detail.innerHTML = info.missionInfoDto.detail;

                if(info.missionInfoDto.user_id == sessionUser){

                    if(info.missionChatRoomDto.accept_at == null){

                        status.addEventListener('touchstart', function() {
                            status.style.backgroundColor = '#ffcf98';
                        });

                        status.addEventListener('touchend', function() {
                            status.style.backgroundColor = '#FF8827';
                        });

                        status.classList.add("btn");
                        status.classList.add("py-0");
                        status.style.backgroundColor = "#FF8827";
                        status.style.color = "white";
                        status.style.paddingBottom = "0.1rem";
                        status.innerText = "+ 수락하기";

                        status.addEventListener("click", function() {
                            accPlayer();
                        });

                    }else if(info.missionChatRoomDto.accept_at != null && info.missionChatRoomDto.giveup_at == null){
                        status.innerText = "진행중";
                    }else if(info.missionChatRoomDto.giveup_at != null){
                        status.innerText = "미션종료";
                    }
                }else{
                    // 미션 진행상태
                    if(info.missionChatRoomDto.accept_at == null){
                        status.innerText = "수락대기중";
                    }else if(info.missionChatRoomDto.accept_at != null && info.missionChatRoomDto.giveup_at == null){
                        status.innerText = "진행중";
                    }else if(info.missionChatRoomDto.giveup_at != null){
                        status.innerText = "미션종료";
                    }
                }


                var limitTime = info.missionInfoDto.limit_time;

                var hour = Math.floor(limitTime / 60);
                var minutes = limitTime % 60;

                if(hour < 10){
                    limitHour.innerText = "0" + hour;
                }else{
                    limitHour.innerText = hour;
                }

                if(minutes < 10){
                    limitMinute.innerText = "0" + minutes;
                }else{
                    limitMinute.innerText = minutes;
                }

                let sum = 0;

                for (let i = 0; i < info.missionCourseList.length; i++) {
                    const course = info.missionCourseList[i];
                    var courseEachReward = course.reward;
                    sum += courseEachReward;
                }

                totalReward.innerText = sum.toLocaleString();
            });
    }

    let latestChatId = 0;

    // 채팅 로딩
    function loadChatDialogue(chat_room_id){

        return new Promise(resolve => {

        const data = {
            chat_room_id: chat_room_id
        }
        
        fetch("./loadChatDialogue", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                maplist = [];

                const chatDialogueBox = document.getElementById("chatDialogueBox");
                chatDialogueBox.innerHTML = "";

                for(chat of response.data){

                    latestChatId = chat.missionChatDto.chat_id;

                    if(chat.missionChatDto.user_id == sessionUser){

                        const myChatWrapper = document.querySelector("#myChatTemplete .myChatWrapper").cloneNode(true);
                        const text = myChatWrapper.querySelector(".text");
                        const created_at = myChatWrapper.querySelector(".created_at");

                        myChatWrapper.id = "chat" + chat.missionChatDto.chat_id;

                        let currentDate = new Date();
                        let chatDate = new Date(chat.missionChatDto.created_at);

                        let year = chatDate.getFullYear();
                        let month = chatDate.getMonth() + 1;
                        let date = chatDate.getDate();
                        let hour = chatDate.getHours();
                        let minutes = chatDate.getMinutes();

                        let timeDiff = currentDate - chatDate;
                        const dayDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

                        if(dayDiff < 1){
                            if(hour < 10){
                                hour = "0" + hour;
                            }
                            if(minutes < 10){
                                minutes = "0" + minutes;
                            }
                            created_at.innerText = hour + ":" +  minutes;
                        }else{
                            created_at.innerText = year + "." + month + "." + date;
                        }

                        if(chat.missionChatDto.chat_category_id === 1){
                            text.innerText = chat.missionChatDto.message;
                        }else if(chat.missionChatDto.chat_category_id === 2){

                            text.innerHTML = `<img class="img${chat.missionChatDto.chat_id} img-fluid" style="object-fit: cover;" src="/uploadFiles/ufuf/chatImg${chat.missionChatDto.message}">`;

                        }else if(chat.missionChatDto.chat_category_id === 3){

                            let message = chat.missionChatDto.message;
                            message = message.replace(/\^alert!\^/g, "");

                            text.innerHTML = message;

                            setTimeout((chatId) => {
                                if (message.includes("loadMap")) {
                                    text.classList.remove("py-2");

                                    const loadMapIndex = message.indexOf("loadMap");

                                    if (loadMapIndex !== -1) {
                                        const start = message.indexOf("(", loadMapIndex);
                                        const end = message.indexOf(")", start);

                                        let staticMap = text.querySelector("#staticMap");
                                        staticMap.id = `staticMap${chatId}`;

                                        if (start !== -1 && end !== -1) {
                                            const coordinates = message.substring(start + 1, end).split(',').map(Number);

                                            // coordinates 배열의 각각의 값을 따로 변수에 저장
                                            const lat = coordinates[0];
                                            const lng = coordinates[1];

                                            setTimeout(() => {
                                                loadMap(lat, lng, chatId);
                                            }, 5);
                                        }
                                    }
                                }
                            }, 5, chat.missionChatDto.chat_id);

                            var btn = `#chat${chat.missionChatDto.chat_id} .missionDetailBtn`;

                            (function(btn, chat_room_id) {
                                if (message.includes("missionDetailBtn")) {
                                    setTimeout(() => {
                                        document.querySelector(btn).innerHTML = `<div class="py-2 fw-semibold text-center px-2 rounded-2 justify-content-center align-self-center" 
                                            style="background-color: #ffffff; color: #FF8827; margin-top: 0.15em; margin-bottom: 0.13em; padding-top: 0.16em;"
                                            onclick="window.location.href='./missionProcess?chat_room_id=${chat_room_id}'">
                                            미션 진행 확인하기
                                        </div>`;
                                    }, 10);
                                }
                            })(btn, chat_room_id);
                        }

                        chatDialogueBox.appendChild(myChatWrapper);

                    }else{

                        const mateChatWrapper = document.querySelector("#mateChatTemplete .mateChatWrapper").cloneNode(true);
                        const text = mateChatWrapper.querySelector(".text");
                        const created_at = mateChatWrapper.querySelector(".created_at");

                        mateChatWrapper.id = "chat" + chat.missionChatDto.chat_id;

                        let currentDate = new Date();
                        let chatDate = new Date(chat.missionChatDto.created_at);

                        let year = chatDate.getFullYear();
                        let month = chatDate.getMonth() + 1;
                        let date = chatDate.getDate();
                        let hour = chatDate.getHours();
                        let minutes = chatDate.getMinutes();

                        let timeDiff = currentDate - chatDate;
                        const dayDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

                        if(dayDiff < 1){
                            if(hour < 10){
                                hour = "0" + hour;
                            }
                            if(minutes < 10){
                                minutes = "0" + minutes;
                            }
                            created_at.innerText = hour + ":" +  minutes;
                        }else{
                            created_at.innerText = year + "." + month + "." + date;
                        }

                        if(chat.missionChatDto.chat_category_id === 1){
                            text.innerText = chat.missionChatDto.message;
                        }else if(chat.missionChatDto.chat_category_id === 2){
                            text.innerHTML = `<img class="img${chat.missionChatDto.chat_id} img-fluid" style="object-fit: cover;" src="/uploadFiles/ufuf/chatImg${chat.missionChatDto.message}">`;
                        }else if(chat.missionChatDto.chat_category_id === 3){

                            let message = chat.missionChatDto.message;
                            message = message.replace(/\^alert!\^/g, "");

                            text.innerHTML = message;
                            
                            setTimeout((chatId) => {
                                if (message.includes("loadMap")) {
                                    text.classList.remove("py-2");

                                    const loadMapIndex = message.indexOf("loadMap");

                                    if (loadMapIndex !== -1) {
                                        const start = message.indexOf("(", loadMapIndex);
                                        const end = message.indexOf(")", start);

                                        let staticMap = text.querySelector("#staticMap");
                                        staticMap.id = `staticMap${chatId}`;

                                        if (start !== -1 && end !== -1) {
                                            const coordinates = message.substring(start + 1, end).split(',').map(Number);

                                            // coordinates 배열의 각각의 값을 따로 변수에 저장
                                            const lat = coordinates[0];
                                            const lng = coordinates[1];

                                            setTimeout(() => {
                                                loadMap(lat, lng, chatId);
                                            }, 5);
                                        }
                                    }
                                }
                            }, 5, chat.missionChatDto.chat_id);

                            var btn = `#chat${chat.missionChatDto.chat_id} .missionDetailBtn`;

                            (function(btn, chat_room_id) {
                                if (message.includes("missionDetailBtn")) {
                                    setTimeout(() => {
                                        document.querySelector(btn).innerHTML = `<div class="py-2 fw-semibold text-center px-2 rounded-2 justify-content-center align-self-center" 
                                            style="background-color: #FF8827; color: #ffffff; margin-top: 0.15em; margin-bottom: 0.13em; padding-top: 0.16em;"
                                            onclick="window.location.href='./missionProcess?chat_room_id=${chat_room_id}'">
                                            미션 진행 확인하기
                                        </div>`;
                                    }, 10);
                                }
                            })(btn, chat_room_id);
                        }

                        chatDialogueBox.appendChild(mateChatWrapper);
                   } 
                }
                resolve();
            });
        }); 
    }

    // 새로운 채팅 로딩
    function loadNewChat(chat_room_id, latestChatId){

        return new Promise(resolve => {

        const data = {
            chat_room_id: chat_room_id,
            chat_id: latestChatId
        }
        
        fetch("./loadNewChat", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                maplist = [];

                for(chat of response.data){

                    latestChatId = chat.missionChatDto.chat_id;

                    if(chat.missionChatDto.user_id == sessionUser){

                        const myChatWrapper = document.querySelector("#myChatTemplete .myChatWrapper").cloneNode(true);
                        const text = myChatWrapper.querySelector(".text");
                        const created_at = myChatWrapper.querySelector(".created_at");

                        let currentDate = new Date();
                        let chatDate = new Date(chat.missionChatDto.created_at);

                        let year = chatDate.getFullYear();
                        let month = chatDate.getMonth() + 1;
                        let date = chatDate.getDate();
                        let hour = chatDate.getHours();
                        let minutes = chatDate.getMinutes();

                        let timeDiff = currentDate - chatDate;
                        const dayDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

                        if(dayDiff < 1){
                            if(hour < 10){
                                hour = "0" + hour;
                            }
                            if(minutes < 10){
                                minutes = "0" + minutes;
                            }
                            created_at.innerText = hour + ":" +  minutes;
                        }else{
                            created_at.innerText = year + "." + month + "." + date;
                        }

                        if(chat.missionChatDto.chat_category_id === 1){
                            text.innerText = chat.missionChatDto.message;
                        }else if(chat.missionChatDto.chat_category_id === 2){

                            text.innerHTML = `<img class="img${chat.missionChatDto.chat_id} img-fluid" style="object-fit: cover;" src="/uploadFiles/ufuf/chatImg${chat.missionChatDto.message}">`;

                        }else if(chat.missionChatDto.chat_category_id === 3){

                            let message = chat.missionChatDto.message;
                            message = message.replace(/\^alert!\^/g, "");

                            text.innerHTML = message;

                            setTimeout((chatId) => {
                                if (message.includes("loadMap")) {
                                    text.classList.remove("py-2");

                                    const loadMapIndex = message.indexOf("loadMap");

                                    if (loadMapIndex !== -1) {
                                        const start = message.indexOf("(", loadMapIndex);
                                        const end = message.indexOf(")", start);

                                        let staticMap = text.querySelector("#staticMap");
                                        staticMap.id = `staticMap${chatId}`;

                                        if (start !== -1 && end !== -1) {
                                            const coordinates = message.substring(start + 1, end).split(',').map(Number);

                                            // coordinates 배열의 각각의 값을 따로 변수에 저장
                                            const lat = coordinates[0];
                                            const lng = coordinates[1];

                                            setTimeout(() => {
                                                loadMap(lat, lng, chatId);
                                            }, 5);
                                        }
                                    }
                                }
                            }, 5, chat.missionChatDto.chat_id);

                            if(message.includes("missionDetailBtn")) {

                                setTimeout(() => {

                                    var btn = `#chat${chat.missionChatDto.chat_id} .missionDetailBtn`;

                                    document.querySelector(btn).innerHTML = `<div class="py-2 fw-semibold text-center px-2 rounded-2 justify-content-center align-self-center" 
                                            style="background-color: #ffffff; color: #FF8827; margin-top: 0.15em; margin-bottom: 0.13em; padding-top: 0.16em;"
                                            onclick="window.location.href='./missionProcess?chat_room_id=${chat_room_id}'">
                                            미션 진행 확인하기
                                        </div>`;
                                }, 5);    
                            }
                        }
                        myChatWrapper.id = "chat" + chat.missionChatDto.chat_id;
                        chatDialogueBox.appendChild(myChatWrapper);

                    }else{

                        const mateChatWrapper = document.querySelector("#mateChatTemplete .mateChatWrapper").cloneNode(true);
                        const text = mateChatWrapper.querySelector(".text");
                        const created_at = mateChatWrapper.querySelector(".created_at");

                        mateChatWrapper.id = "chat" + chat.missionChatDto.chat_id;

                        let currentDate = new Date();
                        let chatDate = new Date(chat.missionChatDto.created_at);

                        let year = chatDate.getFullYear();
                        let month = chatDate.getMonth() + 1;
                        let date = chatDate.getDate();
                        let hour = chatDate.getHours();
                        let minutes = chatDate.getMinutes();

                        let timeDiff = currentDate - chatDate;
                        const dayDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

                        if(dayDiff < 1){
                            if(hour < 10){
                                hour = "0" + hour;
                            }
                            if(minutes < 10){
                                minutes = "0" + minutes;
                            }
                            created_at.innerText = hour + ":" +  minutes;
                        }else{
                            created_at.innerText = year + "." + month + "." + date;
                        }

                        if(chat.missionChatDto.chat_category_id === 1){
                            text.innerText = chat.missionChatDto.message;
                        }else if(chat.missionChatDto.chat_category_id === 2){
                            text.innerHTML = `<img class="img${chat.missionChatDto.chat_id} img-fluid" style="object-fit: cover;" src="/uploadFiles/ufuf/chatImg${chat.missionChatDto.message}">`;
                        }else if(chat.missionChatDto.chat_category_id === 3){

                            let message = chat.missionChatDto.message;
                            message = message.replace(/\^alert!\^/g, "");

                            text.innerHTML = message;
                            
                            setTimeout((chatId) => {
                                if (message.includes("loadMap")) {
                                    text.classList.remove("py-2");

                                    const loadMapIndex = message.indexOf("loadMap");

                                    if (loadMapIndex !== -1) {
                                        const start = message.indexOf("(", loadMapIndex);
                                        const end = message.indexOf(")", start);

                                        let staticMap = text.querySelector("#staticMap");
                                        staticMap.id = `staticMap${chatId}`;

                                        if (start !== -1 && end !== -1) {
                                            const coordinates = message.substring(start + 1, end).split(',').map(Number);

                                            // coordinates 배열의 각각의 값을 따로 변수에 저장
                                            const lat = coordinates[0];
                                            const lng = coordinates[1];

                                            setTimeout(() => {
                                                loadMap(lat, lng, chatId);
                                            }, 5);
                                        }
                                    }
                                }
                            }, 5, chat.missionChatDto.chat_id);

                            if(message.includes("missionDetailBtn")) {

                                setTimeout(() => {

                                    var btn = `#chat${chat.missionChatDto.chat_id} .missionDetailBtn`;

                                    document.querySelector(btn).innerHTML = `<div class="py-2 fw-semibold text-center px-2 rounded-2 justify-content-center align-self-center" 
                                            style="background-color: #FF8827; color: #ffffff; margin-top: 0.15em; margin-bottom: 0.13em; padding-top: 0.16em;"
                                            onclick="window.location.href='./missionProcess?chat_room_id=${chat_room_id}'">
                                            미션 진행 확인하기
                                        </div>`;
                                }, 5);    
                            }

                        }

                        chatDialogueBox.appendChild(mateChatWrapper);
                   } 
                }
                resolve();
            });
        }); 
        scrollHandler();
    }



    function scrollHandler(){
        return new Promise(resolve => {
            setTimeout(function() {
                const chatDialogue = document.getElementById("chatDialogue");
                chatDialogue.scrollTop = chatDialogue.scrollHeight;
                resolve();
            }, 10);
        });
    }

    async function executeSequentially(chat_room_id) {
        await loadChatDialogue(chat_room_id);
        await scrollHandler();
    }

    // 일반 메세지 보내기
    function sendMessage(){

        const inputMessage = document.getElementById("inputMessage");

        const data = {
            message: inputMessage.value,
            chat_room_id: chat_room_id,
            chat_category_id: 1,
            is_read: "N"
        }

        fetch("./sendMessage", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {
                loadChatDialogue(chat_room_id)
            });
            
        inputMessage.value = "";

        setTimeout(() => {
            const chatDialogue = document.getElementById("chatDialogue");
            chatDialogue.scrollTop = chatDialogue.scrollHeight; 
        }, 5);
    }

    // 사진 보내기
    function sendImg(mission){
        
        var sendImg = document.getElementById('sendImg');
        var file = sendImg.files[0];

        var formData = new FormData();
        formData.append('sendImg', file);
        formData.append('chat_room_id', chat_room_id);

        fetch("./sendImg", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(response => {
                loadChatDialogue(chat_room_id)
        });

        setTimeout(() => {
            const chatDialogue = document.getElementById("chatDialogue");
            chatDialogue.scrollTop = chatDialogue.scrollHeight; 
        }, 5);
    }

    // 창이 열려있는동안 읽음상태 업데이트
    function updateReadStatus(chat_room_id){

        const data = {  
            chat_room_id: chat_room_id
        }

        fetch("./updateReadStatus", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

            });
    }

    // 플레이어 수락하기
    function accPlayer(){                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
        
        const data = {
            chat_room_id: chat_room_id
        }

        fetch("./accMissionPlayer", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                loadBasicInfo(chat_room_id);
                loadChatDialogue(chat_room_id);
            });

        setTimeout(() => {
            const chatDialogue = document.getElementById("chatDialogue");
            chatDialogue.scrollTop = chatDialogue.scrollHeight; 
        }, 5);
    }

    window.addEventListener("DOMContentLoaded", () => {
        executeSequentially(chat_room_id);
        loadBasicInfo(chat_room_id);
    });

    setInterval(function() {
        updateReadStatus(chat_room_id);
        loadNewChat(chat_room_id, latestChatId);
    }, 5000);

</script>

<style>

    *{font-family: -apple-system, 
        BlinkMacSystemFont, 
        "Apple SD Gothic Neo", 
        "Pretendard Variable", 
        Pretendard, Roboto, 
        "Noto Sans KR", 
        "Segoe UI",
        "Malgun Gothic", 
        "Apple Color Emoji", 
        "Segoe UI Emoji", 
        "Segoe UI Symbol", 
        sans-serif;
        letter-spacing: 0.03em;
    }

    .form-control:focus {
      border-color: #ffbf8b; /* 클릭 시 테두리 색상 변경 */
      box-shadow: 0 0 0 0.1em #ffe2ce; /* 기본 제공되는 박스 쉐도우를 제거합니다. */
    }
    
    .word {
        width: 1rem;
        font-size: 1rem;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #missionInfo{
        position: sticky;
        z-index: 2;
        top: 3.3rem;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #inputChat{
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    input, textarea {
        touch-action: manipulation;
        -webkit-text-size-adjust: 100%;
    }

</style>

</head>

<body>


    <div class="row py-2 border-bottom border-dark-subtle fixed-top" style="height: 3.3rem; background-color: white; width: 100%; margin: auto;">
        <div class="col-2 fw-semibold text-secondary text-start align-self-center" style="font-size:1.1rem" onclick="window.location.href='./chatList'">
            <i class="bi bi-arrow-left ms-1"></i>
        </div>
        <div id="name" class="col fw-semibold text-secondary text-center align-self-center" style="font-size:1.15rem; letter-spacing: 0.08rem;">
            채팅 목록
        </div>
        <div class="col-2 fw-semibold text-secondary text-end align-self-center" style="font-size:1.1rem">
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>

    <div id="missionInfo" class="row pt-2 pb-1 border-bottom px-1 z-4" style="height: 5.2rem; background-color: #fffbf7; position: fixed; top: 3.3rem;">
        <div class="col">
            <div class="row">
                <div class="topDiv col d-flex align-self-center">
                    <span class="title align-self-center fw-semibold" style="font-size:1.04rem"></span>
                    <span class="status px-2 rounded-4 ms-2 justify-content-center align-self-center" 
                        style="border: 0.08em solid #FF8827; color: #FF8827; font-size: 0.75em; margin-top: 0.15em; margin-bottom: 0.13em; padding-top: 0.16em;">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="detail col word" style="font-size:0.78rem; color: #b1b1b1;"></div>
            </div>
            <div class="row" style="margin-top: -0.05rem;">
                <div class="col justify-content-start">
                    <span class="fw-semibold" style="color: #818181; font-size: 0.88rem;">전체 미션성공시</span>
                    <span class="totalReward ms-1 fw-semibold" style="color: #a0a0a0; font-size: 0.93rem;"></span>
                    <span class="" style="color: #818181; font-size: 0.88rem;">원</span>
                </div>
                <div class="col-5 justify-content-end text-end">
                    <span class="limitHour fw-semibold" style="color: #FF8827; font-size: 0.93rem;"></span>
                    <span class="fw-semibold" style="color: #818181; font-size: 0.88rem;">시간</span>
                    <span class="limitMinute fw-semibold" style="color: #FF8827; font-size: 0.93rem;"></span>
                    <span class="fw-semibold" style="color: #818181; font-size: 0.88   rem;">분</span>
                </div>
            </div>
        </div>
    </div>


    <div id="chatDialogue" class="row overflow-y-scroll overflow-x-hidden z-1" style="bottom:3.4rem; top:8.5rem; height: auto; position:fixed; margin: auto; width: 100%;">
        <div id="chatDialogueBox" class="col">
        </div>
    </div>




    <div class="container-fluid">
        <div class="row">
            <div class="col px-0">
                <div id="inputChat" class="row border-top bg-white z-2" style="height: 3.4rem;">
                    <div class="col align-self-center px-1">
                        <div class="input-group align-self-center">
                            <label for="sendImg">
                                <div class="btn border-0 align-self-center px-2 sendImgBtn" style="font-size: 1.4rem; color: #b1b1b1;">
                                    <i class="bi bi-plus-lg mx-1"></i>
                                </div>
                            </label>
                            <input class="form-control" type="file" id="sendImg" accept="image/*" style="display:none;" onchange="sendImg(this)">
                            <textarea id="inputMessage" class="form-control rounded-4 align-self-center" placeholder="메세지 보내기"
                                style="font-size: 0.9rem; border: 0.08em solid #b1b1b1; padding-top: 0.3rem; padding-bottom: 0.3rem; height: 2rem;"></textarea>
                            <button class="btn border-0 align-self-center px-2 me-1" style="font-size: 1.45rem; color: #b1b1b1; transform: rotate(45deg); width: 2.97rem; height: 2.97rem ;">
                                <i class="bi bi-send-fill" onclick="sendMessage()"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="myChatTemplete" class="d-none">
    <div class="myChatWrapper row my-3 justify-content-end mx-1">
        <div class="created_at col-3 align-self-end text-end" style="font-size: 0.7rem; color: #cfcfcf;">
            
        </div>
        <div class="text col-7 rounded-2 lh-sm py-2 shadow-sm text-white"
            style="border: 0.07rem solid #FF8827; background-color: #FF8827; font-size: 0.9rem; width: auto; max-width: 15rem; overflow-wrap: break-word;">
            
        </div>
    </div>
</div>

<div id="mateChatTemplete" class="d-none">
    <div class="mateChatWrapper row my-3 justify-content-start mx-1">
        <div class="text col-7 rounded-2 lh-sm py-2 shadow-sm" style="border: 0.07rem solid #cfcfcf; font-size: 0.9rem; width: auto; max-width: 15rem; overflow-wrap: break-word;">
            
        </div>
        <div class="created_at col-3 align-self-end text-start" style="font-size: 0.7rem; color: #cfcfcf;">
            
        </div>
    </div>
</div>


    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>