<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>미션맵</title>
        
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7319aff03174c9825e5552818af66d19&libraries=services"></script>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"/>


<script>

    var relativePath = window.location.origin;

    var nowMarker;
    var goalMarker;
    var map;
    var missionMarker = [];

    var imageSrc = relativePath + "/public/image/mission/free-icon-flag-5216262.png", // 마커이미지의 주소입니다    
    imageSize = new kakao.maps.Size(36, 36), // 마커이미지의 크기입니다
    imageOption = {offset: new kakao.maps.Point(24, 30)};

    var goalImg = relativePath + "/public/image/mission/free-icon-goal-5230487.png", // 마커이미지의 주소입니다    
    goalImgSize = new kakao.maps.Size(36, 36), // 마커이미지의 크기입니다
    goalImgOption = {offset: new kakao.maps.Point(24, 30)};

    var personImg = relativePath + "/public/image/mission/free-icon-person-8226827.png",
    personImgSize = new kakao.maps.Size(42, 41),
    personImgOption = {offset: new kakao.maps.Point(24, 20)};

    let sessionUser = null;
	
    // 유저 로그인 확인
	function doesUserLogin(){
		return fetch("./doesUserLogin")
		.then(response => response.json())
		.then(response => response.data);
	}

    // 지금 현재 위치 가져오기
    function getNowLocation(callback){

        if (navigator.geolocation) {

            function getLocation() {
                navigator.geolocation.getCurrentPosition(function (position) {
                    
                    var lat = position.coords.latitude; // 위도
                    var lon = position.coords.longitude; // 경도

                    var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다

                    getNowAddress(lat, lon);

                    // 미션 등록 시, 현재 좌표 hidden으로 저장하려고 만들어놓음
                    // const nowCoords = document.getElementById("nowCoords");
                    // nowCoords.setAttribute("value", lat + "," + lon);

                    if (nowMarker) {
                        nowMarker.setMap(null);
                    }

                    nowMarker = new kakao.maps.Marker({
                        map: map,
                        position: locPosition,
                        image: new kakao.maps.MarkerImage(personImg, personImgSize, personImgOption)
                    });

                    nowMarker.setZIndex(2);
                    callback(locPosition);

                });
            }
            getLocation();

        } else { // HTML5의 GeoLocation을 사용할 수 없을때
            console.log("GeoLocation 사용불가");
            var locPosition = new kakao.maps.LatLng(37.49962779517117, 127.03048032853766);

            if (nowMarker) {
                nowMarker.setMap(null);
            }

            nowMarker = new kakao.maps.Marker({
                map: map,
                position: locPosition,
                image: new kakao.maps.MarkerImage(personImg, personImgSize, personImgOption)
            });

            nowMarker.setZIndex(2);
            callback(locPosition);
        }
    }

    // 지도 중심으로 이동시키기
    function panTo(moveLatLon) {
        map.panTo(moveLatLon);
    }

    // 주소 가져오기
    function getNowAddress(lat, lng) {

        let geocoder = new kakao.maps.services.Geocoder();

        let coord = new kakao.maps.LatLng(lat, lng);
        let callback = function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                displayNowLocation(result);
            }
        }
        geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
    }

    // 주소 출력하기
    function displayNowLocation(data) {

        const nowLocation = document.getElementById("nowLocation");

        if (data[0].road_address === null) {
            nowLocation.innerText = data[0].address.address_name;
        } else {
            nowLocation.innerText = data[0].road_address.address_name;
        }

    }

    // 현재위치로 이동하는 버튼
    function findMyLocation(){

        const findMyLocationBtn = document.getElementById('findMyLocation');
        
        // 클릭 시 색상 변경
        findMyLocationBtn.style.backgroundColor = 'rgb(233, 233, 233)';

        // 일정 시간 후에 원래 색상으로 복원 (예: 300ms 후)
        setTimeout(function() {
            findMyLocationBtn.style.backgroundColor = 'white';
        }, 100);

        getNowLocation(function(locPosition) {
            panTo(locPosition);
        });
    }

    // 미션마커 설정
    function setMissionMarkers(lat,lng){

        var markerImg = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)
        var markerPosition = new kakao.maps.LatLng(lat, lng);
        var marker = new kakao.maps.Marker({
            position: markerPosition,
            image: markerImg,
            clickable: true
        });

        marker.setMap(map);

        missionMarker.push(marker);
    }

    // 마커 삭제
    function hideMarkers(){

        for (var i = 0; i < missionMarker.length; i++) {
            missionMarker[i].setMap(null);
        }
        // 배열 비우기
        missionMarker = [];
        if (goalMarker) {
            goalMarker.setMap(null);
            goalMarker = null;
        }

    }

    // 미션 리스트 출력하기
    function loadMissionList(){

        const startBtn = document.getElementById("startBtn");
        startBtn.classList.add("d-none");

        const missionDetailBox = document.getElementById("missionDetailBox");
        missionDetailBox.classList.add("d-none");

        const showMissionList = document.getElementById("showMissionList");
        showMissionList.classList.remove("d-none");     

        const mapContainer = document.getElementById("map");
        mapContainer.style.height = "21em";

        const findMyLocation = document.getElementById("findMyLocation");
        findMyLocation.classList.add("button-slide-up");

        getNowLocation(function(locPosition) {
            map.relayout();
            map.panTo(locPosition);
        });

        hideMarkers();

        const missionListBox = document.getElementById("missionListBox");
        missionListBox.innerHTML = "";

        fetch("./loadMissionList")
            .then(response => response.json())
            .then(response => {

                for(mission of response.data){
                    
                    const missionWrapper = document.querySelector("#missionListTemplete .missionWrapper").cloneNode(true);

                    const title = missionWrapper.querySelector(".title");
                    const firstLocation = missionWrapper.querySelector(".firstLocation");
                    const reward = missionWrapper.querySelector(".reward");

                    title.innerText = mission.missionInfoDto.title;

                    var totalReward = 0;

                    for(course of mission.missionCourseList){
                        var courseReward = course.reward;
                        totalReward += courseReward;
                    }

                    reward.innerText = totalReward;

                    var lat = mission.missionCourseList[0].lat;
                    var lng = mission.missionCourseList[0].lng;

                    (function (currentLat, currentLng) {
                        var geocoder = new kakao.maps.services.Geocoder();
                        geocoder.coord2Address(currentLng, currentLat, function (result, status) {
                            if (status === kakao.maps.services.Status.OK) {
                                if (result[0].road_address === null) {
                                    firstLocation.innerText = result[0].address.address_name;
                                } else {
                                    firstLocation.innerText = result[0].road_address.address_name;
                                }
                            } else {
                                console.log('주소를 가져오지 못했습니다.');
                            }
                        });
                    })(lat, lng);

                    (function (currentMissionWrapper, currentMissionId) {
                        missionWrapper.onclick = function () {
                            loadMisisonDetail(currentMissionId);
                        };
                    })(missionWrapper, mission.missionInfoDto.mission_id);

                    setMissionMarkers(lat,lng);

                    missionListBox.appendChild(missionWrapper);
                }

            });

    }

    // 미션 상세보기
    function loadMisisonDetail(mission_id){

        const showMissionList = document.getElementById("showMissionList");
        showMissionList.classList.add("d-none");

        const missionDetailBox = document.getElementById("missionDetailBox");
        missionDetailBox.classList.remove("d-none");

        hideMarkers();

        const title = missionDetailBox.querySelector(".title");
        const detail = missionDetailBox.querySelector(".detail");
        const totalReward = missionDetailBox.querySelector(".totalReward");
        const limitHour = missionDetailBox.querySelector(".limitHour");
        const limitMinute = missionDetailBox.querySelector(".limitMinute");
        const createdAt = missionDetailBox.querySelector(".createdAt");
        const userProfileImg = missionDetailBox.querySelector(".userProfileImg");
        const userName = missionDetailBox.querySelector(".userName");
        const missionApplyModalBtn = document.getElementById("missionApplyModalBtn");

        const data = {
            mission_id: mission_id
        };

        fetch("./getMissionDetail", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                const mission = response.data;

                const courseListBox = document.getElementById("courseListBox");
                courseListBox.innerHTML = "";

                const centerlat = mission.missionCourseList[0].lat;
                const centerlng = mission.missionCourseList[0].lng;

                var firstLocation = new kakao.maps.LatLng(centerlat, centerlng);
                panTo(firstLocation);

                title.innerText = mission.missionInfoDto.title;
                detail.innerText = mission.missionInfoDto.detail;
                userName.innerText = mission.userInfoDto.name;
                userProfileImg.setAttribute("src", "/uploadFiles/ufuf/userProfile" + mission.userInfoDto.profile_img);

                var sum = 0;

                for (let i = 0; i < mission.missionCourseList.length; i++) {

                    const course = mission.missionCourseList[i];

                    const courseWrapper = document.querySelector("#courseListTemplete .courseWrapper").cloneNode(true);
                    const courseIndex = courseWrapper.querySelector(".courseIndex");
                    const courseName = courseWrapper.querySelector(".courseName");
                    const courseLocation = courseWrapper.querySelector(".courseLocation");
                    const courseReward = courseWrapper.querySelector(".courseReward");

                    var courseEachReward = course.reward;
                    sum += courseEachReward;

                    courseIndex.innerText = i + 1;
                    courseName.innerText = course.content;
                    courseReward.innerText = course.reward;

                    const lat = course.lat;
                    const lng = course.lng;

                    (function (currentLat, currentLng) {
                        var geocoder = new kakao.maps.services.Geocoder();
                        geocoder.coord2Address(currentLng, currentLat, function (result, status) {
                            if (status === kakao.maps.services.Status.OK) {
                                if (result[0].road_address === null) {
                                    courseLocation.innerText = result[0].address.address_name;
                                } else {
                                    courseLocation.innerText = result[0].road_address.address_name;
                                }

                                var locPosition = new kakao.maps.LatLng(lat, lng);
                                if(i === (mission.missionCourseList.length - 1)){
                                    goalMarker = new kakao.maps.Marker({
                                        map: map,
                                        position: locPosition,
                                        image: new kakao.maps.MarkerImage(goalImg, goalImgSize, goalImgOption)
                                    });
                                    goalMarker.setZIndex(2);
                                }

                                courseWrapper.addEventListener('click', function() {
                                    panTo(locPosition);
                                });

                                courseWrapper.addEventListener('touchstart', function() {
                                    courseIndex.style.backgroundColor = '#ffcf98';
                                    courseIndex.style.boxShadow = '0 0 0 0.2em #ffab65';

                                });

                                courseWrapper.addEventListener('touchend', function() {
                                    courseIndex.style.backgroundColor = '#FF8827';
                                    courseIndex.style.boxShadow = '0 0 0 0.2em #ffcf98';
                                });

                            } else {
                                console.log('주소를 가져오지 못했습니다.');
                            }
                        });
                    })(lat, lng);

                    if(i < (mission.missionCourseList.length - 1)){
                        setMissionMarkers(lat,lng);
                    }

                    courseListBox.appendChild(courseWrapper);
                }

                totalReward.innerText = sum;

                var limitTime = mission.missionInfoDto.limit_time;

                var hour = Math.floor(limitTime / 60);
                var minutes = limitTime % 60;

                if(hour < 10){
                    limitHour.innerText = "0" + hour;
                }else{
                    limitHour.innerText = hour;
                }

                if(minutes < 10){
                    limitMinute.innerText = "0" + minutes;
                }else{
                    limitMinute.innerText = minutes;
                }

                var regDate = new Date(mission.missionInfoDto.created_at);
                var regYear = regDate.getFullYear();
                var regMonth = regDate.getMonth() + 1;
                var regDay = regDate.getDate();
                var regHour = regDate.getHours();
                var regMinute = regDate.getMinutes();

                regDate = regYear + "." + regMonth + "." + regDay + " " + regHour + ":" + regMinute;
                createdAt.innerText = regDate;

                doesUserLogin()
                    .then(sessionUserPk => {

                        if(mission.isUserApplied == 0){
                            if(sessionUserPk === mission.userInfoDto.user_id){
                                missionApplyModalBtn.innerHTML = `<i class="bi bi-trash3 me-2" style="font-size: 0.8em;"></i><span style="font-size: 0.85em;">미션 삭제</span>`;
                            }else if(sessionUserPk == 0){
                                missionApplyModalBtn.onclick = function(){
                                    alert("로그인 후 이용 가능합니다."); 
                                };
                            }else{
                                missionApplyModalBtn.onclick = function(){
                                    missionApplyModalBtn.innerHTML = `<i class="bi bi-plus-lg me-1" style="font-size: 0.8em;"></i><span class="" style="font-size: 0.85em;">미션신청</span>`;
                                    openMissionApplyModal(mission.missionInfoDto.mission_id);  
                                };
                            }
                        }else{
                            missionApplyModalBtn.classList.add("disabled");
                            missionApplyModalBtn.innerText = "미션신청완료";
                        }

                    });

                missionApplyModalBtn.addEventListener('touchstart', function() {
                    missionApplyModalBtn.style.backgroundColor = '#ffcf98';
                });

                missionApplyModalBtn.addEventListener('touchend', function() {
                    missionApplyModalBtn.style.backgroundColor = '#FF8827';
                });
        });

    }

    // 미션 수락 신청 모달 열기
    function openMissionApplyModal(mission_id) {
    	
    	const modal = bootstrap.Modal.getOrCreateInstance("#missionApplyModal");

        const title = document.querySelector("#missionDetailBox .title");

        const modalMissionTitle = document.getElementById("missionTitle");
        const missionApplyBtn = document.getElementById("missionApplyBtn");

        modalMissionTitle.innerText = title.innerText;

        missionApplyBtn.onclick = function(){
            applyMission(mission_id);
        }

    	modal.show();
	}
	
    function closeMissionApplyModal() {
    	
    	const modal = bootstrap.Modal.getOrCreateInstance("#missionApplyModal");
    	
        modal.hide();
	}

    // 미션 수락하기
    function applyMission(mission_id){

        const missionApplyBtn = document.getElementById("missionApplyBtn");

        const data = {
            mission_id: mission_id
        }

        fetch("./applyMission", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                missionApplyModalBtn.classList.add("disabled");
                missionApplyModalBtn.innerText = "미션신청완료";

                closeMissionApplyModal();

        });

    }

    function test() {
        const mapContainer = document.getElementById("map");
        mapContainer.style.height = "22em";

        // 기존의 getNowLocation 함수에서 콜백 함수를 활용하여 중심 이동
        getNowLocation(function(locPosition) {
            // 크기 조정 후 중심 이동
            map.relayout(); // 이 부분은 기본적으로 있어야 하며, 크기 조정 후에 맵을 다시 그리도록 합니다.
            map.panTo(locPosition);
        });
    }

    window.addEventListener("DOMContentLoaded", () => {
        
    });

</script>

<style>

    *{font-family: -apple-system, 
        BlinkMacSystemFont, 
        "Apple SD Gothic Neo", 
        "Pretendard Variable", 
        Pretendard, Roboto, 
        "Noto Sans KR", 
        "Segoe UI",
        "Malgun Gothic", 
        "Apple Color Emoji", 
        "Segoe UI Emoji", 
        "Segoe UI Symbol", 
        sans-serif;
        letter-spacing: 0.03em;
    }

    body { 
        position: fixed;
        width: 100%;
    }

    #startBtn{
        z-index: 2;
        position: absolute;
        bottom: 2.6em;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #findMyLocation{
        z-index: 2;
        position: absolute;
        bottom: 5.2em;
        /* margin: auto;
        left: 0; */
        right: 0.8em;
        box-shadow: 0.08em 0.14em 0.28em 0.0em rgba(119, 119, 119, 0.3);
        transition: top 0.8s ease;
    }

    .button-slide-up {
        top: 14.4em; /* 이동할 거리 설정 */
    }

    #missionApplyModal {
        width: 90%;
        top: 23.5%;
        left: 5%;
    }

    #detailBottomBtn{
        position: sticky;
        z-index: 2;
        bottom: 3.45em;
        margin: 0 auto;
        left: 0;
        right: 0;
    }


</style>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <div class="row">
                    <div class="col">

                        <!-- 현재 위치 출력 -->
                        <div class="row">
                            <div class="fixed-top z-2">
                                <div class="col bg-white justify-content-center shadow-sm rounded-5 border border-secondary-subtle d-flex align-text-center mx-4"
                                    style="margin-top: 0.55em;">
                                    <span><i class="bi bi-geo-alt me-2" style="margin-bottom: 0.05em;"></i></span>
                                    <span id="nowLocation" class="text-secondary"
                                        style="font-size: 0.85em; margin-top: 0.1em;"></span>
                                </div>
                            </div>
                        </div>

                        <!-- 지도 -->
                        <div class="row">
                            <div class="col px-0">
                                <div id="map" style="height:38.25em; width: 100%;">
                                    <script>

                                        var mapContainer = document.getElementById("map"), // 지도를 표시할 div
                                            mapOption = { 
                                                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                                level: 3 // 지도의 확대 레벨
                                            };

                                        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                                        map.setZoomable(true);
                                        map.setMinLevel(1);
                                        map.setMaxLevel(5);

                                        function updateNowLocation() {

                                            getNowLocation(function(locPosition) {
                                                panTo(locPosition);
                                            });

                                            setInterval(function() {

                                                getNowLocation(function(locPosition) {

                                                    const mapCenter = map.getCenter();

                                                    // 좌표 비교를 위한 오차 범위
                                                    const tolerance = 0.00015;

                                                    const isSameLocation = Math.abs(mapCenter.getLat() - locPosition.getLat()) < tolerance && 
                                                                            Math.abs(mapCenter.getLng() - locPosition.getLng()) < tolerance;

                                                    if(isSameLocation){
                                                        panTo(locPosition);
                                                    }else{

                                                    }

                                                });
                                            }, 10000);
    
                                        }

                                        updateNowLocation();

                                    </script>
                                </div>
                            </div>
                        </div>

                        <!-- 미션 리스트 -->
                        <div id="showMissionList" class="row border-top d-none" style="height:17.3em; box-shadow: inset 0 -2em 1.5em -2.5em #cacaca;">
                            <div class="col">
                                <div class="row py-2 border-bottom">
                                    <div class="col text-end align-self-center text-secondary" style="font-size: 0.95em;">
                                        <span>반경</span>
                                        <button class="btn text-secondary py-1 px-2 rounded-1 align-self-center ms-2" style="font-size: 0.85em;">100m</button>
                                        <button class="btn text-secondary py-1 px-2 rounded-1 align-self-center active" style="font-size: 0.85em;">300m</button>
                                        <button class="btn text-secondary py-1 px-2 rounded-1 align-self-center" style="font-size: 0.85em;">500m</button>
                                    </div>
                                </div>
                                <div class="overflow-y-scroll overflow-x-hidden" style="height:13.8em;">
                                    <div class="row px-2">
                                        <div id="missionListBox" class="col">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 미션 상세 -->
                        <div id="missionDetailBox" class="shut row border-top d-none">
                            <div class="col px-0">
                                <div class="oveflow-y-rscroll overflow-x-hidden" style="height: 15em;"> 
                                    <div class="row" style="padding-top: 0.6em; padding-bottom: 0.1em;">
                                        <div class="col">
                                            <div class="row mx-2">
                                                <div class="col d-flex align-self-center ps-1">
                                                    <span class="text-body-tertiary d-flex align-self-center" onclick="loadMissionList()">
                                                        <i class="bi bi-chevron-left align-self-center" style="font-size: 0.9em;"></i>
                                                    </span>
                                                    <span class="title align-self-center fw-semibold ms-2" style="font-size: 1.1em;"></span>
                                                </div>
                                            </div>   
                                        </div>
                                    </div>
                                    <div class="row mx-2" style="margin-top: 0.07em;">
                                        <div class="col text-start d-flex align-self-center justify-content-start" style="overflow: hidden;">
                                            <img class="userProfileImg img-fluid rounded-circle me-2  d-flex align-self-center" 
                                                style="height: 1.13em; width: 1.13em; object-fit: cover; border-radius: 50%;">
                                            <span class="userName d-flex align-self-center"
                                                style="color: #818181; font-weight: 500; font-size: 0.90em;"></span>
                                        </div>
                                        <div class="createdAt col text-end" style="color: #818181; font-size: 0.90em;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row mt-1">
                                                <div id="courseListBox" class="col">

                                                </div>
                                            </div>
                                            <div class="row mt-3 mx-2 mb-5">
                                                <div class="col mt-1 mb-2">
                                                    <div class="row">
                                                        <div class="col-3 fw-semibold text-dark-emphasis">
                                                            미션상세
                                                        </div>
                                                        <div class="col border-bottom mb-2 me-2"></div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col">
                                                            <span class="detail text-secondary align-self-center" style="font-size: 0.95em;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row bg-white border-top px-2" id="detailBottomBtn" style="padding-top: 0.3em; padding-bottom: 0.33em; height: 3.6em;">
                                    <div class="col">
                                        <div class="row align-items-center" style="margin-bottom: -0.15em;">
                                            <div class="col align-items-center">
                                                <span class="align-self-center fw-semibold" style="color: #8b8b8b; font-size: 0.83em;">전체 미션성공시</span>
                                                <span class="totalReward ms-1 align-self-center fw-semibold" style="color: #b1b1b1; font-size: 0.83em;"></span>
                                                <span class="align-self-center" style="color: #8b8b8b; font-size: 0.83em;">원</span>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col d-flex align-items-center">
                                                <span class="align-self-center fw-semibold text-dark-emphasis me-2" style="font-size: 1em;">제한시간</span>
                                                <span class="limitHour fw-semibold align-self-center" style="color: #FF8827; font-size: 1em;"></span>
                                                <span class="align-self-center" style="color: #6d6d6d; font-size: 1em;">:</span>
                                                <span class="limitMinute fw-semibold align-self-center " style="color: #FF8827; font-size: 1em;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 fw-semibold align-self-center d-grid justify-content-end pe-1 ps-0">
                                        <button id="missionApplyModalBtn" class="btn py-1 px-3 rounded-1 text-white fw-semibold"
                                            style="font-size: 0.9em; background-color: #FF8827;">
                                            <i class="bi bi-plus-lg me-1" style="font-size: 0.8em;"></i><span class="" style="font-size: 0.85em;">미션신청</span>
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        
        <th:block th:replace="~{commons/missionFragmentPage.html :: footer}"></th:block>
    </div>

    <div class="row" >
        <div class="col-2 px-0">
            <button id="findMyLocation" class="btn-sm text-secondary border px-0 fs-5" 
                onclick="findMyLocation()" style="height: 1.8em; width: 1.8em; border-radius: 50%; background-color: white;">
                <i class="bi bi-crosshair d-flex justify-content-center text-center"></i>
            </button>
        </div>
    </div>

    <div class="row z-2 shut px-1" id="startBtn">
        <div class="col d-grid pe-1">
            <button id="findMissionBtn" type="button" class="btn py-2 fw-semibold text-white rounded-1 shadow" 
                style="background-color: #FF8827; font-size: 1.15em;" onclick="loadMissionList()">
                <span>미션 찾기</span>
            </button>
        </div>
        <div class="col d-grid ps-1">       
            <button id="registerMissionBtn" type="button" class="btn py-2 fw-semibold rounded-1 shadow" onclick="window.location.href='./missionRegistration'"
                style="border: 0.1em solid #fa7e18; color:#FF8827; background-color: white; font-size: 1.15em;">
                <span>미션 등록</span>
            </button>
        </div>
    </div>





<!-- 미션 리스트 출력 -->
<div id="missionListTemplete" class="d-none">
    <div class="missionWrapper row py-2 border-bottom">
        <div class="col pe-0">
            <div class="row">
                <div class="col pe-0">
                    <span class="title fw-semibold" style="font-size: 1.08em;"></span>
                    <!-- <span><i class="bi bi-heart ms-1" style="color: #FF8827;"></i></span> -->
                </div>
            </div>
            <div class="row mt-1">
                <div class="firstLocation col text-body-tertiary" style="font-size: 0.83em;">
                </div>
            </div>
        </div>
        <div class="col-4 text-end align-self-center">
            <span class="reward fw-bold" style="font-size: 1.16em; color: #fa7e18;"></span>
            <span style="font-size: 0.95em;"> 원</span>
        </div>
    </div> 
</div>

<!-- 미션 코스 리스트 출력 -->
<div id="courseListTemplete" class="d-none">
    <div class="courseWrapper row py-2 mx-1">
        <div class="col">
            <div class="row">
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col">
                            <span class="courseIndex rounded-circle text-center border border-white d-flex justify-content-center align-items-center"  
                                style="background-color: #FF8827; color: white; width: 1.6em; height: 1.6em; box-shadow: 0 0 0 0.2em #ffcf98;">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col px-0 align-self-center">
                    <div class="row">
                        <div class="courseName col fw-semibold text-dark-emphasis pe-1" style="font-size: 0.95em;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="courseLocation col text-body-tertiary pe-1" style="font-size: 0.75em;">
                        </div>
                    </div>
                </div>
                <div class="col-3 text-end align-self-center">
                    <span class="courseReward align-self-center fw-semibold" style="color: #b1b1b1; font-size: 0.85em;"></span>
                    <span class="align-self-center text-secondary" style="font-size: 0.78em;">원</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 미션 수락 모달 -->
<div id="missionApplyModal" class="modal mx-auto">
    <div class="modal-dialog shadow">
        <div class="modal-content rounded-2">
            <div class="modal-body pb-0 px-3">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <span onclick="closeMissionApplyModal()" class="close" id="close-modal"><i class="bi bi-x-lg fw-bold text-body-tertiary"></i></span>
                    </div>
                </div>
                <div class="row mt-1 text-center">
                    <div class="col" style="font-size: 1.05em;">
                        "<span id="missionTitle" class="fw-semibold" style="font-size: 1.08em;"></span>"
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <span class="text-dark-emphasis ms-1">미션을 신청하시겠습니까?</span>
                    </div>
                </div>
                <div class="row mt-4 mb-3">
                    <div class="col d-grid text-center mb-1">
                        <div class="gap-2 d-md-block">
                            <button class="btn px-4 rounded-1 me-1 py-1" type="button" style="border: 0.1em solid #e9ba95; color:#FF8827;" onclick="closeMissionApplyModal()">
                                취소
                            </button>
                            <button id="missionApplyBtn" class="btn text-white px-4 rounded-1 py-1" type="button" style="background-color: #FF8827;">신청</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-grid py-2">
                <div class="row pb-1">
                    <div class="col text-body-tertiary" style="font-size: 0.8em;">
                        <i class="bi bi-exclamation-octagon me-2"></i>미션 등록자가 신청을 수락하면 채팅으로 알림을 보내드리며, 즉시 제한시간 카운트다운이 시작됩니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>