<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>미션맵</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7319aff03174c9825e5552818af66d19&libraries=services"></script>


<script>

    var sessionUser = "[[${session.sessionUserInfo.user_id}]]";

    var nowMarker;
    var map;
    var missionMarker;

    var imageSrc = "https://172.30.1.95:8888/public/image/mission/free-icon-flag-5216262.png", // 마커이미지의 주소입니다    
    imageSize = new kakao.maps.Size(36, 36), // 마커이미지의 크기입니다
    imageOption = {offset: new kakao.maps.Point(24, 30)};

    var personImg = "https://172.30.1.95:8888/public/image/mission/free-icon-person-8226827.png",
    personImgSize = new kakao.maps.Size(42, 41),
    personImgOption = {offset: new kakao.maps.Point(24, 26)};

    // 지금 현재 위치 가져오기
    function getNowLocation(){

        if (navigator.geolocation) {

            function getLocation() {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude; // 위도
                    var lon = position.coords.longitude; // 경도

                    var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다

                    getNowAddress(lat, lon);

                    const nowCoords = document.getElementById("nowCoords");
                    nowCoords.setAttribute("value", lat + "," + lon);

                    if (map) {
                        map.relayout();
                        map = null;
                    }

                    // 새로운 지도 객체 생성
                    map = new kakao.maps.Map(mapContainer, mapOption);
                    map.setMinLevel(1);
                    map.setMaxLevel(4);

                    setZoomable(true);

                    if (nowMarker) {
                        nowMarker.setMap(null);
                    }

                    nowMarker = new kakao.maps.Marker({
                        map: map,
                        position: locPosition,
                        image: new kakao.maps.MarkerImage(personImg, personImgSize, personImgOption)
                    });

                    nowMarker.setZIndex(2);

                    // 가운데 표시
                    panTo(locPosition);

                });
            }
            getLocation();

        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
            console.log("사용불가");
            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667);

            if (nowMarker) {
                nowMarker.setMap(null);
            }

            nowMarker = new kakao.maps.Marker({
                map: map,
                position: locPosition,
                image: new kakao.maps.MarkerImage(personImg, personImgSize, personImgOption)
            });

            nowMarker.setZIndex(2);

            // 가운데 표시
            panTo(locPosition);

        }

        
    }

    // 지도 중심으로 이동시키기
    function panTo(moveLatLon) {
        
        // 지도 중심을 부드럽게 이동시킵니다
        // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
        map.panTo(moveLatLon);            
    }

    function setZoomable(zoomable) {
        // 마우스 휠로 지도 확대,축소 가능여부를 설정합니다
        map.setZoomable(zoomable);    
    }

    


    // 주소 가져오기
    function getNowAddress(lat, lng) {

        let geocoder = new kakao.maps.services.Geocoder();

        let coord = new kakao.maps.LatLng(lat, lng);
        let callback = function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                console.log(result);
                displayNowLocation(result);
            }
        }

        geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
    }

    // 주소 출력하기
    function displayNowLocation(data) {

        const nowLocation = document.getElementById("nowLocation");

        if (data[0].road_address === null) {
            nowLocation.innerText = data[0].address.address_name;
        } else {
            nowLocation.innerText = data[0].road_address.address_name;
        }

    }







    function loadMissionList(){

        const map = document.getElementById("map");
        map.style.height = "22.3em";

        getNowLocation();

        const showMissionList = document.getElementById("showMissionList");
        showMissionList.classList.remove("d-none");

        const startBtn = document.getElementById("startBtn");
        startBtn.classList.add("d-none");

        fetch("./loadMissionList")
            .then(response => response.json())
            .then(response => {

                const missionListBox = document.getElementById("missionListBox");
		        missionListBox.innerHTML = "";

                for(mission of response.data){
                    
                    const missionWrapper = document.querySelector("#missionListTemplete .missionWrapper").cloneNode(true);

                    const title = missionWrapper.querySelector(".title");
                    const location = missionWrapper.querySelector(".location");
                    const reward = missionWrapper.querySelector(".reward");

                    var missionLocation = mission.registerd_location;
                    const cutIndex = missionLocation.indexOf(",");
                    const lat = missionLocation.substring(0, cutIndex);
                    const lng = missionLocation.substring(cutIndex + 1);

                    (function (currentLat, currentLng) {
                        var geocoder = new kakao.maps.services.Geocoder();
                        geocoder.coord2Address(currentLng, currentLat, function (result, status) {
                            if (status === kakao.maps.services.Status.OK) {
                                if (result[0].road_address === null) {
                                    location.innerText = result[0].address.address_name;
                                } else {
                                    location.innerText = result[0].road_address.address_name;
                                }
                            } else {
                                console.log('주소를 가져오지 못했습니다.');
                            }
                        });
                    })(lat, lng);

                    title.innerText = mission.title;
                    reward.innerText = mission.reward;

                    setMissionMarkers(lat,lng);

                    missionWrapper.onclick = function() {
                        missionWrapper.classList.add("bg-light");
                        loadMisisonDetail(mission.mission_id);
                    };

                    missionListBox.appendChild(missionWrapper);
                }

            });
    }

    function loadMisisonDetail(mission_id){

        const missionWrapper = document.querySelector("#missionListTemplete .missionWrapper");
        missionWrapper.classList.remove("bg-light");

        const showMissionList = document.getElementById("showMissionList");
        showMissionList.classList.add("d-none");

        const missionDetailBox = document.getElementById("missionDetailBox");
        missionDetailBox.classList.remove("d-none");

        const data = {
            mission_id: mission_id
        };

        fetch("./getMissionDetail", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                

        });

    }

    function setMissionMarkers(lat,lng){

        var markerImg = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)
        var markerPosition = new kakao.maps.LatLng(lat, lng);
        var marker = new kakao.maps.Marker({
            position: markerPosition,
            image: markerImg,
            clickable: true
        });

        marker.setMap(map);
    }
    
    function showMissionRegForm() {

        const map = document.getElementById("map");
        map.style.height = "22.3em";

        getNowLocation();

        const registerMissionBox = document.getElementById("registerMissionBox");
        registerMissionBox.classList.remove("d-none");

        const startBtn = document.getElementById("startBtn");
        startBtn.classList.add("d-none");
    }

    function registerMissionProcess() {

        const title = document.getElementById("inputTitle").value;
        const detail = document.getElementById("inputDetail").value;
        const reward = document.getElementById("inputReward").value;
        const registerd_location = document.getElementById("nowCoords").value;

        const data = {
            user_id: sessionUser,
            title: title,
            detail: detail,
            reward: reward,
            registerd_location: registerd_location
        };

        fetch("./registerMissionProcess", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                console.log(response);

                getItemAndOrderInfo(response.data.mission_id);

        });
    }

    function getItemAndOrderInfo(mission_id) {
        const data = {
            mission_id: mission_id
        };

        fetch("./getItemAndOrderInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                console.log("getorderinfo" + response);
                loadKakaoPayment(response.data);

        });
    }

    function loadKakaoPayment(res) {
        const item_name = document.getElementById("inputTitle").value;
        const total_amount = document.getElementById("inputReward").value;

        const approval_url = `https://172.30.1.95:8888/mission/paymentSuccessPage?order_id=${res.orderInfoDto.order_id}`;
        const cancel_url = `https://172.30.1.95:8888/mission/paymentCancelPage?order_id=${res.orderInfoDto.order_id}`;
        const fail_url = `https://172.30.1.95:8888/mission/paymentFailPage?order_id=${res.orderInfoDto.order_id}`;

        const data = new URLSearchParams();
        data.append("cid", "TC0ONETIME");
        data.append("partner_user_id", sessionUser);
        data.append("partner_order_id", res.orderInfoDto.order_id);
        data.append("item_code", res.itemInfoDto.item_id);
        data.append("item_name", item_name);
        data.append("quantity", 1);
        data.append("total_amount", total_amount);
        data.append("tax_free_amount", total_amount);
        data.append("approval_url", approval_url);
        data.append("cancel_url", cancel_url);
        data.append("fail_url", fail_url);

        fetch("https://kapi.kakao.com/v1/payment/ready", {
            method: "POST",
            headers: {
                "Authorization": "KakaoAK fe6556cbcccecbec99f52226077803d7",
                "Content-Type": "application/x-www-form-urlencoded;charset=utf-8"
            },
            body: data
        })
            .then(response => response.json())
            .then(response => {

                console.log(response);

                window.location.href = response.next_redirect_mobile_url;

                insertKakaoPayReq(res);
                insertKakaoPayRes(response);
                kakaoPayAccReq(res, response);

        });

    }

    function kakaoPayAccReq(req, res) {
        const data = new URLSearchParams();
        data.append("cid", "TC0ONETIME");
        data.append("tid", res.tid);
        data.append("partner_order_id", req.orderInfoDto.order_id);
        data.append("partner_user_id", req.orderInfoDto.user_id);
        data.append("pg_token", pg_token);

        fetch("https://kapi.kakao.com/v1/payment/approve", {
            method: "POST",
            headers: {
                "Authorization": "KakaoAK fe6556cbcccecbec99f52226077803d7",
                "Content-Type": "application/x-www-form-urlencoded;charset=utf-8"
            },
            body: data
        })
            .then(response => response.json())
            .then(response => {

                console.log(response);

                insertkakaoPayAccReq(res.tid, req.orderInfoDto.order_id, req.orderInfoDto.user_id, pg_token);

                insertKakaoPayAccRes(response);

        });
    }

    function insertKakaoPayReq(res) {
        const item_name = document.getElementById("inputTitle").value;
        const total_amount = document.getElementById("inputReward").value;

        const data = {
            partner_user_id: sessionUser,
            partner_order_id: res.orderInfoDto.order_id,
            item_code: res.itemInfoDto.item_id,
            item_name: item_name,
            quantity: 1,
            total_amount: total_amount,
            tax_free_amount: total_amount
        };

        fetch("./insertKakaoPayReqInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                console.log(response);

        });
    }

    function insertKakaoPayRes(res) {
        const data = {
            tid: res.tid,
            next_redirect_mobile_url: res.next_redirect_mobile_url,
            created_at: res.created_at
        };

        fetch("./insertKakaoPayResInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

        });
    }

    function insertkakaoPayAccReq(tid, partner_order_id, partner_user_id, pg_token){
        const data = {
            tid: tid,
            partner_order_id: partner_order_id,
            partner_user_id: partner_user_id,
            pg_token: pg_token
        };
        fetch("./insertkakaoPaymentAccReq", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

        });
    }

    function insertKakaoPayAccRes(res){
        const data = {
            tid: tid,
            amount: amount,
            card_info: card_info,
            partner_order_id: partner_order_id,
            partner_user_id: partner_user_id,
            item_id: item_id,
            aid: aid,
            payment_method_type: payment_method_type,
            approved_at: approved_at
        };
        fetch("./insertkakaoPaymentAccReq", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                document.getElementById("inputTitle").value = "";
                document.getElementById("inputDetail").value = "";
                document.getElementById("inputeward").value = "";

        });
    }





    window.addEventListener("DOMContentLoaded", () => {
        getNowLocation();
    });






</script>

<style>
    #startBtn{
        z-index: 2;
        position: absolute;
        bottom: 5.8em;
        margin: 0 auto;
        left: 0;
        right: 0;

    } 

    body { 
        position: fixed; 
        width: 100%;
    }

    #footer{
        position: absolute;
        bottom: 0em;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 2;
    }
    
    
    

    
</style>


</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="fixed-top">
                                <div class="col bg-white text-center mt-3 mx-3 shadow-sm rounded-5 border border-secondary-subtle">
                                    <span><i class="bi bi-geo-alt align-self-center"></i></span>
                                    <input type="hidden" id="nowCoords"></span>
                                    <span id="nowLocation" class="text-secondary align-self-center"
                                        style="font-size: 0.9em;"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col px-0">
                                <div id="map" style="height:33em; width: 100%;">
                                    <script>

                                        var mapContainer = document.getElementById("map"), // 지도를 표시할 div
                                            mapOption = { 
                                                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                                level: 3 // 지도의 확대 레벨
                                            };

                                        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                                        map.setMinLevel(1);
                                        map.setMaxLevel(4);

                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="z-2 position-absolute" id="startBtn">
                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <div class="gap-2 d-md-block d-flex">
                                        <button id="findMissionBtn" type="button" class="btn py-2 fw-semibold text-white rounded-1 px-5 shadow ms-1" 
                                            style="background-color: #FF8827; font-size: 1.05em;" onclick="loadMissionList()">
                                            <span class="px-1">미션 찾기</span>
                                        </button>
                                        <button id="registerMissionBtn" type="button" class="btn py-2 fw-semibold rounded-1 px-5 shadow me-1" 
                                            style="border: 0.1em solid #fa7e18; color:#FF8827; background-color: white; font-size: 1.05em;" onclick="showMissionRegForm()">
                                            <span class="px-1">미션 등록</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="registerMissionBox" class="row d-none border-top">
                            <div class="overflow-y-scroll" style="height:15.5em;">
                                <div class="col">
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="text" name="title" id="inputTitle"
                                                class="form-control border-top-0 border-start-0 border-end-0 rounded-0 py-2 fw-semibold border-secondary"
                                                placeholder="미션 타이틀을 입력해주세요" style="font-size: 1.15em;">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col fw-semibold text-secondary mt-1" style="font-size:0.9em;">
                                            상세내용
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="form-floating">
                                                <textarea class="form-control rounded-0 py-2" id="inputDetail"
                                                    style="height: 5.5em; font-size:0.9em;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col fw-semibold text-secondary mt-1" style="font-size:0.9em;">
                                            성공상금
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="input-group border-bottom">
                                                <input type="text" name="reward" id="inputReward"
                                                    class="form-control border-0 rounded-0 py-2 align-self-center"
                                                    placeholder="최소 금액 : 1000원">
                                                <span class="fw-semibold ms-3 me-1 align-self-center" id="inputReward"
                                                    style="font-size: 1.15em;">원</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4 mb-4">
                                        <div class="col d-grid">
                                            <button type="button" class="btn py-2 fw-semibold text-white rounded-1 px-5" style="background-color: #FF8827;" onclick="registerMissionProcess()">
                                                미션 등록하기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="showMissionList" class="row border-top d-none">
                            <div class="col">
                                <div class="row mt-2 mb-1">
                                    <div class="col text-end align-self-center text-secondary" style="font-size: 0.95em;">
                                        <span>반경</span>
                                        <button class="btn text-secondary py-1 px-2 rounded-1 align-self-center ms-2" style="font-size: 0.85em;">100m</button>
                                        <button class="btn text-secondary py-1 px-2 rounded-1 align-self-center active" style="font-size: 0.85em;">300m</button>
                                        <button class="btn text-secondary py-1 px-2 rounded-1 align-self-center" style="font-size: 0.85em;">500m</button>
                                    </div>
                                </div>
                                <div class="overflow-y-scroll" style="height:12.92em; touch-action: pan-y;">
                                    <div class="row px-2">
                                        <div id="missionListBox" class="col">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="missionDetailBox" class="row border-top d-none px-2" style="height:15.5em;">
                            <div class="col">
                                <div class="row mt-3 d-flex">
                                    <div class="col align-self-center">
                                        <div class="row">
                                            <div id="dtTitle" class="col fw-semibold pe-0" style="font-size: 1.25em;">
                                                피시방 같이 가실분 구함
                                            </div>  
                                        </div>
                                        <div class="row">
                                            <div id="dtUserName" class="col text-body-tertiary pe-0" style="font-size: 0.8em;">
                                                서울 강남구 역삼동 800-60
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 fw-semibold text-end d-grid" style="font-size: 1.2em;">
                                        <button class="btn py-1 px-4 rounded-1 text-white fw-semibold mb-2" style="font-size: 0.85em; background-color: #FF8827;">
                                            수락
                                        </button>
                                    </div>
                                </div>
                                
                                <div class="overflow-y-scroll" style="height:11em;">
                                <div class="row mt-2">
                                    <div id="dtDetail" class="col text-dark-emphasis pb-2">
                                        일상에서 작은 기쁨을 찾아보세요. 좋아하는 음악, 마음에 드는 책. 작은 순간의 행복들이 모여 큰 행복을 만듭니다. 또한, 지인들과 소통하고 나만의 시간을 갖는 것도 중요해요. 간단한 것에서 특별함을 찾아 즐겁게 보내세요!
                                    </div> 
                                </div>
                                <div class="row border-top pt-2 px-3">
                                    <div id="dtDetail" class="col text-secondary text-start fw-semibold" style="font-size: 1.15em;">
                                        보상
                                    </div>
                                    <div id="dtDetail" class="col text-dark-emphasis text-end">
                                        <span class="reward fw-bold" style="font-size: 1.25em; color: #fa7e18;">10000</span>
                                        <span> 원</span>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="fixed-bottom">
                        <div class="footer bg-white">
                            <div class="row text-secondary text-center py-1 px-2 border-top" style="height: 3.4em;">
                                <div class="col">
                                    <a href="./missionMap" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">
                                    <div class="row">
                                        <div class="col px-1">
                                            <i class="bi bi-map"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col px-1" style="font-size:0.75em;">
                                            미션맵
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                <div class="col px-1">
                                    <div class="row">
                                        <div class="col">
                                            <i class="bi bi-envelope-paper"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="font-size:0.75em;">
                                            My미션
                                        </div>
                                    </div>
                                </div>
                                <div class="col px-1">
                                    <div class="row">
                                        <div class="col">
                                            <a class="btn pt-1" href="../commons/mainPage">
                                                <img src="/public/image/commons/logo_fill.png" class="img-fluid" style="height: 2.2em;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col px-1">
                                    <div class="row">
                                        <div class="col">
                                            <i class="bi bi-heart"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="font-size:0.75em;">
                                            찜목록
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col px-1">
                                            <i class="bi bi-person-bounding-box"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col px-1" style="font-size:0.75em;">
                                            My페이지
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
                </div>

                

            </div>
        </div>
    </div>

    <div id="missionListTemplete" class="d-none">
        <div class="missionWrapper row py-2 border-bottom">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <span class="title fw-semibold" style="font-size: 1.05em;"></span>
                        <!-- <span><i class="bi bi-heart ms-1" style="color: #FF8827;"></i></span> -->
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="location col text-body-tertiary" style="font-size: 0.83em;">
                        
                    </div>
                </div>
            </div>
            <div class="col-4 text-end align-self-center">
                <span class="reward fw-bold" style="font-size: 1.16em; color: #fa7e18;"></span>
                <span style="font-size: 0.95em;"> 원</span>
            </div>
        </div> 
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>