<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>미션맵</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7319aff03174c9825e5552818af66d19&libraries=services"></script>


<script>

    var sessionUser = "[[${session.sessionUserInfo.user_id}]]";

    function reloadMap() {

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 1 // 지도의 확대 레벨 
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
        if (navigator.geolocation) {

            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function (position) {

                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도

                var locPosition = new kakao.maps.LatLng(lat, lon) // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다

                // 접속 좌표 hidden 값으로 넘김(미션등록 위해서)
                const nowCoords = document.getElementById("nowCoords");
                nowCoords.setAttribute("value", lat + "," + lon);

                // 접속위치 출력
                getNowLocation(lat, lon);

                // 마커와 인포윈도우를 표시합니다
                displayMarker(locPosition);

            });

        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667)

            displayMarker(locPosition);
        }

        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(locPosition) {

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: locPosition
            });

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition);
        }

        function setZoomable(zoomable) {
            // 마우스 휠로 지도 확대,축소 가능여부를 설정합니다
            map.setZoomable(zoomable);
        }

        function getNowLocation(lat, lng) {

            let geocoder = new kakao.maps.services.Geocoder();

            let coord = new kakao.maps.LatLng(lat, lng);
            let callback = function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    console.log(result);
                    handleNowLocResponse(result);
                }
            }
            geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
        }

        function handleNowLocResponse(result) {
            // 응답 데이터를 HTML에 표시
            displayNowLocation(result);
        }

        function displayNowLocation(data) {

            const nowLocation = document.getElementById("nowLocation");

            if (data[0].road_address === null) {
                nowLocation.innerText = data[0].address.address_name;
            } else {
                nowLocation.innerText = data[0].road_address.address_name;
            }

        }

        
        setZoomable(false);

    }

    function locationHandler() {
        var location = returnLocaton();
        console.log(location);
    }

    function loadMissionList(){

        reloadMap();

        const map = document.getElementById("map");
        map.style.height = "25em";

        const showMissionList = document.getElementById("showMissionList");
        showMissionList.classList.remove("d-none");

        const startBtn = document.getElementById("startBtn");
        startBtn.classList.add("d-none");

        fetch("./loadMissionList")
            .then(response => response.json())
            .then(response => {

                const missionListBox = document.getElementById("missionListBox");
		        missionListBox.innerHTML = "";

                for(mission of response.data){
                    
                    const missionWrapper = document.querySelector("#missionListTemplete .missionWrapper").cloneNode(true);

                    const title = missionWrapper.querySelector(".title");
                    const location = missionWrapper.querySelector(".location");
                    const reward = missionWrapper.querySelector(".reward");

                    var missionLocation = mission.registerd_location;
                    const cutIndex = missionLocation.indexOf(",");
                    const lat = missionLocation.substring(0, cutIndex);
                    const lng = missionLocation.substring(cutIndex + 1);

                    var geocoder = new kakao.maps.services.Geocoder();
                    geocoder.coord2Address(lng, lat, function(result, status) {

                        if (status === kakao.maps.services.Status.OK) {

                            if (result[0].road_address === null) {
                                location.innerText = result[0].address.address_name;
                            } else {
                                location.innerText = result[0].road_address.address_name;
                            }

                        } else {
                            console.log('주소를 가져오지 못했습니다.');
                        }
                    })

                    title.innerText = mission.title;
                    reward.innerText = mission.reward;

                    missionListBox.appendChild(missionWrapper);
                }

            })
    }

    function showMissionRegForm() {
        
        reloadMap();

        const map = document.getElementById("map");
        map.style.height = "25em";

        const registerMissionBox = document.getElementById("registerMissionBox");
        registerMissionBox.classList.remove("d-none");

        const startBtn = document.getElementById("startBtn");
        startBtn.classList.add("d-none");
    }

    function registerMissionProcess() {
        const title = document.getElementById("title").value;
        const detail = document.getElementById("detail").value;
        const reward = document.getElementById("reward").value;
        const registerd_location = document.getElementById("nowCoords").value;

        const data = {
            user_id: sessionUser,
            title: title,
            detail: detail,
            reward: reward,
            registerd_location: registerd_location
        };

        fetch("./registerMissionProcess", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                console.log(response);

                getItemAndOrderInfo(response.data.mission_id);

        });
    }

    function getItemAndOrderInfo(mission_id) {
        const data = {
            mission_id: mission_id
        };

        fetch("./getItemAndOrderInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                console.log("getorderinfo" + response);
                loadKakaoPayment(response.data);
                insertKakaoPayReq(response.data);

        });
    }

    function loadKakaoPayment(res) {
        const item_name = document.getElementById("title").value;
        const total_amount = document.getElementById("reward").value;

        const data = new URLSearchParams();
        data.append("cid", "TC0ONETIME");
        data.append("partner_user_id", sessionUser);
        data.append("partner_order_id", res.orderInfoDto.order_id);
        data.append("item_code", res.itemInfoDto.item_id);
        data.append("item_name", item_name);
        data.append("quantity", 1);
        data.append("total_amount", total_amount);
        data.append("tax_free_amount", total_amount);
        data.append("approval_url", "http://localhost:8888/mission/paymentSuccessPage");
        data.append("cancel_url", "http://localhost:8888/mission/paymentCancelPage");
        data.append("fail_url", "http://localhost:8888/mission/paymentFailPage");

        fetch("https://kapi.kakao.com/v1/payment/ready", {
            method: "POST",
            headers: {
                "Authorization": "KakaoAK fe6556cbcccecbec99f52226077803d7",
                "Content-Type": "application/x-www-form-urlencoded;charset=utf-8"
            },
            body: data
        })
            .then(response => response.json())
            .then(response => {

                console.log(response);

                document.getElementById("title").value = "";
                document.getElementById("detail").value = "";
                document.getElementById("reward").value = "";

                window.location.href = response.next_redirect_pc_url;

                insertKakaoPayReq(res);
                insertKakaoPayRes(response);
                kakaoPayAccReq(res, response);

        });

    }

    function kakaoPayAccReq(req, res) {
        const data = new URLSearchParams();
        data.append("cid", "TC0ONETIME");
        data.append("tid", res.tid);
        data.append("partner_order_id", req.orderInfoDto.order_id);
        data.append("partner_user_id", req.orderInfoDto.user_id);
        data.append("pg_token", pg_token);

        fetch("https://kapi.kakao.com/v1/payment/approve", {
            method: "POST",
            headers: {
                "Authorization": "KakaoAK fe6556cbcccecbec99f52226077803d7",
                "Content-Type": "application/x-www-form-urlencoded;charset=utf-8"
            },
            body: data
        })
            .then(response => response.json())
            .then(response => {

                insertkakaoPayAccReq(res.tid, req.orderInfoDto.order_id, req.orderInfoDto.user_id, pg_token);

                insertAmountInfo(res.amount);
                insertCardInfo(response.card_info);
                
                insertKakaoPayAccRes(response);
        });
    }

    function insertKakaoPayReq(res) {
        const item_name = document.getElementById("title").value;
        const total_amount = document.getElementById("reward").value;

        const data = {
            partner_user_id: sessionUser,
            partner_order_id: res.orderInfoDto.order_id,
            item_code: res.itemInfoDto.item_id,
            item_name: item_name,
            quantity: 1,
            total_amount: total_amount,
            tax_free_amount: total_amount
        };

        fetch("./insertKakaoPayReqInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                console.log(response);

        });
    }

    function insertKakaoPayRes(res) {
        const data = {
            tid: res.tid,
            next_redirect_mobile_url: res.next_redirect_mobile_url,
            created_at: res.created_at
        };

        fetch("./insertKakaoPayResInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

        });
    }

    function insertkakaoPayAccReq(tid, partner_order_id, partner_user_id, pg_token){
        const data = {
            tid: tid,
            partner_order_id: partner_order_id,
            partner_user_id: partner_user_id,
            pg_token: pg_token
        };
        fetch("./insertkakaoPaymentAccReq", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

        });
    }

    function insertKakaoPayAccRes(res){
        const data = {
            tid: tid,
            partner_order_id: partner_order_id,
            partner_user_id: partner_user_id,
            item_id: item_id,
            aid: aid,
            payment_method_type: payment_method_type,
            approved_at: approved_at
        };
        fetch("./insertkakaoPaymentAccReq", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

        });
    }

    function insertAmountInfo(res){
        const data = {
            total: total,
            point: point
        };
        fetch("./insertAmountInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                console.log(response);

        });
    }

    function insertCardInfo(res){
        const data = {
            bin_: bin,
            card_type: card_type,
            install_month: install_month,
            approved_id: approved_id
        };
        fetch("./insertCardInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

                console.log(response);

        });
    }





    window.addEventListener("DOMContentLoaded", () => {
        reloadMap();
    });





</script>

<style>
    /* .btn{
    z-index: 2;
    position: absolute;
    top: 48em;
    left: 8.6em;
} */
</style>


</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="fixed-top">
                            <div class="col bg-white text-center mt-3 mx-3 border border-secondary-subtle shadow-sm rounded-5">
                                <span><i class="bi bi-geo-alt align-self-center"></i></span>
                                <input type="hidden" id="nowCoords"></span>
                                <span id="nowLocation" class="text-secondary align-self-center"
                                    style="font-size: 0.95em;"></span>
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col px-0">
                                <div id="map" style="height:41.6em; width: 100%;"></div>
                            </div>
                        </div>

                        <div class="fixed-bottom" id="startBtn">
                            <div class="row mb-4">
                                <div class="col py-3">
                                    <div class="gap-2 d-md-block d-flex justify-content-center">
                                        <button id="findMissionBtn" type="button" class="btn py-2 fw-semibold text-white rounded-1 px-5 shadow" 
                                            style="background-color: #FF8827;" onclick="loadMissionList()">
                                            미션 찾기
                                        </button>
                                        <button id="registerMissionBtn" type="button" class="btn py-2 fw-semibold rounded-1 px-5 shadow" 
                                            style="border: 0.1em solid #fa7e18; color:#FF8827; background-color: white;" onclick="showMissionRegForm()">
                                            미션 등록
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="registerMissionBox" class="row d-none border-top">
                            <div class="overflow-y-scroll" style="height:16.5em;">
                                <div class="col">
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="text" name="title" id="title"
                                                class="form-control border-top-0 border-start-0 border-end-0 rounded-0 py-2 fw-semibold border-secondary"
                                                placeholder="미션 타이틀을 입력해주세요" style="font-size: 1.15em;">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col fw-semibold text-secondary mt-1" style="font-size:0.9em;">
                                            상세내용
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="form-floating">
                                                <textarea class="form-control rounded-0 py-2" id="detail"
                                                    style="height: 6em;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col fw-semibold text-secondary mt-1" style="font-size:0.9em;">
                                            성공상금
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="input-group border-bottom">
                                                <input type="text" name="reward" id="reward"
                                                    class="form-control border-0 rounded-0 py-2 align-self-center"
                                                    placeholder="최소 금액 : 1000원">
                                                <span class="fw-semibold ms-3 me-1 align-self-center" id="reward"
                                                    style="font-size: 1.15em;">원</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4 mb-3">
                                        <div class="col d-grid">
                                            <button type="button" class="btn py-2 fw-semibold text-white rounded-1 px-5" style="background-color: #FF8827;" onclick="registerMissionProcess()">
                                                미션 등록하기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="showMissionList" class="row border-top d-none">
                            <div class="overflow-y-scroll" style="height:16.5em;">
                            <div class="col">
                                <div class="row mt-2">
                                    <div class="col text-end text-secondary" style="font-size: 0.85em;">
                                        반경<span class="px-3">100m</span>
                                        <span class="pe3">300m</span>
                                        <span class="ps-3">500m</span>
                                    </div>
                                </div>
                                <div class="row mt-2 px-2">
                                    <div id="missionListBox" class="col">

                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="missionListTemplete" class="d-none">
        <div class="missionWrapper row py-2 border-top">
            <div class="col">
                <div class="row">
                    <div class="title col fw-semibold" style="font-size: 1.1em;">
                        올때 메로나
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="location col text-body-tertiary" style="font-size: 0.83em;">
                        
                    </div>
                </div>
            </div>
            <div class="col-4 text-end align-self-center">
                <span class="reward" style="font-size: 1.16em; color: #fa7e18;"></span>
                <span style="font-size: 0.95em;"> 원</span>
            </div>
        </div> 
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>