<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>미션등록</title>
        
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7319aff03174c9825e5552818af66d19&libraries=services"></script>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <script src="/public/js/lockLikeMobile.js"></script>
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
<script>

    var relativePath = window.location.origin;
    var sessionUser = "[[${session.sessionUserInfo.user_id}]]";

    var nowMarkers = [];
    var map;
    var mapArray = [];
    var markerArray = [];

    var markerImg = relativePath + "/public/image/mission/free-icon-location-pin-2776000.png",
    markerImgSize = new kakao.maps.Size(30, 30),
    markerImgOption = {offset: new kakao.maps.Point(14, 25)};

    var courseCounter = 1;

    function loadMyPoint(){
        fetch("./loadMyPoint")
        .then(response => response.json())
        .then(response => {
            const sum = response.data;
            const totalPoint = document.getElementById("totalPoint");
            totalPoint.innerText = sum.toLocaleString();

            totalPoint.value = sum;
        });
    }

    // 지금 현재 위치 가져오기
    function getNowLocation(callback){

        if (navigator.geolocation) {

            function getLocation() {
                navigator.geolocation.getCurrentPosition(function (position) {
                    
                    var lat = position.coords.latitude; // 위도
                    var lon = position.coords.longitude; // 경도

                    var locPosition = new kakao.maps.LatLng(lat, lon);

                    callback(locPosition);

                });
            }
            getLocation();

        } else { // HTML5의 GeoLocation을 사용할 수 없을때
            console.log("GeoLocation 사용불가");
            var locPosition = new kakao.maps.LatLng(37.49962779517117, 127.03048032853766);

            callback(locPosition);
        }
    }

    // 지도 중심 이동
    function panTo(moveLatLon) {
        map.panTo(moveLatLon);
    }

    // 주소 가져오기
    function getNowAddress(lat, lng, courseCounter) {

        let geocoder = new kakao.maps.services.Geocoder();

        let coord = new kakao.maps.LatLng(lat, lng);
        let callback = function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                displayNowLocation(result, courseCounter);
            }
        }
        geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
    }

    // 주소 출력하기
    function displayNowLocation(data, courseCounter) {

        var locationSelector = `#course${courseCounter} .location`;
        const location = document.querySelector(locationSelector);

        if (data[0].road_address === null) {
            location.innerText = data[0].address.address_name;
        } else {
            location.innerText = data[0].road_address.address_name;
        }

    }

    // 코스 입력 폼
    function addCourseForm(){

        if(courseCounter >= 6){
            alert("미션 코스는 최대 5개까지 추가할 수 있습니다.");
        }else{

            var inputCourseBox = document.getElementById("inputCourseBox");
            var inputForm = `<div id="course${courseCounter}" class="row mt-3">
                                <div class="col">
                                    <div class="row">
                                        <div class="col d-grid">
                                            <button class="btn fw-semibold d-flex justify-content-between align-items-center px-3 py-2 rounded-0 border" style="background-color: #f7f7f7;">
                                                <span class="flex-grow-1 text-start">코스<span class="courseIndex ps-2">${courseCounter}</span></span>
                                                <i class="bi bi-caret-down text-secondary"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row px-1">
                                        <div class="col border border-top-0 mx-2 py-3">
                                            <div class="row">
                                                <div class="col text-secondary fw-semibold" style="font-size:0.95em;">
                                                    코스명
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col">
                                                    <input type="text" class="courseContent form-control rounded-0 py-2" placeholder="코스명을 입력해주세요" style="font-size:0.9em;">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col text-secondary fw-semibold mt-1" style="font-size:0.95em;">
                                                    완료 상금
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col">
                                                    <input type="text" class="reward form-control rounded-0 py-2" placeholder="직접 입력" style="font-size:0.9em;" onInput="checkReward(this, ${courseCounter})">
                                                    <span class="MinWarning text-body-tertiary ps-1" style="font-size:0.78em;">
                                                        ※ 미션 최소 금액은 1000원 입니다.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row py-2">
                                                <div class="col d-grid">
                                                    <div class="gap-2 d-md-block">
                                                        <button class="btn btn-sm rounded-0 border-0 px-2 me-1" style="background-color: #f7f7f7;" onclick="addReward(1000, ${courseCounter})">+1000</button>
                                                        <button class="btn btn-sm rounded-0 border-0 px-2 me-1" style="background-color: #f7f7f7;" onclick="addReward(3000, ${courseCounter})">+3000</button>
                                                        <button class="btn btn-sm rounded-0 border-0 px-2 me-1" style="background-color: #f7f7f7;" onclick="addReward(5000, ${courseCounter})">+5000</button>
                                                        <button class="btn btn-sm rounded-0 border-0 px-2 me-1" style="background-color: #f7f7f7;" onclick="addReward(10000, ${courseCounter})">+10000</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col text-secondary fw-semibold" style="font-size:0.95em;">
                                                    미션 수행 지점
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col">
                                                    <div class="map" style="height:13em; width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="row px-1 mt-2">
                                                <div class="col border text-secondary mx-2 py-1 rounded-3" style="font-size:0.83em;">
                                                    <i class="bi bi-geo-alt me-2"></i><span class="location">서울 강남구 테헤란로7길 7 (역삼동)</span>
                                                    <input type="hidden" class="lat">
                                                    <input type="hidden" class="lng">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
    
            var addedDiv = document.createElement("div");
            addedDiv.id = "inputForm" + courseCounter;
            addedDiv.innerHTML  = inputForm;
            inputCourseBox.appendChild(addedDiv);
    
            createMap(courseCounter);
    
            courseCounter++;
        }
    }

    // 입력폼에 매번 새로운 맵 생성..
    function createMap(courseCounter) {

        const mapSelector = `#course${courseCounter} .map`;
        const latSelector = `#course${courseCounter} .lat`;
        const lngSelector = `#course${courseCounter} .lng`;

        var map = new kakao.maps.Map(document.querySelector(mapSelector), {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        });

        map.setZoomable(true);

        var nowMarker = null;

        getNowLocation(function(locPosition) {

            map.panTo(locPosition);

            if (nowMarker) {
                nowMarker.setMap(null);
            }

            nowMarker = new kakao.maps.Marker({
                map: map,
                position: locPosition,
                image: new kakao.maps.MarkerImage(markerImg, markerImgSize, markerImgOption)
            });

            document.querySelector(latSelector).setAttribute("value", locPosition.Ma);
            document.querySelector(lngSelector).setAttribute("value", locPosition.La);
            getNowAddress(locPosition.Ma, locPosition.La, courseCounter);

        });

        kakao.maps.event.addListener(map, 'click', function (mouseEvent) {

            var latlng = mouseEvent.latLng;

            if (nowMarker) {
                nowMarker.setMap(null);
            }

            nowMarker = new kakao.maps.Marker({
                map: map,
                position: latlng,
                image: new kakao.maps.MarkerImage(markerImg, markerImgSize, markerImgOption)
            });

            document.querySelector(latSelector).setAttribute("value", latlng.Ma);
            document.querySelector(lngSelector).setAttribute("value", latlng.La);
            getNowAddress(latlng.Ma, latlng.La, courseCounter);

        });

        mapArray.push(map);
        markerArray.push(nowMarker);  // 각 지도의 마커를 배열에 추가
    }

    // 시간 입력시 59 리밋 (분)
    function limitInputTo59(inputElement) {
        
        let inputValue = inputElement.value;

        if (!isNaN(inputValue)) {
            
            let inputNumber = parseInt(inputValue, 10);

            if (inputNumber < 10) {
                inputElement.value = '0' + inputNumber;
            }

            if (inputNumber > 59) {
                inputElement.value = '59';
            }

            if (inputElement.value.length > 2) {
                inputElement.value = parseInt(inputElement.value, 10).toString();
            }

        } else {
            inputElement.value = '';
        }
    }

    // 시간 입력시 99 리밋 (시)
    function limitInputTo99(inputElement) {
        
        let inputValue = inputElement.value;

        if (!isNaN(inputValue)) {
            
            let inputNumber = parseInt(inputValue, 10);

            if (inputNumber < 10) {
                inputElement.value = '0' + inputNumber;
            }

            if (inputNumber > 99) {
                inputElement.value = '99';
            }

            if (inputElement.value.length > 2) {
                inputElement.value = parseInt(inputElement.value, 10).toString();
            }

        } else {
            inputElement.value = '';
        }
    }

    // 전체 총 금액을 계산하는 함수
    function calculateTotalReward() {
        let sum = 0;

        for (var i = 1; i < courseCounter; i++) {
            var currentInput = document.getElementById(`course${i}`);
            var currentReward = currentInput.querySelector(".reward").value;

            // 현재 코스의 보상을 더함
            if (!isNaN(currentReward)) {
                sum += parseInt(currentReward, 10);
            }
        }

        const totalReward = document.getElementById("totalReward");
        totalReward.innerText = sum.toLocaleString();
        totalReward.value = sum;

        if (totalReward.innerText === "NaN") {
            totalReward.innerText = 0;
            totalReward.setAttribute("value", 0);
        }
    }

    // 가격 입력 시, 1000원 이상 입력 필요
    function checkReward(input, courseCounter) {
        var MinWarning = `#course${courseCounter} .MinWarning`;
        var MinWarningDiv = document.querySelector(MinWarning);

        var inputValue = input.value;

        if (!isNaN(inputValue)) {
            let inputNumber = parseInt(inputValue, 10);

            if (inputNumber >= 1000) {
                MinWarningDiv.classList.add("d-none");
            } else {
                MinWarningDiv.classList.remove("d-none");
            }

            // 전체 총 금액을 다시 계산
            calculateTotalReward();

        } else {
            input.value = '';
        }
    }

    // 상금 버튼
    function addReward(input, courseCounter){

        var reward = `#course${courseCounter} .reward`;
        var rewardInput = document.querySelector(reward);

        var currentValue = isNaN(parseFloat(rewardInput.value)) ? 0 : parseFloat(rewardInput.value);

        rewardInput.value = (currentValue + input).toFixed(0);

        checkReward(rewardInput, courseCounter);
    }

    // 카카오톡으로 미션 등록 로직
    function submitMission(){

        var courseList = [];

        const title = document.getElementById("title").value;
        const detail = document.getElementById("detail").value;
        const hour = document.getElementById("hour").value;
        const minute = document.getElementById("minute").value;

        const titleDiv = document.getElementById("title");
        const detailDiv = document.getElementById("detail");
        const hourDiv = document.getElementById("hour");
        const minuteDiv = document.getElementById("minute");

        if (!title) {
            alert("미션 제목을 입력해주세요");
            titleDiv.focus();
	        return;
	    }

        if (title.length > 20) {
            alert("미션 제목은 최대 20자까지 입력 가능합니다.");
            titleDiv.focus();
	        return;
	    }

        if (!detail) {
            alert("미션 상세 내용을 입력해주세요");
            detailDiv.focus();
	        return;
	    }

        if (!hour || !minute) {
            alert("미션 제한 시간을 입력해주세요");
            minuteDiv.focus();
	        return;
	    }

        var total_minutes = parseInt(hour, 10) * 60 + parseInt(minute, 10);

        for(i = 1; i < courseCounter; i++){

            var courseContentSelector = `#course${i} .courseContent`;
            var rewardSelector = `#course${i} .reward`;
            var latSelector = `#course${i} .lat`;
            var lngSelector = `#course${i} .lng`;
            var content = document.querySelector(courseContentSelector);
            var reward = document.querySelector(rewardSelector);
            var lat = document.querySelector(latSelector);
            var lng = document.querySelector(lngSelector);

            if(!content.value){
                alert("코스명을 입력해주세요");
                content.focus();
                return;
            }

            if(!reward.value){
                alert("성공 보상 금액을 입력해주세요");
                reward.focus();
                return;
            }

            if(reward.value){

                let inputNumber = parseInt(reward.value, 10);

                if (inputNumber < 1000) {
                    reward.focus();
                    alert("미션 최소 금액은 1,000원 입니다.");
                    return;
                }

            }

            const course = {
                content: content.value,
                reward: reward.value,
                lat: lat.value,
                lng: lng.value
            };

            courseList.push(course);
        }

        const mission = {
            user_id: sessionUser,
            title: title,
            detail: detail,
            status: '결제미완료',
            limit_time: total_minutes,
        };

        const data = {
            missionInfoDto: mission,
            missionCourseDto: courseList,
        }

        fetch("./registerMissionProcess", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {
                sendKakaoPayReq(response.data);
        });
    }

    // 포인트로 미션 등록 로직
    function submitMissionByPoint(){

        var courseList = [];

        const title = document.getElementById("title").value;
        const detail = document.getElementById("detail").value;
        const hour = document.getElementById("hour").value;
        const minute = document.getElementById("minute").value;
        const totalReward = document.getElementById("totalReward").value;
        const totalPoint = document.getElementById("totalPoint").value;

        const titleDiv = document.getElementById("title");
        const detailDiv = document.getElementById("detail");
        const hourDiv = document.getElementById("hour");
        const minuteDiv = document.getElementById("minute");

        if (!title) {
            alert("미션 제목을 입력해주세요");
            titleDiv.focus();
	        return;
	    }

        if (title.length > 20) {
            alert("미션 제목은 최대 20자까지 입력 가능합니다.");
            titleDiv.focus();
	        return;
	    }

        if (!detail) {
            alert("미션 상세 내용을 입력해주세요");
            detailDiv.focus();
	        return;
	    }

        if (!hour || !minute) {
            alert("미션 제한 시간을 입력해주세요");
            minuteDiv.focus();
	        return;
	    }

        if(totalPoint < totalReward){
            alert("포인트 잔액이 부족합니다. 포인트 충전 후 다시 시도해 주세요.");
            return;
        }

        var total_minutes = parseInt(hour, 10) * 60 + parseInt(minute, 10);

        for(i = 1; i < courseCounter; i++){

            var courseContentSelector = `#course${i} .courseContent`;
            var rewardSelector = `#course${i} .reward`;
            var latSelector = `#course${i} .lat`;
            var lngSelector = `#course${i} .lng`;
            var content = document.querySelector(courseContentSelector);
            var reward = document.querySelector(rewardSelector);
            var lat = document.querySelector(latSelector);
            var lng = document.querySelector(lngSelector);

            if(!content.value){
                alert("코스명을 입력해주세요");
                content.focus();
                return;
            }

            if(!reward.value){
                alert("성공 보상 금액을 입력해주세요");
                reward.focus();
                return;
            }

            if(reward.value){

                let inputNumber = parseInt(reward.value, 10);

                if (inputNumber < 1000) {
                    reward.focus();
                    alert("미션 최소 금액은 1,000원 입니다.");
                    return;
                }

            }

            const course = {
                content: content.value,
                reward: reward.value,
                lat: lat.value,
                lng: lng.value
            };

            courseList.push(course);
        }

        const mission = {
            user_id: sessionUser,
            title: title,
            detail: detail,
            status: '모집중',
            limit_time: total_minutes,
        };

        const data = {
            missionInfoDto: mission,
            missionCourseDto: courseList,
        }

        fetch("./submitMissionByPoint", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {
                window.location.href="./missionRegisterComplete";
        });
    }

    // 카카오페이 토큰 요청
    function sendKakaoPayReq(res) {

        const approval_url = relativePath + `/mission/paymentSuccessPage`;
        const cancel_url = relativePath + `/mission/paymentCancelPage`;
        const fail_url = relativePath + `/mission/paymentFailPage`;

        const data = new URLSearchParams();
        data.append("cid", res.cid);
        data.append("partner_user_id", res.partner_user_id);
        data.append("partner_order_id", res.partner_order_id);
        data.append("item_code", res.item_code);
        data.append("item_name", res.item_name);
        data.append("quantity", res.quantity);
        data.append("total_amount", res.total_amount);
        data.append("tax_free_amount", res.tax_free_amount);
        data.append("approval_url", approval_url);
        data.append("cancel_url", cancel_url);
        data.append("fail_url", fail_url);

        fetch("https://kapi.kakao.com/v1/payment/ready", {
            method: "POST",
            headers: {
                "Authorization": "KakaoAK fe6556cbcccecbec99f52226077803d7",
                "Content-Type": "application/x-www-form-urlencoded;charset=utf-8"
            },
            body: data
        })
            .then(response => response.json())
            .then(response => {

                var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

                if (isMobile) {
                    window.location.href =response.next_redirect_mobile_url;
                } else {
                    window.location.href = response.next_redirect_pc_url;
                }

                insertKakaoPayRes(response);
                saveKakaoPayAccReqInfoToSession(res, response);
        });

    }

    // 카카오페이 결제 정보 불러오기 위한요소들 세션에 저장
    function saveKakaoPayAccReqInfoToSession(req, res) {

        const data = {
            cid: req.cid,
            tid: res.tid,
            partner_order_id: req.partner_order_id,
            partner_user_id:  req.partner_user_id
        }

        console.log(data);

        fetch("./saveKakaoPayAccReqInfoToSession", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

        });
    }

    // 카카오페이 요청, 응답 값 인서트
    function insertKakaoPayRes(res) {

        const data = {
            tid: res.tid,
            next_redirect_mobile_url: res.next_redirect_mobile_url,
            created_at: res.created_at
        };

        fetch("./insertKakaoPayResInfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(response => {

        });
    }

    window.addEventListener("DOMContentLoaded", () => {
        addCourseForm();
        loadMyPoint();
    });

    window.addEventListener("DOMContentLoaded", () => {

        let ufufClicked = false;

        const home = document.getElementById("home");
        const secondLine = document.getElementById("secondLine");
        const thirdLine = document.getElementById("thirdLine");
        const mission = document.getElementById("mission");
        const circle = document.getElementById("circle");
        const signal = document.getElementById("signal");
        const bnb = document.getElementById("bnb");

        document.getElementById("ufuf").addEventListener("click", function() {
            const container = document.querySelector(".footer");

            if (!ufufClicked) { // ufuf 버튼이 한번도 클릭되지 않았을 때
                // 변경된 스타일 적용
                container.style.boxShadow = "rgba(0,0,0,0.75) 0 0 0 9999px";
                container.style.zIndex = "250";
                container.style.transition = "all 0.2s";

                home.classList.remove("d-none");
                secondLine.classList.remove("d-none");
                thirdLine.classList.remove("d-none");

                setTimeout(() => {
                    home.classList.add("clicked");
                }, 250);

                setTimeout(() => {
                    secondLine.classList.add("clicked");
                    setTimeout(() => {
                        mission.classList.add("clicked");
                    }, 100);
                    setTimeout(() => {
                        circle.classList.add("clicked");
                    }, 200);

                }, 90);

                setTimeout(() => {

                    thirdLine.classList.add("clicked");

                    setTimeout(() => {
                        signal.classList.add("clicked");
                    }, 50);
                    setTimeout(() => {
                        bnb.classList.add("clicked");
                    }, 250);

                }, 90);

            } else { // ufuf 버튼이 이미 클릭되어 있을 때
                // 변경 취소
                container.style.boxShadow = "none";
                container.style.zIndex = "300";
                container.style.transition = "none";
                
                home.classList.add("d-none");
                secondLine.classList.add("d-none");
                thirdLine.classList.add("d-none");
                home.classList.remove("clicked");
                secondLine.classList.remove("clicked");
                thirdLine.classList.remove("clicked");
                mission.classList.remove("clicked");
                circle.classList.remove("clicked");
                signal.classList.remove("clicked");
                bnb.classList.remove("clicked");
            }

            ufufClicked = !ufufClicked;
        });

        // 화면을 클릭했을 때 변경된 스타일을 취소하는 기능
        document.addEventListener("click", function(event) {
            
            if (event.target.id !== "ufuf") {
                const container = document.querySelector(".footer");
                container.style.boxShadow = "none";
                container.style.zIndex = "300";
                container.style.transition = "none";
                
                home.classList.add("d-none");
                secondLine.classList.add("d-none");
                thirdLine.classList.add("d-none");
                home.classList.remove("clicked");
                secondLine.classList.remove("clicked");
                thirdLine.classList.remove("clicked");
                mission.classList.remove("clicked");
                circle.classList.remove("clicked");
                signal.classList.remove("clicked");
                bnb.classList.remove("clicked");
                
                ufufClicked = false;
            }
        });
    });

</script>

<style>

    *{font-family: -apple-system, 
        BlinkMacSystemFont, 
        "Apple SD Gothic Neo", 
        "Pretendard Variable", 
        Pretendard, Roboto, 
        "Noto Sans KR", 
        "Segoe UI",
        "Malgun Gothic", 
        "Apple Color Emoji", 
        "Segoe UI Emoji", 
        "Segoe UI Symbol", 
        sans-serif;
        letter-spacing: 0.03em;
    }

    .footer{
        margin: auto;
    }

    #secondLine,
    #thirdLine {
        transition: opacity 1s;
    }

    #signal,
    #bnb,
    #mission,
    #circle,
    #home{
        transition: all 0.5s;
        opacity: 0;
    }

    #signal.clicked,
    #bnb.clicked,
    #mission.clicked,
    #circle.clicked,
    #home.clicked {
        opacity: 1;
    }

    .fi {
        background: linear-gradient(to bottom, #ff4a1d, #ff882c, #ffa939); /* 그라데이션 색상 설정 */
        -webkit-background-clip: text; /* 텍스트에만 배경 적용 (WebKit 브라우저를 위한 프리픽스) */
        background-clip: text; /* 텍스트에만 배경 적용 */
        color: transparent; /* 텍스트 색상을 투명하게 설정하여 텍스트가 보이지 않게 함 */
    }

    .form-control:focus {
      border-color: #ffbf8b; /* 클릭 시 테두리 색상 변경 */
      box-shadow: 0 0 0 0.1em #ffe2ce; /* 기본 제공되는 박스 쉐도우를 제거합니다. */
    }

    #title::after {
        content: "(최대 20자)";
        font-size: 0.7em; /* 원하는 크기로 조절 */
    }

</style>

</head>

<body>

    <div class="row py-2 border-bottom border-dark-subtle fixed-top" style="height: 3.3rem; background-color: white; width: 100%; margin: auto;">
        <div class="col-2 fw-semibold text-secondary text-start align-self-center" style="font-size:1.1rem" onclick="window.location.href='./map';">
            <i class="bi bi-arrow-left ms-1"></i>
        </div>
        <div class="col fw-semibold text-secondary text-center align-self-center" style="font-size:1.15rem; letter-spacing: 0.08rem;">
            미션 등록
        </div>
        <div class="col-2 fw-semibold text-secondary text-end align-self-center" style="font-size:1.1rem">
            
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <div class="row mt-5" style="padding-left: 0.2rem; padding-right: 0.2rem;">
                    <div class="col mt-3">

                        <div class="row mt-1 border-bottom mx-1" 
                            style="font-size: 0.85rem; color: #8d8d8d; padding-top: 0.1rem; padding-bottom: 0.15rem;">
                            <div class="col px-0">
                                <i class="bi bi-database me-1" style="color: #f3b079;"></i>
                                현재 보유 포인트
                            </div>
                            <div class="col text-end px-0">
                                <span id="totalPoint" class="fw-semibold" style="letter-spacing: 0.1em; color: #575757;"></span>
                                <span>P</span>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <div class="row">
                                    <div class="col fw-semibold text-secondary" style="font-size:0.95em;">
                                        미션 제목
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col">
                                        <input type="text" id="title" class="form-control py-2 rounded-0" placeholder="미션명을 입력해주세요" style="font-size:0.9em;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="row">
                                    <div class="col fw-semibold text-secondary" style="font-size:0.95em;">
                                        미션 내용
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col">
                                        <textarea class="form-control rounded-0" id="detail" placeholder="미션 상세 내용을 입력해주세요" style="height: 7em; font-size:0.9em;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="inputCourseBox">
                        
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <div class="row">
                                    <div class="col d-grid">
                                        <button id="addMissionCourse" class="btn rounded-0 py-2 border-0 fw-semibold" 
                                            style="background-color: #f3f3f3; color: #575757;" onclick="addCourseForm()">
                                            <i class="bi bi-plus-lg"></i>
                                            미션 코스 추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="row">
                                    <div class="col text-secondary fw-semibold mt-1" style="font-size:0.95em;">
                                        제한 시간
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col">
                                        <div class="input-group border px-1">
                                            <span class="input-group-text border-0 bg-white"><i class="bi bi-stopwatch text-secondary"></i></span>
                                            <input type="text" id="hour" class="form-control border-0 rounded-0 py-2 text-end" oninput="limitInputTo99(this)">
                                            <span class="input-group-text border-0 bg-white text-secondary fw-bold">시간</span>
                                            <input type="text" id="minute" class="form-control border-0 rounded-0 py-2 text-end" oninput="limitInputTo59(this)">
                                            <span class="input-group-text border-0 bg-white text-secondary fw-bold">분</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 px-2">
                            <div class="col border-bottom mx-1 pb-1 mt-1">
                                <div class="row">
                                    <div class="col text-secondary fw-semibold mt-1 text-start">
                                        총 금액
                                    </div>
                                    <div class="col text-end">
                                        <span class="fw-bold" id="totalReward" style="color: #FF8827; font-size: 1.35em;">0</span>
                                        <span class="text-secondary ms-1">원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col d-grid mt-1">
                                <div id="registerMissionBtn" type="button" class="btn fw-semibold rounded-1 px-5"
                                    style="border: 0.11em solid #fa7e18; color: #FF8827; font-size: 1.06em; padding-top: 0.45rem; padding-bottom: 0.45rem;" onclick="submitMissionByPoint()">
                                    <i class="bi bi-envelope-plus me-1"></i>
                                    <span class="px-1">포인트로 미션 등록</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col d-grid">
                                <div id="registerMissionBtn" type="button" class="btn fw-semibold rounded-1 px-5"
                                    style="background-color: #FEE500;" onclick="submitMission()">
                                    <img class="img-fluid align-self-center" src="/public/image/commons/payment_icon_yellow_small.png" style="height: 1.83rem;">
                                    <span class="fw-semibold align-top align-middle align-self-center" style="color: #191919; font-size: 1.13rem;">결제</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5 mb-4">
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col px-0">
                <th:block th:replace="~{commons/missionFragmentPage.html :: footer}"></th:block>
            </div>
        </div>
    </div>





    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>