<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>미션맵</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7319aff03174c9825e5552818af66d19&libraries=services"></script>


<script>

    var centermarker;
    var map;
   
    var circle = new kakao.maps.Circle({});

    function showMarker(radius) {
        var center = map.getCenter();
        var line = new kakao.maps.Polyline();

        if(radius < 100000) {
            circle.setMap(map);
            circle.setPosition(center);
            circle.setRadius(radius);
        } else {
            circle.setMap(null);
        }

        markers.forEach(marker => {
            var path = [marker.getPosition(), center];
            line.setPath(path);

            // 마커와 원의 중심 사이의 거리
            var dist = line.getLength();

            // 이 거리가 원의 반지름보다 작거나 같다면
            if (dist <= radius) {
                // 해당 marker는 원 안에 있는 것
                marker.setMap(map);
            } else {
                marker.setMap(null);
            }
        });
    }


    // 지금 현재 위치 가져오기
    function getNowLocation(){

        if (navigator.geolocation) {

            function getLocation() {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude; // 위도
                    var lon = position.coords.longitude; // 경도

                    var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다

                    getNowAddress(lat, lon);

                    if (map) {
                        map.relayout();
                        map = null;
                    }

                    // 새로운 지도 객체 생성
                    map = new kakao.maps.Map(mapContainer, mapOption);

                    if (centermarker) {
                        centermarker.setMap(null);
                    }

                    centermarker = new kakao.maps.Marker({
                        map: map,
                        position: locPosition
                    });

                    // 가운데 표시
                    panTo(locPosition);

                });
            }
            getLocation();

        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
            console.log("사용불가");
            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667);

            if (centermarker) {
                centermarker.setMap(null);
            }

            centermarker = new kakao.maps.Marker({
                map: map,
                position: locPosition
            });

            // 가운데 표시
            panTo(locPosition);

        }
    }

    // 지도 중심으로 이동시키기
    function panTo(moveLatLon) {
        
        // 지도 중심을 부드럽게 이동시킵니다
        // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
        map.panTo(moveLatLon);            
    }


    // 주소 가져오기
    function getNowAddress(lat, lng) {

        let geocoder = new kakao.maps.services.Geocoder();

        let coord = new kakao.maps.LatLng(lat, lng);
        let callback = function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                console.log(result);
                displayNowLocation(result);
            }
        }

        geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
    }

    // 주소 출력하기
    function displayNowLocation(data) {

        const nowLocation = document.getElementById("nowLocation");

        if (data[0].road_address === null) {
            nowLocation.innerText = data[0].address.address_name;
        } else {
            nowLocation.innerText = data[0].road_address.address_name;
        }

    }







    

    function showMissionRegForm() {

        const map = document.getElementById("map");
        map.style.height = "25em";

        getNowLocation();

        const startBtn = document.getElementById("startBtn");
        startBtn.classList.add("d-none");
    }


    window.addEventListener("DOMContentLoaded", () => {
        getNowLocation();
    });


</script>

<style>
    /* .btn{
    z-index: 2;
    position: absolute;
    top: 48em;
    left: 8.6em;
} */



</style>


</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="fixed-top">
                            <div class="col bg-white text-center mt-3 mx-3 border border-secondary-subtle shadow-sm rounded-5">
                                <span><i class="bi bi-geo-alt align-self-center"></i></span>
                                <input type="hidden" id="nowCoords"></span>
                                <span id="nowLocation" class="text-secondary align-self-center" style="font-size: 0.9em;"></span>
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col px-0">
                                <div id="map" style="height:25em; width: 100%;">
                                    <script>

                                        var mapContainer = document.getElementById("map"), // 지도를 표시할 div 
                                            mapOption = { 
                                                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                                level: 3 // 지도의 확대 레벨
                                            };

                                        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                                    </script>
                                </div>
                            </div>
                        </div>




                        <!-- <div class="row my-5"></div>
                        <div class="fixed-bottom mb-5" id="startBtn">
                            <div class="row">
                                <div class="col py-3">
                                    <div class="gap-2 d-md-block d-flex justify-content-center">
                                        <button id="findMissionBtn" type="button" class="btn py-2 fw-semibold text-white rounded-1 px-5 shadow" 
                                            style="background-color: #FF8827;">
                                            미션 찾기
                                        </button>
                                        <button id="registerMissionBtn" type="button" class="btn py-2 fw-semibold rounded-1 px-5 shadow" 
                                            style="border: 0.1em solid #fa7e18; color:#FF8827; background-color: white;" onclick="showMissionRegForm()">
                                            미션 등록
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div id="missionDetailBox" class="row border-top px-2" style="height:15.5em;">
                            <div class="col">
                                <div class="row mt-3 d-flex mb-1">
                                    <div class="col align-self-center">
                                        <div class="row">
                                            <div id="dtTitle" class="col fw-semibold pe-0" style="font-size: 1.3em;">
                                               서영이 집 가서 커밋 눌러주실분 구해요 비밀번호도 알려드림
                                            </div>
                                            <div id="dtTitle" class="col-1 px-0" style="font-size: 1.4em;">
                                                <i class="bi bi-heart"></i>
                                             </div>
                                        </div>
                                        <div class="row">
                                            <div id="dtResLocation" class="col text-body-tertiary pe-0" style="font-size: 0.8em;">
                                                서울 강남구 역삼동 800-60
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div id="dtResLocation" class="col text-secondary pe-0" style="font-size: 0.9em;">
                                                <i class="bi bi-person-circle"></i> 김은비
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="row mt-2">
                                    <div class="overflow-y-auto" style="height: 5.6em;">
                                        <div id="dtDetail" class="col text-dark-emphasis pb-2">
                                            zdzdzdzdzdzdz
                                        </div>
                                    </div> 
                                </div>
                                <div class="row border-top pt-2 px-3">
                                    <div class="col-3 text-secondary text-start fw-semibold" style="font-size: 1.2em;">
                                        보상
                                    </div>
                                    <div class="col text-dark-emphasis text-end">
                                        <span class="dtReward fw-bold" style="font-size: 1.3em; color: #fa7e18;">10000</span>
                                        <span class="pb-2"> 원</span>
                                    </div>
                                </div>

                                <div class="fixed-bottom">
                                    <div class="col-4 fw-semibold text-end d-grid" style="font-size: 1.2em;">
                                        <button id="missionAccBtn" class="btn py-1 px-4 rounded-1 text-white fw-semibold mb-2" style="font-size: 0.85em; background-color: #FF8827;">
                                            수락
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>