<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cu.ufuf.circle.mapper.CircleSqlMapper">

    <insert id="circleInfoInsert">
        INSERT into circle(circle_small_category_id, circle_grade_id, user_id, circle_name, circle_university, circle_content,circle_image) values(
            #{circle_small_category_id}, 1, #{user_id}, #{circle_name}, #{circle_university}, #{circle_content}, #{circle_image}
        )
    </insert>

    <select id="circlemiddlecategoryInfoAll" resultType="com.cu.ufuf.dto.CircleMiddleCategoryDto">
        SELECT * from circle_middle_category
    </select>

    <select id="circlesmallcategoryInfoAll" resultType="com.cu.ufuf.dto.CircleSmallCategoryDto">
        SELECT * from circle_small_category
    </select>
    <select id="circlesmallcategoryInfoByMiddleId" resultType="com.cu.ufuf.dto.CircleSmallCategoryDto">
        SELECT * from circle_small_category where circle_middle_category_id = #{circle_middle_category_id}
    </select>
    <insert id="circleNoticeImageInfoInsert">
        INSERT INTO circle_notice_image(circle_id,circle_notice_image) values(
	        #{circle_id}, #{circle_notice_image}
        )
    </insert>
    <select id="circleIdMaxByUserId" resultType="int">
        SELECT max(circle_id) from circle where user_id = #{user_id}
    </select>
    <insert id="cirlceMemberinfoInsert">
        insert into circle_member(circle_id, user_id, circle_position) values(
            #{circle_id}, #{user_id}, #{circle_position}
        )
    </insert>
    <select id="circleMemberPrintHotThree" resultType="map">
        SELECT DISTINCT*
        FROM circle c
        WHERE c.circle_id = (
            SELECT c.circle_id
            FROM circle c
            INNER JOIN circle_member cm ON c.circle_id = cm.circle_id
            GROUP BY c.circle_id
            ORDER BY COUNT(*) DESC
            LIMIT 3
        )
    </select>
    <select id="circleNewListOrderByCircleId" resultType="com.cu.ufuf.dto.CircleDto">
        SELECT * from circle order by circle_id desc
    </select>
    <select id="circlesmallCategoryListBysmallCategoryId" resultType="com.cu.ufuf.dto.CircleSmallCategoryDto">
        select * from circle_small_category where circle_small_category_id = #{circle_small_category_id}
    </select>
    <select id="circleGradeInfoByGradeId" resultType="com.cu.ufuf.dto.CircleGradeDto">
        select * from circle_grade where circle_grade_id = #{circle_grade_id}
    </select>
    <select id="circleMemberCountInfo" resultType="int">
        SELECT count(*) from circle_member where circle_id = #{circle_id}
    </select>
    <select id="circleInfoByCircleId" resultType="com.cu.ufuf.dto.CircleDto">
        select * from circle where circle_id = #{circle_id}
    </select>
    <select id="circleNoticeImageInfoByCircleId" resultType="com.cu.ufuf.dto.CircleNoticeImageDto">
        select * from circle_notice_image where circle_id = #{circle_id}
    </select>
    <select id="circlemiddleCategoryInfoBySmallCategoryId" resultType="com.cu.ufuf.dto.CircleMiddleCategoryDto">
        select * from circle_middle_category where circle_small_category_id = #{circle_small_category_id}
    </select>
    
    
    
</mapper>