<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cu.ufuf.mission.mapper.MissionMapSqlMapper">

<select id="createMissionPk" resultType="int">
    select ifnull(MAX(mission_id)+1, 1) mission_id from mission_info;
</select>

<!-- 미션 등록 -->
<insert id="insertMission">
    insert into mission_info(mission_id, user_id, title, detail, reward, registerd_location)
    values(#{mission_id}, 
        #{user_id}, 
        #{title}, 
        #{detail}, 
        #{reward}, 
        #{registerd_location}
    );
</insert>

<!-- 미션 목록 출력(미션 수락이 되지 않은 미션들) -->
<select id="selectAllMission" resultType="com.cu.ufuf.dto.MissionInfoDto">
    SELECT mi.* FROM mission_info mi
    LEFT JOIN mission_accepted ma ON mi.mission_id = ma.mission_id
    WHERE ma.mission_id IS NULL;
</select>

<!-- 미션 상세보기 -->
<select id="selectMissionById" resultType="com.cu.ufuf.dto.MissionInfoDto">
    select * from mission_info
    where mission_id = #{mission_id};
</select>

<!-- 미션 등록자 정보 -->
<select id="selectUserById" resultType="com.cu.ufuf.dto.UserInfoDto">
    select * from user_info
    where user_id = #{user_id};
</select>

<!--주문 번호로 미션내용 조회 (결제 결과 페이지에서 출력)-->
<select id="getOrderInfoByMissionId" resultType="com.cu.ufuf.dto.OrderInfoDto">
    select oi.* from order_info oi
    where oi.item_id = (
        select ii.item_id from item_info ii
        where ii.item_category_id = 1
        and ii.merchan_id = #{merchan_id}
    );
</select>

<!-- 아이템 id 출력 -->
<select id="getItemInfo" resultType="com.cu.ufuf.dto.ItemInfoDto">
    select * from item_info
    where item_id = #{item_id};
</select>

<!-- 주문번호로 주문내용가져오기 -->
<select id="getOrderInfo" resultType="com.cu.ufuf.dto.OrderInfoDto">
    select * from order_info
    where order_id = #{order_id};
</select>

<!-- 미션 수락 -->
<insert id="insertMissonAcc">
    insert into mission_accepted(mission_id, user_id, accepted_location)
    values(#{mission_id}, #{user_id}, #{accepted_location});
</insert>

<!-- 유저가 등록한 미션 전부 출력 -->
<select id="selectMissionListByUserId" resultType="com.cu.ufuf.dto.MissionInfoDto">
    select * from mission_info
    where user_id = #{user_id};
</select>

<!-- 유저가 등록한 미션 중 아직 미션 수락 내역이 없는 미션 출력 -->
<select id="getMissionNotAcc" resultType="int">
    select mi.mission_id from mission_info mi
    left join mission_accepted ma ON mi.mission_id = ma.mission_id
    where ma.mission_id IS NULL
    and mi.user_id = #{user_id};
</select>

<!-- 내가 수락한 미션 -->
<select id="selectMyAccMission" resultType="com.cu.ufuf.dto.MissionInfoDto">
    select mi.* from mission_info mi 
    inner join mission_accepted ma
    on mi.mission_id = ma.mission_id
    where ma.user_id = #{user_id};
</select>



</mapper>