<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cu.ufuf.mission.mapper.MissionMapSqlMapper">

<select id="createMissionPk" resultType="int">
    select ifnull(MAX(mission_id)+1, 1) mission_id from mission_info;
</select>

<insert id="insertMission">
    insert into mission_info(mission_id, user_location_id, order_id, title, detail, reward)
    values(#{mission_id}, #{user_location_id}, #{order_id}, #{title}, #{detail}, #{reward});
</insert>

</mapper>