<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게스트하우스 메인페이지</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        <!-- 탑 네비-->
        <div class="row pb-2 bg-white" style="position: fixed; top: 0; width: 100%; height: 3.3em;">
            <!--뒤로가기-->
            <div class="col ps-0 pt-2 pe-0 me-0">
                <!--나중에 통합메인페이지로 링크 삽입-->
                <a class="btn" href="#"><img src="/public/image/room/ufuf_logo.png" class="img-fluid" style="width: 3em; height: auto;"></a>
                <span class="ps-0 me-0 ms-0 pt-2 mt-3 fw-bold text-secondary">게스트하우스</span>
            </div>
            <!--무슨카테고리 메인페이지인지 알게-->
            

            <!--알람? 유저아이콘? 뭐넣을지는 고민해야함-->
            <div class="col-1 ps-0 pt-2 me-3">
                <a class="btn" href="#"><i class="bi bi-bell text-secondary"></i></a>
            </div>
        </div>

        <!--여백-->
        <div class="row p-4"></div>

        <!--캐러셀 넣을지 버튼만 넣을지는 고민해야할 것 같음-->
        <div class="row" style="background-size: cover; background-image: url(/public/image/room/room_main_page_img.png); height: 17em;">
        
        </div>

        <div class="row ms-2 mt-4">
            <div class="col">
                <div class="row fw-bold fs-4">나를 위한 특별한 하루를 </div>
                <div class="row fw-bold fs-4">만들어보세요</div>
                <div class="row mt-1">
                    <a href="./roomListPage" class="text-secondary text-start ms-0 ps-0" style="font-size: 0.8em; text-decoration: none;">게스트하우스 찾으러가기<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!--내 근처 숙소-->
        <div class="row mt-4">
            <div class="col-8"><a class="btn fw-bold text-start ps-0" href="./roomListPage">방금 올라온 숙소</a></div>
            <div class="col"></div>
            <div class="col">
                <a class="btn" href="#"><i class="bi bi-arrow-right text-end"></i></a>
            </div>
        </div>
        <!--숙소 리스트-->
        <div id="global-navi" class="row mt-2 ms-1">
            <div class="col overflow-x-auto">
                <div class="row" style="width:380%;">
                    <div class="col p-0 mx-2" th:each="room : ${roomList}">
                        <div class="row ms-1">
                            <a class=" p-0" th:href="@{./roomDetailPage(room_info_id=${room.roomInfoDto.room_info_id})}">
                                <img th:src="@{/public/image/room/}+${room.roomInfoDto.main_image}" class="img-fluid" style="width: 13em; height: 7em; overflow: hidden; position: relative; object-fit: cover;">
                            </a>
                        </div>

                        <div class="row mt-2">
                            <a class="fw-bold text-start py-0 ms-0" th:href="@{./roomDetailPage(room_info_id=${room.roomInfoDto.room_info_id})}" th:text="${room.roomInfoDto.title}" style="color: black; text-decoration: none;"></a>
                        </div>

                        <div class="row ms-1 ps-0">
                            <div class="col ps-0 text-truncate" style="max-width: 200px;"><a class="text-secondary text-start py-0" th:href="@{./roomDetailPage(room_info_id=${room.roomInfoDto.room_info_id})}" th:text="${room.roomInfoDto.location}" style="font-size: 0.7em; color: black; text-decoration: none;"></a></div>
                            
                        </div>

                        <div class="row mb-2 mt-1">
                            <div class="col-2"> <a class="text-start ms-0 ps-0" th:href="@{./roomDetailPage(room_info_id=${room.roomInfoDto.room_info_id})}" th:text="${#numbers.formatDecimal(room.roomInfoDto.room_charge, 0, 'COMMA', 0, 'POINT')}" style="color: black; text-decoration: none;"></a></div>
                            <div class="col ms-3 text-start text-secondary">&nbsp;/1박</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!--실시간 리뷰(간단한 방 정보랑 게스트 리뷰로 싹다 올리기)-->
        <div class="row mt-3">
            <!--리뷰 상세페이지(메인페이지용) 연결해야할듯-->
            <div class="col-8"><a class="btn fw-bold text-start ps-0">실시간 리뷰</a></div>
            <div class="col"></div>
            <div class="col">
                <a class="btn" href="#"><i class="bi bi-arrow-right text-end"></i></a>
            </div>
        </div>
        <!--리뷰 나오는곳-->
        <div id="global-navi" class=" mt-1 overflow-x-auto"> 
            <div class="row d-flex" style="width:210%;">
                <div class="col">
                    <div class="row border border-secondery-subtle rounded mt-2 mx-2 py-2">
                        <div class="col-4 p-0 m-0"><a class="btn" href="#"><img src="/public/image/room/bedroom_1.jpg" class="img-fluid" style="width: 70px ; height: 70px; overflow: hidden; position: relative;"></a></div>
                        <div class="col ps-0 ms-0">
                            <div class="row">
                                <div class="col-8 ps-0 ms-0 text-secondary-subtle" style="font-size: 0.8em;">광주광역시 광산구</div>
                                
                                <div class="col fw-bold" style="font-size: 0.8em;"><i class="bi bi-star-fill"></i> 5.0</div>
                            </div>
                            <div class="row fw-bold">첨단벽산아파트</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">방도 크고 모든 옵션이 다 잇어서 정말</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">편햇어요 잘잇다갑니다</div>
                        </div>
                    </div>
                    <div class="row border border-secondery-subtle rounded mx-2 mt-2 py-2">
                        <div class="col-4 p-0 m-0"><a class="btn" href="#"><img src="/public/image/room/bedroom_1.jpg" class="img-fluid" style="width: 70px ; height: 70px; overflow: hidden; position: relative;"></a></div>
                        <div class="col ps-0 ms-0">
                            <div class="row">
                                <div class="col-8 ps-0 ms-0 text-secondary-subtle" style="font-size: 0.8em;">광주광역시 광산구</div>
                                
                                <div class="col fw-bold" style="font-size: 0.8em;"><i class="bi bi-star-fill"></i> 5.0</div>
                            </div>
                            <div class="row fw-bold">첨단벽산아파트</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">방도 크고 모든 옵션이 다 잇어서 정말</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">편햇어요 잘잇다갑니다</div>
                        </div>
                    </div>
                    <div class="row border border-secondery-subtle rounded mt-2 mx-2 py-2">
                        <div class="col-4 p-0 m-0"><a class="btn" href="#"><img src="/public/image/room/bedroom_1.jpg" class="img-fluid" style="width: 70px ; height: 70px; overflow: hidden; position: relative;"></a></div>
                        <div class="col ps-0 ms-0">
                            <div class="row">
                                <div class="col-8 ps-0 ms-0 text-secondary-subtle" style="font-size: 0.8em;">광주광역시 광산구</div>
                                
                                <div class="col fw-bold" style="font-size: 0.8em;"><i class="bi bi-star-fill"></i> 5.0</div>
                            </div>
                            <div class="row fw-bold">첨단벽산아파트</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">방도 크고 모든 옵션이 다 잇어서 정말</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">편햇어요 잘잇다갑니다</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    
                    <div class="row border border-secondery-subtle rounded mt-2 mx-2 py-2">
                        <div class="col-3 p-0 m-0"><a class="btn" href="#"><img src="/public/image/room/bedroom_1.jpg" class="img-fluid" style="width: 70px ; height: 70px; overflow: hidden; position: relative;"></a></div>
                        <div class="col">
                            <div class="row">
                                <div class="col-8 ps-0 ms-0 text-secondary-subtle" style="font-size: 0.8em;">광주광역시 광산구</div>
                                
                                <div class="col fw-bold"><i class="bi bi-star-fill"></i> 5.0</div>
                            </div>
                            <div class="row fw-bold">첨단벽산아파트</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">방도 크고 모든 옵션이 다 잇어서 정말</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">편햇어요 잘잇다갑니다</div>
                        </div>
                    </div>
                    <div class="row mt-2 border border-secondery-subtle rounded mt-2 mx-2 py-2">
                        <div class="col-3 p-0 m-0"><a class="btn" href="#"><img src="/public/image/room/bedroom_1.jpg" class="img-fluid" style="width: 70px ; height: 70px; overflow: hidden; position: relative;"></a></div>
                        <div class="col">
                            <div class="row">
                                <div class="col-8 ps-0 ms-0 text-secondary-subtle" style="font-size: 0.8em;">광주광역시 광산구</div>
                                
                                <div class="col fw-bold"><i class="bi bi-star-fill"></i> 5.0</div>
                            </div>
                            <div class="row fw-bold">첨단벽산아파트</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">방도 크고 모든 옵션이 다 잇어서 정말</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">편햇어요 잘잇다갑니다</div>
                        </div>
                    </div>
                    <div class="row mt-2 border border-secondery-subtle rounded mt-2 mx-2 py-2">
                        <div class="col-3 p-0 m-0"><a class="btn" href="#"><img src="/public/image/room/bedroom_1.jpg" class="img-fluid" style="width: 70px ; height: 70px; overflow: hidden; position: relative;"></a></div>
                        <div class="col">
                            <div class="row">
                                <div class="col-8 ps-0 ms-0 text-secondary-subtle" style="font-size: 0.8em;">광주광역시 광산구</div>
                                
                                <div class="col fw-bold"><i class="bi bi-star-fill"></i> 5.0</div>
                            </div>
                            <div class="row fw-bold">첨단벽산아파트</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">방도 크고 모든 옵션이 다 잇어서 정말</div>
                            <div class="row text-secondary" style="font-size: 0.7em;">편햇어요 잘잇다갑니다</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!--인기 게스트하우스(기간 내 찜 수로 할 예정)-->
        <div class="row"></div>

        <!--푸터에 안가려지라고 여백용-->
        <div class="row p-5 mb-4"></div>


        <!--푸터(임시)-->
        <div class="fixed-bottom bg-white mb-0 mx-1">
            <div class="row pb-2 pt-2 border-top">
                <div class="col ms-2">
                    <div class="row text-center mt-2">
                        <a href="#" style=" text-decoration: none;"><i class="fs-5 bi bi-map text-secondary"></i></a> 
                    </div>
                    <div class="row text-secondary text-center mt-1" style="font-size: 0.8em;">
                        <div class="col">지도</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row text-center mt-2">
                        <a href="./roomReservationListPage" style=" text-decoration: none;"><i class="fs-5 bi bi-clipboard-check text-secondary"></i></a> 
                    </div>
                    <div class="row text-secondary text-center mt-1" style="font-size: 0.8em;">
                        <div class="col">계약</div>
                    </div>
                </div>

                <!--홈-->
                <div class="col ms-1 mt-1">
                    <a class="btn rounded-circle" href="../commons/mainPage" style="background-color: #FF8827;"><i class="fs-4 bi bi-house-door-fill text-white"></i></a> 
                </div>

                <div class="col">
                    <div class="row text-center mt-2">
                        <a href="#" style=" text-decoration: none;"><i class="fs-5 bi bi-chat-dots text-secondary"></i></a> 
                    </div>
                    <div class="row text-secondary text-center mt-1" style="font-size: 0.8em;">
                        <div class="col">채팅</div>
                    </div>
                </div>
                <div class="col me-2">
                    <div class="row text-center mt-2">
                        <!--임시로 방 글쓰기 페이지로 이어짐니다-->
                        <a href="./roomRegisterPage" style=" text-decoration: none;"><i class="fs-5 bi bi-three-dots text-secondary"></i></a> 
                    </div>
                    <div class="row text-secondary text-center mt-1" style="font-size: 0.8em;">
                        <div class="col">더보기</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>