<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>숙소 리스트</title>

    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script>
        function goBack() {
            window.history.go(-1);
        }
        function roomList(){
            // 처음에 초기화
            document.querySelector("#roomListBox").innerHTML = "";
            const url = "./getRoomList";
            
            fetch(url)
            .then(response => response.json())
            .then(response => {

                for(e of response.data){
                    
                    // 동아리 리스트 생성
                    const roomList = document.querySelector("#roomList").cloneNode(true);
                    roomList.classList.remove("d-none");
                    const roomMainImage = roomList.querySelector(".roomMainImage");
                    roomMainImage.removeAttribute("src");
                    roomMainImage.setAttribute("src", "/public/image/room/" + e.roomInfoDto.main_image);
                    const roomTitle = roomList.querySelector(".roomTitle");
                    roomTitle.innerHTML = "";
                    roomTitle.innerText = e.roomInfoDto.title;
                    const roomLocation = roomList.querySelector(".roomLocation");
                    roomLocation.innerHTML = "";
                    roomLocation.innerText = e.roomInfoDto.location;
                    const roomCharge = roomList.querySelector(".roomCharge");
                    roomCharge.innerHTML = "";
                    roomCharge.innerText = Number(e.roomInfoDto.room_charge).toLocaleString();

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./roomDetailPage?room_info_id=" +e.roomInfoDto.room_info_id);
                    a.setAttribute("style", "text-decoration: none; color: black;");
                    a.appendChild(roomList);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const roomListBox = document.querySelector("#roomListBox");
                    roomListBox.appendChild(a);
                    

                }

            })


        }

        window.addEventListener("DOMContentLoaded", () => {
            roomList();
        })
    </script>
    <style>
        *{
        /* font-family: 'Dongle', sans-serif; */
        /*font-family: 'Gowun Dodum', sans-serif;*/
        /* font-family: 'Quicksand', sans-serif; */
         font-family: 'Noto Sans KR', sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- 탑부분(검색, 필터)-->
        <div class="row pb-2 px-2 pt-1 bg-white" style="position: fixed; top: 0; width: 100%; z-index: 1000;">
            <div class="col">
                <div class="row">
                    <!--뒤로가기-->
                    <div class="col-1 ps-0 pt-2 me-3 ms-2">
                        <a href="./roomMainPage" style="color: black; text-decoration: none;"><i class="bi bi-arrow-left"></i></a>
                    </div>
                    <div class="col ps-0 fw-bold pt-2 pe-0 me-0">
                        숙소 리스트
                    </div>
                </div>
                <div class="row my-2 ms-2">
                    나중에 필터 인기순 가격순 할곳
                </div>
            </div>
        </div>
        
        <!--여백
        <div class="row p-5 mt-4"></div>
        <form action="./mainPage" method="get" th:action="@{/mainPage}" th:method="get">
            <div class="row mt-3">
                <div class="col-2">
                    <select name="searchType" class="form-select">
                        <option value="title" th:selected="${searchType == 'title'}">제목</option>
                        <option value="content" th:selected="${searchType == 'content'}">내용</option>
                        <option value="nickname" th:selected="${searchType == 'nickname'}">작성자</option>
                    </select>
                </div>
                <div class="col-8">
                    <input name="searchWord" type="text" class="form-control" th:value="${searchWord}">
                </div>
                <div class="col-2 d-grid">
                    <button type="submit" class="btn btn-primary">검색</button>
                </div>
            </div>
        </form>-->


        <div id="roomListBox" class="row"></div>

        <div id="roomList" class="row d-none border border-secondery-subtle rounded mx-2 mt-3 mb-2">
            <div class="col">
                        
                <div class="row">
                    <a class="p-0">
                        <img class="img-fluid rounded-top roomMainImage" src="/public/image/room/bedroom_1.jpg" style="width: 100%; height: 10em; overflow: hidden; position: relative; object-fit: cover;">
                    </a>
                </div>

                <div class="row mt-2">
                    <a class="fw-bold text-start py-0 ps-3 ms-0 roomTitle" style="color: black; text-decoration: none;">제목</a>
                </div>

                <div class="row">
                    <div class="col ms-3 p-0 text-truncate" style="max-width: 320px;"><a class="text-secondary text-start py-0 roomLocation" style="color: black; text-decoration: none;">주소</a></div>
                    
                </div>

                <div class="row mt-1 mb-2">
                    <div class="col-2"> <a class="text-start py-0 ms-0 ps-1 roomCharge" style="color: black; text-decoration: none;">1박가격</a></div>
                    <div class="col text-start text-secondary py-0">&nbsp;/1박</div>
                </div>
                
            </div>
        </div>

        <!--여백-->
        <div class="row p-5 mt-4"></div>
        
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>