<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게스트하우스 메인페이지</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="shortcut icon" href="/public/image/commons/logo_fill.png">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>


    <script>
        window.addEventListener("DOMContentLoaded", () => {
        let ufufClicked = false; // ufuf 버튼이 클릭되었는지 여부를 나타내는 플래그

        document.getElementById("ufuf").addEventListener("click", function() {
            const container = document.querySelector(".footer");

            if (!ufufClicked) { // ufuf 버튼이 한번도 클릭되지 않았을 때
                // 변경된 스타일 적용
                container.style.boxShadow = "rgba(0,0,0,0.75) 0 0 0 9999px";
                container.style.zIndex = "250";
                container.style.transition = "all 0.2s";

                document.getElementById("home").classList.remove("d-none");
                document.getElementById("secondLine").classList.remove("d-none");
                document.getElementById("thirdLine").classList.remove("d-none");

                setTimeout(() => {
                    document.getElementById("home").classList.add("clicked");
                }, 250);

                setTimeout(() => {
                    document.getElementById("secondLine").classList.add("clicked");
                    setTimeout(() => {
                        document.getElementById("mission").classList.add("clicked");
                    }, 100);
                    setTimeout(() => {
                        document.getElementById("circle").classList.add("clicked");
                    }, 200);

                }, 90);

                setTimeout(() => {

                    document.getElementById("thirdLine").classList.add("clicked");

                    setTimeout(() => {
                        document.getElementById("signal").classList.add("clicked");
                    }, 50);
                    setTimeout(() => {
                        document.getElementById("bnb").classList.add("clicked");
                    }, 250);

                }, 90);
            } else { // ufuf 버튼이 이미 클릭되어 있을 때
                // 변경 취소
                container.style.boxShadow = "none";
                container.style.zIndex = "300";
                container.style.transition = "none";
                

                document.getElementById("home").classList.add("d-none");
                document.getElementById("secondLine").classList.add("d-none");
                document.getElementById("thirdLine").classList.add("d-none");
                document.getElementById("home").classList.remove("clicked");
                document.getElementById("secondLine").classList.remove("clicked");
                document.getElementById("thirdLine").classList.remove("clicked");
                document.getElementById("mission").classList.remove("clicked");
                document.getElementById("circle").classList.remove("clicked");
                document.getElementById("signal").classList.remove("clicked");
                document.getElementById("bnb").classList.remove("clicked");
            }

            ufufClicked = !ufufClicked; // ufufClicked 플래그 업데이트
        });
    });
        //숙소리스트!
        function roomList(){
            // 처음에 초기화
            document.querySelector("#roomListBox").innerHTML = "";
            const url = "./getRoomListForMain";
            
            fetch(url)
            .then(response => response.json())
            .then(response => {

                for(e of response.data){
                    
                    // 동아리 리스트 생성
                    const roomList = document.querySelector("#roomList").cloneNode(true);
                    roomList.classList.remove("d-none");
                    const roomMainImage = roomList.querySelector(".roomMainImage");
                    roomMainImage.removeAttribute("src");
                    roomMainImage.setAttribute("src", "/uploadFiles/ufuf/room/roomImage/" + e.roomInfoDto.main_image);
                    const roomTitle = roomList.querySelector(".roomTitle");
                    roomTitle.innerHTML = "";
                    roomTitle.innerText = e.roomInfoDto.title;
                    const roomLocation = roomList.querySelector(".roomLocation");
                    roomLocation.innerHTML = "";
                    roomLocation.innerText = e.roomInfoDto.location;
                    const roomCharge = roomList.querySelector(".roomCharge");
                    roomCharge.innerHTML = "";
                    roomCharge.innerText = Number(e.roomInfoDto.room_charge).toLocaleString();

                    // 링크태그 여기서 하나씩 잡아주어야함
                    const a = document.createElement("a");
                    a.setAttribute("href", "./roomDetailPage?room_info_id=" +e.roomInfoDto.room_info_id);
                    a.setAttribute("style", "text-decoration: none; color: black; width: 13em;");
                    a.appendChild(roomList);
                    

                    // 본문에 붙이는 코드(리스트들)
                    const roomListBox = document.querySelector("#roomListBox");
                    roomListBox.appendChild(a);
                    

                }

            })
        }

        //리뷰리스트!
        function reviewList(){
            // 처음에 초기화
            document.querySelector("#reviewListBox").innerHTML = "";
            const url = "./getReviewListForMain";
            
            fetch(url)
            .then(response => response.json())
            .then(response => {

                for(e of response.data){

                    if(e.roomInfoDto!=null){
                        
                        // 리뷰 리스트 생성
                        const reviewList = document.querySelector("#reviewList").cloneNode(true);
                        reviewList.classList.remove("d-none");
                        const reviewRoomMainImage = reviewList.querySelector(".reviewRoomMainImage");
                        reviewRoomMainImage.removeAttribute("src");
                        reviewRoomMainImage.setAttribute("src", "/uploadFiles/ufuf/room/roomImage/" + e.roomInfoDto.main_image);
                        const reviewRoomTitle = reviewList.querySelector(".reviewRoomTitle");
                        reviewRoomTitle.innerHTML = "";
                        reviewRoomTitle.innerText = e.roomInfoDto.title;
                        const reviewGrade = reviewList.querySelector(".reviewGrade");
                        reviewGrade.innerHTML = "";
                        reviewGrade.innerText = e.roomGuestReviewDto.review_grade;
                        const reviewContent = reviewList.querySelector(".reviewContent");
                        reviewContent.innerHTML = "";
                        reviewContent.innerText = e.roomGuestReviewDto.review_content;

                        // 링크태그 여기서 하나씩 잡아주어야함
                        const a = document.createElement("a");
                        a.setAttribute("href", "./roomDetailPage?room_info_id=" +e.roomInfoDto.room_info_id);
                        a.setAttribute("style", "text-decoration: none; color: black;");
                        a.appendChild(reviewList);
                        

                        // 본문에 붙이는 코드(리스트들)
                        const reviewListBox = document.querySelector("#reviewListBox");
                        reviewListBox.appendChild(a);
                    }

                }

            })


        }

        window.addEventListener("DOMContentLoaded", () => {
            reviewList();
            roomList();

        })
    </script>
    <style> 
            .footer{
                margin: auto;
            }

            #secondLine,
            #thirdLine {
                transition: opacity 1s;
            }

             #signal,
            #bnb,
            #mission,
            #circle,
            #home{
                transition: all 0.5s;
                opacity: 0;
            }

            #signal.clicked,
            #bnb.clicked,
            #mission.clicked,
            #circle.clicked,
            #home.clicked {
                opacity: 1;
            }

            .fi {
                background: linear-gradient(to bottom, #ff4a1d, #ff882c, #ffa939); /* 그라데이션 색상 설정 */
                -webkit-background-clip: text; /* 텍스트에만 배경 적용 (WebKit 브라우저를 위한 프리픽스) */
                background-clip: text; /* 텍스트에만 배경 적용 */
                color: transparent; /* 텍스트 색상을 투명하게 설정하여 텍스트가 보이지 않게 함 */
            }


        body {
            margin: 0;
            padding: 0;
            
            
        }

        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            padding: 1em;
            text-align: center;
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        /* 모달 내용 스타일 */
        .modal-content {
            background-color: #fff;
            padding: 2em;
            border-radius: 1em;
        }

        /* 닫기 버튼 스타일 */
        .close {
            cursor: pointer;
            position: absolute;
            top: 1em;
            right: 1em;
            font-size: 2em;
        }
        .modal-dialog-bottom {
            
            margin-bottom: 0; /* 다른 위치 클래스와 충돌 방지 */
            transform: translateY(0); /* 다른 위치 클래스와 충돌 방지 */
        }
        .image-container {
            width: 10em;
            height: 10em; /* 높이를 조절하세요 */
            overflow: hidden;
        }

        .responsive-img {
            width: 10em;
            height: 100%;
            object-fit: cover;
        }

        .content {
        min-height: 100em; /* 최소한 화면 높이만큼의 높이를 유지하도록 설정 */
        height: auto; /* 높이를 컨텐츠에 맞게 자동으로 조절 */
        overflow-y: scroll; /* 스크롤이 필요한 경우에만 스크롤이 나타나도록 설정 */
        }

        *{
            font-family: -apple-system, BlinkMacSystemFont, 
            "Apple SD Gothic Neo", 
            "Pretendard Variable", 
            Pretendard, 
            Roboto, 
            "Noto Sans KR", 
            "Segoe UI", 
            "Malgun Gothic", 
            "Apple Color Emoji", 
            "Segoe UI Emoji", 
            "Segoe UI Symbol", 
            sans-serif;
        }

        
        #reviewListBox {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap; /* 아이템이 한 줄에 3개씩 나오도록 설정 */
            gap: 0.07em; /* 각 아이템 사이의 간격 조절 */
            max-height: 25em; /* 원하는 높이로 설정 */
            overflow-y: auto; /* 세로 스크롤바를 표시 */
            overflow-y: hidden; /* 내용이 넘치면 스크롤바를 표시 */
            overflow-x: auto;
        }

        #roomListBox {
            display: flex;
            flex-direction: column;
            gap: 0; /* 각 아이템 사이의 간격 조절 */
            max-height: 15em; /* 원하는 높이로 설정 */
            overflow-y: auto; /* 세로 스크롤바를 표시 */
            overflow-y: hidden; /* 내용이 넘치면 스크롤바를 표시 */
            overflow-x: auto;
        }


        #reviewList {
            flex: 0 0 calc(33.33% - 0.07em); /* 3개씩 나오도록 설정, 여백 고려 */
        }

        .dropup .btn:focus {
            box-shadow: none; /* 포커스 시 테두리 없앰 */
            border-color: #FF8827; /* 활성화 시 테두리 색상을 원하는 색으로 지정 */
        }
        
    </style>
    
    <script>
        $(document).ready(function () {
            $(".modal-backdrop").hide(); // 초기에는 숨겨둠

            $(".dropup").on("shown.bs.dropdown", function () {
                $(".modal-backdrop").show();
            });

            $(".dropup").on("hidden.bs.dropdown", function () {
                $(".modal-backdrop").hide();
            });
        });
    </script>
</head>

<body>
    <script src="/public/js/lockLikeMobile.js"></script>
    <div class="container" style="position: relative;">
        <!-- 탑 네비-->
        <div class="row pb-2 bg-white" style="position: fixed; top: 0;width:100%; height: 3em; z-index: 1000;">
            <div class="col ps-0 pt-2 mt-1 pe-0 me-0">
                <a href="../commons/mainPage" class="ms-3 me-2 pt-2"><img src="/public/image/room/ufuf_logo.png" class="img-fluid" style="width: 2.5em; height: auto;"></a>
                <span class="ps-0 me-0 ms-0 pt-2 mt-4 text-secondary">유니비앤비</span>
            </div>
        </div>

        <!--여백-->
        <div class="row p-4"></div>

        <!--캐러셀 넣을지 버튼만 넣을지는 고민해야할 것 같음-->
        <div class="row" style="background-size: cover; background-image: url(/public/image/room/room_main_page_img.png); height: 16.5rem;">
        
        </div>

        <div class="row ms-2 mt-4">
            <div class="col">
                <div class="row fw-bold fs-4" style="letter-spacing: 0.06em;">나를 위한 특별한 하루를 </div>
                <div class="row fw-bold fs-4" style="letter-spacing: 0.06em;">만들어보세요</div>
                <div class="row mt-1">
                    <a href="./roomListPage" class="text-secondary text-start ms-0 ps-0" style="font-size: 0.8em; text-decoration: none;">게스트하우스 찾으러가기<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- 여백용-->
        <div class="row p-1"></div>
        <!--내 근처 숙소--> 
        <div class="row mt-4 ps-2 mb-3">
            <div class="col-8"><a class="fw-bold text-start ps-0" href="./roomListPage" style="color: black; text-decoration: none;">방금 올라온 숙소</a></div>
            <div class="col"></div>
            <div class="col text-end me-3">
                <a href="./roomListPage" style="color: black; text-decoration: none;"><i class="bi bi-arrow-right text-end"></i></a>
            </div>
        </div>

        <div id="global-navi" class="row mt-1 overflow-x-auto">
            <div class="col">
                <div class="row" id="roomListBox">
                </div>
            </div>
        </div>

        <!--숙소 나오는거-->
        <div class="col ms-1 mx-1 d-none" id="roomList">
            <div class="row">
                <a>
                    <img src="/public/image/room/bedroom_2.jpg" class="img-fluid roomMainImage " style="width: 13em; height: 7em; overflow: hidden; position: relative;">
                </a>
            </div>

            <div class="row mt-2 ps-1">
                <a class="fw-bold text-start py-0 ms-0 roomTitle text-truncate" style="color: black; text-decoration: none; max-width: 13em;"></a>
            </div>

            <div class="row ms-1" style="max-width: 13em;">
                <div class="col text-secondary ps-0 text-truncate" style="max-width: 13em;"><a class="text-secondary text-start py-0 roomLocation" style="font-size: 0.7em; color: black; text-decoration: none; max-width: 11em;"></a></div>
                
            </div>

            <div class="row mb-2 mt-1 ps-1" style="max-width: 13em;">
                <div class="col">
                    <span>
                        <a class="ms-0 ps-0 roomCharge" style="color: black; text-decoration: none;"></a>
                    </span>
                    <span class="text-start text-secondary">&nbsp;/1박</span>
                    </div>
                <div></div>
            </div>
        </div>

        
        <!-- 여백용-->
        <div class="row p-3"></div>


        <!--실시간 리뷰(간단한 방 정보랑 게스트 리뷰로 싹다 올리기)-->
        <div class="row mt-4 ps-3 mb-2 ">
            <!--리뷰 상세페이지(메인페이지용) 연결해야할듯-->
            <div class="col-8 fw-bold text-start ps-0">실시간 리뷰</div>
        </div>

        <div class="row" id="reviewListBox" style="overflow-x: hidden;">
        </div>

        <!--리뷰-->
        <div id="reviewList" class="col d-none">
            <div class="row border border-secondary-subtle rounded mt-2 mx-1 py-2">
                <div class="col-4">
                    <div class="row">
                        <a ><img class="reviewRoomMainImage img-fluid rounded" src="/public/image/room/bedroom_2.jpg" style="width: 6em; height: 5em; overflow: hidden; position: relative;"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="row border-bottom border-secondery-subtle pb-2 me-1">
                        <div class="col ms-0 ps-0 fw-bold text-truncate" style="max-width: 16em;">
                            <a class="reviewRoomTitle text-truncate" style="max-width: 10em; font-size: 0.9em; color: black; text-decoration: none;">방 제목</a>
                        </div>
                        <div class="col-1 ms-0 ps-0 me-0 pe-0">
                            <i class="bi bi-star-fill text-warning" style="font-size: 0.8em;"></i>
                        </div>
                        <div class="col-1 ms-0 ps-0 me-0">
                            <a class="reviewGrade" style="font-size: 0.8em; color: black; text-decoration: none;">5</a>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col ms-0 ps-0" style="max-width: 15em; max-height: 5em;">
                            <a class="reviewContent ps-0 ms-0 " style="font-size: 0.8em; color: black; text-decoration: none;">썅빠큐!!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!--인기 게스트하우스(기간 내 찜 수로 할 예정)-->
        <div class="row"></div>
        
        <!--푸터에 안가려지라고 여백용-->
        <div class="row p-5 mb-4"></div>

        <div class="row pb-2" style="position: fixed; bottom: 6em; right: 1em; height: 3em; z-index: 100;">
            <div class="col ps-0 pt-2 mt-1 pe-0 me-0">
                <div class="dropup-end dropup" style="position: absolute; right: 2em;">
                    <button class="btn rounded-circle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF8827;">
                        <i class="fs-4 bi bi-plus-lg text-white"></i>
                    </button>
                    <ul class="dropdown-menu mb-2" style=" z-index: 1000;">
                      <li><a class="dropdown-item text-secondary" href="./roomRegisterPage" style="font-size: 0.9em;"><i class="bi bi-house-add"></i> &nbsp; 게스트하우스 등록하기</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 추가된 부분 -->
        <div class="row">
            <div class="col modal-backdrop fade show" style="z-index: 99;"></div>
        </div>

        <div class="row pt-2 pb-1 bg-white border-top border-secondary-subtle footer" style="position: fixed; bottom: 0; height: 3.4rem; z-index: 1000; width: 100%;">
            <div class="col">
                <div class="row mt-0 pt-0">
                    <div class="col mt-0 ms-1">
                        <div class="row text-center">
                            <a href="./roomMapPage" style=" text-decoration: none; padding-top: 0.1rem;"><i class=" bi bi-map text-secondary"></i></a> 
                        </div>
                        <div class="row text-secondary text-center" style="font-size: 0.75em; padding-top: 0.07rem;">
                            <div class="col">지도</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row text-center">
                            <a href="./myRoomReservationListPage" style=" text-decoration: none; padding-top: 0.1rem;"><i class="bi bi-clipboard-check text-secondary"></i></a> 
                        </div>
                        <div class="row text-secondary text-center" style="font-size: 0.75em; padding-top: 0.07rem;">
                            <div class="col">MY예약</div>
                        </div>
                    </div>
    
                    <!--홈-->
                    <div class="col ms-2 me-0" style="padding-top: 0.02rem;">
                        <img src="/public/image/commons/logo_fill.png" class="img-fluid" style="width: 2.5em; height: 2.5em;" id="ufuf">
                        
                    </div>
    
                    <div class="col">
                        <div class="row text-center">
                            <a href="./myInterestRoomListPage" style=" text-decoration: none; padding-top: 0.1rem;"><i class="bi bi-heart text-secondary"></i></a> 
                        </div>
                        <div class="row text-secondary text-center" style="font-size: 0.75em; padding-top: 0.07rem;">
                            <div class="col">찜 목록</div>
                        </div>
                    </div>
                    <div class="col me-2 mb-2">
                        <div class="row text-center pt-0">
                            <!--임시로 방 글쓰기 페이지로 이어짐니다-->
                            <a href="./myRoomListPage" style=" text-decoration: none; padding-top: 0rem;"><i class=" pt-0 bi bi-houses text-secondary" style="font-size: 1.1em;"></i></a> 
                        </div>
                        <div class="row text-secondary text-center mt-0 py-0" style="font-size: 0.75em; padding-top: 0rem;">
                            <div class="col">호스트</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="home" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 8em; width: 100%; margin: auto; z-index: 9999;">
            <div class="col text-center px-0 ">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../commons/mainPage'">
                            <i class="fi fi-rr-house-chimney align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        홈
                    </div>
                </div>
            </div>
        </div>
        
        <div id="secondLine" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 6.8em; width: 100%; margin: auto; z-index: 9999;">
            <div id="mission" class="col-2 text-center">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../mission/map'">
                            <i class="fi fi-rr-map-marker align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        유니미션
                    </div>
                </div>
            </div>
            <div class="col-1" style="width: 2.8em;" onclick="window.location.href='../commons/mainPage'"></div>
            <div id="circle" class="col-2 text-center">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../circle/circleMainPage'">
                            <i class="fi fi-rr-meeting align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        유니써클
                    </div>
                </div>
            </div>
        </div>
    
        <div id="thirdLine" class="row d-flex justify-content-center d-none" style="position: fixed; bottom: 4.3em; width: 100%; margin: auto; z-index: 9999;">
            <div id="signal" class="col-3 text-center">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                            style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../meeting/mainPage'">
                            <i class="fi fi-rr-comment-heart align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        유니시그널
                    </div>
                </div>
            </div>
            <div class="col-1" style="width: 6.1rem;"></div>
            <div id="bnb" class="col-3 text-center">
                <div class="row">
                    <div class="col px-0 align-self-center d-flex justify-content-center">
                        <span class="btn rounded-circle bg-white d-flex justify-content-center border-0 align-self-center" 
                                style="color: #616161; height: 2.3em; width: 2.3em; box-shadow: 0 0 0.1rem 0.1rem #dddddd;" onclick="window.location.href='../room/roomMainPage'">
                            <i class="fi fi-rr-bed-alt align-middle fs-4"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col px-0 text-center fw-light" style="color: #ffffff; font-size: 0.6rem;">
                        유니비앤비
                    </div>
                </div>
            </div>
        </div>


        
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>