<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>숙소 리스트</title>

    <!--/* 구글폰트(Quicksand, Dongle, Gowun Dodum, Noto Sans Korean) */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />

    <style>
        *{
            font-family: -apple-system, BlinkMacSystemFont, 
            "Apple SD Gothic Neo", 
            "Pretendard Variable", 
            Pretendard, 
            Roboto, 
            "Noto Sans KR", 
            "Segoe UI", 
            "Malgun Gothic", 
            "Apple Color Emoji", 
            "Segoe UI Emoji", 
            "Segoe UI Symbol", 
            sans-serif;
        }

        #peopleCount::-webkit-slider-thumb {
        background-color: #FF8827; /* 웹킷 브라우저용 슬라이더 썸(thumb) 배경색 */
        }

        #peopleCount::-moz-range-thumb {
            background-color: #FF8827; /* 파이어폭스 브라우저용 슬라이더 썸(thumb) 배경색 */
        }

        #peopleCount::-ms-thumb {
            background-color: #FF8827; /* IE 브라우저용 슬라이더 썸(thumb) 배경색 */
        }

        #scrollBtn {
            display: none;
            position: fixed;
            bottom: 1.7em;
            right: 1.7em;
            z-index: 99;
            font-size: 1.2em;
            border: none;
            outline: none;
            background-color: white;
            color: #FF8827;
            cursor: pointer;
            padding: 15px;
            border-radius: 50%;
            width: 2.6em;
            height: 2.6em;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }

        #scrollBtn i {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #scrollBtn:hover {
            background-color: white;
        }

        /* 활성화된 버튼에 대한 스타일 */
        .active {
            color: #FF8827 !important; /* 활성화된 상태의 텍스트 색상 */
            text-decoration: underline;
        }


    </style>
    <script>
       
        function goBack() {
            window.history.go(-1);
        }

        

        function changeActive(element) {
            const activeButtons = document.querySelectorAll('.btn-link.active');
            activeButtons.forEach(function(button) {
                button.classList.remove('active');
            });
            element.classList.add('active');
            roomList(); // 버튼이 클릭되었을 때 roomList 함수 호출
        }

        

        function roomList(){
            // 처음에 초기화
            console.log("리스팅");
            document.querySelector("#roomListBox").innerHTML = "";
            const searchWord = document.querySelector("#searchWord").value;
            const peopleCount = document.querySelector("#peopleCount").value;
            const startSchedule = document.querySelector("#startSchedule").value;
            const endSchedule = document.querySelector("#endSchedule").value;

            let url = "";

            if (/Mobi|Android/i.test(navigator.userAgent)) {
                url = `./getRoomListForSearch?searchWord=${searchWord}&peopleCount=${peopleCount}&startSchedule=${startSchedule}&endSchedule=${endSchedule}`;
                

                fetch(url)
                .then(response => response.json())
                .then(response => {
                    const currentDate = new Date(); // 현재 날짜를 가져옵니다.

                    for(e of response.data){

                        const endScheduleDate = new Date(e.roomInfoDto.end_schedule); // 각 요소의 end_schedule을 Date 객체로 변환합니다.
        
                        // 만약 end_schedule이 현재 날짜보다 이후라면 리스트에 추가하지 않습니다.
                        if (endScheduleDate > currentDate) {
                            // 게스트하우스 리스트 생성
                            const roomList = document.querySelector("#roomList").cloneNode(true);
                            roomList.classList.remove("d-none");
                            const roomMainImage = roomList.querySelector(".roomMainImage");
                            roomMainImage.removeAttribute("src");
                            roomMainImage.setAttribute("src", "/public/image/room/" + e.roomInfoDto.main_image);
                            const roomTitle = roomList.querySelector(".roomTitle");
                            roomTitle.innerHTML = "";
                            roomTitle.innerText = e.roomInfoDto.title;
                            const roomLocation = roomList.querySelector(".roomLocation");
                            roomLocation.innerHTML = "";
                            roomLocation.innerText = e.roomInfoDto.location;
                            const roomCharge = roomList.querySelector(".roomCharge");
                            roomCharge.innerHTML = "";
                            roomCharge.innerText = Number(e.roomInfoDto.room_charge).toLocaleString();

                            // 링크태그 여기서 하나씩 잡아주어야함
                            const a = document.createElement("a");
                            a.setAttribute("href", "./roomDetailPage?room_info_id=" +e.roomInfoDto.room_info_id);
                            a.setAttribute("style", "text-decoration: none; color: black;");
                            a.appendChild(roomList);

                            
                            

                            // 본문에 붙이는 코드(리스트들)
                            const roomListBox = document.querySelector("#roomListBox");
                            roomListBox.appendChild(a);
                            if(e == null){
                                const text = document.createElement("div");
                                text.classList.add("col", "fw-bold", "text-center");
                                text.textContent = "등록된 게스트하우스가 없습니다.";
                                roomListBox.appendChild(text);
                            }
                        }
                    }
                });
                return;
            }else{
                // 활성화된 버튼에 따라 URL을 설정합니다.
                const activeButton = document.querySelector('.btn-link.active');
                console.log("activeButton : ", activeButton);
                if (activeButton.textContent === "· 가격 높은순") {
                    url = `./getRoomListForSearchAndChargeDesc?searchWord=${searchWord}&peopleCount=${peopleCount}&startSchedule=${startSchedule}&endSchedule=${endSchedule}`;
                } else if (activeButton.textContent === "· 가격 낮은순") {
                    url = `./getRoomListForSearchAndChargeAsc?searchWord=${searchWord}&peopleCount=${peopleCount}&startSchedule=${startSchedule}&endSchedule=${endSchedule}`;
                } else if(activeButton.textContent === "· 최신순"){
                    url = `./getRoomListForSearch?searchWord=${searchWord}&peopleCount=${peopleCount}&startSchedule=${startSchedule}&endSchedule=${endSchedule}`;
                }

                console.log("url : "+ url);
                
                
                
                fetch(url)
                .then(response => response.json())
                .then(response => {
                    const currentDate = new Date(); // 현재 날짜를 가져옵니다.
                    console.log("response.data : ", response.data);

                    for(e of response.data){

                        const endScheduleDate = new Date(e.roomInfoDto.end_schedule); // 각 요소의 end_schedule을 Date 객체로 변환합니다.
        
                        // 만약 end_schedule이 현재 날짜보다 이후라면 리스트에 추가하지 않습니다.
                        if (endScheduleDate > currentDate) {
                            // 게스트하우스 리스트 생성
                            const roomList = document.querySelector("#roomList").cloneNode(true);
                            roomList.classList.remove("d-none");
                            const roomMainImage = roomList.querySelector(".roomMainImage");
                            roomMainImage.removeAttribute("src");
                            roomMainImage.setAttribute("src", "/public/image/room/" + e.roomInfoDto.main_image);
                            const roomTitle = roomList.querySelector(".roomTitle");
                            roomTitle.innerHTML = "";
                            roomTitle.innerText = e.roomInfoDto.title;
                            const roomLocation = roomList.querySelector(".roomLocation");
                            roomLocation.innerHTML = "";
                            roomLocation.innerText = e.roomInfoDto.location;
                            const roomCharge = roomList.querySelector(".roomCharge");
                            roomCharge.innerHTML = "";
                            roomCharge.innerText = Number(e.roomInfoDto.room_charge).toLocaleString();

                            // 링크태그 여기서 하나씩 잡아주어야함
                            const a = document.createElement("a");
                            a.setAttribute("href", "./roomDetailPage?room_info_id=" +e.roomInfoDto.room_info_id);
                            a.setAttribute("style", "text-decoration: none; color: black;");
                            a.appendChild(roomList);

                            
                            

                            // 본문에 붙이는 코드(리스트들)
                            const roomListBox = document.querySelector("#roomListBox");
                            roomListBox.appendChild(a);
                            if(e == null){
                                const text = document.createElement("div");
                                text.classList.add("col", "fw-bold", "text-center");
                                text.textContent = "등록된 게스트하우스가 없습니다.";
                                roomListBox.appendChild(text);
                            }
                        }
                    }
                });
            }

            
        }

        
        function updateValue(value) {
            document.getElementById('selectedpeopleValue').innerText = value;
        }

        function checkSchedule() {
            const startScheduleInput = document.getElementById("startSchedule");
            const endScheduleInput = document.getElementById("endSchedule");

            // 값이 비어있는지 확인
            if (startScheduleInput.value === '' || endScheduleInput.value === '') {
                alert("날짜를 입력해 주세요.");
                return;
            }

            // 날짜 형식인지 확인
            const startSchedule = new Date(startScheduleInput.value);
            const endSchedule = new Date(endScheduleInput.value);

            // 시작 날짜가 종료 날짜보다 늦으면
            if (startSchedule > endSchedule) {
                // 알림 메시지 출력
                alert("일정을 다시 확인 해주세요.");

                // 입력값 초기화
                startScheduleInput.value = "";
                endScheduleInput.value = "";
                startScheduleInput.focus();
            }
        }

        window.addEventListener("DOMContentLoaded", () => {
            roomList();
            
        })

        
        

        // 스크롤 버튼을 페이지의 최상단으로 스크롤
        function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth' // 부드러운 스크롤 적용
        });
        }

        // 스크롤 이벤트를 통해 스크롤 버튼의 표시/숨김 제어
        window.addEventListener('scroll', function() {
            var scrollBtn = document.getElementById("scrollBtn");
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollBtn.style.display = "block";
            } else {
                scrollBtn.style.display = "none";
            }
        });
        function applyFilter() {
            // 필터 적용 로직을 넣고 필요한 경우 모달을 닫습니다.
            roomList(); // 필터 적용 함수 호출 예시

            // 모달 닫기
            var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
            myModal.hide();
        }
    </script>
    <!-- <script src="/public/js/lockLikeMobile.js"></script> -->
</head>

<body>
    <!-- <div style="background-color: rgb(241, 241, 241); z-index: 0;"> -->
    <div class="container">
        <!-- 탑부분(검색, 필터)-->
        <div class="row pb-2 px-2 pt-1 bg-white" style="position: fixed; top: 0; width: 100%; z-index: 1000;">
            <div class="col">
                <div class="row">
                    <!--뒤로가기-->
                    <div class="col-1 ps-0 pt-2 me-3 ms-2">
                        <a href="./roomMainPage" style="color: black; text-decoration: none;"><i class="bi bi-arrow-left"></i></a>
                    </div>
                    <div class="col ps-0 fw-bold pt-2 pe-0 me-0">
                        숙소 리스트
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-1 me-3" style="max-width: 6em;">
                        <button type="button" class="btn btn-outline-secondary rounded-3 mx-0" data-bs-toggle="modal" data-bs-target="#exampleModal" style="z-index: 1002;">
                            <i class="bi bi-sliders"></i>
                        </button>
                    </div>

                    <div class="col-9 border rounded-5 border-secondary ms-4 me-1">
                        <div class="row me-0">
                            <div class="col-9 ms-2 py-1">
                                <input id="searchWord" name="searchWord" type="text" class="border-0 ps-2" placeholder="검색어를 입력해주세요.">
                            </div>
                            <div class="col-1 ms-2">
                                <button onclick="roomList()" id="searchButton" class="btn text-secondary" style="border: 0; text-decoration: none;">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
                
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">필터</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <div class="row mx-2">
                        <div class="col">
                            <div class="row fw-bold">인원</div>
                            <div class="row mt-2">
                                <div class="col"><input id="peopleCount" type="range" class="form-range" min="1" max="5" value="1"  onchange="updateValue(this.value)"></div>
                                <div class="col-1" id="selectedpeopleValue">1</div>
                                <div class="col-1">명</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mx-2 mt-3 mb-3">
                        <div class="col">
                            <div class="row fw-bold">일정</div>
                            <div class="row mt-2 ms-0 ps-0">
                                <div class="col-4 d-grid"><input id="startSchedule" type="date" name="start_schedule" class="form-control"></div>
                                <div class="col-1 fs-5 fw-bold text-secondary pt-2">~</div>
                                <div class="col-4 ms-2 d-grid"><input id="endSchedule" type="date" name="end_schedule" class="form-control" onblur="checkSchedule()"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                  <button onclick="applyFilter()" class="btn text-white" style="background-color: #FF8827;">필터 적용</button>
                </div>
              </div>
            </div>
        </div>
        
        <!--여백-->
        <div class="row p-4 mt-4 mb-4"></div>

        <div class="row ps-2 border-bottom pt-2 pb-2 bg-white">
            <div class="col" style="font-size: 0.8em;">
                <!-- 각 버튼에 클래스를 추가하여 클릭될 때 이벤트를 처리할 수 있도록 설정 -->
                <span><a id="latestBtn" class="btn-link active" onclick="changeActive(this)" style="color: black; text-decoration: none;">· 최신순</a></span>&nbsp;&nbsp;
                <span><a class="btn-link" onclick="changeActive(this)" style="color: black; text-decoration: none;">· 가격 낮은순</a></span>&nbsp;&nbsp;
                <span><a class="btn-link" onclick="changeActive(this)" style="color: black; text-decoration: none;">· 가격 높은순</a></span>
            </div>
        </div>


        <div class="row bg-secondary-subtle">
            <div  id="roomListBox" class="col">
            </div>
        </div>

        
        <button onclick="scrollToTop()" id="scrollBtn" title="Go to top" class="shadow">
            <i class="bi bi-arrow-up pb-3 pt-2"></i>
        </button>
        <!--여백-->
        <div class="row p-5 bg-secondary-subtle"></div>
        
    </div>
    <!-- </div> -->

<div id="templete" class="d-none">

    <div id="roomList" class="row border border-secondery-subtle rounded mx-2 mt-3 mb-2 bg-white">
        <div class="col">
                    
            <div class="row">
                <div class="col p-0">
                    <a >
                        <img class="img-fluid rounded-top roomMainImage" src="/public/image/room/bedroom_1.jpg" style="width: 100%; height: 10em; overflow: hidden; position: relative; object-fit: cover;">
                    </a>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col ms-0 ps-0">
                    <a class="fw-bold text-start py-0 ps-3 roomTitle" style="color: black; text-decoration: none;">제목</a>
                </div>
            </div>

            <div class="row">
                <div class="col ms-3 p-0 text-truncate text-secondary" style="max-width: 16em;"><a class="text-secondary text-start py-0 roomLocation" style="color: black; text-decoration: none;">주소</a></div>
                
            </div>

            <div class="row mt-1 mb-2">
                <div class="col">
                    <a class="text-start py-0 ms-0 ps-1 roomCharge" style="color: black; text-decoration: none;">1박가격</a>
                    <span class="col text-start text-secondary py-0">&nbsp;/1박 당</span>
                </div>                
            </div>            
        </div>
    </div>

</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>